Repository bazelbuild/bazel-central-registry, pull requests merged in 2023-05, with the labels that each got.

#607 chore: manually add container-structure-test
  modules/container_structure_test/1.15.0/MODULE.bazel
  modules/container_structure_test/1.15.0/patches/module_dot_bazel.patch
  modules/container_structure_test/1.15.0/presubmit.yml
  modules/container_structure_test/1.15.0/source.json
  modules/container_structure_test/metadata.json
Labels: skip-url-stability-check

#643 Add robin-map v1.2.1
  modules/robin-map/1.2.1/MODULE.bazel
  modules/robin-map/1.2.1/patches/add_build_file.patch
  modules/robin-map/1.2.1/patches/module_dot_bazel.patch
  modules/robin-map/1.2.1/presubmit.yml
  modules/robin-map/1.2.1/source.json
  modules/robin-map/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#647 Add rules_bison v0.2.2
  modules/rules_bison/0.2.2/MODULE.bazel
  modules/rules_bison/0.2.2/patches/module_dot_bazel.patch
  modules/rules_bison/0.2.2/presubmit.yml
  modules/rules_bison/0.2.2/source.json
  modules/rules_bison/metadata.json
Labels: presubmit-auto-run

#656 Add abseil.py 1.4.0
  modules/abseil-py/1.4.0/MODULE.bazel
  modules/abseil-py/1.4.0/patches/module_dot_bazel.patch
  modules/abseil-py/1.4.0/presubmit.yml
  modules/abseil-py/1.4.0/source.json
  modules/abseil-py/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#655 Add nanobind v1.2.0
  modules/nanobind/1.2.0/MODULE.bazel
  modules/nanobind/1.2.0/patches/add_build_file.patch
  modules/nanobind/1.2.0/patches/module_dot_bazel.patch
  modules/nanobind/1.2.0/presubmit.yml
  modules/nanobind/1.2.0/source.json
  modules/nanobind/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#652 Add lz4-erlang version 1.9.2.4
  modules/lz4-erlang/1.9.2.4/MODULE.bazel
  modules/lz4-erlang/1.9.2.4/patches/name.patch
  modules/lz4-erlang/1.9.2.4/presubmit.yml
  modules/lz4-erlang/1.9.2.4/source.json
  modules/lz4-erlang/metadata.json
Labels: presubmit-auto-run

#667 Publish google/jsonnet@0.20.0
  modules/jsonnet/0.20.0/MODULE.bazel
  modules/jsonnet/0.20.0/patches/extensions_dot_bzl.patch
  modules/jsonnet/0.20.0/patches/module_dot_bazel.patch
  modules/jsonnet/0.20.0/presubmit.yml
  modules/jsonnet/0.20.0/source.json
  modules/jsonnet/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#668 Publish google/go-jsonnet@0.20.0
  modules/jsonnet_go/0.20.0/MODULE.bazel
  modules/jsonnet_go/0.20.0/patches/module_dot_bazel.patch
  modules/jsonnet_go/0.20.0/presubmit.yml
  modules/jsonnet_go/0.20.0/source.json
  modules/jsonnet_go/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check
