Repository bazelbuild/bazel-central-registry, pull requests merged in 2023-12, with the labels that each got.

#1173 chore: manually add rules_buf 0.2.0
  modules/rules_buf/0.2.0/MODULE.bazel
  modules/rules_buf/0.2.0/presubmit.yml
  modules/rules_buf/0.2.0/source.json
  modules/rules_buf/metadata.json
Labels: skip-url-stability-check

#1181 Replace //external:protocol_compiler with //third_party:protocol_compiler
  modules/grpc/1.48.1.bcr.2/MODULE.bazel
  modules/grpc/1.48.1.bcr.2/patches/adopt_bzlmod.patch
  modules/grpc/1.48.1.bcr.2/patches/protocol-compiler-alias-for-bind.patch
  modules/grpc/1.48.1.bcr.2/presubmit.yml
  modules/grpc/1.48.1.bcr.2/source.json
  modules/grpc/metadata.json
Labels: skip-url-stability-check

#1185 Add doctest 2.4.11
  modules/doctest/2.4.11/MODULE.bazel
  modules/doctest/2.4.11/patches/add_module_dot_bazel.patch
  modules/doctest/2.4.11/presubmit.yml
  modules/doctest/2.4.11/source.json
  modules/doctest/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1191 Add Catch2 3.5.0
  modules/catch2/3.5.0/MODULE.bazel
  modules/catch2/3.5.0/patches/module_dot_bazel.patch
  modules/catch2/3.5.0/presubmit.yml
  modules/catch2/3.5.0/source.json
  modules/catch2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1193 Add buildifier_prebuilt 6.4.0
  modules/buildifier_prebuilt/6.4.0/MODULE.bazel
  modules/buildifier_prebuilt/6.4.0/patches/module_dot_bazel_version.patch
  modules/buildifier_prebuilt/6.4.0/presubmit.yml
  modules/buildifier_prebuilt/6.4.0/source.json
  modules/buildifier_prebuilt/metadata.json
Labels: skip-url-stability-check

#1178 Add asio 1.28.2
  modules/asio/1.28.2/MODULE.bazel
  modules/asio/1.28.2/patches/add_build_file.patch
  modules/asio/1.28.2/patches/module_dot_bazel.patch
  modules/asio/1.28.2/presubmit.yml
  modules/asio/1.28.2/source.json
  modules/asio/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1205 Add pcg
  modules/pcg/0.98.1/MODULE.bazel
  modules/pcg/0.98.1/patches/add_build_dot_bazel.patch
  modules/pcg/0.98.1/patches/add_module_dot_bazel.patch
  modules/pcg/0.98.1/presubmit.yml
  modules/pcg/0.98.1/source.json
  modules/pcg/metadata.json
Labels: skip-url-stability-check

#1207 Add tinyobjloader
  modules/tinyobjloader/2.0.0-rc1/MODULE.bazel
  modules/tinyobjloader/2.0.0-rc1/patches/add_build_dot_bazel.patch
  modules/tinyobjloader/2.0.0-rc1/patches/add_module_dot_bazel.patch
  modules/tinyobjloader/2.0.0-rc1/presubmit.yml
  modules/tinyobjloader/2.0.0-rc1/source.json
  modules/tinyobjloader/metadata.json
Labels: skip-url-stability-check

#1216 Fix rules_python 0.22.1 patch checksum
  modules/rules_python/0.22.1/source.json
Labels: USE-WITH-CAUTION-skip-modification-check

#1221 Add asio 1.24.0 to BCR
  modules/asio/1.24.0/MODULE.bazel
  modules/asio/1.24.0/patches/add_build_file.patch
  modules/asio/1.24.0/patches/module_dot_bazel.patch
  modules/asio/1.24.0/presubmit.yml
  modules/asio/1.24.0/source.json
  modules/asio/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1223 Publish rules_haskell@0.18
  modules/rules_haskell/0.18/MODULE.bazel
  modules/rules_haskell/0.18/presubmit.yml
  modules/rules_haskell/0.18/source.json
  modules/rules_haskell/metadata.json
Labels: presubmit-auto-run

#1229 Add giflib
  modules/giflib/5.2.1/MODULE.bazel
  modules/giflib/5.2.1/patches/add_build_file.patch
  modules/giflib/5.2.1/patches/fix_includes.patch
  modules/giflib/5.2.1/patches/module_dot_bazel.patch
  modules/giflib/5.2.1/presubmit.yml
  modules/giflib/5.2.1/source.json
  modules/giflib/metadata.json
Labels: presubmit-auto-run

#1217 Add rules_proto_grpc 5.0.0-alpha2
  modules/rules_proto_grpc/5.0.0-alpha2/MODULE.bazel
  modules/rules_proto_grpc/5.0.0-alpha2/presubmit.yml
  modules/rules_proto_grpc/5.0.0-alpha2/source.json
  modules/rules_proto_grpc/metadata.json
  modules/rules_proto_grpc_buf/5.0.0-alpha2/MODULE.bazel
  modules/rules_proto_grpc_buf/5.0.0-alpha2/presubmit.yml
  modules/rules_proto_grpc_buf/5.0.0-alpha2/source.json
  modules/rules_proto_grpc_buf/metadata.json
  modules/rules_proto_grpc_c/5.0.0-alpha2/MODULE.bazel
  modules/rules_proto_grpc_c/5.0.0-alpha2/presubmit.yml
  modules/rules_proto_grpc_c/5.0.0-alpha2/source.json
  modules/rules_proto_grpc_c/metadata.json
  modules/rules_proto_grpc_cpp/5.0.0-alpha2/MODULE.bazel
  modules/rules_proto_grpc_cpp/5.0.0-alpha2/presubmit.yml
  modules/rules_proto_grpc_cpp/5.0.0-alpha2/source.json
  modules/rules_proto_grpc_cpp/metadata.json
  modules/rules_proto_grpc_doc/5.0.0-alpha2/MODULE.bazel
  modules/rules_proto_grpc_doc/5.0.0-alpha2/presubmit.yml
  modules/rules_proto_grpc_doc/5.0.0-alpha2/source.json
  modules/rules_proto_grpc_doc/metadata.json
  modules/rules_proto_grpc_go/5.0.0-alpha2/MODULE.bazel
  modules/rules_proto_grpc_go/5.0.0-alpha2/presubmit.yml
  modules/rules_proto_grpc_go/5.0.0-alpha2/source.json
  modules/rules_proto_grpc_go/metadata.json
  modules/rules_proto_grpc_grpc_gateway/5.0.0-alpha2/MODULE.bazel
  modules/rules_proto_grpc_grpc_gateway/5.0.0-alpha2/presubmit.yml
  modules/rules_proto_grpc_grpc_gateway/5.0.0-alpha2/source.json
  modules/rules_proto_grpc_grpc_gateway/metadata.json
  modules/rules_proto_grpc_objc/5.0.0-alpha2/MODULE.bazel
  modules/rules_proto_grpc_objc/5.0.0-alpha2/presubmit.yml
  modules/rules_proto_grpc_objc/5.0.0-alpha2/source.json
  modules/rules_proto_grpc_objc/metadata.json
  modules/rules_proto_grpc_python/5.0.0-alpha2/MODULE.bazel
  modules/rules_proto_grpc_python/5.0.0-alpha2/presubmit.yml
  modules/rules_proto_grpc_python/5.0.0-alpha2/source.json
  modules/rules_proto_grpc_python/metadata.json
Labels: presubmit-auto-run

#1225 Set bazel_compatibility for rules_sh
  modules/rules_sh/0.3.0/MODULE.bazel
  modules/rules_sh/0.3.0/patches/bazel-compatibility.patch
  modules/rules_sh/0.3.0/presubmit.yml
  modules/rules_sh/0.3.0/source.json
Labels: skip-url-stability-check, USE-WITH-CAUTION-skip-modification-check

#1197 Add pugixml-1.14.0
  modules/pugixml/1.14/MODULE.bazel
  modules/pugixml/1.14/patches/add_build_file.patch
  modules/pugixml/1.14/patches/module_dot_bazel.patch
  modules/pugixml/1.14/presubmit.yml
  modules/pugixml/1.14/source.json
  modules/pugixml/metadata.json
Labels: presubmit-auto-run

#1206 Add spdlog 1.12.0
  modules/spdlog/1.12.0/MODULE.bazel
  modules/spdlog/1.12.0/patches/add_build_file.patch
  modules/spdlog/1.12.0/patches/module_dot_bazel.patch
  modules/spdlog/1.12.0/presubmit.yml
  modules/spdlog/1.12.0/source.json
  modules/spdlog/metadata.json
Labels: skip-url-stability-check

#1202 Add rules_appimage
  modules/rules_appimage/1.6.0/MODULE.bazel
  modules/rules_appimage/1.6.0/patches/old-gcc-std20.patch
  modules/rules_appimage/1.6.0/presubmit.yml
  modules/rules_appimage/1.6.0/source.json
  modules/rules_appimage/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1230 Add libjpeg-turbo
  modules/libjpeg_turbo/2.1.91/MODULE.bazel
  modules/libjpeg_turbo/2.1.91/patches/add_build_file.patch
  modules/libjpeg_turbo/2.1.91/patches/module_dot_bazel.patch
  modules/libjpeg_turbo/2.1.91/presubmit.yml
  modules/libjpeg_turbo/2.1.91/source.json
  modules/libjpeg_turbo/metadata.json
Labels: presubmit-auto-run

#1235 add debian dependency bazelizer to the bazel central registry
  modules/debian_dependency_bazelizer/0.5.0/MODULE.bazel
  modules/debian_dependency_bazelizer/0.5.0/presubmit.yml
  modules/debian_dependency_bazelizer/0.5.0/source.json
  modules/debian_dependency_bazelizer/metadata.json
Labels: presubmit-auto-run

#1241 Add Protobuf v23.1
  modules/protobuf/23.1/MODULE.bazel
  modules/protobuf/23.1/patches/0001-Add-MODULE.bazel.patch
  modules/protobuf/23.1/patches/0002-Add-utf8_range-dependency.patch
  modules/protobuf/23.1/patches/0003-Examples-MODULE.bazel.patch
  modules/protobuf/23.1/patches/0004-Relative-labels.patch
  modules/protobuf/23.1/patches/0005-Migrate-from-bind-to-alias.patch
  modules/protobuf/23.1/patches/0006-Make-rules_ruby-a-dev-only-dependency.patch
  modules/protobuf/23.1/patches/0007-bazel-Get-rid-of-exec_tools.-13401.patch
  modules/protobuf/23.1/presubmit.yml
  modules/protobuf/23.1/source.json
  modules/protobuf/metadata.json
  modules/upb/0.0.0-20230516-61a97ef/MODULE.bazel
  modules/upb/0.0.0-20230516-61a97ef/patches/0001-Add-MODULE.bazel.patch
  modules/upb/0.0.0-20230516-61a97ef/patches/0002-Add-utf8_range-dependency.patch
  modules/upb/0.0.0-20230516-61a97ef/patches/0003-Backport-path-generation-instead-of-hardcoded-one.patch
  modules/upb/0.0.0-20230516-61a97ef/presubmit.yml
  modules/upb/0.0.0-20230516-61a97ef/source.json
  modules/upb/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check
