Repository bazelbuild/bazel-central-registry, pull requests merged in 2023-11, with the labels that each got.

#1037 Add llvm-project 17.0.3
  modules/llvm-project/17.0.3/MODULE.bazel
  modules/llvm-project/17.0.3/patches/0001-Add-Bazel-files-to-.gitignore.patch
  modules/llvm-project/17.0.3/patches/0002-Add-LLVM-Bazel-overlay-files.patch
  modules/llvm-project/17.0.3/patches/0003-Add-MODULE.bazel.patch
  modules/llvm-project/17.0.3/patches/0004-Add-BUILD.bazel.patch
  modules/llvm-project/17.0.3/patches/0005-Add-Bazel-LLVM-targets.patch
  modules/llvm-project/17.0.3/patches/0006-Add-LLVM-version-vars.patch
  modules/llvm-project/17.0.3/patches/0007-Guard-against-empty-workspace-root.patch
  modules/llvm-project/17.0.3/patches/0008-Correct-builtin-headers-prefix.patch
  modules/llvm-project/17.0.3/patches/0009-Fix-an-operator-overload-for-GCC-8.3.patch
  modules/llvm-project/17.0.3/patches/0010-Use-TEST_TMPDIR-on-Unix-when-it-is-set.patch
  modules/llvm-project/17.0.3/patches/0011-Use-Windows-assembly-files-for-BLAKE3-on-Windows.patch
  modules/llvm-project/17.0.3/patches/0012-Add-scope-resolution-operators-for-MSVC-2019.patch
  modules/llvm-project/17.0.3/patches/0013-Disable-zlib-zstd-mpfr-and-pfm.patch
  modules/llvm-project/17.0.3/presubmit.yml
  modules/llvm-project/17.0.3/source.json
  modules/llvm-project/TODO.md
  modules/llvm-project/metadata.json
Labels: presubmit-auto-run

#1088 Add readerwriterqueue module to GCR.
  modules/readerwriterqueue/1.0.6/MODULE.bazel
  modules/readerwriterqueue/1.0.6/patches/add_build_file.patch
  modules/readerwriterqueue/1.0.6/patches/module_dot_bazel.patch
  modules/readerwriterqueue/1.0.6/presubmit.yml
  modules/readerwriterqueue/1.0.6/source.json
  modules/readerwriterqueue/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1094 Add claro-lang@0.1.320 to BCR
  modules/claro-lang/0.1.320/MODULE.bazel
  modules/claro-lang/0.1.320/presubmit.yml
  modules/claro-lang/0.1.320/source.json
  modules/claro-lang/metadata.json
Labels: presubmit-auto-run

#1095 Add rules_shtk 1.7.0
  modules/rules_shtk/1.7.0/MODULE.bazel
  modules/rules_shtk/1.7.0/presubmit.yml
  modules/rules_shtk/1.7.0/source.json
  modules/rules_shtk/metadata.json
Labels: presubmit-auto-run

#1085 Add zstd module to GCR.
  modules/zstd/1.5.5/MODULE.bazel
  modules/zstd/1.5.5/patches/add_build_file.patch
  modules/zstd/1.5.5/patches/module_dot_bazel.patch
  modules/zstd/1.5.5/presubmit.yml
  modules/zstd/1.5.5/source.json
  modules/zstd/metadata.json
Labels: presubmit-auto-run

#1105 Add tinyxml2 module definition
  modules/tinyxml2/9.0.0/MODULE.bazel
  modules/tinyxml2/9.0.0/patches/add_build_file.patch
  modules/tinyxml2/9.0.0/patches/module_dot_bazel.patch
  modules/tinyxml2/9.0.0/presubmit.yml
  modules/tinyxml2/9.0.0/source.json
  modules/tinyxml2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1111 Add swift-syntax 509.0.2
  modules/swift-syntax/509.0.2/MODULE.bazel
  modules/swift-syntax/509.0.2/patches/deps.patch
  modules/swift-syntax/509.0.2/patches/module_dot_bazel.patch
  modules/swift-syntax/509.0.2/presubmit.yml
  modules/swift-syntax/509.0.2/source.json
  modules/swift-syntax/metadata.json
Labels: skip-url-stability-check

#1119 Publish realm/SwiftLint@0.54.0
  modules/swiftlint/0.54.0/MODULE.bazel
  modules/swiftlint/0.54.0/presubmit.yml
  modules/swiftlint/0.54.0/source.json
  modules/swiftlint/metadata.json
Labels: presubmit-auto-run

#1087 Add mcap module to GCR.
  modules/mcap/0.8.0/MODULE.bazel
  modules/mcap/0.8.0/patches/add_build_file.patch
  modules/mcap/0.8.0/patches/module_dot_bazel.patch
  modules/mcap/0.8.0/presubmit.yml
  modules/mcap/0.8.0/source.json
  modules/mcap/1.2.1/MODULE.bazel
  modules/mcap/1.2.1/patches/add_build_file.patch
  modules/mcap/1.2.1/patches/module_dot_bazel.patch
  modules/mcap/1.2.1/presubmit.yml
  modules/mcap/1.2.1/source.json
  modules/mcap/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1144 Add rules_codeowners
  modules/rules_codeowners/0.2.1/MODULE.bazel
  modules/rules_codeowners/0.2.1/presubmit.yml
  modules/rules_codeowners/0.2.1/source.json
  modules/rules_codeowners/metadata.json
Labels: presubmit-auto-run

#1157 Add latest claro-lang version 0.1.360
  modules/claro-lang/0.1.360/MODULE.bazel
  modules/claro-lang/0.1.360/presubmit.yml
  modules/claro-lang/0.1.360/source.json
  modules/claro-lang/metadata.json
Labels: presubmit-auto-run
