Repository bazelbuild/bazel-central-registry, pull requests merged in 2023-09, with the labels that each got.

#877 Add RE2 release `2023-09-01`.
  modules/re2/2023-09-01/MODULE.bazel
  modules/re2/2023-09-01/patches/module_dot_bazel.patch
  modules/re2/2023-09-01/presubmit.yml
  modules/re2/2023-09-01/source.json
  modules/re2/metadata.json
Labels: presubmit-auto-run

#892 Patch BLAKE3 BUILD file to properly support windows_arm64
  modules/blake3/1.3.3.bcr.1/MODULE.bazel
  modules/blake3/1.3.3.bcr.1/patches/add_build_file.patch
  modules/blake3/1.3.3.bcr.1/patches/module_dot_bazel.patch
  modules/blake3/1.3.3.bcr.1/presubmit.yml
  modules/blake3/1.3.3.bcr.1/source.json
  modules/blake3/metadata.json
Labels: skip-url-stability-check

#894 Add OpenEXR
  modules/openexr/3.2.0/MODULE.bazel
  modules/openexr/3.2.0/patches/module_dot_bazel.patch
  modules/openexr/3.2.0/presubmit.yml
  modules/openexr/3.2.0/source.json
  modules/openexr/metadata.json
Labels: skip-url-stability-check

#927 Add swift-syntax
  modules/swift-syntax/509.0.0/MODULE.bazel
  modules/swift-syntax/509.0.0/patches/module_dot_bazel.patch
  modules/swift-syntax/509.0.0/presubmit.yml
  modules/swift-syntax/509.0.0/source.json
  modules/swift-syntax/metadata.json
Labels: skip-url-stability-check

#932 Add libdeflate 1.19
  modules/libdeflate/1.19/MODULE.bazel
  modules/libdeflate/1.19/patches/add_build_file.patch
  modules/libdeflate/1.19/patches/module_dot_bazel.patch
  modules/libdeflate/1.19/presubmit.yml
  modules/libdeflate/1.19/source.json
  modules/libdeflate/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#933 Add glog-0.6.0
  modules/glog/0.6.0/MODULE.bazel
  modules/glog/0.6.0/patches/module_dot_bazel.patch
  modules/glog/0.6.0/patches/remove_only_the_first_leading_at.patch
  modules/glog/0.6.0/presubmit.yml
  modules/glog/0.6.0/source.json
  modules/glog/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#923 Add LLVM toolchain
  modules/toolchains_llvm/0.10.3/MODULE.bazel
  modules/toolchains_llvm/0.10.3/presubmit.yml
  modules/toolchains_llvm/0.10.3/source.json
  modules/toolchains_llvm/metadata.json
Labels: presubmit-auto-run

#948 Add swift-syntax patched version
  modules/swift-syntax/509.0.0.1/MODULE.bazel
  modules/swift-syntax/509.0.0.1/patches/deps.patch
  modules/swift-syntax/509.0.0.1/patches/module_dot_bazel.patch
  modules/swift-syntax/509.0.0.1/presubmit.yml
  modules/swift-syntax/509.0.0.1/source.json
  modules/swift-syntax/metadata.json
Labels: skip-url-stability-check

#954 Add google_benchmark 1.8.3
  modules/google_benchmark/1.8.3/MODULE.bazel
  modules/google_benchmark/1.8.3/presubmit.yml
  modules/google_benchmark/1.8.3/source.json
  modules/google_benchmark/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#955 Add OpenEXR 3.2.1
  modules/openexr/3.2.1/MODULE.bazel
  modules/openexr/3.2.1/patches/module_dot_bazel.patch
  modules/openexr/3.2.1/presubmit.yml
  modules/openexr/3.2.1/source.json
  modules/openexr/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#963 [rules_java] Mark v6.5.1 as compatible with `>=6.4.0`
  modules/rules_java/6.5.1/MODULE.bazel
  modules/rules_java/6.5.1/patches/module_dot_bazel_incompatibility.patch
  modules/rules_java/6.5.1/source.json
Labels: USE-WITH-CAUTION-skip-modification-check
