Repository bazelbuild/bazel-central-registry, pull requests merged in 2023-08, with the labels that each got.

#791 container-structure-test with windows patch
  modules/container_structure_test/1.16.0/MODULE.bazel
  modules/container_structure_test/1.16.0/patches/module_dot_bazel.patch
  modules/container_structure_test/1.16.0/presubmit.yml
  modules/container_structure_test/1.16.0/source.json
  modules/container_structure_test/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#812 Add zstd-jni 1.5.2-3.bcr.1 to support Windows
  modules/zstd-jni/1.5.2-3.bcr.1/MODULE.bazel
  modules/zstd-jni/1.5.2-3.bcr.1/patches/Native.java.patch
  modules/zstd-jni/1.5.2-3.bcr.1/patches/add_build_file.patch
  modules/zstd-jni/1.5.2-3.bcr.1/patches/module_dot_bazel.patch
  modules/zstd-jni/1.5.2-3.bcr.1/presubmit.yml
  modules/zstd-jni/1.5.2-3.bcr.1/source.json
  modules/zstd-jni/metadata.json
Labels: skip-url-stability-check

#819 Add googletest 1.14.0
  modules/googletest/1.14.0/MODULE.bazel
  modules/googletest/1.14.0/patches/module_dot_bazel.patch
  modules/googletest/1.14.0/presubmit.yml
  modules/googletest/1.14.0/source.json
  modules/googletest/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#830 Add googletest 1.13.0
  modules/googletest/1.13.0/MODULE.bazel
  modules/googletest/1.13.0/patches/module_dot_bazel.patch
  modules/googletest/1.13.0/presubmit.yml
  modules/googletest/1.13.0/source.json
  modules/googletest/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#834 Add Catch2 3.4.0
  modules/catch2/3.4.0/MODULE.bazel
  modules/catch2/3.4.0/patches/module_dot_bazel.patch
  modules/catch2/3.4.0/presubmit.yml
  modules/catch2/3.4.0/source.json
  modules/catch2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#835 Add libdeflate 1.18
  modules/libdeflate/1.18/MODULE.bazel
  modules/libdeflate/1.18/patches/add_build_file.patch
  modules/libdeflate/1.18/patches/module_dot_bazel.patch
  modules/libdeflate/1.18/presubmit.yml
  modules/libdeflate/1.18/source.json
  modules/libdeflate/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#847 Add abseil-cpp LTS 20230802.0 to BCR
  modules/abseil-cpp/20230802.0/MODULE.bazel
  modules/abseil-cpp/20230802.0/patches/module_dot_bazel.patch
  modules/abseil-cpp/20230802.0/presubmit.yml
  modules/abseil-cpp/20230802.0/source.json
  modules/abseil-cpp/metadata.json
Labels: skip-url-stability-check

#842 Add imath 3.1.9
  modules/imath/3.1.9/MODULE.bazel
  modules/imath/3.1.9/patches/add_build_file.patch
  modules/imath/3.1.9/patches/module_dot_bazel.patch
  modules/imath/3.1.9/presubmit.yml
  modules/imath/3.1.9/source.json
  modules/imath/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#852 Add zlib 1.3
  modules/zlib/1.3/MODULE.bazel
  modules/zlib/1.3/patches/add_build_file.patch
  modules/zlib/1.3/patches/module_dot_bazel.patch
  modules/zlib/1.3/presubmit.yml
  modules/zlib/1.3/source.json
  modules/zlib/metadata.json
Labels: presubmit-auto-run
