Repository bazelbuild/bazel-central-registry, pull requests merged in 2023-10, with the labels that each got.

#970 Add googletest@1.14.0.bcr.1
  modules/googletest/1.14.0.bcr.1/MODULE.bazel
  modules/googletest/1.14.0.bcr.1/patches/module_dot_bazel.patch
  modules/googletest/1.14.0.bcr.1/presubmit.yml
  modules/googletest/1.14.0.bcr.1/source.json
  modules/googletest/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#964 Add Embree 4.3.0
  modules/embree/4.3.0/MODULE.bazel
  modules/embree/4.3.0/patches/bazel_build.patch
  modules/embree/4.3.0/patches/default_h.patch
  modules/embree/4.3.0/patches/device_cpp.patch
  modules/embree/4.3.0/patches/module_dot_bazel.patch
  modules/embree/4.3.0/patches/rtcore_common_h.patch
  modules/embree/4.3.0/patches/rtcore_h.patch
  modules/embree/4.3.0/presubmit.yml
  modules/embree/4.3.0/source.json
  modules/embree/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#997 chore: add rules_buf
  modules/rules_buf/0.1.1/MODULE.bazel
  modules/rules_buf/0.1.1/patches/bzlmod.patch
  modules/rules_buf/0.1.1/presubmit.yml
  modules/rules_buf/0.1.1/source.json
  modules/rules_buf/metadata.json
Labels: skip-url-stability-check, skip-source-repo-check

#1005 Add libpng 1.6.40
  modules/libpng/1.6.40/MODULE.bazel
  modules/libpng/1.6.40/patches/add_build_file.patch
  modules/libpng/1.6.40/patches/module_dot_bazel.patch
  modules/libpng/1.6.40/presubmit.yml
  modules/libpng/1.6.40/source.json
  modules/libpng/metadata.json
Labels: presubmit-auto-run

#1022 Publish tweag/rules_nixpkgs_core@0.10.0
  modules/rules_nixpkgs_core/0.10.0/MODULE.bazel
  modules/rules_nixpkgs_core/0.10.0/presubmit.yml
  modules/rules_nixpkgs_core/0.10.0/source.json
  modules/rules_nixpkgs_core/metadata.json
Labels: presubmit-auto-run

#1042 Add nasm
  modules/nasm/2.14.02/MODULE.bazel
  modules/nasm/2.14.02/patches/add_build_file.patch
  modules/nasm/2.14.02/patches/add_config_h.patch
  modules/nasm/2.14.02/patches/add_module_dot_bazel.patch
  modules/nasm/2.14.02/patches/config.h
  modules/nasm/2.14.02/presubmit.yml
  modules/nasm/2.14.02/source.json
  modules/nasm/metadata.json
Labels: presubmit-auto-run

#1038 Add libwebp
  modules/libwebp/1.3.2/MODULE.bazel
  modules/libwebp/1.3.2/patches/add_build_file.patch
  modules/libwebp/1.3.2/patches/module_dot_bazel.patch
  modules/libwebp/1.3.2/presubmit.yml
  modules/libwebp/1.3.2/source.json
  modules/libwebp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1064 Add glm
  modules/glm/0.9.9.8/MODULE.bazel
  modules/glm/0.9.9.8/patches/add_build_file.patch
  modules/glm/0.9.9.8/patches/add_module_dot_bazel.patch
  modules/glm/0.9.9.8/presubmit.yml
  modules/glm/0.9.9.8/source.json
  modules/glm/metadata.json
Labels: presubmit-auto-run

#998 Add lz4 module definition
  modules/lz4/1.9.4/MODULE.bazel
  modules/lz4/1.9.4/patches/add_build_file.patch
  modules/lz4/1.9.4/patches/module_dot_bazel.patch
  modules/lz4/1.9.4/presubmit.yml
  modules/lz4/1.9.4/source.json
  modules/lz4/metadata.json
Labels: presubmit-auto-run

#1070 Add tinyply
  modules/tinyply/2.3.4/MODULE.bazel
  modules/tinyply/2.3.4/patches/add_module_dot_bazel.patch
  modules/tinyply/2.3.4/presubmit.yml
  modules/tinyply/2.3.4/source.json
  modules/tinyply/metadata.json
Labels: skip-url-stability-check
