Repository bazelbuild/bazel-central-registry, pull requests merged in 2024-09, with the labels that each got.

#2713 Add ninja
  modules/ninja/1.12.1/MODULE.bazel
  modules/ninja/1.12.1/patches/add_build_file.patch
  modules/ninja/1.12.1/patches/module_dot_bazel.patch
  modules/ninja/1.12.1/presubmit.yml
  modules/ninja/1.12.1/source.json
  modules/ninja/metadata.json
Labels: presubmit-auto-run

#2717 feat: add concurrentqueue
  modules/concurrentqueue/1.0.4/MODULE.bazel
  modules/concurrentqueue/1.0.4/overlay/BUILD.bazel
  modules/concurrentqueue/1.0.4/overlay/MODULE.bazel
  modules/concurrentqueue/1.0.4/presubmit.yml
  modules/concurrentqueue/1.0.4/source.json
  modules/concurrentqueue/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2592 Add google/fuzztest@20240813.0
  modules/fuzztest/20240813.0/MODULE.bazel
  modules/fuzztest/20240813.0/patches/update_common_build.patch
  modules/fuzztest/20240813.0/patches/update_distill.patch
  modules/fuzztest/20240813.0/patches/update_module_bazel_version.patch
  modules/fuzztest/20240813.0/presubmit.yml
  modules/fuzztest/20240813.0/source.json
  modules/fuzztest/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2714 Add meson
  modules/meson/1.5.1/MODULE.bazel
  modules/meson/1.5.1/patches/add_build_file.patch
  modules/meson/1.5.1/patches/module_dot_bazel.patch
  modules/meson/1.5.1/presubmit.yml
  modules/meson/1.5.1/source.json
  modules/meson/metadata.json
Labels: presubmit-auto-run

#2728 Add javacc and javaparser
  modules/javacc/7.0.13/MODULE.bazel
  modules/javacc/7.0.13/patches/build_with_bazel.patch
  modules/javacc/7.0.13/patches/module_dot_bazel.patch
  modules/javacc/7.0.13/presubmit.yml
  modules/javacc/7.0.13/source.json
  modules/javacc/metadata.json
  modules/javaparser/3.26.2/MODULE.bazel
  modules/javaparser/3.26.2/patches/build_with_bazel.patch
  modules/javaparser/3.26.2/patches/module_dot_bazel.patch
  modules/javaparser/3.26.2/presubmit.yml
  modules/javaparser/3.26.2/source.json
  modules/javaparser/metadata.json
Labels: presubmit-auto-run

#2709 feat: add boost align, conversion, fusion, regex, system
  modules/boost.align/1.83.0/MODULE.bazel
  modules/boost.align/1.83.0/overlay/BUILD.bazel
  modules/boost.align/1.83.0/overlay/MODULE.bazel
  modules/boost.align/1.83.0/presubmit.yml
  modules/boost.align/1.83.0/source.json
  modules/boost.align/metadata.json
  modules/boost.conversion/1.83.0/MODULE.bazel
  modules/boost.conversion/1.83.0/overlay/BUILD.bazel
  modules/boost.conversion/1.83.0/overlay/MODULE.bazel
  modules/boost.conversion/1.83.0/presubmit.yml
  modules/boost.conversion/1.83.0/source.json
  modules/boost.conversion/metadata.json
  modules/boost.fusion/1.83.0/MODULE.bazel
  modules/boost.fusion/1.83.0/overlay/BUILD.bazel
  modules/boost.fusion/1.83.0/overlay/MODULE.bazel
  modules/boost.fusion/1.83.0/presubmit.yml
  modules/boost.fusion/1.83.0/source.json
  modules/boost.fusion/metadata.json
  modules/boost.regex/1.83.0/MODULE.bazel
  modules/boost.regex/1.83.0/overlay/BUILD.bazel
  modules/boost.regex/1.83.0/overlay/MODULE.bazel
  modules/boost.regex/1.83.0/presubmit.yml
  modules/boost.regex/1.83.0/source.json
  modules/boost.regex/metadata.json
  modules/boost.system/1.83.0/MODULE.bazel
  modules/boost.system/1.83.0/overlay/BUILD.bazel
  modules/boost.system/1.83.0/overlay/MODULE.bazel
  modules/boost.system/1.83.0/presubmit.yml
  modules/boost.system/1.83.0/source.json
  modules/boost.system/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2731 feat: add rules_cuda@v0.2.3
  modules/rules_cuda/0.2.3/MODULE.bazel
  modules/rules_cuda/0.2.3/patches/module_dot_bazel_version.patch
  modules/rules_cuda/0.2.3/presubmit.yml
  modules/rules_cuda/0.2.3/source.json
  modules/rules_cuda/metadata.json
Labels: presubmit-auto-run

#2699 Boost.exeception@1.83.0
  modules/boost.exception/1.83.0/MODULE.bazel
  modules/boost.exception/1.83.0/overlay/BUILD.bazel
  modules/boost.exception/1.83.0/overlay/MODULE.bazel
  modules/boost.exception/1.83.0/overlay/test/BUILD.bazel
  modules/boost.exception/1.83.0/overlay/test/MODULE.bazel
  modules/boost.exception/1.83.0/presubmit.yml
  modules/boost.exception/1.83.0/source.json
  modules/boost.exception/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2736 feat: add boost iterator, numeric_conversion, ratio
  modules/boost.iterator/1.83.0/MODULE.bazel
  modules/boost.iterator/1.83.0/overlay/BUILD.bazel
  modules/boost.iterator/1.83.0/overlay/MODULE.bazel
  modules/boost.iterator/1.83.0/presubmit.yml
  modules/boost.iterator/1.83.0/source.json
  modules/boost.iterator/metadata.json
  modules/boost.numeric_conversion/1.83.0/MODULE.bazel
  modules/boost.numeric_conversion/1.83.0/overlay/BUILD.bazel
  modules/boost.numeric_conversion/1.83.0/overlay/MODULE.bazel
  modules/boost.numeric_conversion/1.83.0/presubmit.yml
  modules/boost.numeric_conversion/1.83.0/source.json
  modules/boost.numeric_conversion/metadata.json
  modules/boost.ratio/1.83.0/MODULE.bazel
  modules/boost.ratio/1.83.0/overlay/BUILD.bazel
  modules/boost.ratio/1.83.0/overlay/MODULE.bazel
  modules/boost.ratio/1.83.0/presubmit.yml
  modules/boost.ratio/1.83.0/source.json
  modules/boost.ratio/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2738 feat: add boost.range
  modules/boost.range/1.83.0/MODULE.bazel
  modules/boost.range/1.83.0/overlay/BUILD.bazel
  modules/boost.range/1.83.0/overlay/MODULE.bazel
  modules/boost.range/1.83.0/presubmit.yml
  modules/boost.range/1.83.0/source.json
  modules/boost.range/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2729 Pre-release updates
  modules/ape/1.0.0-beta.13/MODULE.bazel
  modules/ape/1.0.0-beta.13/presubmit.yml
  modules/ape/1.0.0-beta.13/source.json
  modules/ape/metadata.json
  modules/rules_bzip2/1.0.0-beta.2/MODULE.bazel
  modules/rules_bzip2/1.0.0-beta.2/presubmit.yml
  modules/rules_bzip2/1.0.0-beta.2/source.json
  modules/rules_bzip2/1.0.0-beta.3/MODULE.bazel
  modules/rules_bzip2/1.0.0-beta.3/presubmit.yml
  modules/rules_bzip2/1.0.0-beta.3/source.json
  modules/rules_bzip2/metadata.json
  modules/rules_gzip/1.0.0-beta.2/MODULE.bazel
  modules/rules_gzip/1.0.0-beta.2/presubmit.yml
  modules/rules_gzip/1.0.0-beta.2/source.json
  modules/rules_gzip/1.0.0-beta.3/MODULE.bazel
  modules/rules_gzip/1.0.0-beta.3/presubmit.yml
  modules/rules_gzip/1.0.0-beta.3/source.json
  modules/rules_gzip/metadata.json
  modules/rules_tar/1.0.0-beta.3/MODULE.bazel
  modules/rules_tar/1.0.0-beta.3/presubmit.yml
  modules/rules_tar/1.0.0-beta.3/source.json
  modules/rules_tar/1.0.0-beta.4/MODULE.bazel
  modules/rules_tar/1.0.0-beta.4/presubmit.yml
  modules/rules_tar/1.0.0-beta.4/source.json
  modules/rules_tar/metadata.json
  modules/rules_xz/1.0.0-beta.2/MODULE.bazel
  modules/rules_xz/1.0.0-beta.2/presubmit.yml
  modules/rules_xz/1.0.0-beta.2/source.json
  modules/rules_xz/1.0.0-beta.3/MODULE.bazel
  modules/rules_xz/1.0.0-beta.3/presubmit.yml
  modules/rules_xz/1.0.0-beta.3/source.json
  modules/rules_xz/metadata.json
  modules/rules_zstd/1.0.0-beta.2/MODULE.bazel
  modules/rules_zstd/1.0.0-beta.2/presubmit.yml
  modules/rules_zstd/1.0.0-beta.2/source.json
  modules/rules_zstd/1.0.0-beta.3/MODULE.bazel
  modules/rules_zstd/1.0.0-beta.3/presubmit.yml
  modules/rules_zstd/1.0.0-beta.3/source.json
  modules/rules_zstd/metadata.json
  modules/toolchain_utils/1.0.0-beta.14/MODULE.bazel
  modules/toolchain_utils/1.0.0-beta.14/presubmit.yml
  modules/toolchain_utils/1.0.0-beta.14/source.json
  modules/toolchain_utils/metadata.json
Labels: presubmit-auto-run

#2690 Add rules_erlang@3.15.0
  modules/rules_erlang/3.15.0/MODULE.bazel
  modules/rules_erlang/3.15.0/patches/app_file_test.patch
  modules/rules_erlang/3.15.0/presubmit.yml
  modules/rules_erlang/3.15.0/source.json
  modules/rules_erlang/metadata.json
Labels: presubmit-auto-run

#2718 Add googleapis, grpc, grpc-java
  modules/googleapis/0.0.0-20240819-fe8ba054a/MODULE.bazel
  modules/googleapis/0.0.0-20240819-fe8ba054a/patches/add_module_bazel.patch
  modules/googleapis/0.0.0-20240819-fe8ba054a/presubmit.yml
  modules/googleapis/0.0.0-20240819-fe8ba054a/source.json
  modules/googleapis/metadata.json
  modules/grpc-java/1.66.0/MODULE.bazel
  modules/grpc-java/1.66.0/patches/module_dot_bazel.patch
  modules/grpc-java/1.66.0/presubmit.yml
  modules/grpc-java/1.66.0/source.json
  modules/grpc-java/metadata.json
  modules/grpc/1.66.0.bcr.2/MODULE.bazel
  modules/grpc/1.66.0.bcr.2/patches/add_module_bazel.patch
  modules/grpc/1.66.0.bcr.2/patches/adopt_bzlmod.patch
  modules/grpc/1.66.0.bcr.2/patches/disable-layering-check.patch
  modules/grpc/1.66.0.bcr.2/presubmit.yml
  modules/grpc/1.66.0.bcr.2/source.json
  modules/grpc/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2750 Add cpp-httplib 0.16.3.bzl.1
  modules/cpp-httplib/0.16.3.bzl.1/MODULE.bazel
  modules/cpp-httplib/0.16.3.bzl.1/overlay/BUILD.bazel
  modules/cpp-httplib/0.16.3.bzl.1/overlay/MODULE.bazel
  modules/cpp-httplib/0.16.3.bzl.1/presubmit.yml
  modules/cpp-httplib/0.16.3.bzl.1/source.json
  modules/cpp-httplib/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2747 feat: add livox sdk2
  modules/livox_sdk2/1.2.5/MODULE.bazel
  modules/livox_sdk2/1.2.5/overlay/BUILD.bazel
  modules/livox_sdk2/1.2.5/overlay/MODULE.bazel
  modules/livox_sdk2/1.2.5/presubmit.yml
  modules/livox_sdk2/1.2.5/source.json
  modules/livox_sdk2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2756 Add libevdev (C/C++)
  modules/libevdev/1.13.2/MODULE.bazel
  modules/libevdev/1.13.2/patches/add_build_file.patch
  modules/libevdev/1.13.2/patches/module_dot_bazel.patch
  modules/libevdev/1.13.2/presubmit.yml
  modules/libevdev/1.13.2/source.json
  modules/libevdev/metadata.json
Labels: presubmit-auto-run

#2772 imath@3.1.12
  modules/imath/3.1.12/MODULE.bazel
  modules/imath/3.1.12/overlay/BUILD.bazel
  modules/imath/3.1.12/overlay/MODULE.bazel
  modules/imath/3.1.12/presubmit.yml
  modules/imath/3.1.12/source.json
  modules/imath/metadata.json
Labels: presubmit-auto-run

#2784 Add SwiftSyntax 600.0.0
  modules/swift-syntax/600.0.0/MODULE.bazel
  modules/swift-syntax/600.0.0/patches/module_dot_bazel.patch
  modules/swift-syntax/600.0.0/presubmit.yml
  modules/swift-syntax/600.0.0/source.json
  modules/swift-syntax/metadata.json
Labels: skip-url-stability-check

#2785 boringssl 0.20240913.0
  modules/boringssl/0.20240913.0/MODULE.bazel
  modules/boringssl/0.20240913.0/presubmit.yml
  modules/boringssl/0.20240913.0/source.json
  modules/boringssl/metadata.json
Labels: presubmit-auto-run

#2779 feat: add boost algorithm, any, intrusive, proto
  modules/boost.algorithm/1.83.0/MODULE.bazel
  modules/boost.algorithm/1.83.0/overlay/BUILD.bazel
  modules/boost.algorithm/1.83.0/overlay/MODULE.bazel
  modules/boost.algorithm/1.83.0/presubmit.yml
  modules/boost.algorithm/1.83.0/source.json
  modules/boost.algorithm/metadata.json
  modules/boost.any/1.83.0/MODULE.bazel
  modules/boost.any/1.83.0/overlay/BUILD.bazel
  modules/boost.any/1.83.0/overlay/MODULE.bazel
  modules/boost.any/1.83.0/presubmit.yml
  modules/boost.any/1.83.0/source.json
  modules/boost.any/metadata.json
  modules/boost.intrusive/1.83.0/MODULE.bazel
  modules/boost.intrusive/1.83.0/overlay/BUILD.bazel
  modules/boost.intrusive/1.83.0/overlay/MODULE.bazel
  modules/boost.intrusive/1.83.0/presubmit.yml
  modules/boost.intrusive/1.83.0/source.json
  modules/boost.intrusive/metadata.json
  modules/boost.proto/1.83.0/MODULE.bazel
  modules/boost.proto/1.83.0/overlay/BUILD.bazel
  modules/boost.proto/1.83.0/overlay/MODULE.bazel
  modules/boost.proto/1.83.0/presubmit.yml
  modules/boost.proto/1.83.0/source.json
  modules/boost.proto/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2660 Add cppitertools module
  modules/cppitertools/2.1/MODULE.bazel
  modules/cppitertools/2.1/patches/add_module_dot_bazel.patch
  modules/cppitertools/2.1/presubmit.yml
  modules/cppitertools/2.1/source.json
  modules/cppitertools/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2794 feat: add boost atomic, container
  modules/boost.atomic/1.83.0/MODULE.bazel
  modules/boost.atomic/1.83.0/overlay/BUILD.bazel
  modules/boost.atomic/1.83.0/overlay/MODULE.bazel
  modules/boost.atomic/1.83.0/presubmit.yml
  modules/boost.atomic/1.83.0/source.json
  modules/boost.atomic/metadata.json
  modules/boost.container/1.83.0/MODULE.bazel
  modules/boost.container/1.83.0/overlay/BUILD.bazel
  modules/boost.container/1.83.0/overlay/MODULE.bazel
  modules/boost.container/1.83.0/presubmit.yml
  modules/boost.container/1.83.0/source.json
  modules/boost.container/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2793 Add rules_elixir@1.1.0
  modules/rules_elixir/1.1.0/MODULE.bazel
  modules/rules_elixir/1.1.0/presubmit.yml
  modules/rules_elixir/1.1.0/source.json
  modules/rules_elixir/metadata.json
Labels: presubmit-auto-run

#2782 zopfli@1.0.3.bcr.1
  modules/zopfli/1.0.3.bcr.1/MODULE.bazel
  modules/zopfli/1.0.3.bcr.1/patches/add_build_file.patch
  modules/zopfli/1.0.3.bcr.1/patches/module_dot_bazel.patch
  modules/zopfli/1.0.3.bcr.1/presubmit.yml
  modules/zopfli/1.0.3.bcr.1/source.json
  modules/zopfli/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2797 feat: add boost test, lexical_cast, phoenix
  modules/boost.lexical_cast/1.83.0/MODULE.bazel
  modules/boost.lexical_cast/1.83.0/overlay/BUILD.bazel
  modules/boost.lexical_cast/1.83.0/overlay/MODULE.bazel
  modules/boost.lexical_cast/1.83.0/presubmit.yml
  modules/boost.lexical_cast/1.83.0/source.json
  modules/boost.lexical_cast/metadata.json
  modules/boost.phoenix/1.83.0/MODULE.bazel
  modules/boost.phoenix/1.83.0/overlay/BUILD.bazel
  modules/boost.phoenix/1.83.0/overlay/MODULE.bazel
  modules/boost.phoenix/1.83.0/presubmit.yml
  modules/boost.phoenix/1.83.0/source.json
  modules/boost.phoenix/metadata.json
  modules/boost.test/1.83.0/MODULE.bazel
  modules/boost.test/1.83.0/overlay/BUILD.bazel
  modules/boost.test/1.83.0/overlay/MODULE.bazel
  modules/boost.test/1.83.0/presubmit.yml
  modules/boost.test/1.83.0/source.json
  modules/boost.test/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2812 ncurses@6.4.20221231.bcr.1
  modules/ncurses/6.4.20221231.bcr.1/MODULE.bazel
  modules/ncurses/6.4.20221231.bcr.1/patches/add_bazel_tools.patch
  modules/ncurses/6.4.20221231.bcr.1/patches/add_build_file.patch
  modules/ncurses/6.4.20221231.bcr.1/patches/change_mode.patch
  modules/ncurses/6.4.20221231.bcr.1/patches/module_dot_bazel.patch
  modules/ncurses/6.4.20221231.bcr.1/presubmit.yml
  modules/ncurses/6.4.20221231.bcr.1/source.json
  modules/ncurses/metadata.json
Labels: skip-url-stability-check

#2819 feat: add boost date_time, dynamic_bitset, polygon, qvm
  modules/boost.date_time/1.83.0/MODULE.bazel
  modules/boost.date_time/1.83.0/overlay/BUILD.bazel
  modules/boost.date_time/1.83.0/overlay/MODULE.bazel
  modules/boost.date_time/1.83.0/presubmit.yml
  modules/boost.date_time/1.83.0/source.json
  modules/boost.date_time/metadata.json
  modules/boost.dynamic_bitset/1.83.0/MODULE.bazel
  modules/boost.dynamic_bitset/1.83.0/overlay/BUILD.bazel
  modules/boost.dynamic_bitset/1.83.0/overlay/MODULE.bazel
  modules/boost.dynamic_bitset/1.83.0/presubmit.yml
  modules/boost.dynamic_bitset/1.83.0/source.json
  modules/boost.dynamic_bitset/metadata.json
  modules/boost.polygon/1.83.0/MODULE.bazel
  modules/boost.polygon/1.83.0/overlay/BUILD.bazel
  modules/boost.polygon/1.83.0/overlay/MODULE.bazel
  modules/boost.polygon/1.83.0/presubmit.yml
  modules/boost.polygon/1.83.0/source.json
  modules/boost.polygon/metadata.json
  modules/boost.qvm/1.83.0/MODULE.bazel
  modules/boost.qvm/1.83.0/overlay/BUILD.bazel
  modules/boost.qvm/1.83.0/overlay/MODULE.bazel
  modules/boost.qvm/1.83.0/presubmit.yml
  modules/boost.qvm/1.83.0/source.json
  modules/boost.qvm/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2816 nanopb@0.4.9
  modules/nanopb/0.4.9/MODULE.bazel
  modules/nanopb/0.4.9/presubmit.yml
  modules/nanopb/0.4.9/source.json
  modules/nanopb/metadata.json
Labels: presubmit-auto-run

#2820 feat: add boost context, random
  modules/boost.context/1.83.0/MODULE.bazel
  modules/boost.context/1.83.0/overlay/BUILD.bazel
  modules/boost.context/1.83.0/overlay/MODULE.bazel
  modules/boost.context/1.83.0/presubmit.yml
  modules/boost.context/1.83.0/source.json
  modules/boost.context/metadata.json
  modules/boost.random/1.83.0/MODULE.bazel
  modules/boost.random/1.83.0/overlay/BUILD.bazel
  modules/boost.random/1.83.0/overlay/MODULE.bazel
  modules/boost.random/1.83.0/presubmit.yml
  modules/boost.random/1.83.0/source.json
  modules/boost.random/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2837 feat: add boost coroutine, interprocess
  modules/boost.coroutine/1.83.0/MODULE.bazel
  modules/boost.coroutine/1.83.0/overlay/BUILD.bazel
  modules/boost.coroutine/1.83.0/overlay/MODULE.bazel
  modules/boost.coroutine/1.83.0/presubmit.yml
  modules/boost.coroutine/1.83.0/source.json
  modules/boost.coroutine/metadata.json
  modules/boost.interprocess/1.83.0/MODULE.bazel
  modules/boost.interprocess/1.83.0/overlay/BUILD.bazel
  modules/boost.interprocess/1.83.0/overlay/MODULE.bazel
  modules/boost.interprocess/1.83.0/presubmit.yml
  modules/boost.interprocess/1.83.0/source.json
  modules/boost.interprocess/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2839 feat: add boost asio
  modules/boost.asio/1.83.0/MODULE.bazel
  modules/boost.asio/1.83.0/overlay/BUILD.bazel
  modules/boost.asio/1.83.0/overlay/MODULE.bazel
  modules/boost.asio/1.83.0/overlay/test/BUILD.bazel
  modules/boost.asio/1.83.0/overlay/test/MODULE.bazel
  modules/boost.asio/1.83.0/overlay/test/archetypes/BUILD.bazel
  modules/boost.asio/1.83.0/presubmit.yml
  modules/boost.asio/1.83.0/source.json
  modules/boost.asio/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2842 feat: add boost thread
  modules/boost.thread/1.83.0/MODULE.bazel
  modules/boost.thread/1.83.0/overlay/BUILD.bazel
  modules/boost.thread/1.83.0/overlay/MODULE.bazel
  modules/boost.thread/1.83.0/overlay/test/BUILD.bazel
  modules/boost.thread/1.83.0/overlay/test/MODULE.bazel
  modules/boost.thread/1.83.0/patches/fix_assert.patch
  modules/boost.thread/1.83.0/presubmit.yml
  modules/boost.thread/1.83.0/source.json
  modules/boost.thread/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2844 feat: add boost spirit
  modules/boost.spirit/1.83.0/MODULE.bazel
  modules/boost.spirit/1.83.0/overlay/BUILD.bazel
  modules/boost.spirit/1.83.0/overlay/MODULE.bazel
  modules/boost.spirit/1.83.0/overlay/test/BUILD.bazel
  modules/boost.spirit/1.83.0/overlay/test/MODULE.bazel
  modules/boost.spirit/1.83.0/presubmit.yml
  modules/boost.spirit/1.83.0/source.json
  modules/boost.spirit/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2845 fix: update boost.detail
  modules/boost.detail/1.83.0.bcr.1/MODULE.bazel
  modules/boost.detail/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.detail/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.detail/1.83.0.bcr.1/overlay/test/BUILD.bazel
  modules/boost.detail/1.83.0.bcr.1/overlay/test/MODULE.bazel
  modules/boost.detail/1.83.0.bcr.1/presubmit.yml
  modules/boost.detail/1.83.0.bcr.1/source.json
  modules/boost.detail/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2847 robin-map@1.3.0
  modules/robin-map/1.3.0/MODULE.bazel
  modules/robin-map/1.3.0/patches/add_build_file.patch
  modules/robin-map/1.3.0/patches/module_dot_bazel.patch
  modules/robin-map/1.3.0/presubmit.yml
  modules/robin-map/1.3.0/source.json
  modules/robin-map/metadata.json
Labels: skip-url-stability-check

#2849 feat: add boost compatibility
  modules/boost.compatibility/1.83.0/MODULE.bazel
  modules/boost.compatibility/1.83.0/overlay/BUILD.bazel
  modules/boost.compatibility/1.83.0/overlay/MODULE.bazel
  modules/boost.compatibility/1.83.0/presubmit.yml
  modules/boost.compatibility/1.83.0/source.json
  modules/boost.compatibility/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2848 nanobind@2.1.0
  modules/nanobind/2.1.0/MODULE.bazel
  modules/nanobind/2.1.0/patches/add_build_file.patch
  modules/nanobind/2.1.0/patches/module_dot_bazel.patch
  modules/nanobind/2.1.0/presubmit.yml
  modules/nanobind/2.1.0/source.json
  modules/nanobind/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2858 feat: add boost filesystem, foreach, json, logic, math, multi_index, pfr, static_string, tti
  modules/boost.filesystem/1.83.0/MODULE.bazel
  modules/boost.filesystem/1.83.0/overlay/BUILD.bazel
  modules/boost.filesystem/1.83.0/overlay/MODULE.bazel
  modules/boost.filesystem/1.83.0/overlay/test/BUILD.bazel
  modules/boost.filesystem/1.83.0/overlay/test/MODULE.bazel
  modules/boost.filesystem/1.83.0/presubmit.yml
  modules/boost.filesystem/1.83.0/source.json
  modules/boost.filesystem/metadata.json
  modules/boost.foreach/1.83.0/MODULE.bazel
  modules/boost.foreach/1.83.0/overlay/BUILD.bazel
  modules/boost.foreach/1.83.0/overlay/MODULE.bazel
  modules/boost.foreach/1.83.0/presubmit.yml
  modules/boost.foreach/1.83.0/source.json
  modules/boost.foreach/metadata.json
  modules/boost.json/1.83.0/MODULE.bazel
  modules/boost.json/1.83.0/overlay/BUILD.bazel
  modules/boost.json/1.83.0/overlay/MODULE.bazel
  modules/boost.json/1.83.0/presubmit.yml
  modules/boost.json/1.83.0/source.json
  modules/boost.json/metadata.json
  modules/boost.logic/1.83.0/MODULE.bazel
  modules/boost.logic/1.83.0/overlay/BUILD.bazel
  modules/boost.logic/1.83.0/overlay/MODULE.bazel
  modules/boost.logic/1.83.0/presubmit.yml
  modules/boost.logic/1.83.0/source.json
  modules/boost.logic/metadata.json
  modules/boost.math/1.83.0/MODULE.bazel
  modules/boost.math/1.83.0/overlay/BUILD.bazel
  modules/boost.math/1.83.0/overlay/MODULE.bazel
  modules/boost.math/1.83.0/presubmit.yml
  modules/boost.math/1.83.0/source.json
  modules/boost.math/metadata.json
  modules/boost.multi_index/1.83.0/MODULE.bazel
  modules/boost.multi_index/1.83.0/overlay/BUILD.bazel
  modules/boost.multi_index/1.83.0/overlay/MODULE.bazel
  modules/boost.multi_index/1.83.0/presubmit.yml
  modules/boost.multi_index/1.83.0/source.json
  modules/boost.multi_index/metadata.json
  modules/boost.pfr/1.83.0/MODULE.bazel
  modules/boost.pfr/1.83.0/overlay/BUILD.bazel
  modules/boost.pfr/1.83.0/overlay/MODULE.bazel
  modules/boost.pfr/1.83.0/presubmit.yml
  modules/boost.pfr/1.83.0/source.json
  modules/boost.pfr/metadata.json
  modules/boost.static_string/1.83.0/MODULE.bazel
  modules/boost.static_string/1.83.0/overlay/BUILD.bazel
  modules/boost.static_string/1.83.0/overlay/MODULE.bazel
  modules/boost.static_string/1.83.0/presubmit.yml
  modules/boost.static_string/1.83.0/source.json
  modules/boost.static_string/metadata.json
  modules/boost.tti/1.83.0/MODULE.bazel
  modules/boost.tti/1.83.0/overlay/BUILD.bazel
  modules/boost.tti/1.83.0/overlay/MODULE.bazel
  modules/boost.tti/1.83.0/presubmit.yml
  modules/boost.tti/1.83.0/source.json
  modules/boost.tti/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2861 feat: add boost lambda, multiprecision, serialization
  modules/boost.lambda/1.83.0/MODULE.bazel
  modules/boost.lambda/1.83.0/overlay/BUILD.bazel
  modules/boost.lambda/1.83.0/overlay/MODULE.bazel
  modules/boost.lambda/1.83.0/presubmit.yml
  modules/boost.lambda/1.83.0/source.json
  modules/boost.lambda/metadata.json
  modules/boost.multiprecision/1.83.0/MODULE.bazel
  modules/boost.multiprecision/1.83.0/overlay/BUILD.bazel
  modules/boost.multiprecision/1.83.0/overlay/MODULE.bazel
  modules/boost.multiprecision/1.83.0/presubmit.yml
  modules/boost.multiprecision/1.83.0/source.json
  modules/boost.multiprecision/metadata.json
  modules/boost.serialization/1.83.0/MODULE.bazel
  modules/boost.serialization/1.83.0/overlay/BUILD.bazel
  modules/boost.serialization/1.83.0/overlay/MODULE.bazel
  modules/boost.serialization/1.83.0/overlay/test/BUILD.bazel
  modules/boost.serialization/1.83.0/overlay/test/MODULE.bazel
  modules/boost.serialization/1.83.0/presubmit.yml
  modules/boost.serialization/1.83.0/source.json
  modules/boost.serialization/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2862 feat: add boost bimap, format, geometry, parameter, property_map, xpressive
  modules/boost.bimap/1.83.0/MODULE.bazel
  modules/boost.bimap/1.83.0/overlay/BUILD.bazel
  modules/boost.bimap/1.83.0/overlay/MODULE.bazel
  modules/boost.bimap/1.83.0/presubmit.yml
  modules/boost.bimap/1.83.0/source.json
  modules/boost.bimap/metadata.json
  modules/boost.format/1.83.0/MODULE.bazel
  modules/boost.format/1.83.0/overlay/BUILD.bazel
  modules/boost.format/1.83.0/overlay/MODULE.bazel
  modules/boost.format/1.83.0/presubmit.yml
  modules/boost.format/1.83.0/source.json
  modules/boost.format/metadata.json
  modules/boost.geometry/1.83.0/MODULE.bazel
  modules/boost.geometry/1.83.0/overlay/BUILD.bazel
  modules/boost.geometry/1.83.0/overlay/MODULE.bazel
  modules/boost.geometry/1.83.0/presubmit.yml
  modules/boost.geometry/1.83.0/source.json
  modules/boost.geometry/metadata.json
  modules/boost.parameter/1.83.0/MODULE.bazel
  modules/boost.parameter/1.83.0/overlay/BUILD.bazel
  modules/boost.parameter/1.83.0/overlay/MODULE.bazel
  modules/boost.parameter/1.83.0/presubmit.yml
  modules/boost.parameter/1.83.0/source.json
  modules/boost.parameter/metadata.json
  modules/boost.property_map/1.83.0/MODULE.bazel
  modules/boost.property_map/1.83.0/overlay/BUILD.bazel
  modules/boost.property_map/1.83.0/overlay/MODULE.bazel
  modules/boost.property_map/1.83.0/presubmit.yml
  modules/boost.property_map/1.83.0/source.json
  modules/boost.property_map/metadata.json
  modules/boost.xpressive/1.83.0/MODULE.bazel
  modules/boost.xpressive/1.83.0/overlay/BUILD.bazel
  modules/boost.xpressive/1.83.0/overlay/MODULE.bazel
  modules/boost.xpressive/1.83.0/presubmit.yml
  modules/boost.xpressive/1.83.0/source.json
  modules/boost.xpressive/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2853 Add gonzojive_protobuf_javascript module.
  modules/gonzojive_protobuf_javascript/3.21.5.esm/MODULE.bazel
  modules/gonzojive_protobuf_javascript/3.21.5.esm/presubmit.yml
  modules/gonzojive_protobuf_javascript/3.21.5.esm/source.json
  modules/gonzojive_protobuf_javascript/metadata.json
Labels: presubmit-auto-run
