Repository bazelbuild/bazel-central-registry, pull requests merged in 2024-07, with the labels that each got.

#2348 add libzip@1.10.1
  modules/libzip/1.10.1/MODULE.bazel
  modules/libzip/1.10.1/patches/add-build-file.patch
  modules/libzip/1.10.1/patches/module_dot_bazel.patch
  modules/libzip/1.10.1/presubmit.yml
  modules/libzip/1.10.1/source.json
  modules/libzip/metadata.json
Labels: presubmit-auto-run

#2351 fmt@11.0.0
  modules/fmt/11.0.0/MODULE.bazel
  modules/fmt/11.0.0/overlay/BUILD.bazel
  modules/fmt/11.0.0/overlay/MODULE.bazel
  modules/fmt/11.0.0/presubmit.yml
  modules/fmt/11.0.0/source.json
  modules/fmt/metadata.json
Labels: presubmit-auto-run

#2352 glew@2.2.0
  modules/glew/2.2.0/MODULE.bazel
  modules/glew/2.2.0/overlay/BUILD.bazel
  modules/glew/2.2.0/overlay/MODULE.bazel
  modules/glew/2.2.0/presubmit.yml
  modules/glew/2.2.0/source.json
  modules/glew/metadata.json
Labels: presubmit-auto-run

#2325 Add bzlparty_tools@0.3.0
  modules/bzlparty_tools/0.3.0/MODULE.bazel
  modules/bzlparty_tools/0.3.0/presubmit.yml
  modules/bzlparty_tools/0.3.0/source.json
  modules/bzlparty_tools/metadata.json
Labels: presubmit-auto-run

#2353 xtl@0.7.7
  modules/xtl/0.7.7/MODULE.bazel
  modules/xtl/0.7.7/overlay/BUILD.bazel
  modules/xtl/0.7.7/overlay/MODULE.bazel
  modules/xtl/0.7.7/presubmit.yml
  modules/xtl/0.7.7/source.json
  modules/xtl/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2369 add bzlws
  modules/bzlws/0.2.0/MODULE.bazel
  modules/bzlws/0.2.0/presubmit.yml
  modules/bzlws/0.2.0/source.json
  modules/bzlws/metadata.json
Labels: presubmit-auto-run

#2378 Add opentelemetry-proto 1.3.2
  modules/opentelemetry-proto/1.3.2/MODULE.bazel
  modules/opentelemetry-proto/1.3.2/patches/0001-Add-MODULE.bazel.patch
  modules/opentelemetry-proto/1.3.2/presubmit.yml
  modules/opentelemetry-proto/1.3.2/source.json
  modules/opentelemetry-proto/metadata.json
Labels: skip-url-stability-check

#2379 opentelemetry-cpp@1.16.0
  modules/opentelemetry-cpp/1.16.0/MODULE.bazel
  modules/opentelemetry-cpp/1.16.0/patches/0001-Fix-Version-in-MODULE.bazel.patch
  modules/opentelemetry-cpp/1.16.0/presubmit.yml
  modules/opentelemetry-cpp/1.16.0/source.json
  modules/opentelemetry-cpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2380 Add grpc 1.63.1.bcr.1
  modules/grpc/1.63.1.bcr.1/MODULE.bazel
  modules/grpc/1.63.1.bcr.1/patches/add_module_bazel.patch
  modules/grpc/1.63.1.bcr.1/patches/adopt_bzlmod.patch
  modules/grpc/1.63.1.bcr.1/presubmit.yml
  modules/grpc/1.63.1.bcr.1/source.json
  modules/grpc/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2388 add module cppregpattern
  modules/cppregpattern/1.0.1/MODULE.bazel
  modules/cppregpattern/1.0.1/patches/add_build_file.patch
  modules/cppregpattern/1.0.1/patches/module_dot_bazel.patch
  modules/cppregpattern/1.0.1/presubmit.yml
  modules/cppregpattern/1.0.1/source.json
  modules/cppregpattern/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2180 Add rules_pkg 1.0.1 (was 1.0.0)
  modules/rules_pkg/1.0.1/MODULE.bazel
  modules/rules_pkg/1.0.1/presubmit.yml
  modules/rules_pkg/1.0.1/source.json
  modules/rules_pkg/metadata.json
Labels: presubmit-auto-run

#2385 add gsl to bcr
  modules/gsl/4.0.0/MODULE.bazel
  modules/gsl/4.0.0/patches/build_dot_bazel.patch
  modules/gsl/4.0.0/patches/module_dot_bazel.patch
  modules/gsl/4.0.0/presubmit.yml
  modules/gsl/4.0.0/source.json
  modules/gsl/metadata.json
Labels: skip-url-stability-check

#2383 add earcut to BCR
  modules/earcut/2.2.4/MODULE.bazel
  modules/earcut/2.2.4/patches/build_dot_bazel.patch
  modules/earcut/2.2.4/patches/module_dot_bazel.patch
  modules/earcut/2.2.4/presubmit.yml
  modules/earcut/2.2.4/source.json
  modules/earcut/metadata.json
Labels: skip-url-stability-check

#2410 Add swxmlhash 7.0.2.1 for rules_swift 2.0 compatibility
  modules/swxmlhash/7.0.2.1/MODULE.bazel
  modules/swxmlhash/7.0.2.1/patches/add_build_file.patch
  modules/swxmlhash/7.0.2.1/patches/module_dot_bazel.patch
  modules/swxmlhash/7.0.2.1/presubmit.yml
  modules/swxmlhash/7.0.2.1/source.json
  modules/swxmlhash/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2412 Add gRPC 1.65.0
  modules/grpc/1.65.0/MODULE.bazel
  modules/grpc/1.65.0/patches/add_module_bazel.patch
  modules/grpc/1.65.0/patches/adopt_bzlmod.patch
  modules/grpc/1.65.0/patches/disable-layering-check.patch
  modules/grpc/1.65.0/presubmit.yml
  modules/grpc/1.65.0/source.json
  modules/grpc/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2370 Fix "websocketpp" on Mac OS X.
  modules/websocketpp/0.8.2.bcr.1/MODULE.bazel
  modules/websocketpp/0.8.2.bcr.1/patches/add_build_file.patch
  modules/websocketpp/0.8.2.bcr.1/patches/module_dot_bazel.patch
  modules/websocketpp/0.8.2.bcr.1/presubmit.yml
  modules/websocketpp/0.8.2.bcr.1/source.json
  modules/websocketpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2418 fix: fix foonathan_memory include path
  modules/foonathan_memory/0.7.3.bcr.1/MODULE.bazel
  modules/foonathan_memory/0.7.3.bcr.1/patches/add_build_file.patch
  modules/foonathan_memory/0.7.3.bcr.1/patches/module_dot_bazel.patch
  modules/foonathan_memory/0.7.3.bcr.1/presubmit.yml
  modules/foonathan_memory/0.7.3.bcr.1/source.json
  modules/foonathan_memory/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2422 Add swift-index-store 1.7.0
  modules/swift-index-store/1.7.0/MODULE.bazel
  modules/swift-index-store/1.7.0/patches/module_dot_bazel.patch
  modules/swift-index-store/1.7.0/presubmit.yml
  modules/swift-index-store/1.7.0/source.json
  modules/swift-index-store/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2417 feat: add fastcdr v2.2.2
  modules/fastcdr/2.2.2/MODULE.bazel
  modules/fastcdr/2.2.2/patches/add_build_file.patch
  modules/fastcdr/2.2.2/patches/module_dot_bazel.patch
  modules/fastcdr/2.2.2/presubmit.yml
  modules/fastcdr/2.2.2/source.json
  modules/fastcdr/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2429 Add "darts-clone".
  modules/darts-clone/0.32/MODULE.bazel
  modules/darts-clone/0.32/patches/add_build_file.patch
  modules/darts-clone/0.32/patches/module_dot_bazel.patch
  modules/darts-clone/0.32/presubmit.yml
  modules/darts-clone/0.32/source.json
  modules/darts-clone/metadata.json
Labels: presubmit-auto-run

#2430 Add marisa-trie 0.2.6.
  modules/marisa-trie/0.2.6/MODULE.bazel
  modules/marisa-trie/0.2.6/patches/add_build_file.patch
  modules/marisa-trie/0.2.6/patches/module_dot_bazel.patch
  modules/marisa-trie/0.2.6/presubmit.yml
  modules/marisa-trie/0.2.6/source.json
  modules/marisa-trie/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2433 Add rules_platform
  modules/rules_platform/0.1.0/MODULE.bazel
  modules/rules_platform/0.1.0/presubmit.yml
  modules/rules_platform/0.1.0/source.json
  modules/rules_platform/metadata.json
Labels: presubmit-auto-run

#2432 Add googletest@1.15.0
  modules/googletest/1.15.0/MODULE.bazel
  modules/googletest/1.15.0/presubmit.yml
  modules/googletest/1.15.0/source.json
  modules/googletest/metadata.json
Labels: presubmit-auto-run

#2434 Add FreeRTOS
  modules/freertos/10.5.1/MODULE.bazel
  modules/freertos/10.5.1/patches/bazel.patch
  modules/freertos/10.5.1/presubmit.yml
  modules/freertos/10.5.1/source.json
  modules/freertos/metadata.json
Labels: presubmit-auto-run

#2441 Add nsync 1.29.2
  modules/nsync/1.29.2/MODULE.bazel
  modules/nsync/1.29.2/patches/bzlmod.patch
  modules/nsync/1.29.2/patches/module_dot_bazel.patch
  modules/nsync/1.29.2/presubmit.yml
  modules/nsync/1.29.2/source.json
  modules/nsync/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2461 google_bennchmark@1.8.5
  modules/google_benchmark/1.8.5/MODULE.bazel
  modules/google_benchmark/1.8.5/presubmit.yml
  modules/google_benchmark/1.8.5/source.json
  modules/google_benchmark/metadata.json
Labels: skip-url-stability-check

#2456 libconfig@1.7.3 (#2455)
  modules/libconfig/1.7.3/MODULE.bazel
  modules/libconfig/1.7.3/patches/add_build_file.patch
  modules/libconfig/1.7.3/patches/module_dot_bazel.patch
  modules/libconfig/1.7.3/presubmit.yml
  modules/libconfig/1.7.3/source.json
  modules/libconfig/metadata.json
Labels: presubmit-auto-run

#2467 feat: add `rules_tar@1.0.0-beta.1`
  modules/rules_tar/1.0.0-beta.1/MODULE.bazel
  modules/rules_tar/1.0.0-beta.1/presubmit.yml
  modules/rules_tar/1.0.0-beta.1/source.json
  modules/rules_tar/metadata.json
Labels: presubmit-auto-run

#2468 feat: add `ape@1.0.0-beta.12`
  modules/ape/1.0.0-beta.12/MODULE.bazel
  modules/ape/1.0.0-beta.12/presubmit.yml
  modules/ape/1.0.0-beta.12/source.json
  modules/ape/metadata.json
Labels: presubmit-auto-run

#2464 Add mimalloc 2.1.7-bcr.alpha.1
  modules/mimalloc/2.1.7-bcr.alpha.1/MODULE.bazel
  modules/mimalloc/2.1.7-bcr.alpha.1/overlay/BUILD.bazel
  modules/mimalloc/2.1.7-bcr.alpha.1/overlay/MODULE.bazel
  modules/mimalloc/2.1.7-bcr.alpha.1/overlay/test/bcr/BUILD.bazel
  modules/mimalloc/2.1.7-bcr.alpha.1/overlay/test/bcr/MODULE.bazel
  modules/mimalloc/2.1.7-bcr.alpha.1/overlay/test/bcr/api_test.c
  modules/mimalloc/2.1.7-bcr.alpha.1/overlay/test/bcr/override_test.sh
  modules/mimalloc/2.1.7-bcr.alpha.1/overlay/test/bcr/simple_cat.c
  modules/mimalloc/2.1.7-bcr.alpha.1/presubmit.yml
  modules/mimalloc/2.1.7-bcr.alpha.1/source.json
  modules/mimalloc/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2448 libmaxminddb@1.10.0 (#2446)
  modules/libmaxminddb/1.10.0/MODULE.bazel
  modules/libmaxminddb/1.10.0/patches/add_build_file.patch
  modules/libmaxminddb/1.10.0/patches/module_dot_bazel.patch
  modules/libmaxminddb/1.10.0/presubmit.yml
  modules/libmaxminddb/1.10.0/source.json
  modules/libmaxminddb/metadata.json
Labels: presubmit-auto-run

#2450 Add rules_android_ndk
  modules/rules_android_ndk/0.1.2/MODULE.bazel
  modules/rules_android_ndk/0.1.2/patches/module_dot_bazel_version.patch
  modules/rules_android_ndk/0.1.2/presubmit.yml
  modules/rules_android_ndk/0.1.2/source.json
  modules/rules_android_ndk/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2479 libparserutils@0.2.5 (#2478)
  modules/libparserutils/0.2.5/MODULE.bazel
  modules/libparserutils/0.2.5/patches/add_build_file.patch
  modules/libparserutils/0.2.5/patches/aliases.inc.patch
  modules/libparserutils/0.2.5/patches/module_dot_bazel.patch
  modules/libparserutils/0.2.5/presubmit.yml
  modules/libparserutils/0.2.5/source.json
  modules/libparserutils/metadata.json
Labels: presubmit-auto-run

#2489 Fix compatibility level for rules_android
  modules/rules_android/0.5.0.bcr.1/MODULE.bazel
  modules/rules_android/0.5.0.bcr.1/patches/module_dot_bazel_version.patch
  modules/rules_android/0.5.0.bcr.1/presubmit.yml
  modules/rules_android/0.5.0.bcr.1/source.json
  modules/rules_android/metadata.json
Labels: presubmit-auto-run

#2487 Add flatbuffers@24.3.25.
  modules/flatbuffers/24.3.25/MODULE.bazel
  modules/flatbuffers/24.3.25/patches/bzlmod.patch
  modules/flatbuffers/24.3.25/patches/extensions_dot_bzl.patch
  modules/flatbuffers/24.3.25/patches/module_dot_bazel.patch
  modules/flatbuffers/24.3.25/presubmit.yml
  modules/flatbuffers/24.3.25/source.json
  modules/flatbuffers/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2496 Add SwiftSyntax 600.0.0-prerelease-2024-07-24
  modules/swift-syntax/600.0.0-prerelease-2024-07-24/MODULE.bazel
  modules/swift-syntax/600.0.0-prerelease-2024-07-24/patches/module_dot_bazel.patch
  modules/swift-syntax/600.0.0-prerelease-2024-07-24/presubmit.yml
  modules/swift-syntax/600.0.0-prerelease-2024-07-24/source.json
  modules/swift-syntax/metadata.json
Labels: skip-url-stability-check

#2475 container_structure_test@1.19.1
  modules/container_structure_test/1.19.1/MODULE.bazel
  modules/container_structure_test/1.19.1/patches/module_dot_bazel.patch
  modules/container_structure_test/1.19.1/presubmit.yml
  modules/container_structure_test/1.19.1/source.json
  modules/container_structure_test/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2494 libhubbub@0.3.8 (#2493)
  modules/gperf/3.1/MODULE.bazel
  modules/gperf/3.1/patches/add_build_file.patch
  modules/gperf/3.1/patches/gperf.patch
  modules/gperf/3.1/patches/module_dot_bazel.patch
  modules/gperf/3.1/presubmit.yml
  modules/gperf/3.1/source.json
  modules/gperf/metadata.json
  modules/libhubbub/0.3.8/MODULE.bazel
  modules/libhubbub/0.3.8/patches/0001-lubhubbub.patch
  modules/libhubbub/0.3.8/patches/add_build_file.patch
  modules/libhubbub/0.3.8/patches/module_dot_bazel.patch
  modules/libhubbub/0.3.8/presubmit.yml
  modules/libhubbub/0.3.8/source.json
  modules/libhubbub/metadata.json
Labels: presubmit-auto-run

#2502 Add opencc@1.1.8
  modules/opencc/1.1.8/MODULE.bazel
  modules/opencc/1.1.8/patches/module_dot_bazel.patch
  modules/opencc/1.1.8/presubmit.yml
  modules/opencc/1.1.8/source.json
  modules/opencc/metadata.json
Labels: presubmit-auto-run

#2491 feat: add fastdds a C++ implementation of the DDS
  modules/fastdds/2.14.3/MODULE.bazel
  modules/fastdds/2.14.3/patches/add_build_file.patch
  modules/fastdds/2.14.3/patches/module_dot_bazel.patch
  modules/fastdds/2.14.3/presubmit.yml
  modules/fastdds/2.14.3/source.json
  modules/fastdds/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2509 Add libfuse
  modules/libfuse/3.16.2/MODULE.bazel
  modules/libfuse/3.16.2/overlay/BUILD.bazel
  modules/libfuse/3.16.2/overlay/MODULE.bazel
  modules/libfuse/3.16.2/presubmit.yml
  modules/libfuse/3.16.2/source.json
  modules/libfuse/metadata.json
Labels: presubmit-auto-run

#2520 Add googletest@1.15.2
  modules/googletest/1.15.2/MODULE.bazel
  modules/googletest/1.15.2/presubmit.yml
  modules/googletest/1.15.2/source.json
  modules/googletest/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2501 added libcpuid
  modules/libcpuid/0.6.5/MODULE.bazel
  modules/libcpuid/0.6.5/patches/add_build_file.patch
  modules/libcpuid/0.6.5/patches/module_dot_bazel.patch
  modules/libcpuid/0.6.5/presubmit.yml
  modules/libcpuid/0.6.5/source.json
  modules/libcpuid/metadata.json
Labels: presubmit-auto-run
