Repository bazelbuild/bazel-central-registry, pull requests merged in 2024-06, with the labels that each got.

#2165 Add ceres-solver@2.2.0.
  modules/ceres-solver/2.2.0/MODULE.bazel
  modules/ceres-solver/2.2.0/patches/ceres_dot_bazel.patch
  modules/ceres-solver/2.2.0/patches/module_dot_bazel.patch
  modules/ceres-solver/2.2.0/presubmit.yml
  modules/ceres-solver/2.2.0/source.json
  modules/ceres-solver/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2172 add quill version 4.3.0
  modules/quill/4.3.0/MODULE.bazel
  modules/quill/4.3.0/patches/add_build_file.patch
  modules/quill/4.3.0/patches/module_dot_bazel.patch
  modules/quill/4.3.0/presubmit.yml
  modules/quill/4.3.0/source.json
  modules/quill/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2058 bazel_ci_rules@1.0.0
  modules/bazel_ci_rules/1.0.0/MODULE.bazel
  modules/bazel_ci_rules/1.0.0/patches/module_dot_bazel.patch
  modules/bazel_ci_rules/1.0.0/presubmit.yml
  modules/bazel_ci_rules/1.0.0/source.json
  modules/bazel_ci_rules/metadata.json
Labels: presubmit-auto-run

#2173 Add protobuf-matchers
  modules/protobuf-matchers/0.0.0-20240603-9f688b0/MODULE.bazel
  modules/protobuf-matchers/0.0.0-20240603-9f688b0/patches/module-dot-bazel.patch
  modules/protobuf-matchers/0.0.0-20240603-9f688b0/presubmit.yml
  modules/protobuf-matchers/0.0.0-20240603-9f688b0/source.json
  modules/protobuf-matchers/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2178 Add versor v0.0.1 to BCR
  modules/versor/0.0.1/MODULE.bazel
  modules/versor/0.0.1/patches/add_build_file.patch
  modules/versor/0.0.1/patches/module_dot_bazel.patch
  modules/versor/0.0.1/presubmit.yml
  modules/versor/0.0.1/source.json
  modules/versor/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2147 Add DLONG support for osqp and qdldl
  modules/osqp/0.6.3.bcr.1/MODULE.bazel
  modules/osqp/0.6.3.bcr.1/patches/add_build_file.patch
  modules/osqp/0.6.3.bcr.1/patches/module_dot_bazel.patch
  modules/osqp/0.6.3.bcr.1/presubmit.yml
  modules/osqp/0.6.3.bcr.1/source.json
  modules/osqp/metadata.json
  modules/qdldl/0.1.7.bcr.1/MODULE.bazel
  modules/qdldl/0.1.7.bcr.1/patches/add_build_file.patch
  modules/qdldl/0.1.7.bcr.1/patches/module_dot_bazel.patch
  modules/qdldl/0.1.7.bcr.1/presubmit.yml
  modules/qdldl/0.1.7.bcr.1/source.json
  modules/qdldl/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2201 Fix Python support for gRPC
  modules/grpc/1.62.1.bcr.2/MODULE.bazel
  modules/grpc/1.62.1.bcr.2/patches/py_grpc_library.patch
  modules/grpc/1.62.1.bcr.2/patches/update_module_bazel.patch
  modules/grpc/1.62.1.bcr.2/presubmit.yml
  modules/grpc/1.62.1.bcr.2/source.json
  modules/grpc/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2134 Add google/osqp-cpp@0.0.0-20231004-4343373 to BCR
  modules/osqp-cpp/0.0.0-20231004-4343373/MODULE.bazel
  modules/osqp-cpp/0.0.0-20231004-4343373/patches/add-build-file.patch
  modules/osqp-cpp/0.0.0-20231004-4343373/patches/add_module_dot_bazel.patch
  modules/osqp-cpp/0.0.0-20231004-4343373/presubmit.yml
  modules/osqp-cpp/0.0.0-20231004-4343373/source.json
  modules/osqp-cpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2211 glog@0.7.1
  modules/glog/0.7.1/MODULE.bazel
  modules/glog/0.7.1/patches/module_dot_bazel.patch
  modules/glog/0.7.1/presubmit.yml
  modules/glog/0.7.1/source.json
  modules/glog/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2214 google_benchmark@1.8.4
  modules/google_benchmark/1.8.4/MODULE.bazel
  modules/google_benchmark/1.8.4/presubmit.yml
  modules/google_benchmark/1.8.4/source.json
  modules/google_benchmark/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2219 Update to new versor version - old version unusable (yanked)
  modules/versor/0.1.0/MODULE.bazel
  modules/versor/0.1.0/patches/add_build_file.patch
  modules/versor/0.1.0/patches/module_dot_bazel.patch
  modules/versor/0.1.0/presubmit.yml
  modules/versor/0.1.0/source.json
  modules/versor/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2208 Adding version 1.0.0 of textforge
  modules/textforge/1.0.0/MODULE.bazel
  modules/textforge/1.0.0/presubmit.yml
  modules/textforge/1.0.0/source.json
  modules/textforge/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2204 Add libuv
  modules/libuv/1.48.0/MODULE.bazel
  modules/libuv/1.48.0/patches/bazel.patch
  modules/libuv/1.48.0/presubmit.yml
  modules/libuv/1.48.0/source.json
  modules/libuv/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2229 grpc-java@1.64.0
  modules/grpc-java/1.64.0/MODULE.bazel
  modules/grpc-java/1.64.0/patches/module_dot_bazel_version.patch
  modules/grpc-java/1.64.0/presubmit.yml
  modules/grpc-java/1.64.0/source.json
  modules/grpc-java/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2227 Add grpc 1.63.1
  modules/grpc/1.63.1/MODULE.bazel
  modules/grpc/1.63.1/patches/add_module_bazel.patch
  modules/grpc/1.63.1/patches/adopt_bzlmod.patch
  modules/grpc/1.63.1/presubmit.yml
  modules/grpc/1.63.1/source.json
  modules/grpc/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1986 feat: add `circl@1.3.8`
  modules/circl/1.3.8/MODULE.bazel
  modules/circl/1.3.8/patches/0001-build-add-bzlmod-files.patch
  modules/circl/1.3.8/patches/0002-build-add-Gazelle-generated-files.patch
  modules/circl/1.3.8/patches/0003-build-expose-floating-point-C-header-target.patch
  modules/circl/1.3.8/patches/0004-build-add-floating-point-header-to-C-dependencies.patch
  modules/circl/1.3.8/patches/0005-build-remove-incorrectly-generated-assembly-targets.patch
  modules/circl/1.3.8/patches/0006-test-add-pure-on-tests.patch
  modules/circl/1.3.8/presubmit.yml
  modules/circl/1.3.8/source.json
  modules/circl/metadata.json
Labels: presubmit-auto-run

#2238 add quill 4.4.0
  modules/quill/4.4.0/MODULE.bazel
  modules/quill/4.4.0/presubmit.yml
  modules/quill/4.4.0/source.json
  modules/quill/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2252 Add opentelemetry-proto 1.3.1
  modules/opentelemetry-proto/1.3.1/MODULE.bazel
  modules/opentelemetry-proto/1.3.1/patches/0001-Add-MODULE.bazel.patch
  modules/opentelemetry-proto/1.3.1/presubmit.yml
  modules/opentelemetry-proto/1.3.1/source.json
  modules/opentelemetry-proto/metadata.json
Labels: skip-url-stability-check

#2254 Restore minimal Python support in Protobuf v25+
  modules/protobuf/26.0.bcr.2/MODULE.bazel
  modules/protobuf/26.0.bcr.2/patches/0003-Update-rules_python-to-0.28.0.patch
  modules/protobuf/26.0.bcr.2/patches/0004-Add-minimal-Python-support-to-MODULE.bazel.patch
  modules/protobuf/26.0.bcr.2/patches/0005-Update-MODULE.bazel.patch
  modules/protobuf/26.0.bcr.2/presubmit.yml
  modules/protobuf/26.0.bcr.2/source.json
  modules/protobuf/27.0.bcr.1/MODULE.bazel
  modules/protobuf/27.0.bcr.1/patches/0001-Update-rules_python-to-0.28.0.patch
  modules/protobuf/27.0.bcr.1/patches/0002-Add-minimal-Python-support-to-MODULE.bazel.patch
  modules/protobuf/27.0.bcr.1/patches/0003-Update-MODULE.bazel.patch
  modules/protobuf/27.0.bcr.1/presubmit.yml
  modules/protobuf/27.0.bcr.1/source.json
  modules/protobuf/27.1.bcr.1/MODULE.bazel
  modules/protobuf/27.1.bcr.1/patches/0001-Update-rules_python-to-0.28.0.patch
  modules/protobuf/27.1.bcr.1/patches/0002-Add-minimal-Python-support-to-MODULE.bazel.patch
  modules/protobuf/27.1.bcr.1/patches/0003-Update-MODULE.bazel.patch
  modules/protobuf/27.1.bcr.1/presubmit.yml
  modules/protobuf/27.1.bcr.1/source.json
  modules/protobuf/metadata.json
Labels: presubmit-auto-run

#2258 feat: add `rules_squashfs@1.0.0-alpha.2`
  modules/rules_squashfs/1.0.0-alpha.2/presubmit.yml
  modules/rules_squashfs/metadata.json
Labels: presubmit-auto-run

#2262 feat: add `rules_coreutils@1.0.0-beta.3`
  modules/rules_coreutils/1.0.0-beta.3/MODULE.bazel
  modules/rules_coreutils/1.0.0-beta.3/presubmit.yml
  modules/rules_coreutils/1.0.0-beta.3/source.json
  modules/rules_coreutils/metadata.json
Labels: presubmit-auto-run

#1916 add libarchive 3.7.4.bcr.1 with tests and windows support
  modules/libarchive/3.7.4.bcr.1/MODULE.bazel
  modules/libarchive/3.7.4.bcr.1/patches/build_with_bazel.patch
  modules/libarchive/3.7.4.bcr.1/presubmit.yml
  modules/libarchive/3.7.4.bcr.1/source.json
  modules/libarchive/metadata.json
Labels: presubmit-auto-run

#2260 rules_libusb@0.1.0-rc1
  modules/rules_libusb/0.1.0-rc1/MODULE.bazel
  modules/rules_libusb/0.1.0-rc1/presubmit.yml
  modules/rules_libusb/0.1.0-rc1/source.json
  modules/rules_libusb/metadata.json
Labels: presubmit-auto-run

#2269 add magic_enum
  modules/magic_enum/0.9.5/MODULE.bazel
  modules/magic_enum/0.9.5/presubmit.yml
  modules/magic_enum/0.9.5/source.json
  modules/magic_enum/metadata.json
Labels: presubmit-auto-run

#2203 Improve opentelemetry-cpp
  modules/opentelemetry-cpp/1.14.2.bcr.1/MODULE.bazel
  modules/opentelemetry-cpp/1.14.2.bcr.1/patches/0001-Add-MODULE.bazel.patch
  modules/opentelemetry-cpp/1.14.2.bcr.1/presubmit.yml
  modules/opentelemetry-cpp/1.14.2.bcr.1/source.json
  modules/opentelemetry-cpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2285 Add pico-sdk@1.6.0-rc1
  modules/pico-sdk/1.6.0-rc1/MODULE.bazel
  modules/pico-sdk/1.6.0-rc1/patches/0001-Minimal-fixes-for-BCR.patch
  modules/pico-sdk/1.6.0-rc1/patches/0002-Add-Bazel-example-for-BCR.patch
  modules/pico-sdk/1.6.0-rc1/patches/0003-Pioasm-MSVC-workaround.patch
  modules/pico-sdk/1.6.0-rc1/presubmit.yml
  modules/pico-sdk/1.6.0-rc1/source.json
  modules/pico-sdk/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2187 add a new version containing srcs in cc_library for the tinyobjloader
  modules/tinyobjloader/2.0.0-rc1.bcr.1/MODULE.bazel
  modules/tinyobjloader/2.0.0-rc1.bcr.1/patches/add_build_dot_bazel.patch
  modules/tinyobjloader/2.0.0-rc1.bcr.1/patches/add_module_dot_bazel.patch
  modules/tinyobjloader/2.0.0-rc1.bcr.1/presubmit.yml
  modules/tinyobjloader/2.0.0-rc1.bcr.1/source.json
  modules/tinyobjloader/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2298 publish stardoc-0.7.0
  modules/stardoc/0.7.0/MODULE.bazel
  modules/stardoc/0.7.0/presubmit.yml
  modules/stardoc/0.7.0/source.json
  modules/stardoc/metadata.json
Labels: presubmit-auto-run

#2300 feat: add `rules_xz@1.0.0-beta.1`
  modules/rules_xz/1.0.0-beta.1/MODULE.bazel
  modules/rules_xz/1.0.0-beta.1/presubmit.yml
  modules/rules_xz/1.0.0-beta.1/source.json
  modules/rules_xz/metadata.json
Labels: presubmit-auto-run

#2299 Add depend_on_what_you_use 0.4.0
  modules/depend_on_what_you_use/0.4.0/MODULE.bazel
  modules/depend_on_what_you_use/0.4.0/patches/module_dot_bazel.patch
  modules/depend_on_what_you_use/0.4.0/presubmit.yml
  modules/depend_on_what_you_use/0.4.0/source.json
  modules/depend_on_what_you_use/metadata.json
Labels: presubmit-auto-run

#2309 swift_argument_parser@1.3.1.1
  modules/swift_argument_parser/1.3.1.1/MODULE.bazel
  modules/swift_argument_parser/1.3.1.1/patches/add_build_file.patch
  modules/swift_argument_parser/1.3.1.1/patches/module_dot_bazel.patch
  modules/swift_argument_parser/1.3.1.1/presubmit.yml
  modules/swift_argument_parser/1.3.1.1/source.json
  modules/swift_argument_parser/metadata.json
Labels: skip-url-stability-check

#2304 delaunator-cpp@c1521f6
  modules/delaunator-cpp/0.0.0-20181007-c1521f6/MODULE.bazel
  modules/delaunator-cpp/0.0.0-20181007-c1521f6/overlay/BUILD.bazel
  modules/delaunator-cpp/0.0.0-20181007-c1521f6/overlay/MODULE.bazel
  modules/delaunator-cpp/0.0.0-20181007-c1521f6/presubmit.yml
  modules/delaunator-cpp/0.0.0-20181007-c1521f6/source.json
  modules/delaunator-cpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2329 onetbb@2021.13.0 1.0 h
  modules/onetbb/2021.13.0/MODULE.bazel
  modules/onetbb/2021.13.0/patches/module_dot_bazel.patch
  modules/onetbb/2021.13.0/presubmit.yml
  modules/onetbb/2021.13.0/source.json
  modules/onetbb/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2328 spdlog@1.14.0
  modules/spdlog/1.14.0/MODULE.bazel
  modules/spdlog/1.14.0/overlay/BUILD.bazel
  modules/spdlog/1.14.0/overlay/MODULE.bazel
  modules/spdlog/1.14.0/presubmit.yml
  modules/spdlog/1.14.0/source.json
  modules/spdlog/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2284 grpc-proto@0.0.0-20240627-ec30f58
  modules/grpc-proto/0.0.0-20240627-ec30f58/MODULE.bazel
  modules/grpc-proto/0.0.0-20240627-ec30f58/patches/module_dot_bazel.patch
  modules/grpc-proto/0.0.0-20240627-ec30f58/presubmit.yml
  modules/grpc-proto/0.0.0-20240627-ec30f58/source.json
  modules/grpc-proto/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2333 spdlog@1.14.1
  modules/spdlog/1.14.1/MODULE.bazel
  modules/spdlog/1.14.1/overlay/BUILD.bazel
  modules/spdlog/1.14.1/overlay/MODULE.bazel
  modules/spdlog/1.14.1/presubmit.yml
  modules/spdlog/1.14.1/source.json
  modules/spdlog/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2335 add magic_enum 0.9.6
  modules/magic_enum/0.9.6/MODULE.bazel
  modules/magic_enum/0.9.6/presubmit.yml
  modules/magic_enum/0.9.6/source.json
  modules/magic_enum/metadata.json
Labels: presubmit-auto-run
