Repository bazelbuild/bazel-central-registry, pull requests merged in 2024-11, with the labels that each got.

#3089 fast_float@6.1.6
  modules/fast_float/6.1.6/MODULE.bazel
  modules/fast_float/6.1.6/patches/add_build_file.patch
  modules/fast_float/6.1.6/patches/module_dot_bazel.patch
  modules/fast_float/6.1.6/presubmit.yml
  modules/fast_float/6.1.6/source.json
  modules/fast_float/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3073 `rules_coreutils`/`rules_diff` Bazel 8 support
  modules/rules_coreutils/1.0.0-beta.7/MODULE.bazel
  modules/rules_coreutils/1.0.0-beta.7/presubmit.yml
  modules/rules_coreutils/1.0.0-beta.7/source.json
  modules/rules_coreutils/metadata.json
  modules/rules_diff/1.0.0-beta.5/MODULE.bazel
  modules/rules_diff/1.0.0-beta.5/presubmit.yml
  modules/rules_diff/1.0.0-beta.5/source.json
  modules/rules_diff/metadata.json
Labels: presubmit-auto-run

#3102 highway@1.2.0
  modules/highway/1.2.0/MODULE.bazel
  modules/highway/1.2.0/patches/module_dot_bazel.patch
  modules/highway/1.2.0/presubmit.yml
  modules/highway/1.2.0/source.json
  modules/highway/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3104 Bump websocket to fix empty glob
  modules/websocketpp/0.8.2.bcr.3/MODULE.bazel
  modules/websocketpp/0.8.2.bcr.3/overlay/BUILD.bazel
  modules/websocketpp/0.8.2.bcr.3/overlay/MODULE.bazel
  modules/websocketpp/0.8.2.bcr.3/presubmit.yml
  modules/websocketpp/0.8.2.bcr.3/source.json
  modules/websocketpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3108 Fix empty glob in boost.dynamic_bitset and .random
  modules/boost.dynamic_bitset/1.83.0.bcr.1/MODULE.bazel
  modules/boost.dynamic_bitset/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.dynamic_bitset/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.dynamic_bitset/1.83.0.bcr.1/presubmit.yml
  modules/boost.dynamic_bitset/1.83.0.bcr.1/source.json
  modules/boost.dynamic_bitset/metadata.json
  modules/boost.random/1.83.0.bcr.1/MODULE.bazel
  modules/boost.random/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.random/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.random/1.83.0.bcr.1/presubmit.yml
  modules/boost.random/1.83.0.bcr.1/source.json
  modules/boost.random/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3119 feat: update boost.tti, uuid
  modules/boost.tti/1.83.0.bcr.1/MODULE.bazel
  modules/boost.tti/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.tti/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.tti/1.83.0.bcr.1/presubmit.yml
  modules/boost.tti/1.83.0.bcr.1/source.json
  modules/boost.tti/metadata.json
  modules/boost.uuid/1.83.0.bcr.1/MODULE.bazel
  modules/boost.uuid/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.uuid/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.uuid/1.83.0.bcr.1/presubmit.yml
  modules/boost.uuid/1.83.0.bcr.1/source.json
  modules/boost.uuid/metadata.json
Labels: skip-url-stability-check

#3107 onetbb@2022.0.0
  modules/onetbb/2022.0.0/MODULE.bazel
  modules/onetbb/2022.0.0/patches/module_dot_bazel.patch
  modules/onetbb/2022.0.0/presubmit.yml
  modules/onetbb/2022.0.0/source.json
  modules/onetbb/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3130 Fix empty glob in boost.math
  modules/boost.math/1.83.0.bcr.1/MODULE.bazel
  modules/boost.math/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.math/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.math/1.83.0.bcr.1/presubmit.yml
  modules/boost.math/1.83.0.bcr.1/source.json
  modules/boost.math/metadata.json
Labels: skip-url-stability-check

#3129 Add rules_perl@0.2.4
  modules/rules_perl/0.2.4/MODULE.bazel
  modules/rules_perl/0.2.4/patches/module_dot_bazel_version.patch
  modules/rules_perl/0.2.4/presubmit.yml
  modules/rules_perl/0.2.4/source.json
  modules/rules_perl/metadata.json
Labels: skip-url-stability-check

#3132 Fix empty glob in boost.parameter .scope_exit .signals2
  modules/boost.parameter/1.83.0.bcr.1/MODULE.bazel
  modules/boost.parameter/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.parameter/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.parameter/1.83.0.bcr.1/presubmit.yml
  modules/boost.parameter/1.83.0.bcr.1/source.json
  modules/boost.parameter/metadata.json
  modules/boost.scope_exit/1.83.0.bcr.1/MODULE.bazel
  modules/boost.scope_exit/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.scope_exit/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.scope_exit/1.83.0.bcr.1/presubmit.yml
  modules/boost.scope_exit/1.83.0.bcr.1/source.json
  modules/boost.scope_exit/metadata.json
  modules/boost.signals2/1.83.0.bcr.1/MODULE.bazel
  modules/boost.signals2/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.signals2/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.signals2/1.83.0.bcr.1/presubmit.yml
  modules/boost.signals2/1.83.0.bcr.1/source.json
  modules/boost.signals2/metadata.json
  modules/boost.variant/1.83.0.bcr.1/MODULE.bazel
  modules/boost.variant/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.variant/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.variant/1.83.0.bcr.1/presubmit.yml
  modules/boost.variant/1.83.0.bcr.1/source.json
  modules/boost.variant/metadata.json
Labels: skip-url-stability-check

#3139 add xsimd@8.1.0
  modules/xsimd/8.1.0/MODULE.bazel
  modules/xsimd/8.1.0/patches/add_build_file.patch
  modules/xsimd/8.1.0/patches/module_dot_bazel.patch
  modules/xsimd/8.1.0/presubmit.yml
  modules/xsimd/8.1.0/source.json
  modules/xsimd/metadata.json
Labels: skip-url-stability-check

#3136 Add rules_cpan@1.1.0
  modules/rules_cpan/1.1.0/MODULE.bazel
  modules/rules_cpan/1.1.0/presubmit.yml
  modules/rules_cpan/1.1.0/source.json
  modules/rules_cpan/metadata.json
Labels: presubmit-auto-run

#3144 simde@0.8.2
  modules/simde/0.8.2/MODULE.bazel
  modules/simde/0.8.2/overlay/BUILD.bazel
  modules/simde/0.8.2/overlay/MODULE.bazel
  modules/simde/0.8.2/presubmit.yml
  modules/simde/0.8.2/source.json
  modules/simde/metadata.json
Labels: presubmit-auto-run

#3142 Fix empty glob in boost.thread
  modules/boost.thread/1.83.0.bcr.1/MODULE.bazel
  modules/boost.thread/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.thread/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.thread/1.83.0.bcr.1/overlay/test/BUILD.bazel
  modules/boost.thread/1.83.0.bcr.1/overlay/test/MODULE.bazel
  modules/boost.thread/1.83.0.bcr.1/patches/fix_assert.patch
  modules/boost.thread/1.83.0.bcr.1/presubmit.yml
  modules/boost.thread/1.83.0.bcr.1/source.json
  modules/boost.thread/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3150 libxcrypt@4.4.36.bcr.1
  modules/libxcrypt/4.4.36.bcr.1/MODULE.bazel
  modules/libxcrypt/4.4.36.bcr.1/overlay/BUILD.bazel
  modules/libxcrypt/4.4.36.bcr.1/overlay/MODULE.bazel
  modules/libxcrypt/4.4.36.bcr.1/overlay/REPO.bazel
  modules/libxcrypt/4.4.36.bcr.1/overlay/config/BUILD.bazel
  modules/libxcrypt/4.4.36.bcr.1/overlay/config/amd64-linux.h
  modules/libxcrypt/4.4.36.bcr.1/overlay/config/amd64-macos.h
  modules/libxcrypt/4.4.36.bcr.1/overlay/config/arm64-linux.h
  modules/libxcrypt/4.4.36.bcr.1/overlay/config/arm64-macos.h
  modules/libxcrypt/4.4.36.bcr.1/overlay/crypt-hashes/BUILD.bazel
  modules/libxcrypt/4.4.36.bcr.1/overlay/crypt-hashes/all.h
  modules/libxcrypt/4.4.36.bcr.1/overlay/crypt-symbol-vers/BUILD.bazel
  modules/libxcrypt/4.4.36.bcr.1/overlay/crypt-symbol-vers/disable-obsolete-api.h
  modules/libxcrypt/4.4.36.bcr.1/overlay/lib/BUILD.bazel
  modules/libxcrypt/4.4.36.bcr.1/overlay/test/BUILD.bazel
  modules/libxcrypt/4.4.36.bcr.1/overlay/test/bazel.py
  modules/libxcrypt/4.4.36.bcr.1/overlay/test/cc_test.bzl
  modules/libxcrypt/4.4.36.bcr.1/patches/avoid_crypt_h_import.patch
  modules/libxcrypt/4.4.36.bcr.1/presubmit.yml
  modules/libxcrypt/4.4.36.bcr.1/source.json
  modules/libxcrypt/metadata.json
Labels: presubmit-auto-run

#3155 feat: update boost.geometry
  modules/boost.any/1.83.0.bcr.1/MODULE.bazel
  modules/boost.any/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.any/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.any/1.83.0.bcr.1/presubmit.yml
  modules/boost.any/1.83.0.bcr.1/source.json
  modules/boost.any/metadata.json
  modules/boost.endian/1.83.0.bcr.1/MODULE.bazel
  modules/boost.endian/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.endian/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.endian/1.83.0.bcr.1/presubmit.yml
  modules/boost.endian/1.83.0.bcr.1/source.json
  modules/boost.endian/metadata.json
  modules/boost.multiprecision/1.83.0.bcr.1/MODULE.bazel
  modules/boost.multiprecision/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.multiprecision/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.multiprecision/1.83.0.bcr.1/presubmit.yml
  modules/boost.multiprecision/1.83.0.bcr.1/source.json
  modules/boost.multiprecision/metadata.json
  modules/boost.phoenix/1.83.0.bcr.1/MODULE.bazel
  modules/boost.phoenix/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.phoenix/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.phoenix/1.83.0.bcr.1/presubmit.yml
  modules/boost.phoenix/1.83.0.bcr.1/source.json
  modules/boost.phoenix/metadata.json
  modules/boost.polygon/1.83.0.bcr.1/MODULE.bazel
  modules/boost.polygon/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.polygon/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.polygon/1.83.0.bcr.1/presubmit.yml
  modules/boost.polygon/1.83.0.bcr.1/source.json
  modules/boost.polygon/metadata.json
  modules/boost.proto/1.83.0.bcr.1/MODULE.bazel
  modules/boost.proto/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.proto/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.proto/1.83.0.bcr.1/presubmit.yml
  modules/boost.proto/1.83.0.bcr.1/source.json
  modules/boost.proto/metadata.json
  modules/boost.qvm/1.83.0.bcr.1/MODULE.bazel
  modules/boost.qvm/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.qvm/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.qvm/1.83.0.bcr.1/presubmit.yml
  modules/boost.qvm/1.83.0.bcr.1/source.json
  modules/boost.qvm/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3149 openssh@9.9p1.bcr.1
  modules/openssh/9.9p1.bcr.1/MODULE.bazel
  modules/openssh/9.9p1.bcr.1/overlay/BUILD.bazel
  modules/openssh/9.9p1.bcr.1/overlay/MODULE.bazel
  modules/openssh/9.9p1.bcr.1/overlay/REPO.bazel
  modules/openssh/9.9p1.bcr.1/overlay/config/BUILD.bazel
  modules/openssh/9.9p1.bcr.1/overlay/config/amd64-linux.h
  modules/openssh/9.9p1.bcr.1/overlay/config/amd64-macos.h
  modules/openssh/9.9p1.bcr.1/overlay/config/arm64-linux.h
  modules/openssh/9.9p1.bcr.1/overlay/config/arm64-macos.h
  modules/openssh/9.9p1.bcr.1/patches/includes.patch
  modules/openssh/9.9p1.bcr.1/presubmit.yml
  modules/openssh/9.9p1.bcr.1/source.json
  modules/openssh/metadata.json
Labels: presubmit-auto-run

#3164 Update presubmit.yml for jsonnet 0.20.0
  modules/jsonnet/0.20.0/presubmit.yml
Labels: presubmit-auto-run, skip-url-stability-check

#3163 feat: update boost.geometry
  modules/boost.compatibility/1.83.0.bcr.1/MODULE.bazel
  modules/boost.compatibility/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.compatibility/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.compatibility/1.83.0.bcr.1/presubmit.yml
  modules/boost.compatibility/1.83.0.bcr.1/source.json
  modules/boost.compatibility/metadata.json
  modules/boost.geometry/1.83.0.bcr.1/MODULE.bazel
  modules/boost.geometry/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.geometry/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.geometry/1.83.0.bcr.1/presubmit.yml
  modules/boost.geometry/1.83.0.bcr.1/source.json
  modules/boost.geometry/metadata.json
  modules/boost.serialization/1.83.0.bcr.1/MODULE.bazel
  modules/boost.serialization/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.serialization/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.serialization/1.83.0.bcr.1/overlay/test/BUILD.bazel
  modules/boost.serialization/1.83.0.bcr.1/overlay/test/MODULE.bazel
  modules/boost.serialization/1.83.0.bcr.1/presubmit.yml
  modules/boost.serialization/1.83.0.bcr.1/source.json
  modules/boost.serialization/metadata.json
  modules/boost.spirit/1.83.0.bcr.1/MODULE.bazel
  modules/boost.spirit/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.spirit/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.spirit/1.83.0.bcr.1/overlay/test/BUILD.bazel
  modules/boost.spirit/1.83.0.bcr.1/overlay/test/MODULE.bazel
  modules/boost.spirit/1.83.0.bcr.1/presubmit.yml
  modules/boost.spirit/1.83.0.bcr.1/source.json
  modules/boost.spirit/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3175 Adding jwt-cpp module.
  modules/jwt-cpp/0.7.0/MODULE.bazel
  modules/jwt-cpp/0.7.0/patches/add-build.patch
  modules/jwt-cpp/0.7.0/patches/add-example-build.patch
  modules/jwt-cpp/0.7.0/patches/add-include-jwt_cpp-build.patch
  modules/jwt-cpp/0.7.0/patches/add-include-jwt_cpp-traits-nlohmann_json-build.patch
  modules/jwt-cpp/0.7.0/patches/add-module_dot_bazel.patch
  modules/jwt-cpp/0.7.0/patches/example-rsa_create_dot_cpp.patch
  modules/jwt-cpp/0.7.0/patches/example-rsa_verify_dot_cpp.patch
  modules/jwt-cpp/0.7.0/patches/include-jwt_cpp-jwt_dot_h.patch
  modules/jwt-cpp/0.7.0/patches/include-jwt_cpp-traits-nlohmann_json-defaults_dot_h.patch
  modules/jwt-cpp/0.7.0/presubmit.yml
  modules/jwt-cpp/0.7.0/source.json
  modules/jwt-cpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3174 spdlog@1.15.0
  modules/spdlog/1.15.0/MODULE.bazel
  modules/spdlog/1.15.0/overlay/BUILD.bazel
  modules/spdlog/1.15.0/overlay/MODULE.bazel
  modules/spdlog/1.15.0/presubmit.yml
  modules/spdlog/1.15.0/source.json
  modules/spdlog/metadata.json
Labels: skip-url-stability-check

#3151 Add lcov@2.2
  modules/lcov/2.2/MODULE.bazel
  modules/lcov/2.2/overlay/BUILD
  modules/lcov/2.2/overlay/MODULE.bazel
  modules/lcov/2.2/overlay/cpanfile
  modules/lcov/2.2/overlay/cpanfile.snapshot
  modules/lcov/2.2/overlay/cpanfile.snapshot.lock.json
  modules/lcov/2.2/presubmit.yml
  modules/lcov/2.2/source.json
  modules/lcov/metadata.json
Labels: presubmit-auto-run

#3188 Adding jwt-cpp version 0.7.0.bcr.1
  modules/jwt-cpp/0.7.0.bcr.1/MODULE.bazel
  modules/jwt-cpp/0.7.0.bcr.1/patches/add-include-jwt_cpp-traits-nlohmann_json-build.patch
  modules/jwt-cpp/0.7.0.bcr.1/patches/add-module_dot_bazel.patch
  modules/jwt-cpp/0.7.0.bcr.1/presubmit.yml
  modules/jwt-cpp/0.7.0.bcr.1/source.json
  modules/jwt-cpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2866 rules_proto_grpc@5.0.1
  modules/rules_proto_grpc/5.0.1/MODULE.bazel
  modules/rules_proto_grpc/5.0.1/presubmit.yml
  modules/rules_proto_grpc/5.0.1/source.json
  modules/rules_proto_grpc/metadata.json
  modules/rules_proto_grpc_buf/5.0.1/MODULE.bazel
  modules/rules_proto_grpc_buf/5.0.1/presubmit.yml
  modules/rules_proto_grpc_buf/5.0.1/source.json
  modules/rules_proto_grpc_buf/metadata.json
  modules/rules_proto_grpc_c/5.0.1/MODULE.bazel
  modules/rules_proto_grpc_c/5.0.1/presubmit.yml
  modules/rules_proto_grpc_c/5.0.1/source.json
  modules/rules_proto_grpc_c/metadata.json
  modules/rules_proto_grpc_cpp/5.0.1/MODULE.bazel
  modules/rules_proto_grpc_cpp/5.0.1/presubmit.yml
  modules/rules_proto_grpc_cpp/5.0.1/source.json
  modules/rules_proto_grpc_cpp/metadata.json
  modules/rules_proto_grpc_doc/5.0.1/MODULE.bazel
  modules/rules_proto_grpc_doc/5.0.1/presubmit.yml
  modules/rules_proto_grpc_doc/5.0.1/source.json
  modules/rules_proto_grpc_doc/metadata.json
  modules/rules_proto_grpc_go/5.0.1/MODULE.bazel
  modules/rules_proto_grpc_go/5.0.1/presubmit.yml
  modules/rules_proto_grpc_go/5.0.1/source.json
  modules/rules_proto_grpc_go/metadata.json
  modules/rules_proto_grpc_grpc_gateway/5.0.1/MODULE.bazel
  modules/rules_proto_grpc_grpc_gateway/5.0.1/presubmit.yml
  modules/rules_proto_grpc_grpc_gateway/5.0.1/source.json
  modules/rules_proto_grpc_grpc_gateway/metadata.json
  modules/rules_proto_grpc_java/5.0.1/MODULE.bazel
  modules/rules_proto_grpc_java/5.0.1/presubmit.yml
  modules/rules_proto_grpc_java/5.0.1/source.json
  modules/rules_proto_grpc_java/metadata.json
  modules/rules_proto_grpc_objc/5.0.1/MODULE.bazel
  modules/rules_proto_grpc_objc/5.0.1/presubmit.yml
  modules/rules_proto_grpc_objc/5.0.1/source.json
  modules/rules_proto_grpc_objc/metadata.json
  modules/rules_proto_grpc_python/5.0.1/MODULE.bazel
  modules/rules_proto_grpc_python/5.0.1/presubmit.yml
  modules/rules_proto_grpc_python/5.0.1/source.json
  modules/rules_proto_grpc_python/metadata.json
Labels: presubmit-auto-run

#3172 Add gazebosim/sdformat and its dependencies to BCR
  modules/gz-math/8.1.0/MODULE.bazel
  modules/gz-math/8.1.0/patches/module_dot_bazel.patch
  modules/gz-math/8.1.0/presubmit.yml
  modules/gz-math/8.1.0/source.json
  modules/gz-math/metadata.json
  modules/gz-utils/3.1.0/MODULE.bazel
  modules/gz-utils/3.1.0/patches/module_dot_bazel.patch
  modules/gz-utils/3.1.0/presubmit.yml
  modules/gz-utils/3.1.0/source.json
  modules/gz-utils/metadata.json
  modules/sdformat/15.1.1/MODULE.bazel
  modules/sdformat/15.1.1/patches/module_dot_bazel.patch
  modules/sdformat/15.1.1/presubmit.yml
  modules/sdformat/15.1.1/source.json
  modules/sdformat/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3199 spdlog@1.15.0.bcr.1: Exclude bundled fmtlib
  modules/spdlog/1.15.0.bcr.1/MODULE.bazel
  modules/spdlog/1.15.0.bcr.1/overlay/BUILD.bazel
  modules/spdlog/1.15.0.bcr.1/overlay/MODULE.bazel
  modules/spdlog/1.15.0.bcr.1/presubmit.yml
  modules/spdlog/1.15.0.bcr.1/source.json
  modules/spdlog/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3200 openexr@3.3.1
  modules/openexr/3.3.1/MODULE.bazel
  modules/openexr/3.3.1/patches/module_dot_bazel.patch
  modules/openexr/3.3.1/presubmit.yml
  modules/openexr/3.3.1/source.json
  modules/openexr/metadata.json
Labels: presubmit-auto-run

#3219 Add boost.coroutine@1.83.0.bcr.2, which includes the library's cpp sources.
  modules/boost.coroutine/1.83.0.bcr.2/MODULE.bazel
  modules/boost.coroutine/1.83.0.bcr.2/overlay/BUILD.bazel
  modules/boost.coroutine/1.83.0.bcr.2/overlay/MODULE.bazel
  modules/boost.coroutine/1.83.0.bcr.2/presubmit.yml
  modules/boost.coroutine/1.83.0.bcr.2/source.json
  modules/boost.coroutine/metadata.json
Labels: skip-url-stability-check

#3196 fix: add patch for abseil on jetson platform
  modules/abseil-cpp/20240722.0.bcr.1/MODULE.bazel
  modules/abseil-cpp/20240722.0.bcr.1/overlay/MODULE.bazel
  modules/abseil-cpp/20240722.0.bcr.1/patches/jetson.patch
  modules/abseil-cpp/20240722.0.bcr.1/presubmit.yml
  modules/abseil-cpp/20240722.0.bcr.1/source.json
  modules/abseil-cpp/metadata.json
Labels: skip-url-stability-check

#3228 feat: update livox sdk2
  modules/livox_sdk2/1.2.5.bcr.1/MODULE.bazel
  modules/livox_sdk2/1.2.5.bcr.1/overlay/BUILD.bazel
  modules/livox_sdk2/1.2.5.bcr.1/overlay/MODULE.bazel
  modules/livox_sdk2/1.2.5.bcr.1/patches/gcc13_compat.patch
  modules/livox_sdk2/1.2.5.bcr.1/presubmit.yml
  modules/livox_sdk2/1.2.5.bcr.1/source.json
  modules/livox_sdk2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3229 Add bazel module for Universal_Robots_Client_Library version 1.4.0
  modules/universal-robots-client-library/1.4.0/MODULE.bazel
  modules/universal-robots-client-library/1.4.0/patches/add_build_file.patch
  modules/universal-robots-client-library/1.4.0/patches/add_module_file.patch
  modules/universal-robots-client-library/1.4.0/presubmit.yml
  modules/universal-robots-client-library/1.4.0/source.json
  modules/universal-robots-client-library/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3225 feat: libarchive 3.7.5.bcr1 for windows compression filter fixes
  modules/libarchive/3.7.5.bcr.1/MODULE.bazel
  modules/libarchive/3.7.5.bcr.1/overlay/.bazelrc
  modules/libarchive/3.7.5.bcr.1/overlay/BUILD.bazel
  modules/libarchive/3.7.5.bcr.1/overlay/MODULE.bazel
  modules/libarchive/3.7.5.bcr.1/overlay/bazel/BUILD.bazel
  modules/libarchive/3.7.5.bcr.1/overlay/bazel/config.bzl
  modules/libarchive/3.7.5.bcr.1/overlay/bazel/libarchive_test.bzl
  modules/libarchive/3.7.5.bcr.1/overlay/cat/BUILD.bazel
  modules/libarchive/3.7.5.bcr.1/overlay/cpio/BUILD.bazel
  modules/libarchive/3.7.5.bcr.1/overlay/libarchive/BUILD.bazel
  modules/libarchive/3.7.5.bcr.1/overlay/libarchive/test/BUILD.bazel
  modules/libarchive/3.7.5.bcr.1/overlay/libarchive_bazel_generic_config.h
  modules/libarchive/3.7.5.bcr.1/overlay/libarchive_bazel_windows_config.h
  modules/libarchive/3.7.5.bcr.1/overlay/libarchive_fe/BUILD.bazel
  modules/libarchive/3.7.5.bcr.1/overlay/tar/BUILD.bazel
  modules/libarchive/3.7.5.bcr.1/overlay/test_utils/BUILD.bazel
  modules/libarchive/3.7.5.bcr.1/overlay/unzip/BUILD.bazel
  modules/libarchive/3.7.5.bcr.1/patches/archive_hmac_private.h.patch
  modules/libarchive/3.7.5.bcr.1/patches/patch_bsdtar.patch
  modules/libarchive/3.7.5.bcr.1/patches/test_common.h.patch
  modules/libarchive/3.7.5.bcr.1/presubmit.yml
  modules/libarchive/3.7.5.bcr.1/source.json
  modules/libarchive/metadata.json
Labels: presubmit-auto-run

#3235 Add default visibility public for universal_robots_client_library.
  modules/universal-robots-client-library/1.4.0.bcr.1/MODULE.bazel
  modules/universal-robots-client-library/1.4.0.bcr.1/patches/add_build_file.patch
  modules/universal-robots-client-library/1.4.0.bcr.1/patches/add_module_file.patch
  modules/universal-robots-client-library/1.4.0.bcr.1/presubmit.yml
  modules/universal-robots-client-library/1.4.0.bcr.1/source.json
  modules/universal-robots-client-library/metadata.json
Labels: skip-url-stability-check

#3251 Add eigen version from main.
  modules/eigen/4.0.0-20241125/MODULE.bazel
  modules/eigen/4.0.0-20241125/patches/add_build_file.patch
  modules/eigen/4.0.0-20241125/patches/module_dot_bazel.patch
  modules/eigen/4.0.0-20241125/presubmit.yml
  modules/eigen/4.0.0-20241125/source.json
  modules/eigen/metadata.json
Labels: presubmit-auto-run

#3245 Add opentelemetry-proto 1.4.0
  modules/opentelemetry-proto/1.4.0/MODULE.bazel
  modules/opentelemetry-proto/1.4.0/patches/0001-Add-MODULE.bazel.patch
  modules/opentelemetry-proto/1.4.0/presubmit.yml
  modules/opentelemetry-proto/1.4.0/source.json
  modules/opentelemetry-proto/metadata.json
Labels: skip-url-stability-check

#3240 add highs@1.8.1
  modules/highs/1.8.1/MODULE.bazel
  modules/highs/1.8.1/presubmit.yml
  modules/highs/1.8.1/source.json
  modules/highs/metadata.json
Labels: skip-url-stability-check

#3203 libjpeg_turbo@2.1.4
  modules/libjpeg_turbo/2.1.4/MODULE.bazel
  modules/libjpeg_turbo/2.1.4/patches/add_build_file.patch
  modules/libjpeg_turbo/2.1.4/patches/add_module_dot_bazel.patch
  modules/libjpeg_turbo/2.1.4/presubmit.yml
  modules/libjpeg_turbo/2.1.4/source.json
  modules/libjpeg_turbo/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3238 reproc@14.2.5
  modules/reproc/14.2.5/MODULE.bazel
  modules/reproc/14.2.5/overlay/BUILD.bazel
  modules/reproc/14.2.5/overlay/MODULE.bazel
  modules/reproc/14.2.5/presubmit.yml
  modules/reproc/14.2.5/source.json
  modules/reproc/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3270 Bazel 8 compatibility for `rules_{gzip,bzip2,xz,zstd,curl,squashfs,diff}`, `ape` and `download_utils`
  modules/ape/1.0.0-beta.16/MODULE.bazel
  modules/ape/1.0.0-beta.16/presubmit.yml
  modules/ape/1.0.0-beta.16/source.json
  modules/ape/metadata.json
  modules/download_utils/1.0.0-beta.5/MODULE.bazel
  modules/download_utils/1.0.0-beta.5/presubmit.yml
  modules/download_utils/1.0.0-beta.5/source.json
  modules/download_utils/metadata.json
  modules/rules_bzip2/1.0.0-beta.6/MODULE.bazel
  modules/rules_bzip2/1.0.0-beta.6/presubmit.yml
  modules/rules_bzip2/1.0.0-beta.6/source.json
  modules/rules_bzip2/metadata.json
  modules/rules_curl/1.0.0-alpha.13/MODULE.bazel
  modules/rules_curl/1.0.0-alpha.13/presubmit.yml
  modules/rules_curl/1.0.0-alpha.13/source.json
  modules/rules_curl/metadata.json
  modules/rules_diff/1.0.0-beta.6/MODULE.bazel
  modules/rules_diff/1.0.0-beta.6/presubmit.yml
  modules/rules_diff/1.0.0-beta.6/source.json
  modules/rules_diff/metadata.json
  modules/rules_gzip/1.0.0-beta.6/MODULE.bazel
  modules/rules_gzip/1.0.0-beta.6/presubmit.yml
  modules/rules_gzip/1.0.0-beta.6/source.json
  modules/rules_gzip/metadata.json
  modules/rules_squashfs/1.0.0-alpha.4/MODULE.bazel
  modules/rules_squashfs/1.0.0-alpha.4/presubmit.yml
  modules/rules_squashfs/1.0.0-alpha.4/source.json
  modules/rules_squashfs/metadata.json
  modules/rules_tar/1.0.0-beta.5/MODULE.bazel
  modules/rules_tar/1.0.0-beta.5/presubmit.yml
  modules/rules_tar/1.0.0-beta.5/source.json
  modules/rules_tar/metadata.json
  modules/rules_xz/1.0.0-beta.6/MODULE.bazel
  modules/rules_xz/1.0.0-beta.6/presubmit.yml
  modules/rules_xz/1.0.0-beta.6/source.json
  modules/rules_xz/metadata.json
  modules/rules_zstd/1.0.0-beta.7/MODULE.bazel
  modules/rules_zstd/1.0.0-beta.7/presubmit.yml
  modules/rules_zstd/1.0.0-beta.7/source.json
  modules/rules_zstd/metadata.json
Labels: presubmit-auto-run

#3224 add cereal@1.3.2
  modules/cereal/1.3.2/MODULE.bazel
  modules/cereal/1.3.2/overlay/BUILD
  modules/cereal/1.3.2/overlay/MODULE.bazel
  modules/cereal/1.3.2/presubmit.yml
  modules/cereal/1.3.2/source.json
  modules/cereal/metadata.json
Labels: skip-url-stability-check

#3226 add cutlass@3.5.1
  modules/cutlass/3.5.1/MODULE.bazel
  modules/cutlass/3.5.1/patches/add_build_file.patch
  modules/cutlass/3.5.1/patches/module_dot_bazel.patch
  modules/cutlass/3.5.1/presubmit.yml
  modules/cutlass/3.5.1/source.json
  modules/cutlass/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check
