Repository bazelbuild/bazel-central-registry, pull requests merged in 2024-03, with the labels that each got.

#1569 Add SwiftSyntax 510.0.0
  modules/swift-syntax/510.0.0/MODULE.bazel
  modules/swift-syntax/510.0.0/patches/module_dot_bazel.patch
  modules/swift-syntax/510.0.0/presubmit.yml
  modules/swift-syntax/510.0.0/source.json
  modules/swift-syntax/metadata.json
Labels: skip-url-stability-check

#1581 add zlib@1.3.1.bcr.1 module
  modules/zlib/1.3.1.bcr.1/MODULE.bazel
  modules/zlib/1.3.1.bcr.1/patches/add_build_file.patch
  modules/zlib/1.3.1.bcr.1/patches/add_module_file.patch
  modules/zlib/1.3.1.bcr.1/presubmit.yml
  modules/zlib/1.3.1.bcr.1/source.json
  modules/zlib/metadata.json
Labels: presubmit-auto-run

#1588 Add Catch2 3.5.3
  modules/catch2/3.5.3/MODULE.bazel
  modules/catch2/3.5.3/patches/module_dot_bazel.patch
  modules/catch2/3.5.3/presubmit.yml
  modules/catch2/3.5.3/source.json
  modules/catch2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1589 Add tinyformat 2.3.0
  modules/tinyformat/2.3.0/MODULE.bazel
  modules/tinyformat/2.3.0/patches/add_build_file.patch
  modules/tinyformat/2.3.0/patches/module_dot_bazel.patch
  modules/tinyformat/2.3.0/presubmit.yml
  modules/tinyformat/2.3.0/source.json
  modules/tinyformat/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1591 Add OpenEXR 3.2.3
  modules/openexr/3.2.3/MODULE.bazel
  modules/openexr/3.2.3/patches/module_dot_bazel.patch
  modules/openexr/3.2.3/presubmit.yml
  modules/openexr/3.2.3/source.json
  modules/openexr/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1636 opentracing-cpp@1.6.0
  modules/io_opentracing_cpp/1.6.0/MODULE.bazel
  modules/io_opentracing_cpp/1.6.0/patches/module_dot_bazel.patch
  modules/io_opentracing_cpp/1.6.0/presubmit.yml
  modules/io_opentracing_cpp/1.6.0/source.json
  modules/io_opentracing_cpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1637 prometheus-cpp@1.2.4
  modules/prometheus-cpp/1.2.4/MODULE.bazel
  modules/prometheus-cpp/1.2.4/presubmit.yml
  modules/prometheus-cpp/1.2.4/source.json
  modules/prometheus-cpp/metadata.json
Labels: presubmit-auto-run

#1576 XZ updates for linux arm support
  modules/xz/5.4.5.bcr.1/MODULE.bazel
  modules/xz/5.4.5.bcr.1/patches/patch.diff
  modules/xz/5.4.5.bcr.1/presubmit.yml
  modules/xz/5.4.5.bcr.1/source.json
  modules/xz/metadata.json
Labels: presubmit-auto-run

#1646 tclap@1.2.5
  modules/tclap/1.2.5/MODULE.bazel
  modules/tclap/1.2.5/patches/add_build_file.patch
  modules/tclap/1.2.5/patches/module_dot_bazel.patch
  modules/tclap/1.2.5/presubmit.yml
  modules/tclap/1.2.5/source.json
  modules/tclap/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1660 Add new version of upb
  modules/upb/0.0.0-20230907-e7430e6/MODULE.bazel
  modules/upb/0.0.0-20230907-e7430e6/patches/0001-Add-MODULE.bazel.patch
  modules/upb/0.0.0-20230907-e7430e6/patches/0002-Add-utf8_range-dependency.patch
  modules/upb/0.0.0-20230907-e7430e6/patches/0003-Add-textformat-alias.patch
  modules/upb/0.0.0-20230907-e7430e6/presubmit.yml
  modules/upb/0.0.0-20230907-e7430e6/source.json
  modules/upb/metadata.json
Labels: skip-url-stability-check

#1674 jsoncpp@1.9.5
  modules/jsoncpp/1.9.5/MODULE.bazel
  modules/jsoncpp/1.9.5/patches/build_dot_bazel.patch
  modules/jsoncpp/1.9.5/patches/module_dot_bazel.patch
  modules/jsoncpp/1.9.5/presubmit.yml
  modules/jsoncpp/1.9.5/source.json
  modules/jsoncpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1672 emboss@2024.0304.184309
  modules/emboss/2024.0304.184309/MODULE.bazel
  modules/emboss/2024.0304.184309/patches/module_dot_bazel.patch
  modules/emboss/2024.0304.184309/presubmit.yml
  modules/emboss/2024.0304.184309/source.json
  modules/emboss/metadata.json
Labels: presubmit-auto-run

#1641 cel-spec@0.14.0
  modules/cel-spec/0.14.0/MODULE.bazel
  modules/cel-spec/0.14.0/patches/extensions_dot_bzl.patch
  modules/cel-spec/0.14.0/patches/googleapis_ext_dot_blz.patch
  modules/cel-spec/0.14.0/patches/module_dot_bazel.patch
  modules/cel-spec/0.14.0/presubmit.yml
  modules/cel-spec/0.14.0/source.json
  modules/cel-spec/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1678 hdrhistogram_c@0.11.2
  modules/hdrhistogram_c/0.11.2/MODULE.bazel
  modules/hdrhistogram_c/0.11.2/patches/add_build_file.patch
  modules/hdrhistogram_c/0.11.2/patches/module_dot_bazel.patch
  modules/hdrhistogram_c/0.11.2/presubmit.yml
  modules/hdrhistogram_c/0.11.2/source.json
  modules/hdrhistogram_c/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1687 Add opentelemetry-proto
  modules/opentelemetry-proto/1.1.0/MODULE.bazel
  modules/opentelemetry-proto/1.1.0/patches/0001-Add-MODULE.bazel.patch
  modules/opentelemetry-proto/1.1.0/presubmit.yml
  modules/opentelemetry-proto/1.1.0/source.json
  modules/opentelemetry-proto/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1670 Add opentelemetry-cpp
  modules/opentelemetry-cpp/1.14.2/MODULE.bazel
  modules/opentelemetry-cpp/1.14.2/patches/0001-Add-MODULE.bazel.patch
  modules/opentelemetry-cpp/1.14.2/presubmit.yml
  modules/opentelemetry-cpp/1.14.2/source.json
  modules/opentelemetry-cpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1639 msgpack-c@6.1.0
  modules/msgpack-c/6.1.0/MODULE.bazel
  modules/msgpack-c/6.1.0/patches/add_build_file.patch
  modules/msgpack-c/6.1.0/patches/module_dot_bazel.patch
  modules/msgpack-c/6.1.0/presubmit.yml
  modules/msgpack-c/6.1.0/source.json
  modules/msgpack-c/metadata.json
Labels: presubmit-auto-run

#1673 s2geometry@0.10.0
  modules/s2geometry/0.10.0/MODULE.bazel
  modules/s2geometry/0.10.0/patches/add_build_file.patch
  modules/s2geometry/0.10.0/patches/module_dot_bazel.patch
  modules/s2geometry/0.10.0/presubmit.yml
  modules/s2geometry/0.10.0/source.json
  modules/s2geometry/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1671 skywalking-data-collect-protocol@9.7.0
  modules/skywalking-data-collect-protocol/9.7.0/MODULE.bazel
  modules/skywalking-data-collect-protocol/9.7.0/patches/build_dot_bzl.patch
  modules/skywalking-data-collect-protocol/9.7.0/patches/module_dot_bazel.patch
  modules/skywalking-data-collect-protocol/9.7.0/presubmit.yml
  modules/skywalking-data-collect-protocol/9.7.0/source.json
  modules/skywalking-data-collect-protocol/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1668 feat(download_utils): add `1.0.0-beta.2`
  modules/download_utils/1.0.0-beta.2/MODULE.bazel
  modules/download_utils/1.0.0-beta.2/presubmit.yml
  modules/download_utils/1.0.0-beta.2/source.json
  modules/download_utils/metadata.json
Labels: presubmit-auto-run

#1699 Add googleapis and grpc-java
  modules/googleapis/0.0.0-20240326-1c8d509c5/MODULE.bazel
  modules/googleapis/0.0.0-20240326-1c8d509c5/patches/add_module_bazel.patch
  modules/googleapis/0.0.0-20240326-1c8d509c5/presubmit.yml
  modules/googleapis/0.0.0-20240326-1c8d509c5/source.json
  modules/googleapis/metadata.json
  modules/grpc-java/1.62.2/MODULE.bazel
  modules/grpc-java/1.62.2/patches/add_module_bazel.patch
  modules/grpc-java/1.62.2/patches/maven_lockfile.patch
  modules/grpc-java/1.62.2/patches/update_labels.patch
  modules/grpc-java/1.62.2/presubmit.yml
  modules/grpc-java/1.62.2/source.json
  modules/grpc-java/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1662 Add libarchive@3.7.2
  modules/libarchive/3.7.2/MODULE.bazel
  modules/libarchive/3.7.2/patches/build_with_bazel.patch
  modules/libarchive/3.7.2/presubmit.yml
  modules/libarchive/3.7.2/source.json
  modules/libarchive/metadata.json
Labels: presubmit-auto-run

#1703 Add copybara
  modules/copybara/0.0.0-20240326-6485af6/MODULE.bazel
  modules/copybara/0.0.0-20240326-6485af6/patches/add_module_bazel.patch
  modules/copybara/0.0.0-20240326-6485af6/patches/update_labels.patch
  modules/copybara/0.0.0-20240326-6485af6/patches/update_repos.patch
  modules/copybara/0.0.0-20240326-6485af6/presubmit.yml
  modules/copybara/0.0.0-20240326-6485af6/source.json
  modules/copybara/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1710 Libarchive@3.7.2.bcr.1
  modules/libarchive/3.7.2.bcr.1/MODULE.bazel
  modules/libarchive/3.7.2.bcr.1/patches/build_with_bazel.patch
  modules/libarchive/3.7.2.bcr.1/patches/fix_bzip2_includes.patch
  modules/libarchive/3.7.2.bcr.1/presubmit.yml
  modules/libarchive/3.7.2.bcr.1/source.json
  modules/libarchive/metadata.json
Labels: presubmit-auto-run
