Repository bazelbuild/bazel-central-registry, pull requests merged in 2024-04, with the labels that each got.

#1729 Add rules_jsonnet
  modules/rules_jsonnet/0.5.0/MODULE.bazel
  modules/rules_jsonnet/0.5.0/patches/add_examples_module_dot_bazel.patch
  modules/rules_jsonnet/0.5.0/patches/add_module_dot_bazel.patch
  modules/rules_jsonnet/0.5.0/presubmit.yml
  modules/rules_jsonnet/0.5.0/source.json
  modules/rules_jsonnet/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1714 Nanoflann 1.5.5
  modules/nanoflann/1.5.5/MODULE.bazel
  modules/nanoflann/1.5.5/patches/add_build_file.patch
  modules/nanoflann/1.5.5/patches/module_dot_bazel.patch
  modules/nanoflann/1.5.5/presubmit.yml
  modules/nanoflann/1.5.5/source.json
  modules/nanoflann/metadata.json
Labels: skip-url-stability-check

#1712 Add openexr 3.2.4
  modules/openexr/3.2.4/MODULE.bazel
  modules/openexr/3.2.4/patches/module_dot_bazel.patch
  modules/openexr/3.2.4/presubmit.yml
  modules/openexr/3.2.4/source.json
  modules/openexr/metadata.json
Labels: skip-url-stability-check

#1733 crc32c@1.1.0
  modules/crc32c/1.1.0/MODULE.bazel
  modules/crc32c/1.1.0/patches/add_build_file.patch
  modules/crc32c/1.1.0/patches/module_dot_bazel.patch
  modules/crc32c/1.1.0/presubmit.yml
  modules/crc32c/1.1.0/source.json
  modules/crc32c/metadata.json
Labels: skip-url-stability-check

#1732 snappy@1.1.8
  modules/snappy/1.1.8/MODULE.bazel
  modules/snappy/1.1.8/patches/add_build_file.patch
  modules/snappy/1.1.8/patches/module_dot_bazel.patch
  modules/snappy/1.1.8/presubmit.yml
  modules/snappy/1.1.8/source.json
  modules/snappy/metadata.json
Labels: skip-url-stability-check

#1748 Add pcre2
  modules/pcre2/10.43/MODULE.bazel
  modules/pcre2/10.43/patches/module_dot_bazel.patch
  modules/pcre2/10.43/presubmit.yml
  modules/pcre2/10.43/source.json
  modules/pcre2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1685 feat(toolchain_utils): add `1.0.0-beta.4`
  modules/toolchain_utils/1.0.0-beta.4/MODULE.bazel
  modules/toolchain_utils/1.0.0-beta.4/presubmit.yml
  modules/toolchain_utils/1.0.0-beta.4/source.json
  modules/toolchain_utils/metadata.json
Labels: presubmit-auto-run

#1751 feat(rules_coreutils): add `1.0.0-alpha.8`
  modules/rules_coreutils/1.0.0-alpha.8/MODULE.bazel
  modules/rules_coreutils/1.0.0-alpha.8/presubmit.yml
  modules/rules_coreutils/1.0.0-alpha.8/source.json
  modules/rules_coreutils/metadata.json
Labels: presubmit-auto-run

#1749 Add swig
  modules/swig/4.2.0/MODULE.bazel
  modules/swig/4.2.0/patches/add_build.patch
  modules/swig/4.2.0/patches/configure.patch
  modules/swig/4.2.0/patches/module_dot_bazel.patch
  modules/swig/4.2.0/presubmit.yml
  modules/swig/4.2.0/source.json
  modules/swig/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1760 Add mbedtls
  modules/mbedtls/3.6.0/MODULE.bazel
  modules/mbedtls/3.6.0/patches/add_build.patch
  modules/mbedtls/3.6.0/patches/module_dot_bazel.patch
  modules/mbedtls/3.6.0/presubmit.yml
  modules/mbedtls/3.6.0/source.json
  modules/mbedtls/metadata.json
Labels: presubmit-auto-run

#1764 Add SwiftSyntax 600.0.0-prerelease-2024-04-02
  modules/swift-syntax/600.0.0-prerelease-2024-04-02/MODULE.bazel
  modules/swift-syntax/600.0.0-prerelease-2024-04-02/patches/module_dot_bazel.patch
  modules/swift-syntax/600.0.0-prerelease-2024-04-02/presubmit.yml
  modules/swift-syntax/600.0.0-prerelease-2024-04-02/source.json
  modules/swift-syntax/metadata.json
Labels: skip-url-stability-check

#1759 Add lua
  modules/lua/5.4.6/MODULE.bazel
  modules/lua/5.4.6/patches/add_build.patch
  modules/lua/5.4.6/patches/module_dot_bazel.patch
  modules/lua/5.4.6/presubmit.yml
  modules/lua/5.4.6/source.json
  modules/lua/metadata.json
Labels: presubmit-auto-run

#1640 flatbuffers@24.3.7
  modules/flatbuffers/24.3.7/MODULE.bazel
  modules/flatbuffers/24.3.7/patches/extensions_dot_bzl.patch
  modules/flatbuffers/24.3.7/patches/module_dot_bazel.patch
  modules/flatbuffers/24.3.7/presubmit.yml
  modules/flatbuffers/24.3.7/source.json
  modules/flatbuffers/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1657 opencensus-proto@0.4.1
  modules/opencensus-proto/0.4.1/MODULE.bazel
  modules/opencensus-proto/0.4.1/patches/build_dot_bazel.patch
  modules/opencensus-proto/0.4.1/patches/module_dot_bazel.patch
  modules/opencensus-proto/0.4.1/presubmit.yml
  modules/opencensus-proto/0.4.1/source.json
  modules/opencensus-proto/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1780 freetype@2.9
  modules/freetype/2.9/MODULE.bazel
  modules/freetype/2.9/patches/add_build_file.patch
  modules/freetype/2.9/patches/module_dot_bazel.patch
  modules/freetype/2.9/presubmit.yml
  modules/freetype/2.9/source.json
  modules/freetype/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1778 libcircllhist@0.3.2
  modules/libcircllhist/0.3.2/MODULE.bazel
  modules/libcircllhist/0.3.2/patches/add_build_file.patch
  modules/libcircllhist/0.3.2/patches/module_dot_bazel.patch
  modules/libcircllhist/0.3.2/presubmit.yml
  modules/libcircllhist/0.3.2/source.json
  modules/libcircllhist/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1784 Add nanobind_bazel repo @v1
  modules/nanobind_bazel/1.0.0/MODULE.bazel
  modules/nanobind_bazel/1.0.0/presubmit.yml
  modules/nanobind_bazel/1.0.0/source.json
  modules/nanobind_bazel/metadata.json
Labels: presubmit-auto-run

#1795 Add SwiftArgumentParser 1.3.1
  modules/swift_argument_parser/1.3.1/MODULE.bazel
  modules/swift_argument_parser/1.3.1/patches/add_build_file.patch
  modules/swift_argument_parser/1.3.1/patches/module_dot_bazel.patch
  modules/swift_argument_parser/1.3.1/presubmit.yml
  modules/swift_argument_parser/1.3.1/source.json
  modules/swift_argument_parser/metadata.json
Labels: skip-url-stability-check

#1801 Add argparse 3.0
  modules/argparse/3.0.0/MODULE.bazel
  modules/argparse/3.0.0/patches/add_build_file.patch
  modules/argparse/3.0.0/patches/module_dot_bazel.patch
  modules/argparse/3.0.0/presubmit.yml
  modules/argparse/3.0.0/source.json
  modules/argparse/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1761 Update curl with new configuration options
  modules/curl/8.4.0.bcr.1/MODULE.bazel
  modules/curl/8.4.0.bcr.1/patches/add_build_file.patch
  modules/curl/8.4.0.bcr.1/patches/module_dot_bazel.patch
  modules/curl/8.4.0.bcr.1/presubmit.yml
  modules/curl/8.4.0.bcr.1/source.json
  modules/curl/metadata.json
Labels: presubmit-auto-run

#1806 Add protobuf 26.0
  modules/protobuf/26.0/MODULE.bazel
  modules/protobuf/26.0/patches/0001-Add-MODULE.bazel.patch
  modules/protobuf/26.0/patches/0002-relative-labels.patch
  modules/protobuf/26.0/presubmit.yml
  modules/protobuf/26.0/source.json
  modules/protobuf/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1731 rules_fuzzing@0.5.1
  modules/rules_fuzzing/0.5.1/MODULE.bazel
  modules/rules_fuzzing/0.5.1/patches/module_dot_bazel.patch
  modules/rules_fuzzing/0.5.1/presubmit.yml
  modules/rules_fuzzing/0.5.1/source.json
  modules/rules_fuzzing/metadata.json
Labels: presubmit-auto-run

#1807 Add tcmalloc
  modules/tcmalloc/0.0.0-20240411-5ed309d/MODULE.bazel
  modules/tcmalloc/0.0.0-20240411-5ed309d/patches/0001-Add-MODULE.bazel.patch
  modules/tcmalloc/0.0.0-20240411-5ed309d/presubmit.yml
  modules/tcmalloc/0.0.0-20240411-5ed309d/source.json
  modules/tcmalloc/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1809 Fix protobuf release issue
  modules/protobuf/26.0.bcr.1/MODULE.bazel
  modules/protobuf/26.0.bcr.1/patches/0001-Add-MODULE.bazel.patch
  modules/protobuf/26.0.bcr.1/patches/0002-relative-labels.patch
  modules/protobuf/26.0.bcr.1/presubmit.yml
  modules/protobuf/26.0.bcr.1/source.json
  modules/protobuf/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1810 Add grpc 1.62.1
  modules/grpc/1.62.1/MODULE.bazel
  modules/grpc/1.62.1/patches/add_module_bazel.patch
  modules/grpc/1.62.1/patches/adopt_bzlmod.patch
  modules/grpc/1.62.1/presubmit.yml
  modules/grpc/1.62.1/source.json
  modules/grpc/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1814 Add onetbb 2021.12.0
  modules/onetbb/2021.12.0/MODULE.bazel
  modules/onetbb/2021.12.0/patches/module_dot_bazel.patch
  modules/onetbb/2021.12.0/presubmit.yml
  modules/onetbb/2021.12.0/source.json
  modules/onetbb/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1818 snappy@1.2.0
  modules/snappy/1.2.0/MODULE.bazel
  modules/snappy/1.2.0/patches/build_dot_bazel.patch
  modules/snappy/1.2.0/patches/module_dot_bazel.patch
  modules/snappy/1.2.0/presubmit.yml
  modules/snappy/1.2.0/source.json
  modules/snappy/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1819 antlr4-cpp-runtime@4.12.0
  modules/antlr4-cpp-runtime/4.12.0/MODULE.bazel
  modules/antlr4-cpp-runtime/4.12.0/patches/add_build_file.patch
  modules/antlr4-cpp-runtime/4.12.0/patches/module_dot_bazel.patch
  modules/antlr4-cpp-runtime/4.12.0/presubmit.yml
  modules/antlr4-cpp-runtime/4.12.0/source.json
  modules/antlr4-cpp-runtime/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1773 Fix c-blosc2
  modules/c-blosc2/2.12.0.bcr.2/MODULE.bazel
  modules/c-blosc2/2.12.0.bcr.2/patches/add_build_file.patch
  modules/c-blosc2/2.12.0.bcr.2/patches/add_module_dot_bazel.patch
  modules/c-blosc2/2.12.0.bcr.2/presubmit.yml
  modules/c-blosc2/2.12.0.bcr.2/source.json
  modules/c-blosc2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1817 highwayhash@0.0.0-20240305-5ad3bf8
  modules/highwayhash/0.0.0-20240305-5ad3bf8/MODULE.bazel
  modules/highwayhash/0.0.0-20240305-5ad3bf8/patches/add_build_file.patch
  modules/highwayhash/0.0.0-20240305-5ad3bf8/patches/module_dot_bazel.patch
  modules/highwayhash/0.0.0-20240305-5ad3bf8/presubmit.yml
  modules/highwayhash/0.0.0-20240305-5ad3bf8/source.json
  modules/highwayhash/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1811 Add Catch2 3.5.4
  modules/catch2/3.5.4/MODULE.bazel
  modules/catch2/3.5.4/patches/module_dot_bazel.patch
  modules/catch2/3.5.4/presubmit.yml
  modules/catch2/3.5.4/source.json
  modules/catch2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1830 Add blake3@1.5.1
  modules/blake3/1.5.1/MODULE.bazel
  modules/blake3/1.5.1/patches/add_build_file.patch
  modules/blake3/1.5.1/patches/module_dot_bazel.patch
  modules/blake3/1.5.1/presubmit.yml
  modules/blake3/1.5.1/source.json
  modules/blake3/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1831 Add blake3@1.5.1.bcr.1
  modules/blake3/1.5.1.bcr.1/MODULE.bazel
  modules/blake3/1.5.1.bcr.1/patches/add_build_file.patch
  modules/blake3/1.5.1.bcr.1/patches/fix_windows_arm_build_pr_389.patch
  modules/blake3/1.5.1.bcr.1/patches/module_dot_bazel.patch
  modules/blake3/1.5.1.bcr.1/presubmit.yml
  modules/blake3/1.5.1.bcr.1/source.json
  modules/blake3/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1834 riegeli@0.0.0-20231123-411cda7
  modules/riegeli/0.0.0-20231123-411cda7/MODULE.bazel
  modules/riegeli/0.0.0-20231123-411cda7/patches/build.patch
  modules/riegeli/0.0.0-20231123-411cda7/patches/dot_bazelrc.patch
  modules/riegeli/0.0.0-20231123-411cda7/patches/module_dot_bazel.patch
  modules/riegeli/0.0.0-20231123-411cda7/presubmit.yml
  modules/riegeli/0.0.0-20231123-411cda7/source.json
  modules/riegeli/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1711 Add libdeflate 1.20
  modules/libdeflate/1.20/MODULE.bazel
  modules/libdeflate/1.20/patches/add_build_file.patch
  modules/libdeflate/1.20/patches/module_dot_bazel.patch
  modules/libdeflate/1.20/presubmit.yml
  modules/libdeflate/1.20/source.json
  modules/libdeflate/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1849 Add libdefalte 1.20 with include fix
  modules/libdeflate/1.20.bcr.1/MODULE.bazel
  modules/libdeflate/1.20.bcr.1/patches/add_build_file.patch
  modules/libdeflate/1.20.bcr.1/patches/module_dot_bazel.patch
  modules/libdeflate/1.20.bcr.1/presubmit.yml
  modules/libdeflate/1.20.bcr.1/source.json
  modules/libdeflate/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1844 riegeli@0.0.0-20231123-411cda7.bcr.1
  modules/riegeli/0.0.0-20231123-411cda7.bcr.1/MODULE.bazel
  modules/riegeli/0.0.0-20231123-411cda7.bcr.1/patches/module_dot_bazel.patch
  modules/riegeli/0.0.0-20231123-411cda7.bcr.1/patches/riegeli.patch
  modules/riegeli/0.0.0-20231123-411cda7.bcr.1/presubmit.yml
  modules/riegeli/0.0.0-20231123-411cda7.bcr.1/source.json
  modules/riegeli/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1861 Add tink-cc@2.1.3 to BCR
  modules/tink_cc/2.1.3/MODULE.bazel
  modules/tink_cc/2.1.3/presubmit.yml
  modules/tink_cc/2.1.3/source.json
  modules/tink_cc/metadata.json
Labels: presubmit-auto-run

#1878 Add patchelf
  modules/patchelf/0.18.0/MODULE.bazel
  modules/patchelf/0.18.0/patches/0001-Add-MODULE.bazel.patch
  modules/patchelf/0.18.0/patches/0002-Add-BUILD.bazel.patch
  modules/patchelf/0.18.0/presubmit.yml
  modules/patchelf/0.18.0/source.json
  modules/patchelf/metadata.json
Labels: presubmit-auto-run

#1873 feat(ape): add `1.0.0-beta.2`
  modules/ape/1.0.0-beta.2/MODULE.bazel
  modules/ape/1.0.0-beta.2/presubmit.yml
  modules/ape/1.0.0-beta.2/source.json
  modules/ape/metadata.json
Labels: presubmit-auto-run

#1889 Publish rules_jvm_external 6.1
  modules/rules_jvm_external/6.1/MODULE.bazel
  modules/rules_jvm_external/6.1/patches/compatibility_level.patch
  modules/rules_jvm_external/6.1/presubmit.yml
  modules/rules_jvm_external/6.1/source.json
  modules/rules_jvm_external/metadata.json
Labels: presubmit-auto-run

#1895 Add xz 5.4.5.bcr.2
  modules/xz/5.4.5.bcr.2/MODULE.bazel
  modules/xz/5.4.5.bcr.2/patches/patch.diff
  modules/xz/5.4.5.bcr.2/presubmit.yml
  modules/xz/5.4.5.bcr.2/source.json
  modules/xz/metadata.json
Labels: presubmit-auto-run

#1896 Add libarchive 3.7.2.bcr.4
  modules/libarchive/3.7.2.bcr.4/MODULE.bazel
  modules/libarchive/3.7.2.bcr.4/patches/build_with_bazel.patch
  modules/libarchive/3.7.2.bcr.4/presubmit.yml
  modules/libarchive/3.7.2.bcr.4/source.json
  modules/libarchive/metadata.json
Labels: presubmit-auto-run

#1894 bliss@0.73
  modules/bliss/0.73/MODULE.bazel
  modules/bliss/0.73/patches/add_build_file.patch
  modules/bliss/0.73/patches/bliss-0.73.patch
  modules/bliss/0.73/patches/module_dot_bazel.patch
  modules/bliss/0.73/presubmit.yml
  modules/bliss/0.73/source.json
  modules/bliss/metadata.json
Labels: presubmit-auto-run

#1837 Add simplehttp 0.1.0
  modules/simplehttp/0.1.0/MODULE.bazel
  modules/simplehttp/0.1.0/patches/add_workspace_file.patch
  modules/simplehttp/0.1.0/presubmit.yml
  modules/simplehttp/0.1.0/source.json
  modules/simplehttp/metadata.json
Labels: presubmit-auto-run

#1893 glpk@5.0
  modules/glpk/5.0/MODULE.bazel
  modules/glpk/5.0/patches/add_build_file.patch
  modules/glpk/5.0/patches/module_dot_bazel.patch
  modules/glpk/5.0/presubmit.yml
  modules/glpk/5.0/source.json
  modules/glpk/metadata.json
Labels: presubmit-auto-run
