Repository bazelbuild/bazel-central-registry, pull requests merged in 2024-12, with the labels that each got.

#3300 Updated rules_req_compile repository location
  modules/rules_req_compile/1.0.0rc29/source.json
  modules/rules_req_compile/metadata.json
Labels: USE-WITH-CAUTION-skip-modification-check

#3259 Add UniversalRobotsClientLibrary version 1.5.0
  modules/universal-robots-client-library/1.5.0/MODULE.bazel
  modules/universal-robots-client-library/1.5.0/patches/add_build_file.patch
  modules/universal-robots-client-library/1.5.0/patches/add_module_file.patch
  modules/universal-robots-client-library/1.5.0/presubmit.yml
  modules/universal-robots-client-library/1.5.0/source.json
  modules/universal-robots-client-library/metadata.json
Labels: skip-url-stability-check

#3312 SCIP: add two version of the libraries (with or without parallelism baked in).
  modules/scip/9.2.0.bcr.1/MODULE.bazel
  modules/scip/9.2.0.bcr.1/patches/add_build_file.patch
  modules/scip/9.2.0.bcr.1/patches/add_buildflags_h.patch
  modules/scip/9.2.0.bcr.1/patches/add_config_h.patch
  modules/scip/9.2.0.bcr.1/patches/add_githash_c.patch
  modules/scip/9.2.0.bcr.1/patches/add_scip_export_h.patch
  modules/scip/9.2.0.bcr.1/patches/compute_symmetry_bliss.cpp.patch
  modules/scip/9.2.0.bcr.1/patches/lpi_glop.patch
  modules/scip/9.2.0.bcr.1/patches/module_dot_bazel.patch
  modules/scip/9.2.0.bcr.1/presubmit.yml
  modules/scip/9.2.0.bcr.1/source.json
  modules/scip/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3328 Add open62541
  modules/open62541/1.4.6/MODULE.bazel
  modules/open62541/1.4.6/patches/add_build_file.patch
  modules/open62541/1.4.6/patches/build_with_boringssl.patch
  modules/open62541/1.4.6/patches/module_dot_bazel.patch
  modules/open62541/1.4.6/patches/open62541-create-bzl.patch
  modules/open62541/1.4.6/presubmit.yml
  modules/open62541/1.4.6/source.json
  modules/open62541/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3336 rules_pkl@0.2.0
  modules/rules_pkl/0.2.0/MODULE.bazel
  modules/rules_pkl/0.2.0/presubmit.yml
  modules/rules_pkl/0.2.0/source.json
  modules/rules_pkl/metadata.json
Labels: presubmit-auto-run

#3347 Add SwiftSyntax 600.0.1
  modules/swift-syntax/600.0.1/MODULE.bazel
  modules/swift-syntax/600.0.1/patches/module_dot_bazel.patch
  modules/swift-syntax/600.0.1/presubmit.yml
  modules/swift-syntax/600.0.1/source.json
  modules/swift-syntax/metadata.json
Labels: skip-url-stability-check

#2512 libxml2@2.13.5 (#2511)
  modules/libxml2/2.13.5/MODULE.bazel
  modules/libxml2/2.13.5/patches/add_build_file.patch
  modules/libxml2/2.13.5/patches/module_dot_bazel.patch
  modules/libxml2/2.13.5/presubmit.yml
  modules/libxml2/2.13.5/source.json
  modules/libxml2/metadata.json
Labels: presubmit-auto-run

#3350 Add openssl 3.3.1.bcr.0
  modules/openssl/3.3.1.bcr.0/MODULE.bazel
  modules/openssl/3.3.1.bcr.0/overlay/BUILD.bazel
  modules/openssl/3.3.1.bcr.0/overlay/MODULE.bazel
  modules/openssl/3.3.1.bcr.0/overlay/test_bazel_build/BUILD.bazel
  modules/openssl/3.3.1.bcr.0/overlay/utils.bzl
  modules/openssl/3.3.1.bcr.0/presubmit.yml
  modules/openssl/3.3.1.bcr.0/source.json
  modules/openssl/metadata.json
Labels: presubmit-auto-run

#3373 Add skcms module
  modules/skcms/20241202.0/MODULE.bazel
  modules/skcms/20241202.0/overlay/BUILD.bazel
  modules/skcms/20241202.0/overlay/MODULE.bazel
  modules/skcms/20241202.0/presubmit.yml
  modules/skcms/20241202.0/source.json
  modules/skcms/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3390 Modify universal-robots-client-library build to export more files
  modules/universal-robots-client-library/1.5.0.bcr.1/MODULE.bazel
  modules/universal-robots-client-library/1.5.0.bcr.1/patches/add_build_file.patch
  modules/universal-robots-client-library/1.5.0.bcr.1/patches/add_module_file.patch
  modules/universal-robots-client-library/1.5.0.bcr.1/presubmit.yml
  modules/universal-robots-client-library/1.5.0.bcr.1/source.json
  modules/universal-robots-client-library/metadata.json
Labels: skip-url-stability-check

#3289 Add trompeloeil v49
  modules/trompeloeil/49/MODULE.bazel
  modules/trompeloeil/49/overlay/BUILD.bazel
  modules/trompeloeil/49/overlay/MODULE.bazel
  modules/trompeloeil/49/overlay/test/BUILD.bazel
  modules/trompeloeil/49/overlay/test/MODULE.bazel
  modules/trompeloeil/49/presubmit.yml
  modules/trompeloeil/49/source.json
  modules/trompeloeil/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3394 fix scip for bazel 8.0.0
  modules/scip/9.2.0.bcr.2/MODULE.bazel
  modules/scip/9.2.0.bcr.2/patches/add_build_file.patch
  modules/scip/9.2.0.bcr.2/patches/add_buildflags_h.patch
  modules/scip/9.2.0.bcr.2/patches/add_config_h.patch
  modules/scip/9.2.0.bcr.2/patches/add_githash_c.patch
  modules/scip/9.2.0.bcr.2/patches/add_scip_export_h.patch
  modules/scip/9.2.0.bcr.2/patches/compute_symmetry_bliss.cpp.patch
  modules/scip/9.2.0.bcr.2/patches/lpi_glop.patch
  modules/scip/9.2.0.bcr.2/patches/module_dot_bazel.patch
  modules/scip/9.2.0.bcr.2/presubmit.yml
  modules/scip/9.2.0.bcr.2/source.json
  modules/scip/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3396 fix highs for bazel 8
  modules/highs/1.8.1.bcr.1/MODULE.bazel
  modules/highs/1.8.1.bcr.1/patches/build_dot_bazel.patch
  modules/highs/1.8.1.bcr.1/patches/dot_bazelrc.patch
  modules/highs/1.8.1.bcr.1/patches/module_dot_bazel.patch
  modules/highs/1.8.1.bcr.1/presubmit.yml
  modules/highs/1.8.1.bcr.1/source.json
  modules/highs/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3363 [engflowapis] Test with `8.x`
  modules/engflowapis/2024.10.16/presubmit.yml
  modules/engflowapis/2024.10.31-00.15.43/presubmit.yml
  modules/engflowapis/2024.11.04-11.10.20/presubmit.yml
Labels: presubmit-auto-run

#3403 add swig 4.3.0; fix invalid filegroup field in BUILD file, support bazel 8.0
  modules/swig/4.3.0/MODULE.bazel
  modules/swig/4.3.0/patches/add_build.patch
  modules/swig/4.3.0/patches/add_parser_c.patch
  modules/swig/4.3.0/patches/add_parser_h.patch
  modules/swig/4.3.0/patches/add_swigconfig_h.patch
  modules/swig/4.3.0/patches/add_swigwarn_swg.patch
  modules/swig/4.3.0/patches/module_dot_bazel.patch
  modules/swig/4.3.0/presubmit.yml
  modules/swig/4.3.0/source.json
  modules/swig/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3411 Use hermetic Python from rules_python for jsonnet
  modules/jsonnet/0.20.0.bcr.1/MODULE.bazel
  modules/jsonnet/0.20.0.bcr.1/patches/module_dot_bazel.patch
  modules/jsonnet/0.20.0.bcr.1/presubmit.yml
  modules/jsonnet/0.20.0.bcr.1/source.json
  modules/jsonnet/metadata.json
Labels: skip-url-stability-check

#3416 Add SWXMLHash 8.1.0
  modules/swxmlhash/8.1.0/MODULE.bazel
  modules/swxmlhash/8.1.0/patches/add_build_file.patch
  modules/swxmlhash/8.1.0/patches/module_dot_bazel.patch
  modules/swxmlhash/8.1.0/presubmit.yml
  modules/swxmlhash/8.1.0/source.json
  modules/swxmlhash/metadata.json
Labels: skip-url-stability-check

#3418 Add swift-system
  modules/swift-system/1.4.0/MODULE.bazel
  modules/swift-system/1.4.0/patches/add_build_file.patch
  modules/swift-system/1.4.0/patches/module_dot_bazel.patch
  modules/swift-system/1.4.0/presubmit.yml
  modules/swift-system/1.4.0/source.json
  modules/swift-system/metadata.json
Labels: skip-url-stability-check

#3417 Add PathKit
  modules/pathkit/1.0.1/MODULE.bazel
  modules/pathkit/1.0.1/patches/add_build_file.patch
  modules/pathkit/1.0.1/patches/module_dot_bazel.patch
  modules/pathkit/1.0.1/presubmit.yml
  modules/pathkit/1.0.1/source.json
  modules/pathkit/metadata.json
Labels: skip-url-stability-check

#3415 Improve opentelemetry-proto
  modules/opentelemetry-proto/1.4.0.bcr.1/MODULE.bazel
  modules/opentelemetry-proto/1.4.0.bcr.1/patches/module_dot_bazel.patch
  modules/opentelemetry-proto/1.4.0.bcr.1/presubmit.yml
  modules/opentelemetry-proto/1.4.0.bcr.1/source.json
  modules/opentelemetry-proto/metadata.json
Labels: skip-url-stability-check

#3419 Add XcodeProj
  modules/xcodeproj/8.25.0/MODULE.bazel
  modules/xcodeproj/8.25.0/patches/add_build_file.patch
  modules/xcodeproj/8.25.0/patches/module_dot_bazel.patch
  modules/xcodeproj/8.25.0/presubmit.yml
  modules/xcodeproj/8.25.0/source.json
  modules/xcodeproj/metadata.json
Labels: skip-url-stability-check

#3420 Add protoc-gen-validate 1.0.4.bcr.1
  modules/protoc-gen-validate/1.0.4.bcr.1/MODULE.bazel
  modules/protoc-gen-validate/1.0.4.bcr.1/patches/module_dot_bazel.patch
  modules/protoc-gen-validate/1.0.4.bcr.1/patches/pgv.patch
  modules/protoc-gen-validate/1.0.4.bcr.1/presubmit.yml
  modules/protoc-gen-validate/1.0.4.bcr.1/source.json
  modules/protoc-gen-validate/metadata.json
Labels: skip-url-stability-check

#3427 Add swift-filename-matcher 2.0.0
  modules/swift-filename-matcher/2.0.0/MODULE.bazel
  modules/swift-filename-matcher/2.0.0/presubmit.yml
  modules/swift-filename-matcher/2.0.0/source.json
  modules/swift-filename-matcher/metadata.json
Labels: skip-url-stability-check

#3423 Add protoc-gen-validate 1.0.4.bcr.2
  modules/protoc-gen-validate/1.0.4.bcr.2/MODULE.bazel
  modules/protoc-gen-validate/1.0.4.bcr.2/patches/module_dot_bazel.patch
  modules/protoc-gen-validate/1.0.4.bcr.2/patches/pgv.patch
  modules/protoc-gen-validate/1.0.4.bcr.2/presubmit.yml
  modules/protoc-gen-validate/1.0.4.bcr.2/source.json
  modules/protoc-gen-validate/metadata.json
Labels: skip-url-stability-check

#3431 bump: add cpplint 2.0.0
  modules/cpplint/2.0.0/MODULE.bazel
  modules/cpplint/2.0.0/patches/add_build_file.patch
  modules/cpplint/2.0.0/patches/module_dot_bazel.patch
  modules/cpplint/2.0.0/presubmit.yml
  modules/cpplint/2.0.0/source.json
  modules/cpplint/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3425 spdlog@1.15.0.bcr.2
  modules/spdlog/1.15.0.bcr.2/MODULE.bazel
  modules/spdlog/1.15.0.bcr.2/overlay/BUILD.bazel
  modules/spdlog/1.15.0.bcr.2/overlay/MODULE.bazel
  modules/spdlog/1.15.0.bcr.2/presubmit.yml
  modules/spdlog/1.15.0.bcr.2/source.json
  modules/spdlog/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3407 Release: https://github.com/google-parfait/federated-language/releases/tag/v0.1.0
  modules/federated_language/0.1.0/MODULE.bazel
  modules/federated_language/0.1.0/patches/module_bazel.patch
  modules/federated_language/0.1.0/presubmit.yml
  modules/federated_language/0.1.0/source.json
  modules/federated_language/metadata.json
Labels: presubmit-auto-run

#3435 fmt@11.0.2.bcr.1
  modules/fmt/11.0.2.bcr.1/MODULE.bazel
  modules/fmt/11.0.2.bcr.1/overlay/BUILD.bazel
  modules/fmt/11.0.2.bcr.1/overlay/MODULE.bazel
  modules/fmt/11.0.2.bcr.1/presubmit.yml
  modules/fmt/11.0.2.bcr.1/source.json
  modules/fmt/metadata.json
Labels: presubmit-auto-run

#3426 Add opencensus-cpp
  modules/opencensus-cpp/0.0.0-20230502-50eb5de/MODULE.bazel
  modules/opencensus-cpp/0.0.0-20230502-50eb5de/patches/module_dot_bazel.patch
  modules/opencensus-cpp/0.0.0-20230502-50eb5de/presubmit.yml
  modules/opencensus-cpp/0.0.0-20230502-50eb5de/source.json
  modules/opencensus-cpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3439 eigen@3.4.0.bcr.2, eigen@4.0.0-20241125.bcr.1
  modules/eigen/3.4.0.bcr.2/MODULE.bazel
  modules/eigen/3.4.0.bcr.2/overlay/BUILD.bazel
  modules/eigen/3.4.0.bcr.2/overlay/MODULE.bazel
  modules/eigen/3.4.0.bcr.2/presubmit.yml
  modules/eigen/3.4.0.bcr.2/source.json
  modules/eigen/4.0.0-20241125.bcr.1/MODULE.bazel
  modules/eigen/4.0.0-20241125.bcr.1/overlay/BUILD.bazel
  modules/eigen/4.0.0-20241125.bcr.1/overlay/MODULE.bazel
  modules/eigen/4.0.0-20241125.bcr.1/presubmit.yml
  modules/eigen/4.0.0-20241125.bcr.1/source.json
  modules/eigen/metadata.json
Labels: presubmit-auto-run

#3443 spdlog@1.15.0.bcr.3
  modules/spdlog/1.15.0.bcr.3/MODULE.bazel
  modules/spdlog/1.15.0.bcr.3/overlay/BUILD.bazel
  modules/spdlog/1.15.0.bcr.3/overlay/MODULE.bazel
  modules/spdlog/1.15.0.bcr.3/presubmit.yml
  modules/spdlog/1.15.0.bcr.3/source.json
  modules/spdlog/metadata.json
Labels: skip-url-stability-check

#3391 skcms fixup: link missing symbols
  modules/skcms/20241202.0.bcr.1/MODULE.bazel
  modules/skcms/20241202.0.bcr.1/overlay/BUILD.bazel
  modules/skcms/20241202.0.bcr.1/overlay/MODULE.bazel
  modules/skcms/20241202.0.bcr.1/presubmit.yml
  modules/skcms/20241202.0.bcr.1/source.json
  modules/skcms/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3455 feat: Add cxxopts 3.0.0
  modules/cxxopts/3.0.0/MODULE.bazel
  modules/cxxopts/3.0.0/overlay/BUILD.bazel
  modules/cxxopts/3.0.0/overlay/MODULE.bazel
  modules/cxxopts/3.0.0/presubmit.yml
  modules/cxxopts/3.0.0/source.json
  modules/cxxopts/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3459 Add nanobind 2.2.0 and 2.4.0
  modules/nanobind/2.2.0/MODULE.bazel
  modules/nanobind/2.2.0/patches/add_build_file.patch
  modules/nanobind/2.2.0/patches/module_dot_bazel.patch
  modules/nanobind/2.2.0/presubmit.yml
  modules/nanobind/2.2.0/source.json
  modules/nanobind/2.4.0/MODULE.bazel
  modules/nanobind/2.4.0/patches/add_build_file.patch
  modules/nanobind/2.4.0/patches/module_dot_bazel.patch
  modules/nanobind/2.4.0/presubmit.yml
  modules/nanobind/2.4.0/source.json
  modules/nanobind/metadata.json
Labels: skip-url-stability-check

#3445 Add opentelemetry-proto 1.5.0
  modules/opentelemetry-proto/1.5.0/MODULE.bazel
  modules/opentelemetry-proto/1.5.0/patches/module_dot_bazel.patch
  modules/opentelemetry-proto/1.5.0/presubmit.yml
  modules/opentelemetry-proto/1.5.0/source.json
  modules/opentelemetry-proto/metadata.json
Labels: skip-url-stability-check

#3448 Add grpc-java 1.68.1
  modules/grpc-java/1.68.1/MODULE.bazel
  modules/grpc-java/1.68.1/patches/module_dot_bazel.patch
  modules/grpc-java/1.68.1/presubmit.yml
  modules/grpc-java/1.68.1/source.json
  modules/grpc-java/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3457 zlib@1.3.1.bcr.4
  modules/zlib/1.3.1.bcr.4/MODULE.bazel
  modules/zlib/1.3.1.bcr.4/patches/add_build_file.patch
  modules/zlib/1.3.1.bcr.4/patches/module_dot_bazel.patch
  modules/zlib/1.3.1.bcr.4/presubmit.yml
  modules/zlib/1.3.1.bcr.4/source.json
  modules/zlib/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3424 Add envoy_api
  modules/envoy_api/0.0.0-20241214-918efc9/MODULE.bazel
  modules/envoy_api/0.0.0-20241214-918efc9/patches/bzlmod_fixes.patch
  modules/envoy_api/0.0.0-20241214-918efc9/patches/module_dot_bazel.patch
  modules/envoy_api/0.0.0-20241214-918efc9/presubmit.yml
  modules/envoy_api/0.0.0-20241214-918efc9/source.json
  modules/envoy_api/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3460 Add check
  modules/check/0.15.2/MODULE.bazel
  modules/check/0.15.2/patches/add_build_file.patch
  modules/check/0.15.2/patches/module_dot_bazel.patch
  modules/check/0.15.2/presubmit.yml
  modules/check/0.15.2/source.json
  modules/check/metadata.json
Labels: presubmit-auto-run

#3467 depend_on_what_you_use@0.6.0
  modules/depend_on_what_you_use/0.6.0/MODULE.bazel
  modules/depend_on_what_you_use/0.6.0/patches/compatibility_to_bcr_ci.patch
  modules/depend_on_what_you_use/0.6.0/patches/module_dot_bazel.patch
  modules/depend_on_what_you_use/0.6.0/presubmit.yml
  modules/depend_on_what_you_use/0.6.0/source.json
  modules/depend_on_what_you_use/metadata.json
Labels: presubmit-auto-run

#3462 Add libmodbus
  modules/libmodbus/3.1.10/MODULE.bazel
  modules/libmodbus/3.1.10/patches/add_build_file.patch
  modules/libmodbus/3.1.10/patches/add_modbus_versionscript_dot_lds.patch
  modules/libmodbus/3.1.10/patches/module_dot_bazel.patch
  modules/libmodbus/3.1.10/presubmit.yml
  modules/libmodbus/3.1.10/source.json
  modules/libmodbus/metadata.json
Labels: presubmit-auto-run

#1274 feat: add iceoryx
  modules/iceoryx/2.95.3/MODULE.bazel
  modules/iceoryx/2.95.3/overlay/MODULE.bazel
  modules/iceoryx/2.95.3/presubmit.yml
  modules/iceoryx/2.95.3/source.json
  modules/iceoryx/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3470 Add grpc and grpc-java 1.69.0
  modules/grpc-java/1.69.0/MODULE.bazel
  modules/grpc-java/1.69.0/patches/module_dot_bazel.patch
  modules/grpc-java/1.69.0/presubmit.yml
  modules/grpc-java/1.69.0/source.json
  modules/grpc-java/metadata.json
  modules/grpc/1.69.0/MODULE.bazel
  modules/grpc/1.69.0/patches/add_module_bazel.patch
  modules/grpc/1.69.0/patches/adopt_bzlmod.patch
  modules/grpc/1.69.0/patches/disable-layering-check.patch
  modules/grpc/1.69.0/presubmit.yml
  modules/grpc/1.69.0/source.json
  modules/grpc/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3481 Add nanobind_bazel v2.4.0
  modules/nanobind_bazel/2.4.0/MODULE.bazel
  modules/nanobind_bazel/2.4.0/presubmit.yml
  modules/nanobind_bazel/2.4.0/source.json
  modules/nanobind_bazel/metadata.json
Labels: presubmit-auto-run

#3492 Add boost.units to modules
  modules/boost.units/1.83.0/MODULE.bazel
  modules/boost.units/1.83.0/overlay/BUILD.bazel
  modules/boost.units/1.83.0/overlay/MODULE.bazel
  modules/boost.units/1.83.0/presubmit.yml
  modules/boost.units/1.83.0/source.json
  modules/boost.units/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3493 Add ncurses@6.4.20221231.bcr.3
  modules/ncurses/6.4.20221231.bcr.3/MODULE.bazel
  modules/ncurses/6.4.20221231.bcr.3/overlay/BUILD.bazel
  modules/ncurses/6.4.20221231.bcr.3/overlay/MODULE.bazel
  modules/ncurses/6.4.20221231.bcr.3/overlay/bazel/BUILD.bazel
  modules/ncurses/6.4.20221231.bcr.3/overlay/bazel/automake_substitution.bzl
  modules/ncurses/6.4.20221231.bcr.3/overlay/bazel/pseudo_configure.bzl
  modules/ncurses/6.4.20221231.bcr.3/patches/change_mode.patch
  modules/ncurses/6.4.20221231.bcr.3/patches/fail_on_error.patch
  modules/ncurses/6.4.20221231.bcr.3/presubmit.yml
  modules/ncurses/6.4.20221231.bcr.3/source.json
  modules/ncurses/metadata.json
Labels: skip-url-stability-check

#3465 libdeflate@1.23
  modules/libdeflate/1.23/MODULE.bazel
  modules/libdeflate/1.23/overlay/BUILD.bazel
  modules/libdeflate/1.23/overlay/MODULE.bazel
  modules/libdeflate/1.23/presubmit.yml
  modules/libdeflate/1.23/source.json
  modules/libdeflate/metadata.json
Labels: presubmit-auto-run

#3496 Periphery 3.0.0
  modules/periphery/3.0.0/MODULE.bazel
  modules/periphery/3.0.0/presubmit.yml
  modules/periphery/3.0.0/source.json
  modules/periphery/metadata.json
Labels: presubmit-auto-run

#3495 fix: remove empty glob from geographiclib
  modules/cmake_configure_file/0.1.1/MODULE.bazel
  modules/cmake_configure_file/0.1.1/presubmit.yml
  modules/cmake_configure_file/0.1.1/source.json
  modules/cmake_configure_file/metadata.json
  modules/geographiclib/2.4.0.bcr.1/MODULE.bazel
  modules/geographiclib/2.4.0.bcr.1/overlay/BUILD.bazel
  modules/geographiclib/2.4.0.bcr.1/overlay/MODULE.bazel
  modules/geographiclib/2.4.0.bcr.1/presubmit.yml
  modules/geographiclib/2.4.0.bcr.1/source.json
  modules/geographiclib/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3503 libpng@1.6.44
  modules/libpng/1.6.44/MODULE.bazel
  modules/libpng/1.6.44/overlay/BUILD.bazel
  modules/libpng/1.6.44/overlay/MODULE.bazel
  modules/libpng/1.6.44/presubmit.yml
  modules/libpng/1.6.44/source.json
  modules/libpng/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3502 Add riegeli 0.0.0-20241218-3385e3c
  modules/riegeli/0.0.0-20241218-3385e3c/MODULE.bazel
  modules/riegeli/0.0.0-20241218-3385e3c/patches/module_dot_bazel.patch
  modules/riegeli/0.0.0-20241218-3385e3c/presubmit.yml
  modules/riegeli/0.0.0-20241218-3385e3c/source.json
  modules/riegeli/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3494 lanelet2@1.2.2
  modules/lanelet2/1.2.2/MODULE.bazel
  modules/lanelet2/1.2.2/overlay/BUILD.bazel
  modules/lanelet2/1.2.2/overlay/MODULE.bazel
  modules/lanelet2/1.2.2/patches/bazel_test_data_paths.patch
  modules/lanelet2/1.2.2/patches/bazel_test_include_paths.patch
  modules/lanelet2/1.2.2/presubmit.yml
  modules/lanelet2/1.2.2/source.json
  modules/lanelet2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3508 hfsm2@2.5.1
  modules/hfsm2/2.5.1/MODULE.bazel
  modules/hfsm2/2.5.1/overlay/BUILD.bazel
  modules/hfsm2/2.5.1/overlay/MODULE.bazel
  modules/hfsm2/2.5.1/presubmit.yml
  modules/hfsm2/2.5.1/source.json
  modules/hfsm2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3509 bump highs to 1.9.0
  modules/highs/1.9.0/MODULE.bazel
  modules/highs/1.9.0/patches/dot_bazelrc.patch
  modules/highs/1.9.0/presubmit.yml
  modules/highs/1.9.0/source.json
  modules/highs/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3507 llvm-project@17.0.3.bcr.1 - Add patch for incompatible_disallow_empty_glob
  modules/llvm-project/17.0.3.bcr.1/MODULE.bazel
  modules/llvm-project/17.0.3.bcr.1/patches/0001-Add-Bazel-files-to-.gitignore.patch
  modules/llvm-project/17.0.3.bcr.1/patches/0002-Add-LLVM-Bazel-overlay-files.patch
  modules/llvm-project/17.0.3.bcr.1/patches/0003-Add-MODULE.bazel.patch
  modules/llvm-project/17.0.3.bcr.1/patches/0004-Add-BUILD.bazel.patch
  modules/llvm-project/17.0.3.bcr.1/patches/0005-Add-Bazel-LLVM-targets.patch
  modules/llvm-project/17.0.3.bcr.1/patches/0006-Add-LLVM-version-vars.patch
  modules/llvm-project/17.0.3.bcr.1/patches/0007-Guard-against-empty-workspace-root.patch
  modules/llvm-project/17.0.3.bcr.1/patches/0008-Correct-builtin-headers-prefix.patch
  modules/llvm-project/17.0.3.bcr.1/patches/0009-Fix-an-operator-overload-for-GCC-8.3.patch
  modules/llvm-project/17.0.3.bcr.1/patches/0010-Use-TEST_TMPDIR-on-Unix-when-it-is-set.patch
  modules/llvm-project/17.0.3.bcr.1/patches/0011-Use-Windows-assembly-files-for-BLAKE3-on-Windows.patch
  modules/llvm-project/17.0.3.bcr.1/patches/0012-Add-scope-resolution-operators-for-MSVC-2019.patch
  modules/llvm-project/17.0.3.bcr.1/patches/0013-Disable-zlib-zstd-mpfr-and-pfm.patch
  modules/llvm-project/17.0.3.bcr.1/patches/0014-Incompatible-Disable-Empty-Glob.patch
  modules/llvm-project/17.0.3.bcr.1/presubmit.yml
  modules/llvm-project/17.0.3.bcr.1/source.json
  modules/llvm-project/metadata.json
Labels: presubmit-auto-run
