Repository bazelbuild/bazel-central-registry, pull requests merged in 2024-10, with the labels that each got.

#2877 Add riegeli 0.0.0-20240927-cdfb25a
  modules/riegeli/0.0.0-20240927-cdfb25a/MODULE.bazel
  modules/riegeli/0.0.0-20240927-cdfb25a/patches/module_dot_bazel.patch
  modules/riegeli/0.0.0-20240927-cdfb25a/presubmit.yml
  modules/riegeli/0.0.0-20240927-cdfb25a/source.json
  modules/riegeli/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2599 catch2@3.7.0
  modules/catch2/3.7.0/MODULE.bazel
  modules/catch2/3.7.0/patches/module_dot_bazel.patch
  modules/catch2/3.7.0/presubmit.yml
  modules/catch2/3.7.0/source.json
  modules/catch2/3.7.1/MODULE.bazel
  modules/catch2/3.7.1/patches/module_dot_bazel.patch
  modules/catch2/3.7.1/presubmit.yml
  modules/catch2/3.7.1/source.json
  modules/catch2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2867 Initial release of rules_gazebo
  modules/rules_gazebo/0.0.2/MODULE.bazel
  modules/rules_gazebo/0.0.2/presubmit.yml
  modules/rules_gazebo/0.0.2/source.json
  modules/rules_gazebo/metadata.json
Labels: presubmit-auto-run

#2891 feat: add foxglove websocket 1.3.0
  modules/foxglove_websocket/1.3.0/MODULE.bazel
  modules/foxglove_websocket/1.3.0/overlay/BUILD.bazel
  modules/foxglove_websocket/1.3.0/overlay/MODULE.bazel
  modules/foxglove_websocket/1.3.0/presubmit.yml
  modules/foxglove_websocket/1.3.0/source.json
  modules/foxglove_websocket/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2899 feat: add boost property_tree
  modules/boost.property_tree/1.83.0/MODULE.bazel
  modules/boost.property_tree/1.83.0/overlay/BUILD.bazel
  modules/boost.property_tree/1.83.0/overlay/MODULE.bazel
  modules/boost.property_tree/1.83.0/presubmit.yml
  modules/boost.property_tree/1.83.0/source.json
  modules/boost.property_tree/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2893 Add bazel-diff to BCR
  modules/bazel-diff/7.2.14/MODULE.bazel
  modules/bazel-diff/7.2.14/presubmit.yml
  modules/bazel-diff/7.2.14/source.json
  modules/bazel-diff/metadata.json
Labels: presubmit-auto-run

#2910 feat: add geographiclib 2.4
  modules/geographiclib/2.4.0/MODULE.bazel
  modules/geographiclib/2.4.0/overlay/BUILD.bazel
  modules/geographiclib/2.4.0/overlay/MODULE.bazel
  modules/geographiclib/2.4.0/presubmit.yml
  modules/geographiclib/2.4.0/source.json
  modules/geographiclib/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2903 feat: add boost graph
  modules/boost.graph/1.83.0/MODULE.bazel
  modules/boost.graph/1.83.0/overlay/BUILD.bazel
  modules/boost.graph/1.83.0/overlay/MODULE.bazel
  modules/boost.graph/1.83.0/presubmit.yml
  modules/boost.graph/1.83.0/source.json
  modules/boost.graph/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2928 feat: add qhull v8.0.2
  modules/qhull/8.0.2/MODULE.bazel
  modules/qhull/8.0.2/overlay/BUILD.bazel
  modules/qhull/8.0.2/overlay/MODULE.bazel
  modules/qhull/8.0.2/presubmit.yml
  modules/qhull/8.0.2/source.json
  modules/qhull/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2939 feat: add boost scope_exit
  modules/boost.scope_exit/1.83.0/MODULE.bazel
  modules/boost.scope_exit/1.83.0/overlay/BUILD.bazel
  modules/boost.scope_exit/1.83.0/overlay/MODULE.bazel
  modules/boost.scope_exit/1.83.0/presubmit.yml
  modules/boost.scope_exit/1.83.0/source.json
  modules/boost.scope_exit/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2936 Add rapidjson commit
  modules/rapidjson/1.1.0.bcr.20241007/MODULE.bazel
  modules/rapidjson/1.1.0.bcr.20241007/patches/add_build_file.patch
  modules/rapidjson/1.1.0.bcr.20241007/patches/module_dot_bazel.patch
  modules/rapidjson/1.1.0.bcr.20241007/presubmit.yml
  modules/rapidjson/1.1.0.bcr.20241007/source.json
  modules/rapidjson/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2946 feat: add flann 1.9.2
  modules/flann/1.9.2/MODULE.bazel
  modules/flann/1.9.2/overlay/BUILD.bazel
  modules/flann/1.9.2/overlay/MODULE.bazel
  modules/flann/1.9.2/presubmit.yml
  modules/flann/1.9.2/source.json
  modules/flann/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2947 sqlite3@3.46.1
  modules/sqlite3/3.46.1/MODULE.bazel
  modules/sqlite3/3.46.1/patches/add_build_file.patch
  modules/sqlite3/3.46.1/patches/module_dot_bazel.patch
  modules/sqlite3/3.46.1/presubmit.yml
  modules/sqlite3/3.46.1/source.json
  modules/sqlite3/metadata.json
Labels: presubmit-auto-run

#2942 feat: add boost signals2
  modules/boost.signals2/1.83.0/MODULE.bazel
  modules/boost.signals2/1.83.0/overlay/BUILD.bazel
  modules/boost.signals2/1.83.0/overlay/MODULE.bazel
  modules/boost.signals2/1.83.0/presubmit.yml
  modules/boost.signals2/1.83.0/source.json
  modules/boost.signals2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2949 feat: add boost.sort
  modules/boost.sort/1.83.0/MODULE.bazel
  modules/boost.sort/1.83.0/overlay/BUILD.bazel
  modules/boost.sort/1.83.0/overlay/MODULE.bazel
  modules/boost.sort/1.83.0/presubmit.yml
  modules/boost.sort/1.83.0/source.json
  modules/boost.sort/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2955 Add libgit2 (@ 1.8.1)
  modules/libgit2/1.8.1/MODULE.bazel
  modules/libgit2/1.8.1/overlay/BUILD.bazel
  modules/libgit2/1.8.1/overlay/MODULE.bazel
  modules/libgit2/1.8.1/overlay/deps/llhttp/BUILD.bazel
  modules/libgit2/1.8.1/overlay/deps/pcre/BUILD.bazel
  modules/libgit2/1.8.1/overlay/deps/xdiff/BUILD.bazel
  modules/libgit2/1.8.1/overlay/include/BUILD.bazel
  modules/libgit2/1.8.1/overlay/src/libgit2/BUILD.bazel
  modules/libgit2/1.8.1/overlay/src/util/BUILD.bazel
  modules/libgit2/1.8.1/presubmit.yml
  modules/libgit2/1.8.1/source.json
  modules/libgit2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2950 feat: add boost iostreams, multi_array, program_options, ptr_container
  modules/boost.iostreams/1.83.0/MODULE.bazel
  modules/boost.iostreams/1.83.0/overlay/BUILD.bazel
  modules/boost.iostreams/1.83.0/overlay/MODULE.bazel
  modules/boost.iostreams/1.83.0/presubmit.yml
  modules/boost.iostreams/1.83.0/source.json
  modules/boost.iostreams/metadata.json
  modules/boost.multi_array/1.83.0/MODULE.bazel
  modules/boost.multi_array/1.83.0/overlay/BUILD.bazel
  modules/boost.multi_array/1.83.0/overlay/MODULE.bazel
  modules/boost.multi_array/1.83.0/presubmit.yml
  modules/boost.multi_array/1.83.0/source.json
  modules/boost.multi_array/metadata.json
  modules/boost.program_options/1.83.0/MODULE.bazel
  modules/boost.program_options/1.83.0/overlay/BUILD.bazel
  modules/boost.program_options/1.83.0/overlay/MODULE.bazel
  modules/boost.program_options/1.83.0/overlay/test/BUILD.bazel
  modules/boost.program_options/1.83.0/overlay/test/MODULE.bazel
  modules/boost.program_options/1.83.0/presubmit.yml
  modules/boost.program_options/1.83.0/source.json
  modules/boost.program_options/metadata.json
  modules/boost.ptr_container/1.83.0/MODULE.bazel
  modules/boost.ptr_container/1.83.0/overlay/BUILD.bazel
  modules/boost.ptr_container/1.83.0/overlay/MODULE.bazel
  modules/boost.ptr_container/1.83.0/presubmit.yml
  modules/boost.ptr_container/1.83.0/source.json
  modules/boost.ptr_container/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2956 feat: add pcl
  modules/pcl/1.14.1/MODULE.bazel
  modules/pcl/1.14.1/overlay/BUILD.bazel
  modules/pcl/1.14.1/overlay/MODULE.bazel
  modules/pcl/1.14.1/overlay/test/BUILD.bazel
  modules/pcl/1.14.1/overlay/test/MODULE.bazel
  modules/pcl/1.14.1/presubmit.yml
  modules/pcl/1.14.1/source.json
  modules/pcl/metadata.json
Labels: presubmit-auto-run

#2971 jsoncpp@1.9.6
  modules/jsoncpp/1.9.6/MODULE.bazel
  modules/jsoncpp/1.9.6/patches/module_dot_bazel.patch
  modules/jsoncpp/1.9.6/presubmit.yml
  modules/jsoncpp/1.9.6/source.json
  modules/jsoncpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2965 Add new module `engflowapis`
  modules/engflowapis/2024.10.16/MODULE.bazel
  modules/engflowapis/2024.10.16/presubmit.yml
  modules/engflowapis/2024.10.16/source.json
  modules/engflowapis/metadata.json
Labels: presubmit-auto-run

#2990 feat: add foxglove schemas protobuf 0.2.1
  modules/foxglove_schemas_protobuf/0.2.1/MODULE.bazel
  modules/foxglove_schemas_protobuf/0.2.1/overlay/BUILD.bazel
  modules/foxglove_schemas_protobuf/0.2.1/overlay/MODULE.bazel
  modules/foxglove_schemas_protobuf/0.2.1/presubmit.yml
  modules/foxglove_schemas_protobuf/0.2.1/source.json
  modules/foxglove_schemas_protobuf/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2991 Add glib (@ 2.82.2)
  modules/glib/2.82.2/MODULE.bazel
  modules/glib/2.82.2/overlay/BUILD.bazel
  modules/glib/2.82.2/overlay/MODULE.bazel
  modules/glib/2.82.2/overlay/config.h-linux
  modules/glib/2.82.2/overlay/config.h-macos
  modules/glib/2.82.2/overlay/glib/BUILD.bazel
  modules/glib/2.82.2/overlay/glib/glibconfig.h.in-posix
  modules/glib/2.82.2/overlay/glib/stub_libintl/libintl.h
  modules/glib/2.82.2/overlay/glib/tests/BUILD.bazel
  modules/glib/2.82.2/overlay/gmodule/BUILD.bazel
  modules/glib/2.82.2/overlay/tools/BUILD.bazel
  modules/glib/2.82.2/patches/gmodule_include_path.patch
  modules/glib/2.82.2/patches/test_portability.patch
  modules/glib/2.82.2/presubmit.yml
  modules/glib/2.82.2/source.json
  modules/glib/metadata.json
Labels: presubmit-auto-run

#2882 openexr@3.3.0
  modules/openexr/3.3.0/MODULE.bazel
  modules/openexr/3.3.0/patches/module_dot_bazel.patch
  modules/openexr/3.3.0/presubmit.yml
  modules/openexr/3.3.0/source.json
  modules/openexr/metadata.json
Labels: presubmit-auto-run

#2992 feat: add `toolchain_utils@1.0.0-beta.16`
  modules/toolchain_utils/1.0.0-beta.16/MODULE.bazel
  modules/toolchain_utils/1.0.0-beta.16/presubmit.yml
  modules/toolchain_utils/1.0.0-beta.16/source.json
  modules/toolchain_utils/metadata.json
Labels: presubmit-auto-run

#3011 add babylon@1.4.0 to bcr
  modules/babylon/1.4.1/MODULE.bazel
  modules/babylon/1.4.1/presubmit.yml
  modules/babylon/1.4.1/source.json
  modules/babylon/metadata.json
Labels: presubmit-auto-run

#3014 Update grpc zlib dependency
  modules/grpc/1.66.0.bcr.3/MODULE.bazel
  modules/grpc/1.66.0.bcr.3/patches/add_module_bazel.patch
  modules/grpc/1.66.0.bcr.3/patches/adopt_bzlmod.patch
  modules/grpc/1.66.0.bcr.3/patches/disable-layering-check.patch
  modules/grpc/1.66.0.bcr.3/presubmit.yml
  modules/grpc/1.66.0.bcr.3/source.json
  modules/grpc/metadata.json
Labels: skip-url-stability-check

#3025 feat: add `libxcrypt@4.4.36`
  modules/libxcrypt/4.4.36/MODULE.bazel
  modules/libxcrypt/4.4.36/overlay/BUILD.bazel
  modules/libxcrypt/4.4.36/overlay/MODULE.bazel
  modules/libxcrypt/4.4.36/overlay/REPO.bazel
  modules/libxcrypt/4.4.36/overlay/config/BUILD.bazel
  modules/libxcrypt/4.4.36/overlay/config/amd64-linux.h
  modules/libxcrypt/4.4.36/overlay/config/arm64-linux.h
  modules/libxcrypt/4.4.36/overlay/crypt-hashes/BUILD.bazel
  modules/libxcrypt/4.4.36/overlay/crypt-hashes/all.h
  modules/libxcrypt/4.4.36/overlay/crypt-symbol-vers/BUILD.bazel
  modules/libxcrypt/4.4.36/overlay/crypt-symbol-vers/disable-obsolete-api.h
  modules/libxcrypt/4.4.36/overlay/lib/BUILD.bazel
  modules/libxcrypt/4.4.36/overlay/test/BUILD.bazel
  modules/libxcrypt/4.4.36/overlay/test/bazel.py
  modules/libxcrypt/4.4.36/overlay/test/cc_test.bzl
  modules/libxcrypt/4.4.36/presubmit.yml
  modules/libxcrypt/4.4.36/source.json
  modules/libxcrypt/metadata.json
Labels: presubmit-auto-run

#2975 feat: add triton-inference-server-common.
  modules/triton-inference-server-common/0.0.0-20240821-578491f/MODULE.bazel
  modules/triton-inference-server-common/0.0.0-20240821-578491f/patches/triton-inference-server-common.modules.patch
  modules/triton-inference-server-common/0.0.0-20240821-578491f/presubmit.yml
  modules/triton-inference-server-common/0.0.0-20240821-578491f/source.json
  modules/triton-inference-server-common/metadata.json
Labels: skip-url-stability-check

#3038 asio@1.32.0
  modules/asio/1.32.0/MODULE.bazel
  modules/asio/1.32.0/overlay/BUILD.bazel
  modules/asio/1.32.0/overlay/MODULE.bazel
  modules/asio/1.32.0/presubmit.yml
  modules/asio/1.32.0/source.json
  modules/asio/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3031 Add fuzztest@20241028.0 to the registry
  modules/fuzztest/20241028.0/MODULE.bazel
  modules/fuzztest/20241028.0/presubmit.yml
  modules/fuzztest/20241028.0/source.json
  modules/fuzztest/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3002 Add pybind11_bazel 2.13.6
  modules/pybind11_bazel/2.13.6/MODULE.bazel
  modules/pybind11_bazel/2.13.6/presubmit.yml
  modules/pybind11_bazel/2.13.6/source.json
  modules/pybind11_bazel/metadata.json
Labels: presubmit-auto-run

#3058 feat: add `toolchain_utils@1.0.0-beta.17`
  modules/toolchain_utils/1.0.0-beta.17/MODULE.bazel
  modules/toolchain_utils/1.0.0-beta.17/presubmit.yml
  modules/toolchain_utils/1.0.0-beta.17/source.json
  modules/toolchain_utils/metadata.json
Labels: presubmit-auto-run

#3047 fix(libxcrypt): correct `MODULE.bazel` version
  modules/libxcrypt/4.4.36/MODULE.bazel
  modules/libxcrypt/4.4.36/source.json
Labels: presubmit-auto-run, USE-WITH-CAUTION-skip-modification-check

#3061 feat: add `ape@1.0.0-beta.14`
  modules/ape/1.0.0-beta.14/MODULE.bazel
  modules/ape/1.0.0-beta.14/presubmit.yml
  modules/ape/1.0.0-beta.14/source.json
  modules/ape/metadata.json
Labels: presubmit-auto-run

#3050 Add websocket with configurable boost
  modules/websocketpp/0.8.2.bcr.2/MODULE.bazel
  modules/websocketpp/0.8.2.bcr.2/overlay/BUILD.bazel
  modules/websocketpp/0.8.2.bcr.2/overlay/MODULE.bazel
  modules/websocketpp/0.8.2.bcr.2/presubmit.yml
  modules/websocketpp/0.8.2.bcr.2/source.json
  modules/websocketpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3063 blake3@1.5.4
  modules/blake3/1.5.4/MODULE.bazel
  modules/blake3/1.5.4/patches/add_build_file.patch
  modules/blake3/1.5.4/patches/module_dot_bazel.patch
  modules/blake3/1.5.4/presubmit.yml
  modules/blake3/1.5.4/source.json
  modules/blake3/metadata.json
Labels: skip-url-stability-check

#3069 Add boost.process
  modules/boost.process/1.83.0/MODULE.bazel
  modules/boost.process/1.83.0/overlay/BUILD.bazel
  modules/boost.process/1.83.0/overlay/MODULE.bazel
  modules/boost.process/1.83.0/presubmit.yml
  modules/boost.process/1.83.0/source.json
  modules/boost.process/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3077 fast_double_parser@0.8.0
  modules/fast_double_parser/0.8.0/MODULE.bazel
  modules/fast_double_parser/0.8.0/patches/add_build_file.patch
  modules/fast_double_parser/0.8.0/patches/module_dot_bazel.patch
  modules/fast_double_parser/0.8.0/presubmit.yml
  modules/fast_double_parser/0.8.0/source.json
  modules/fast_double_parser/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3075 Add highs 1.8.0
  modules/highs/1.8.0/MODULE.bazel
  modules/highs/1.8.0/presubmit.yml
  modules/highs/1.8.0/source.json
  modules/highs/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3028 OpenSSH `9.9p1`
  modules/openssh/9.9p1/MODULE.bazel
  modules/openssh/9.9p1/overlay/BUILD.bazel
  modules/openssh/9.9p1/overlay/MODULE.bazel
  modules/openssh/9.9p1/overlay/REPO.bazel
  modules/openssh/9.9p1/overlay/config/BUILD.bazel
  modules/openssh/9.9p1/overlay/config/amd64-linux.h
  modules/openssh/9.9p1/overlay/config/arm64-linux.h
  modules/openssh/9.9p1/patches/includes.patch
  modules/openssh/9.9p1/presubmit.yml
  modules/openssh/9.9p1/source.json
  modules/openssh/metadata.json
Labels: presubmit-auto-run

#3085 double-conversion@3.3.0
  modules/double-conversion/3.3.0/MODULE.bazel
  modules/double-conversion/3.3.0/patches/module_dot_bazel.patch
  modules/double-conversion/3.3.0/presubmit.yml
  modules/double-conversion/3.3.0/source.json
  modules/double-conversion/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3086 roaring@4.2.1
  modules/roaring/4.2.1/MODULE.bazel
  modules/roaring/4.2.1/overlay/BUILD.bazel
  modules/roaring/4.2.1/overlay/MODULE.bazel
  modules/roaring/4.2.1/presubmit.yml
  modules/roaring/4.2.1/source.json
  modules/roaring/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check
