Repository bazelbuild/bazel-central-registry, pull requests merged in 2024-01, with the labels that each got.

#1244 Add Catch2 v3.5.1
  modules/catch2/3.5.1/MODULE.bazel
  modules/catch2/3.5.1/patches/module_dot_bazel.patch
  modules/catch2/3.5.1/presubmit.yml
  modules/catch2/3.5.1/source.json
  modules/catch2/metadata.json
Labels: skip-url-stability-check

#1276 feat: add cpptoml
  modules/cpptoml/0.1.1/MODULE.bazel
  modules/cpptoml/0.1.1/patches/add_build_file.patch
  modules/cpptoml/0.1.1/patches/module_dot_bazel.patch
  modules/cpptoml/0.1.1/presubmit.yml
  modules/cpptoml/0.1.1/source.json
  modules/cpptoml/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1265 add module rules_tf
  modules/rules_tf/0.0.1/MODULE.bazel
  modules/rules_tf/0.0.1/presubmit.yml
  modules/rules_tf/0.0.1/source.json
  modules/rules_tf/metadata.json
Labels: presubmit-auto-run

#1307 Add rules_perl 0.2.0
  modules/rules_perl/0.2.0/MODULE.bazel
  modules/rules_perl/0.2.0/patches/module_dot_bazel_version.patch
  modules/rules_perl/0.2.0/presubmit.yml
  modules/rules_perl/0.2.0/source.json
  modules/rules_perl/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1309 Add oneTBB 2021.11.0
  modules/onetbb/2021.11.0/MODULE.bazel
  modules/onetbb/2021.11.0/patches/add_module_dot_bazel.patch
  modules/onetbb/2021.11.0/presubmit.yml
  modules/onetbb/2021.11.0/source.json
  modules/onetbb/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1317 Add abseil-cpp@20230802.1
  modules/abseil-cpp/20230802.1/MODULE.bazel
  modules/abseil-cpp/20230802.1/patches/module_dot_bazel.patch
  modules/abseil-cpp/20230802.1/presubmit.yml
  modules/abseil-cpp/20230802.1/source.json
  modules/abseil-cpp/metadata.json
Labels: skip-url-stability-check

#1304 XPlane SDK module
  modules/xplane_sdk/4.0.1/MODULE.bazel
  modules/xplane_sdk/4.0.1/patches/patch.diff
  modules/xplane_sdk/4.0.1/presubmit.yml
  modules/xplane_sdk/4.0.1/source.json
  modules/xplane_sdk/metadata.json
Labels: presubmit-auto-run

#1333 Add zlib-ng 2.0.7
  modules/zlib-ng/2.0.7/MODULE.bazel
  modules/zlib-ng/2.0.7/patches/add_build_file.patch
  modules/zlib-ng/2.0.7/patches/add_module_dot_bazel.patch
  modules/zlib-ng/2.0.7/presubmit.yml
  modules/zlib-ng/2.0.7/source.json
  modules/zlib-ng/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1336 Add rules_jvm_external 6.0
  modules/rules_jvm_external/6.0/MODULE.bazel
  modules/rules_jvm_external/6.0/patches/module_dot_bazel.patch
  modules/rules_jvm_external/6.0/presubmit.yml
  modules/rules_jvm_external/6.0/source.json
  modules/rules_jvm_external/metadata.json
Labels: presubmit-auto-run

#1190 Make alias protocol_compiler visible
  modules/grpc/1.48.1.bcr.3/MODULE.bazel
  modules/grpc/1.48.1.bcr.3/patches/adopt_bzlmod.patch
  modules/grpc/1.48.1.bcr.3/presubmit.yml
  modules/grpc/1.48.1.bcr.3/source.json
  modules/grpc/metadata.json
Labels: skip-url-stability-check

#1344 feat: add foonathan memory 0.7.3
  modules/foonathan_memory/0.7.3/MODULE.bazel
  modules/foonathan_memory/0.7.3/patches/add_build_file.patch
  modules/foonathan_memory/0.7.3/patches/module_dot_bazel.patch
  modules/foonathan_memory/0.7.3/presubmit.yml
  modules/foonathan_memory/0.7.3/source.json
  modules/foonathan_memory/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1347 Add Catch2 3.5.2
  modules/catch2/3.5.2/MODULE.bazel
  modules/catch2/3.5.2/patches/module_dot_bazel.patch
  modules/catch2/3.5.2/presubmit.yml
  modules/catch2/3.5.2/source.json
  modules/catch2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1345 feat: add fastcdr v2.1.3
  modules/fastcdr/2.1.3/MODULE.bazel
  modules/fastcdr/2.1.3/patches/add_build_file.patch
  modules/fastcdr/2.1.3/patches/add_cmake_configure_file.patch
  modules/fastcdr/2.1.3/patches/module_dot_bazel.patch
  modules/fastcdr/2.1.3/presubmit.yml
  modules/fastcdr/2.1.3/source.json
  modules/fastcdr/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1349 Add c-blosc2 2.12.0
  modules/c-blosc2/2.12.0/MODULE.bazel
  modules/c-blosc2/2.12.0/patches/add_build_file.patch
  modules/c-blosc2/2.12.0/patches/add_module_dot_bazel.patch
  modules/c-blosc2/2.12.0/presubmit.yml
  modules/c-blosc2/2.12.0/source.json
  modules/c-blosc2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1270 Add `toolchain_utils@1.0.0-alpha.16`
  modules/toolchain_utils/1.0.0-alpha.16/MODULE.bazel
  modules/toolchain_utils/1.0.0-alpha.16/patches/0001-refactor-rename-to-toolchain_utils-for-BCR.patch
  modules/toolchain_utils/1.0.0-alpha.16/presubmit.yml
  modules/toolchain_utils/1.0.0-alpha.16/source.json
  modules/toolchain_utils/metadata.json
Labels: presubmit-auto-run

#1246 Add grpc v1.56.3
  modules/grpc/1.56.3/MODULE.bazel
  modules/grpc/1.56.3/patches/adopt_bzlmod.patch
  modules/grpc/1.56.3/patches/python.patch
  modules/grpc/1.56.3/presubmit.yml
  modules/grpc/1.56.3/source.json
  modules/grpc/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1382 Add grpc v1.56.3.bcr.1
  modules/grpc/1.56.3.bcr.1/MODULE.bazel
  modules/grpc/1.56.3.bcr.1/patches/adopt_bzlmod.patch
  modules/grpc/1.56.3.bcr.1/patches/python.patch
  modules/grpc/1.56.3.bcr.1/presubmit.yml
  modules/grpc/1.56.3.bcr.1/source.json
  modules/grpc/metadata.json
Labels: skip-url-stability-check

#1395 Add tinyxml2 v10.0.0
  modules/tinyxml2/10.0.0/MODULE.bazel
  modules/tinyxml2/10.0.0/patches/add_build_file.patch
  modules/tinyxml2/10.0.0/patches/module_dot_bazel.patch
  modules/tinyxml2/10.0.0/presubmit.yml
  modules/tinyxml2/10.0.0/source.json
  modules/tinyxml2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1399 Add websocketpp 0.8.2
  modules/websocketpp/0.8.2/MODULE.bazel
  modules/websocketpp/0.8.2/patches/add_build_file.patch
  modules/websocketpp/0.8.2/patches/module_dot_bazel.patch
  modules/websocketpp/0.8.2/presubmit.yml
  modules/websocketpp/0.8.2/source.json
  modules/websocketpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1398 Update boringssl to 20240126-22d349c
  modules/boringssl/0.0.0-20240126-22d349c/MODULE.bazel
  modules/boringssl/0.0.0-20240126-22d349c/patches/module_dot_bazel.patch
  modules/boringssl/0.0.0-20240126-22d349c/presubmit.yml
  modules/boringssl/0.0.0-20240126-22d349c/source.json
  modules/boringssl/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1104 Add libyaml module definition
  modules/libyaml/0.2.5/MODULE.bazel
  modules/libyaml/0.2.5/patches/add_build_file.patch
  modules/libyaml/0.2.5/patches/module_dot_bazel.patch
  modules/libyaml/0.2.5/presubmit.yml
  modules/libyaml/0.2.5/source.json
  modules/libyaml/metadata.json
Labels: presubmit-auto-run
