Repository bazelbuild/bazel-central-registry, pull requests merged in 2024-02, with the labels that each got.

#1417 Upgrade spdlog to1.13.0
  modules/spdlog/1.13.0/MODULE.bazel
  modules/spdlog/1.13.0/patches/add_build_file.patch
  modules/spdlog/1.13.0/patches/module_dot_bazel.patch
  modules/spdlog/1.13.0/presubmit.yml
  modules/spdlog/1.13.0/source.json
  modules/spdlog/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1420 feat: add libuuid
  modules/libuuid/2.39.3/MODULE.bazel
  modules/libuuid/2.39.3/patches/add_build_file.patch
  modules/libuuid/2.39.3/patches/module_dot_bazel.patch
  modules/libuuid/2.39.3/presubmit.yml
  modules/libuuid/2.39.3/source.json
  modules/libuuid/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1421 feat: add qdldl
  modules/qdldl/0.1.7/MODULE.bazel
  modules/qdldl/0.1.7/patches/add_build_file.patch
  modules/qdldl/0.1.7/patches/add_cmake_configure_file.patch
  modules/qdldl/0.1.7/patches/module_dot_bazel.patch
  modules/qdldl/0.1.7/presubmit.yml
  modules/qdldl/0.1.7/source.json
  modules/qdldl/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1425 Set c-blosc2 visibility to public
  modules/c-blosc2/2.12.0.bcr.1/MODULE.bazel
  modules/c-blosc2/2.12.0.bcr.1/patches/add_build_file.patch
  modules/c-blosc2/2.12.0.bcr.1/patches/add_module_dot_bazel.patch
  modules/c-blosc2/2.12.0.bcr.1/presubmit.yml
  modules/c-blosc2/2.12.0.bcr.1/source.json
  modules/c-blosc2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1430 fix: address comment in libuuid PR
  modules/libuuid/2.39.3.bcr.1/MODULE.bazel
  modules/libuuid/2.39.3.bcr.1/patches/add_build_file.patch
  modules/libuuid/2.39.3.bcr.1/patches/module_dot_bazel.patch
  modules/libuuid/2.39.3.bcr.1/presubmit.yml
  modules/libuuid/2.39.3.bcr.1/source.json
  modules/libuuid/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1406 Add squashfs-tools
  modules/squashfs-tools/4.6.1/MODULE.bazel
  modules/squashfs-tools/4.6.1/patches/add_build_file.patch
  modules/squashfs-tools/4.6.1/patches/module_dot_bazel.patch
  modules/squashfs-tools/4.6.1/presubmit.yml
  modules/squashfs-tools/4.6.1/source.json
  modules/squashfs-tools/metadata.json
Labels: skip-url-stability-check

#1441 feat: add suitesparse amd
  modules/suitesparse/7.6.0/MODULE.bazel
  modules/suitesparse/7.6.0/patches/add_build_file.patch
  modules/suitesparse/7.6.0/patches/module_dot_bazel.patch
  modules/suitesparse/7.6.0/presubmit.yml
  modules/suitesparse/7.6.0/source.json
  modules/suitesparse/metadata.json
Labels: skip-url-stability-check

#1437 Add SwiftSyntax 509.1.1
  modules/swift-syntax/509.1.1/MODULE.bazel
  modules/swift-syntax/509.1.1/patches/deps.patch
  modules/swift-syntax/509.1.1/patches/module_dot_bazel.patch
  modules/swift-syntax/509.1.1/presubmit.yml
  modules/swift-syntax/509.1.1/source.json
  modules/swift-syntax/metadata.json
Labels: skip-url-stability-check

#1438 Add Swift Argument Parser 1.3.0
  modules/swift_argument_parser/1.3.0/MODULE.bazel
  modules/swift_argument_parser/1.3.0/patches/add_build_file.patch
  modules/swift_argument_parser/1.3.0/patches/module_dot_bazel.patch
  modules/swift_argument_parser/1.3.0/presubmit.yml
  modules/swift_argument_parser/1.3.0/source.json
  modules/swift_argument_parser/metadata.json
Labels: skip-url-stability-check

#1445 Add swift-index-store module
  modules/swift-index-store/1.6.0/MODULE.bazel
  modules/swift-index-store/1.6.0/patches/module_dot_bazel.patch
  modules/swift-index-store/1.6.0/presubmit.yml
  modules/swift-index-store/1.6.0/source.json
  modules/swift-index-store/metadata.json
Labels: skip-url-stability-check

#1432 Add nanoflann version 1.5.4
  modules/nanoflann/1.5.4/MODULE.bazel
  modules/nanoflann/1.5.4/patches/add_build_file.patch
  modules/nanoflann/1.5.4/patches/module_dot_bazel.patch
  modules/nanoflann/1.5.4/presubmit.yml
  modules/nanoflann/1.5.4/source.json
  modules/nanoflann/metadata.json
Labels: skip-url-stability-check

#1448 Add Sophus version 1.22.10
  modules/sophus/1.22.10/MODULE.bazel
  modules/sophus/1.22.10/patches/add_build_file.patch
  modules/sophus/1.22.10/patches/module_dot_bazel.patch
  modules/sophus/1.22.10/presubmit.yml
  modules/sophus/1.22.10/source.json
  modules/sophus/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1469 Add flip 1.3
  modules/flip/1.3/MODULE.bazel
  modules/flip/1.3/patches/add_build_file.patch
  modules/flip/1.3/patches/module_dot_bazel.patch
  modules/flip/1.3/presubmit.yml
  modules/flip/1.3/source.json
  modules/flip/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1463 Add liburing@2.5
  modules/liburing/2.5/MODULE.bazel
  modules/liburing/2.5/patches/add_build_file.patch
  modules/liburing/2.5/patches/module_dot_bazel.patch
  modules/liburing/2.5/presubmit.yml
  modules/liburing/2.5/source.json
  modules/liburing/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1367 feat: add `download_utils@1.0.0-beta.1`
  modules/download_utils/1.0.0-beta.1/MODULE.bazel
  modules/download_utils/1.0.0-beta.1/presubmit.yml
  modules/download_utils/1.0.0-beta.1/source.json
  modules/download_utils/metadata.json
Labels: presubmit-auto-run

#1491 Add CDT (Delaunay triangulations) v1.4.0 module
  modules/cdt/1.4.0/MODULE.bazel
  modules/cdt/1.4.0/patches/add_build_file.patch
  modules/cdt/1.4.0/patches/add_module_dot_bazel.patch
  modules/cdt/1.4.0/presubmit.yml
  modules/cdt/1.4.0/source.json
  modules/cdt/metadata.json
Labels: skip-url-stability-check

#1495 Add bcr.1 patch for Sophus 1.22.10
  modules/sophus/1.22.10.bcr.1/MODULE.bazel
  modules/sophus/1.22.10.bcr.1/patches/add_build_file.patch
  modules/sophus/1.22.10.bcr.1/patches/module_dot_bazel.patch
  modules/sophus/1.22.10.bcr.1/presubmit.yml
  modules/sophus/1.22.10.bcr.1/source.json
  modules/sophus/metadata.json
Labels: skip-url-stability-check

#1492 Add pybind11_bazel release 2.11.1.bzl.2.
  modules/pybind11_bazel/2.11.1.bzl.2/MODULE.bazel
  modules/pybind11_bazel/2.11.1.bzl.2/presubmit.yml
  modules/pybind11_bazel/2.11.1.bzl.2/source.json
  modules/pybind11_bazel/metadata.json
Labels: presubmit-auto-run

#1496 Add OpenEXR 3.2.2
  modules/openexr/3.2.2/MODULE.bazel
  modules/openexr/3.2.2/patches/module_dot_bazel.patch
  modules/openexr/3.2.2/presubmit.yml
  modules/openexr/3.2.2/source.json
  modules/openexr/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1502 liburing@2.5: build against (default) libc
  modules/liburing/2.5/patches/add_build_file.patch
  modules/liburing/2.5/source.json
Labels: presubmit-auto-run, skip-url-stability-check, USE-WITH-CAUTION-skip-modification-check

#1513 feat: add `rules_diff@1.0.0-alpha.3`
  modules/rules_diff/1.0.0-alpha.3/MODULE.bazel
  modules/rules_diff/1.0.0-alpha.3/presubmit.yml
  modules/rules_diff/1.0.0-alpha.3/source.json
  modules/rules_diff/metadata.json
Labels: presubmit-auto-run

#1514 feat: add `rules_squashfs@1.0.0-alpha.1`
  modules/rules_squashfs/1.0.0-alpha.1/MODULE.bazel
  modules/rules_squashfs/1.0.0-alpha.1/presubmit.yml
  modules/rules_squashfs/1.0.0-alpha.1/source.json
  modules/rules_squashfs/metadata.json
Labels: presubmit-auto-run

#1515 feat: add cpplint
  modules/cpplint/1.6.1/MODULE.bazel
  modules/cpplint/1.6.1/patches/add_build_file.patch
  modules/cpplint/1.6.1/patches/module_dot_bazel.patch
  modules/cpplint/1.6.1/presubmit.yml
  modules/cpplint/1.6.1/source.json
  modules/cpplint/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1500 Add glog 0.7.0
  modules/glog/0.7.0/MODULE.bazel
  modules/glog/0.7.0/patches/module_dot_bazel.patch
  modules/glog/0.7.0/presubmit.yml
  modules/glog/0.7.0/source.json
  modules/glog/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1498 Add Embree 4.3.1
  modules/embree/4.3.1/MODULE.bazel
  modules/embree/4.3.1/patches/bazel_build.patch
  modules/embree/4.3.1/patches/default_h.patch
  modules/embree/4.3.1/patches/device_cpp.patch
  modules/embree/4.3.1/patches/module_dot_bazel.patch
  modules/embree/4.3.1/patches/rtcore_common_h.patch
  modules/embree/4.3.1/patches/rtcore_h.patch
  modules/embree/4.3.1/presubmit.yml
  modules/embree/4.3.1/source.json
  modules/embree/metadata.json
Labels: skip-url-stability-check

#1534 Add libpng 1.6.41
  modules/libpng/1.6.41/MODULE.bazel
  modules/libpng/1.6.41/patches/add_build_file.patch
  modules/libpng/1.6.41/patches/module_dot_bazel.patch
  modules/libpng/1.6.41/presubmit.yml
  modules/libpng/1.6.41/source.json
  modules/libpng/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1535 Add libpng 1.6.42
  modules/libpng/1.6.42/MODULE.bazel
  modules/libpng/1.6.42/patches/add_build_file.patch
  modules/libpng/1.6.42/patches/module_dot_bazel.patch
  modules/libpng/1.6.42/presubmit.yml
  modules/libpng/1.6.42/source.json
  modules/libpng/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1536 Add libpng 1.6.43
  modules/libpng/1.6.43/MODULE.bazel
  modules/libpng/1.6.43/patches/add_build_file.patch
  modules/libpng/1.6.43/patches/module_dot_bazel.patch
  modules/libpng/1.6.43/presubmit.yml
  modules/libpng/1.6.43/source.json
  modules/libpng/metadata.json
Labels: skip-url-stability-check

#1525 feat: add onnx
  modules/onnx/1.15.0/MODULE.bazel
  modules/onnx/1.15.0/patches/add_build_file.patch
  modules/onnx/1.15.0/patches/module_dot_bazel.patch
  modules/onnx/1.15.0/presubmit.yml
  modules/onnx/1.15.0/source.json
  modules/onnx/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1487 feat: add ncurses
  modules/ncurses/6.4.20221231/MODULE.bazel
  modules/ncurses/6.4.20221231/patches/add_bazel_tools.patch
  modules/ncurses/6.4.20221231/patches/add_build_file.patch
  modules/ncurses/6.4.20221231/patches/change_mode.patch
  modules/ncurses/6.4.20221231/patches/module_dot_bazel.patch
  modules/ncurses/6.4.20221231/presubmit.yml
  modules/ncurses/6.4.20221231/source.json
  modules/ncurses/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1465 xz (Lzma)
  modules/xz/5.4.5/MODULE.bazel
  modules/xz/5.4.5/patches/patch.diff
  modules/xz/5.4.5/presubmit.yml
  modules/xz/5.4.5/source.json
  modules/xz/metadata.json
Labels: presubmit-auto-run
