Repository bazelbuild/bazel-central-registry, pull requests merged in 2024-05, with the labels that each got.

#1928 Add gcem
  modules/gcem/1.18.0/MODULE.bazel
  modules/gcem/1.18.0/patches/add_build_file.patch
  modules/gcem/1.18.0/patches/module_dot_bazel.patch
  modules/gcem/1.18.0/presubmit.yml
  modules/gcem/1.18.0/source.json
  modules/gcem/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1881 feat(rules_diff): add `1.0.0-beta.2`
  modules/rules_diff/1.0.0-beta.2/MODULE.bazel
  modules/rules_diff/1.0.0-beta.2/presubmit.yml
  modules/rules_diff/1.0.0-beta.2/source.json
  modules/rules_diff/metadata.json
Labels: presubmit-auto-run

#1921 rules_pkl@0.1.0
  modules/rules_pkl/0.1.0/MODULE.bazel
  modules/rules_pkl/0.1.0/patches/update-version.patch
  modules/rules_pkl/0.1.0/presubmit.yml
  modules/rules_pkl/0.1.0/source.json
  modules/rules_pkl/metadata.json
Labels: presubmit-auto-run

#1939 cel-spec@0.15.0
  modules/cel-spec/0.15.0/MODULE.bazel
  modules/cel-spec/0.15.0/patches/cel-spec.patch
  modules/cel-spec/0.15.0/patches/module_dot_bazel.patch
  modules/cel-spec/0.15.0/presubmit.yml
  modules/cel-spec/0.15.0/source.json
  modules/cel-spec/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1941 protoc-gen-validate@1.0.4
  modules/protoc-gen-validate/1.0.4/MODULE.bazel
  modules/protoc-gen-validate/1.0.4/patches/module_dot_bazel.patch
  modules/protoc-gen-validate/1.0.4/patches/pgv.patch
  modules/protoc-gen-validate/1.0.4/presubmit.yml
  modules/protoc-gen-validate/1.0.4/source.json
  modules/protoc-gen-validate/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1833 boringssl@0.0.0-20240530-2db0eb3
  modules/boringssl/0.0.0-20240530-2db0eb3/MODULE.bazel
  modules/boringssl/0.0.0-20240530-2db0eb3/patches/module_dot_bazel.patch
  modules/boringssl/0.0.0-20240530-2db0eb3/presubmit.yml
  modules/boringssl/0.0.0-20240530-2db0eb3/source.json
  modules/boringssl/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1952 Add catch2 3.6.0
  modules/catch2/3.6.0/MODULE.bazel
  modules/catch2/3.6.0/patches/module_dot_bazel.patch
  modules/catch2/3.6.0/presubmit.yml
  modules/catch2/3.6.0/source.json
  modules/catch2/metadata.json
Labels: skip-url-stability-check

#1951 Add libwebp 1.4.0
  modules/libwebp/1.4.0/MODULE.bazel
  modules/libwebp/1.4.0/patches/add_build_file.patch
  modules/libwebp/1.4.0/patches/module_dot_bazel.patch
  modules/libwebp/1.4.0/presubmit.yml
  modules/libwebp/1.4.0/source.json
  modules/libwebp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1955 scip@8.1.0
  modules/scip/8.1.0/MODULE.bazel
  modules/scip/8.1.0/patches/add_build_file.patch
  modules/scip/8.1.0/patches/module_dot_bazel.patch
  modules/scip/8.1.0/patches/scip.patch
  modules/scip/8.1.0/presubmit.yml
  modules/scip/8.1.0/source.json
  modules/scip/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1940 highs@1.7.0
  modules/highs/1.7.0/MODULE.bazel
  modules/highs/1.7.0/patches/highs.patch
  modules/highs/1.7.0/patches/module_dot_bazel.patch
  modules/highs/1.7.0/presubmit.yml
  modules/highs/1.7.0/source.json
  modules/highs/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1886 civetweb@1.16
  modules/civetweb/1.16/MODULE.bazel
  modules/civetweb/1.16/patches/add_build_file.patch
  modules/civetweb/1.16/patches/module_dot_bazel.patch
  modules/civetweb/1.16/presubmit.yml
  modules/civetweb/1.16/source.json
  modules/civetweb/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1959 cpuinfo@0.0.0-20231104-d6860c4
  modules/cpuinfo/0.0.0-20231104-d6860c4/MODULE.bazel
  modules/cpuinfo/0.0.0-20231104-d6860c4/patches/module_dot_bazel.patch
  modules/cpuinfo/0.0.0-20231104-d6860c4/presubmit.yml
  modules/cpuinfo/0.0.0-20231104-d6860c4/source.json
  modules/cpuinfo/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1958 fp16@0.0.0-20210320-0a92994
  modules/fp16/0.0.0-20210320-0a92994/MODULE.bazel
  modules/fp16/0.0.0-20210320-0a92994/patches/add_build_file.patch
  modules/fp16/0.0.0-20210320-0a92994/patches/module_dot_bazel.patch
  modules/fp16/0.0.0-20210320-0a92994/presubmit.yml
  modules/fp16/0.0.0-20210320-0a92994/source.json
  modules/fp16/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1957 fxdiv@0.0.0-20201209-63058ef
  modules/fxdiv/0.0.0-20201209-63058ef/MODULE.bazel
  modules/fxdiv/0.0.0-20201209-63058ef/patches/module_dot_bazel.patch
  modules/fxdiv/0.0.0-20201209-63058ef/presubmit.yml
  modules/fxdiv/0.0.0-20201209-63058ef/source.json
  modules/fxdiv/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1972 ruy@0.0.0-20200416-9f53ba4
  modules/ruy/0.0.0-20200416-9f53ba4/MODULE.bazel
  modules/ruy/0.0.0-20200416-9f53ba4/patches/module_dot_bazel.patch
  modules/ruy/0.0.0-20200416-9f53ba4/presubmit.yml
  modules/ruy/0.0.0-20200416-9f53ba4/source.json
  modules/ruy/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1976 feat: add `rules_coreutils@1.0.0-beta.1`
  modules/rules_coreutils/1.0.0-beta.1/MODULE.bazel
  modules/rules_coreutils/1.0.0-beta.1/presubmit.yml
  modules/rules_coreutils/1.0.0-beta.1/source.json
  modules/rules_coreutils/metadata.json
Labels: presubmit-auto-run

#1961 highway@1.1.0
  modules/highway/1.1.0/MODULE.bazel
  modules/highway/1.1.0/patches/module_dot_bazel.patch
  modules/highway/1.1.0/presubmit.yml
  modules/highway/1.1.0/source.json
  modules/highway/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1973 pthreadpool@0.0.0-20230829-4fe0e1e
  modules/pthreadpool/0.0.0-20230829-4fe0e1e/MODULE.bazel
  modules/pthreadpool/0.0.0-20230829-4fe0e1e/patches/module_dot_bazel.patch
  modules/pthreadpool/0.0.0-20230829-4fe0e1e/patches/pthreadpool.patch
  modules/pthreadpool/0.0.0-20230829-4fe0e1e/presubmit.yml
  modules/pthreadpool/0.0.0-20230829-4fe0e1e/source.json
  modules/pthreadpool/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1980 Add SwiftSyntax 510.0.2
  modules/swift-syntax/510.0.2/MODULE.bazel
  modules/swift-syntax/510.0.2/patches/module_dot_bazel.patch
  modules/swift-syntax/510.0.2/presubmit.yml
  modules/swift-syntax/510.0.2/source.json
  modules/swift-syntax/metadata.json
Labels: skip-url-stability-check

#1981 Add SourceKitten 0.35.0
  modules/sourcekitten/0.35.0/MODULE.bazel
  modules/sourcekitten/0.35.0/presubmit.yml
  modules/sourcekitten/0.35.0/source.json
  modules/sourcekitten/metadata.json
Labels: skip-url-stability-check

#1985 libprotobuf-mutator@1.3
  modules/libprotobuf-mutator/1.3/MODULE.bazel
  modules/libprotobuf-mutator/1.3/patches/add_build_file.patch
  modules/libprotobuf-mutator/1.3/patches/module_dot_bazel.patch
  modules/libprotobuf-mutator/1.3/presubmit.yml
  modules/libprotobuf-mutator/1.3/source.json
  modules/libprotobuf-mutator/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1988 cpp-httplib@0.7.15
  modules/cpp-httplib/0.7.15/MODULE.bazel
  modules/cpp-httplib/0.7.15/patches/add_build_file.patch
  modules/cpp-httplib/0.7.15/patches/module_dot_bazel.patch
  modules/cpp-httplib/0.7.15/presubmit.yml
  modules/cpp-httplib/0.7.15/source.json
  modules/cpp-httplib/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2023 Add abseil-py 2.1.0
  modules/abseil-py/2.1.0/MODULE.bazel
  modules/abseil-py/2.1.0/patches/module_dot_bazel.patch
  modules/abseil-py/2.1.0/presubmit.yml
  modules/abseil-py/2.1.0/source.json
  modules/abseil-py/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2037 rules_fuzzing@0.5.2
  modules/rules_fuzzing/0.5.2/MODULE.bazel
  modules/rules_fuzzing/0.5.2/patches/module_dot_bazel.patch
  modules/rules_fuzzing/0.5.2/presubmit.yml
  modules/rules_fuzzing/0.5.2/source.json
  modules/rules_fuzzing/metadata.json
Labels: presubmit-auto-run

#2016 jwt_verify_lib@0.0.0-20230517-b59e807
  modules/jwt_verify_lib/0.0.0-20230517-b59e807/MODULE.bazel
  modules/jwt_verify_lib/0.0.0-20230517-b59e807/patches/jwt_verify_lib.patch
  modules/jwt_verify_lib/0.0.0-20230517-b59e807/patches/module_dot_bazel.patch
  modules/jwt_verify_lib/0.0.0-20230517-b59e807/presubmit.yml
  modules/jwt_verify_lib/0.0.0-20230517-b59e807/source.json
  modules/jwt_verify_lib/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1992 proto-converter@0.0.0-20230607-d77ff30
  modules/proto-converter/0.0.0-20230607-d77ff30/MODULE.bazel
  modules/proto-converter/0.0.0-20230607-d77ff30/patches/module_dot_bazel.patch
  modules/proto-converter/0.0.0-20230607-d77ff30/patches/proto-converter.patch
  modules/proto-converter/0.0.0-20230607-d77ff30/presubmit.yml
  modules/proto-converter/0.0.0-20230607-d77ff30/source.json
  modules/proto-converter/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1991 cctz@2.4
  modules/cctz/2.4/MODULE.bazel
  modules/cctz/2.4/patches/module_dot_bazel.patch
  modules/cctz/2.4/presubmit.yml
  modules/cctz/2.4/source.json
  modules/cctz/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#1987 su-exec@0.0.0-20221219-4c3bb42
  modules/su-exec/0.0.0-20221219-4c3bb42/MODULE.bazel
  modules/su-exec/0.0.0-20221219-4c3bb42/patches/add_build_file.patch
  modules/su-exec/0.0.0-20221219-4c3bb42/patches/module_dot_bazel.patch
  modules/su-exec/0.0.0-20221219-4c3bb42/presubmit.yml
  modules/su-exec/0.0.0-20221219-4c3bb42/source.json
  modules/su-exec/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2065 cpuinfo@3c8b1533ac03dd6531ab6e7b9245d488f13a82a5
  modules/cpuinfo/0.0.0-20240417-3c8b153/MODULE.bazel
  modules/cpuinfo/0.0.0-20240417-3c8b153/patches/module_dot_bazel.patch
  modules/cpuinfo/0.0.0-20240417-3c8b153/presubmit.yml
  modules/cpuinfo/0.0.0-20240417-3c8b153/source.json
  modules/cpuinfo/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2066 grpc-httpjson-transcoding@0.0.0-20230607-ff41eb3
  modules/grpc-httpjson-transcoding/0.0.0-20230607-ff41eb3/MODULE.bazel
  modules/grpc-httpjson-transcoding/0.0.0-20230607-ff41eb3/patches/grpc-httpjson-transcoding.patch
  modules/grpc-httpjson-transcoding/0.0.0-20230607-ff41eb3/patches/module_dot_bazel.patch
  modules/grpc-httpjson-transcoding/0.0.0-20230607-ff41eb3/presubmit.yml
  modules/grpc-httpjson-transcoding/0.0.0-20230607-ff41eb3/source.json
  modules/grpc-httpjson-transcoding/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2061 Add hypothesis@0.0.0-20240425-3acfea6
  modules/hypothesis/0.0.0-20240425-3acfea6/MODULE.bazel
  modules/hypothesis/0.0.0-20240425-3acfea6/patches/add_build_file.patch
  modules/hypothesis/0.0.0-20240425-3acfea6/patches/module_dot_bazel.patch
  modules/hypothesis/0.0.0-20240425-3acfea6/presubmit.yml
  modules/hypothesis/0.0.0-20240425-3acfea6/source.json
  modules/hypothesis/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2115 Add opencensus-proto with golang support
  modules/opencensus-proto/0.4.1.bcr.1/MODULE.bazel
  modules/opencensus-proto/0.4.1.bcr.1/patches/build_dot_bazel.patch
  modules/opencensus-proto/0.4.1.bcr.1/patches/go.patch
  modules/opencensus-proto/0.4.1.bcr.1/patches/module_dot_bazel.patch
  modules/opencensus-proto/0.4.1.bcr.1/presubmit.yml
  modules/opencensus-proto/0.4.1.bcr.1/source.json
  modules/opencensus-proto/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2114 Add cncf/xds
  modules/xds/0.0.0-20240423-555b57e/MODULE.bazel
  modules/xds/0.0.0-20240423-555b57e/patches/bzlmod.patch
  modules/xds/0.0.0-20240423-555b57e/presubmit.yml
  modules/xds/0.0.0-20240423-555b57e/source.json
  modules/xds/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2121 Add bazel_sonarqube
  modules/bazel_sonarqube/1.0.2/MODULE.bazel
  modules/bazel_sonarqube/1.0.2/presubmit.yml
  modules/bazel_sonarqube/1.0.2/source.json
  modules/bazel_sonarqube/metadata.json
Labels: presubmit-auto-run

#2125 Add CLI11@2.4.2.
  modules/cli11/2.4.2/MODULE.bazel
  modules/cli11/2.4.2/patches/module_dot_bazel.patch
  modules/cli11/2.4.2/presubmit.yml
  modules/cli11/2.4.2/source.json
  modules/cli11/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2117 tinyformat: Fix homepage attribute
  modules/tinyformat/metadata.json
Labels: presubmit-auto-run

#2138 Add protobuf v27.0
  modules/protobuf/27.0/MODULE.bazel
  modules/protobuf/27.0/presubmit.yml
  modules/protobuf/27.0/source.json
  modules/protobuf/metadata.json
Labels: presubmit-auto-run

#2074 Add pybind11_protobuf
  modules/pybind11_protobuf/0.0.0-20240524-1d7a729/MODULE.bazel
  modules/pybind11_protobuf/0.0.0-20240524-1d7a729/patches/module-dot-bazel-dev-dependency.patch
  modules/pybind11_protobuf/0.0.0-20240524-1d7a729/patches/module-dot-bazel-pypi-hub-name.patch
  modules/pybind11_protobuf/0.0.0-20240524-1d7a729/patches/module-dot-bazel-version.patch
  modules/pybind11_protobuf/0.0.0-20240524-1d7a729/presubmit.yml
  modules/pybind11_protobuf/0.0.0-20240524-1d7a729/source.json
  modules/pybind11_protobuf/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2126 rules_buf@0.3.0
  modules/rules_buf/0.3.0/MODULE.bazel
  modules/rules_buf/0.3.0/presubmit.yml
  modules/rules_buf/0.3.0/source.json
  modules/rules_buf/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2148 Add tomlplusplus
  modules/tomlplusplus/3.4.0/MODULE.bazel
  modules/tomlplusplus/3.4.0/patches/bazel.patch
  modules/tomlplusplus/3.4.0/presubmit.yml
  modules/tomlplusplus/3.4.0/source.json
  modules/tomlplusplus/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2139 Add libzmq@4.3.5.
  modules/libzmq/4.3.5/MODULE.bazel
  modules/libzmq/4.3.5/patches/add_build_file.patch
  modules/libzmq/4.3.5/patches/module_dot_bazel.patch
  modules/libzmq/4.3.5/presubmit.yml
  modules/libzmq/4.3.5/source.json
  modules/libzmq/metadata.json
Labels: presubmit-auto-run

#2140 Add protobuf v24.4
  modules/protobuf/24.4/MODULE.bazel
  modules/protobuf/24.4/patches/0001-Add-MODULE.bazel.patch
  modules/protobuf/24.4/patches/0002-Add-utf8_range-dependency.patch
  modules/protobuf/24.4/patches/0003-Examples-MODULE.bazel.patch
  modules/protobuf/24.4/patches/0004-Migrate-from-bind-to-alias.patch
  modules/protobuf/24.4/patches/0005-Make-rules_ruby-a-dev-only-dependency.patch
  modules/protobuf/24.4/presubmit.yml
  modules/protobuf/24.4/source.json
  modules/protobuf/metadata.json
Labels: presubmit-auto-run

#2161 Backport patch for C++20 compatibility
  modules/grpc/1.62.1.bcr.1/MODULE.bazel
  modules/grpc/1.62.1.bcr.1/patches/cpp-20-compat.patch
  modules/grpc/1.62.1.bcr.1/patches/update_module_bazel.patch
  modules/grpc/1.62.1.bcr.1/presubmit.yml
  modules/grpc/1.62.1.bcr.1/source.json
  modules/grpc/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check
