Repository bazelbuild/bazel-central-registry, pull requests merged in 2024-08, with the labels that each got.

#2510 Add squashfuse
  modules/squashfuse/0.5.2/MODULE.bazel
  modules/squashfuse/0.5.2/overlay/BUILD.bazel
  modules/squashfuse/0.5.2/overlay/MODULE.bazel
  modules/squashfuse/0.5.2/presubmit.yml
  modules/squashfuse/0.5.2/source.json
  modules/squashfuse/metadata.json
Labels: presubmit-auto-run

#2530 Add abseil-cpp@20240722.0
  modules/abseil-cpp/20240722.0/MODULE.bazel
  modules/abseil-cpp/20240722.0/presubmit.yml
  modules/abseil-cpp/20240722.0/source.json
  modules/abseil-cpp/metadata.json
Labels: presubmit-auto-run

#2525 feat: add `rules_coreutils@1.0.0-beta.6`
  modules/rules_coreutils/1.0.0-beta.6/MODULE.bazel
  modules/rules_coreutils/1.0.0-beta.6/presubmit.yml
  modules/rules_coreutils/1.0.0-beta.6/source.json
  modules/rules_coreutils/metadata.json
Labels: presubmit-auto-run

#2508 Add `target_compatible_with` on `copy_config` in `xz`
  modules/xz/5.4.5.bcr.4/MODULE.bazel
  modules/xz/5.4.5.bcr.4/overlay/BUILD.bazel
  modules/xz/5.4.5.bcr.4/overlay/MODULE.bazel
  modules/xz/5.4.5.bcr.4/overlay/config.lzma-android.h
  modules/xz/5.4.5.bcr.4/overlay/config.lzma-ios-arm64.h
  modules/xz/5.4.5.bcr.4/overlay/config.lzma-ios-armv7.h
  modules/xz/5.4.5.bcr.4/overlay/config.lzma-ios-i386.h
  modules/xz/5.4.5.bcr.4/overlay/config.lzma-linux-aarch64.h
  modules/xz/5.4.5.bcr.4/overlay/config.lzma-linux.h
  modules/xz/5.4.5.bcr.4/overlay/config.lzma-osx-arm64.h
  modules/xz/5.4.5.bcr.4/overlay/config.lzma-osx-x86_64.h
  modules/xz/5.4.5.bcr.4/overlay/config.lzma-windows.h
  modules/xz/5.4.5.bcr.4/overlay/tools.bzl
  modules/xz/5.4.5.bcr.4/overlay/update_lzma_config_header.sh
  modules/xz/5.4.5.bcr.4/patches/fix_test_paths.patch
  modules/xz/5.4.5.bcr.4/presubmit.yml
  modules/xz/5.4.5.bcr.4/source.json
  modules/xz/metadata.json
Labels: presubmit-auto-run

#2537 feat: add boost config
  modules/boost.config/1.83.0/MODULE.bazel
  modules/boost.config/1.83.0/patches/add_build_file.patch
  modules/boost.config/1.83.0/patches/module_dot_bazel.patch
  modules/boost.config/1.83.0/presubmit.yml
  modules/boost.config/1.83.0/source.json
  modules/boost.config/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2535 feat: update foonathan memory
  modules/foonathan_memory/0.7.3.bcr.2/MODULE.bazel
  modules/foonathan_memory/0.7.3.bcr.2/patches/add_build_file.patch
  modules/foonathan_memory/0.7.3.bcr.2/patches/module_dot_bazel.patch
  modules/foonathan_memory/0.7.3.bcr.2/presubmit.yml
  modules/foonathan_memory/0.7.3.bcr.2/source.json
  modules/foonathan_memory/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2543 feat: add boost static_assert
  modules/boost.static_assert/1.83.0/MODULE.bazel
  modules/boost.static_assert/1.83.0/patches/add_build_file.patch
  modules/boost.static_assert/1.83.0/patches/module_dot_bazel.patch
  modules/boost.static_assert/1.83.0/presubmit.yml
  modules/boost.static_assert/1.83.0/source.json
  modules/boost.static_assert/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2539 Add bzlparty_tools@0.4.0
  modules/bzlparty_tools/0.4.0/MODULE.bazel
  modules/bzlparty_tools/0.4.0/presubmit.yml
  modules/bzlparty_tools/0.4.0/source.json
  modules/bzlparty_tools/metadata.json
Labels: presubmit-auto-run

#2542 feat: add boost assert
  modules/boost.assert/1.83.0/MODULE.bazel
  modules/boost.assert/1.83.0/patches/add_build_file.patch
  modules/boost.assert/1.83.0/patches/module_dot_bazel.patch
  modules/boost.assert/1.83.0/presubmit.yml
  modules/boost.assert/1.83.0/source.json
  modules/boost.assert/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2548 feat: update deps of fastdds
  modules/fastdds/2.14.3.bcr.1/MODULE.bazel
  modules/fastdds/2.14.3.bcr.1/patches/add_build_file.patch
  modules/fastdds/2.14.3.bcr.1/patches/module_dot_bazel.patch
  modules/fastdds/2.14.3.bcr.1/presubmit.yml
  modules/fastdds/2.14.3.bcr.1/source.json
  modules/fastdds/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2552 Add swiftlang/swift-syntax version 510.0.3
  modules/swift-syntax/510.0.3/MODULE.bazel
  modules/swift-syntax/510.0.3/patches/fix_module_dot_bazel_versions.patch
  modules/swift-syntax/510.0.3/presubmit.yml
  modules/swift-syntax/510.0.3/source.json
  modules/swift-syntax/metadata.json
Labels: skip-url-stability-check

#2554 Add rules_android v0.5.1
  modules/rules_android/0.5.1/MODULE.bazel
  modules/rules_android/0.5.1/patches/module_dot_bazel_version.patch
  modules/rules_android/0.5.1/presubmit.yml
  modules/rules_android/0.5.1/source.json
  modules/rules_android/metadata.json
Labels: presubmit-auto-run

#2556 Add picotool@1.1.3-rc1
  modules/picotool/1.1.3-rc1/MODULE.bazel
  modules/picotool/1.1.3-rc1/presubmit.yml
  modules/picotool/1.1.3-rc1/source.json
  modules/picotool/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2558 feat: add boost.type_traits
  modules/boost.type_traits/1.83.0/MODULE.bazel
  modules/boost.type_traits/1.83.0/patches/add_build_file.patch
  modules/boost.type_traits/1.83.0/patches/module_dot_bazel.patch
  modules/boost.type_traits/1.83.0/presubmit.yml
  modules/boost.type_traits/1.83.0/source.json
  modules/boost.type_traits/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2559 feat: add boost.preprocessor
  modules/boost.preprocessor/1.83.0/MODULE.bazel
  modules/boost.preprocessor/1.83.0/patches/add_build_file.patch
  modules/boost.preprocessor/1.83.0/patches/module_dot_bazel.patch
  modules/boost.preprocessor/1.83.0/presubmit.yml
  modules/boost.preprocessor/1.83.0/source.json
  modules/boost.preprocessor/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2557 feat: add boost.core
  modules/boost.core/1.83.0/MODULE.bazel
  modules/boost.core/1.83.0/patches/add_build_file.patch
  modules/boost.core/1.83.0/patches/module_dot_bazel.patch
  modules/boost.core/1.83.0/presubmit.yml
  modules/boost.core/1.83.0/source.json
  modules/boost.core/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2564 Add pico-sdk@2.0.0 and picotool@2.0.0
  modules/pico-sdk/2.0.0/MODULE.bazel
  modules/pico-sdk/2.0.0/presubmit.yml
  modules/pico-sdk/2.0.0/source.json
  modules/pico-sdk/metadata.json
  modules/picotool/2.0.0/MODULE.bazel
  modules/picotool/2.0.0/presubmit.yml
  modules/picotool/2.0.0/source.json
  modules/picotool/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2570 feat: add boost.array
  modules/boost.array/1.83.0/MODULE.bazel
  modules/boost.array/1.83.0/patches/add_build_file.patch
  modules/boost.array/1.83.0/patches/module_dot_bazel.patch
  modules/boost.array/1.83.0/presubmit.yml
  modules/boost.array/1.83.0/source.json
  modules/boost.array/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2576 Add onnx 1.16.2
  modules/onnx/1.16.2/MODULE.bazel
  modules/onnx/1.16.2/patches/add_build_file.patch
  modules/onnx/1.16.2/patches/module_dot_bazel.patch
  modules/onnx/1.16.2/presubmit.yml
  modules/onnx/1.16.2/source.json
  modules/onnx/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2578 boost.uuid@1.83.0
  modules/boost.uuid/1.83.0/MODULE.bazel
  modules/boost.uuid/1.83.0/overlay/BUILD.bazel
  modules/boost.uuid/1.83.0/overlay/MODULE.bazel
  modules/boost.uuid/1.83.0/presubmit.yml
  modules/boost.uuid/1.83.0/source.json
  modules/boost.uuid/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2580 feat: add boost.detail
  modules/boost.detail/1.83.0/MODULE.bazel
  modules/boost.detail/1.83.0/overlay/BUILD.bazel
  modules/boost.detail/1.83.0/overlay/MODULE.bazel
  modules/boost.detail/1.83.0/overlay/test/BUILD.bazel
  modules/boost.detail/1.83.0/overlay/test/MODULE.bazel
  modules/boost.detail/1.83.0/presubmit.yml
  modules/boost.detail/1.83.0/source.json
  modules/boost.detail/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2609 Added fremtind_rules_vitest 0.2.0
  modules/fremtind_rules_vitest/0.2.0/MODULE.bazel
  modules/fremtind_rules_vitest/0.2.0/patches/module_dot_bazel_version.patch
  modules/fremtind_rules_vitest/0.2.0/presubmit.yml
  modules/fremtind_rules_vitest/0.2.0/source.json
  modules/fremtind_rules_vitest/metadata.json
Labels: presubmit-auto-run

#2638 Add SwiftSyntax `600.0.0-prerelease-2024-08-14`
  modules/swift-syntax/600.0.0-prerelease-2024-08-14/MODULE.bazel
  modules/swift-syntax/600.0.0-prerelease-2024-08-14/patches/module_dot_bazel.patch
  modules/swift-syntax/600.0.0-prerelease-2024-08-14/presubmit.yml
  modules/swift-syntax/600.0.0-prerelease-2024-08-14/source.json
  modules/swift-syntax/metadata.json
Labels: skip-url-stability-check

#2601 feat: add boost.typeof
  modules/boost.typeof/1.83.0/MODULE.bazel
  modules/boost.typeof/1.83.0/overlay/BUILD.bazel
  modules/boost.typeof/1.83.0/overlay/MODULE.bazel
  modules/boost.typeof/1.83.0/presubmit.yml
  modules/boost.typeof/1.83.0/source.json
  modules/boost.typeof/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2626 feat: add boost.integer
  modules/boost.integer/1.83.0/MODULE.bazel
  modules/boost.integer/1.83.0/overlay/BUILD.bazel
  modules/boost.integer/1.83.0/overlay/MODULE.bazel
  modules/boost.integer/1.83.0/presubmit.yml
  modules/boost.integer/1.83.0/source.json
  modules/boost.integer/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2627 feat: add boost.io
  modules/boost.io/1.83.0/MODULE.bazel
  modules/boost.io/1.83.0/overlay/BUILD.bazel
  modules/boost.io/1.83.0/overlay/MODULE.bazel
  modules/boost.io/1.83.0/presubmit.yml
  modules/boost.io/1.83.0/source.json
  modules/boost.io/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2629 feat: add boost.concept_check
  modules/boost.concept_check/1.83.0/MODULE.bazel
  modules/boost.concept_check/1.83.0/overlay/BUILD.bazel
  modules/boost.concept_check/1.83.0/overlay/MODULE.bazel
  modules/boost.concept_check/1.83.0/presubmit.yml
  modules/boost.concept_check/1.83.0/source.json
  modules/boost.concept_check/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2630 feat: add boost.move
  modules/boost.move/1.83.0/MODULE.bazel
  modules/boost.move/1.83.0/overlay/BUILD.bazel
  modules/boost.move/1.83.0/overlay/MODULE.bazel
  modules/boost.move/1.83.0/presubmit.yml
  modules/boost.move/1.83.0/source.json
  modules/boost.move/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2632 feat: add boost.predef
  modules/boost.predef/1.83.0/MODULE.bazel
  modules/boost.predef/1.83.0/overlay/BUILD.bazel
  modules/boost.predef/1.83.0/overlay/MODULE.bazel
  modules/boost.predef/1.83.0/presubmit.yml
  modules/boost.predef/1.83.0/source.json
  modules/boost.predef/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2634 feat: add boost.tuple
  modules/boost.tuple/1.83.0/MODULE.bazel
  modules/boost.tuple/1.83.0/overlay/BUILD.bazel
  modules/boost.tuple/1.83.0/overlay/MODULE.bazel
  modules/boost.tuple/1.83.0/presubmit.yml
  modules/boost.tuple/1.83.0/source.json
  modules/boost.tuple/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2598 feat: add boost.bind
  modules/boost.bind/1.83.0/MODULE.bazel
  modules/boost.bind/1.83.0/overlay/BUILD.bazel
  modules/boost.bind/1.83.0/overlay/MODULE.bazel
  modules/boost.bind/1.83.0/presubmit.yml
  modules/boost.bind/1.83.0/source.json
  modules/boost.bind/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2641 feat: add `libarmgpuinfo@1.1.0+11140bec96`
  modules/libarmgpuinfo/1.1.0+11140bec96/MODULE.bazel
  modules/libarmgpuinfo/1.1.0+11140bec96/patches/0001-chore-ignore-Bazel-build-symlinks.patch
  modules/libarmgpuinfo/1.1.0+11140bec96/patches/0002-build-add-bzlmod-files.patch
  modules/libarmgpuinfo/1.1.0+11140bec96/patches/0003-build-add-source-Bazel-build.patch
  modules/libarmgpuinfo/1.1.0+11140bec96/patches/0004-build-add-top-level-Bazel-aliases.patch
  modules/libarmgpuinfo/1.1.0+11140bec96/patches/0005-test-add-Bazel-build-tests.patch
  modules/libarmgpuinfo/1.1.0+11140bec96/patches/0006-build-update-module-version.patch
  modules/libarmgpuinfo/1.1.0+11140bec96/presubmit.yml
  modules/libarmgpuinfo/1.1.0+11140bec96/source.json
  modules/libarmgpuinfo/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2631 Update rules_perl w/ includes attr patch
  modules/rules_perl/0.2.3.bcr.1/MODULE.bazel
  modules/rules_perl/0.2.3.bcr.1/patches/data_dep_path_prefix.patch
  modules/rules_perl/0.2.3.bcr.1/patches/includes_attr.patch
  modules/rules_perl/0.2.3.bcr.1/patches/module_dot_bazel_version.patch
  modules/rules_perl/0.2.3.bcr.1/presubmit.yml
  modules/rules_perl/0.2.3.bcr.1/source.json
  modules/rules_perl/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2636 Add rules_cpan
  modules/rules_cpan/1.0.0/MODULE.bazel
  modules/rules_cpan/1.0.0/presubmit.yml
  modules/rules_cpan/1.0.0/source.json
  modules/rules_cpan/metadata.json
Labels: presubmit-auto-run

#2653 Add snappy v1.2.1
  modules/snappy/1.2.1/MODULE.bazel
  modules/snappy/1.2.1/patches/build_dot_bazel.patch
  modules/snappy/1.2.1/patches/module_dot_bazel.patch
  modules/snappy/1.2.1/presubmit.yml
  modules/snappy/1.2.1/source.json
  modules/snappy/metadata.json
Labels: skip-url-stability-check

#2561 Add tink-cc@2.2.0 to BCR
  modules/tink_cc/2.2.0/MODULE.bazel
  modules/tink_cc/2.2.0/presubmit.yml
  modules/tink_cc/2.2.0/source.json
  modules/tink_cc/metadata.json
Labels: presubmit-auto-run

#2637 Add Lcov
  modules/lcov/2.1/MODULE.bazel
  modules/lcov/2.1/overlay/BUILD
  modules/lcov/2.1/overlay/MODULE.bazel
  modules/lcov/2.1/overlay/cpanfile
  modules/lcov/2.1/overlay/cpanfile.snapshot
  modules/lcov/2.1/overlay/cpanfile.snapshot.lock.json
  modules/lcov/2.1/presubmit.yml
  modules/lcov/2.1/source.json
  modules/lcov/metadata.json
Labels: presubmit-auto-run

#2665 feat: add mcap v1.4.0
  modules/mcap/1.4.0/MODULE.bazel
  modules/mcap/1.4.0/overlay/BUILD.bazel
  modules/mcap/1.4.0/overlay/MODULE.bazel
  modules/mcap/1.4.0/presubmit.yml
  modules/mcap/1.4.0/source.json
  modules/mcap/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2654 debian_dependency_bazelizer@1.0.0
  modules/debian_dependency_bazelizer/1.0.0/MODULE.bazel
  modules/debian_dependency_bazelizer/1.0.0/presubmit.yml
  modules/debian_dependency_bazelizer/1.0.0/source.json
  modules/debian_dependency_bazelizer/metadata.json
Labels: presubmit-auto-run

#2677 Add aexml
  modules/aexml/4.7.0/MODULE.bazel
  modules/aexml/4.7.0/patches/add_build_file.patch
  modules/aexml/4.7.0/patches/module_dot_bazel.patch
  modules/aexml/4.7.0/presubmit.yml
  modules/aexml/4.7.0/source.json
  modules/aexml/metadata.json
Labels: skip-url-stability-check

#2662 feat: add boost describe, utility, variant2
  modules/boost.describe/1.83.0/MODULE.bazel
  modules/boost.describe/1.83.0/overlay/BUILD.bazel
  modules/boost.describe/1.83.0/overlay/MODULE.bazel
  modules/boost.describe/1.83.0/presubmit.yml
  modules/boost.describe/1.83.0/source.json
  modules/boost.describe/metadata.json
  modules/boost.utility/1.83.0/MODULE.bazel
  modules/boost.utility/1.83.0/overlay/BUILD.bazel
  modules/boost.utility/1.83.0/overlay/MODULE.bazel
  modules/boost.utility/1.83.0/presubmit.yml
  modules/boost.utility/1.83.0/source.json
  modules/boost.utility/metadata.json
  modules/boost.variant2/1.83.0/MODULE.bazel
  modules/boost.variant2/1.83.0/overlay/BUILD.bazel
  modules/boost.variant2/1.83.0/overlay/MODULE.bazel
  modules/boost.variant2/1.83.0/presubmit.yml
  modules/boost.variant2/1.83.0/source.json
  modules/boost.variant2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2664 feat: add cpp-httplib 0.16.3
  modules/cpp-httplib/0.16.3/MODULE.bazel
  modules/cpp-httplib/0.16.3/overlay/BUILD.bazel
  modules/cpp-httplib/0.16.3/overlay/MODULE.bazel
  modules/cpp-httplib/0.16.3/presubmit.yml
  modules/cpp-httplib/0.16.3/source.json
  modules/cpp-httplib/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2681 feat: add boost container_hash, mpl, optional
  modules/boost.container_hash/1.83.0/MODULE.bazel
  modules/boost.container_hash/1.83.0/overlay/BUILD.bazel
  modules/boost.container_hash/1.83.0/overlay/MODULE.bazel
  modules/boost.container_hash/1.83.0/presubmit.yml
  modules/boost.container_hash/1.83.0/source.json
  modules/boost.container_hash/metadata.json
  modules/boost.mpl/1.83.0/MODULE.bazel
  modules/boost.mpl/1.83.0/overlay/BUILD.bazel
  modules/boost.mpl/1.83.0/overlay/MODULE.bazel
  modules/boost.mpl/1.83.0/presubmit.yml
  modules/boost.mpl/1.83.0/source.json
  modules/boost.mpl/metadata.json
  modules/boost.optional/1.83.0/MODULE.bazel
  modules/boost.optional/1.83.0/overlay/BUILD.bazel
  modules/boost.optional/1.83.0/overlay/MODULE.bazel
  modules/boost.optional/1.83.0/presubmit.yml
  modules/boost.optional/1.83.0/source.json
  modules/boost.optional/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2628 cpp-httplib@0.12.3
  modules/cpp-httplib/0.12.3/MODULE.bazel
  modules/cpp-httplib/0.12.3/patches/0001-Add_module_bazel_file.patch
  modules/cpp-httplib/0.12.3/patches/0002-Add_build_file.patch
  modules/cpp-httplib/0.12.3/presubmit.yml
  modules/cpp-httplib/0.12.3/source.json
  modules/cpp-httplib/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2675 Upgrade asio
  modules/asio/1.31.0/MODULE.bazel
  modules/asio/1.31.0/overlay/BUILD.bazel
  modules/asio/1.31.0/overlay/MODULE.bazel
  modules/asio/1.31.0/presubmit.yml
  modules/asio/1.31.0/source.json
  modules/asio/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2684 feat: add boost function, endian, function_types, unordered, type_index, winapi
  modules/boost.endian/1.83.0/MODULE.bazel
  modules/boost.endian/1.83.0/overlay/BUILD.bazel
  modules/boost.endian/1.83.0/overlay/MODULE.bazel
  modules/boost.endian/1.83.0/presubmit.yml
  modules/boost.endian/1.83.0/source.json
  modules/boost.endian/metadata.json
  modules/boost.function/1.83.0/MODULE.bazel
  modules/boost.function/1.83.0/overlay/BUILD.bazel
  modules/boost.function/1.83.0/overlay/MODULE.bazel
  modules/boost.function/1.83.0/presubmit.yml
  modules/boost.function/1.83.0/source.json
  modules/boost.function/metadata.json
  modules/boost.function_types/1.83.0/MODULE.bazel
  modules/boost.function_types/1.83.0/overlay/BUILD.bazel
  modules/boost.function_types/1.83.0/overlay/MODULE.bazel
  modules/boost.function_types/1.83.0/presubmit.yml
  modules/boost.function_types/1.83.0/source.json
  modules/boost.function_types/metadata.json
  modules/boost.type_index/1.83.0/MODULE.bazel
  modules/boost.type_index/1.83.0/overlay/BUILD.bazel
  modules/boost.type_index/1.83.0/overlay/MODULE.bazel
  modules/boost.type_index/1.83.0/presubmit.yml
  modules/boost.type_index/1.83.0/source.json
  modules/boost.type_index/metadata.json
  modules/boost.unordered/1.83.0/MODULE.bazel
  modules/boost.unordered/1.83.0/overlay/BUILD.bazel
  modules/boost.unordered/1.83.0/overlay/MODULE.bazel
  modules/boost.unordered/1.83.0/presubmit.yml
  modules/boost.unordered/1.83.0/source.json
  modules/boost.unordered/metadata.json
  modules/boost.winapi/1.83.0/MODULE.bazel
  modules/boost.winapi/1.83.0/overlay/BUILD.bazel
  modules/boost.winapi/1.83.0/overlay/MODULE.bazel
  modules/boost.winapi/1.83.0/presubmit.yml
  modules/boost.winapi/1.83.0/source.json
  modules/boost.winapi/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#2685 grpc 1.66.0: Add current_py_cc_libs to pyx_library
  modules/grpc/1.66.0.bcr.1/MODULE.bazel
  modules/grpc/1.66.0.bcr.1/patches/add_module_bazel.patch
  modules/grpc/1.66.0.bcr.1/patches/adopt_bzlmod.patch
  modules/grpc/1.66.0.bcr.1/patches/disable-layering-check.patch
  modules/grpc/1.66.0.bcr.1/presubmit.yml
  modules/grpc/1.66.0.bcr.1/source.json
  modules/grpc/metadata.json
Labels: skip-url-stability-check

#2686 feat: add boost functional, pool, rational, smart_ptr, variant
  modules/boost.functional/1.83.0/MODULE.bazel
  modules/boost.functional/1.83.0/overlay/BUILD.bazel
  modules/boost.functional/1.83.0/overlay/MODULE.bazel
  modules/boost.functional/1.83.0/presubmit.yml
  modules/boost.functional/1.83.0/source.json
  modules/boost.functional/metadata.json
  modules/boost.pool/1.83.0/MODULE.bazel
  modules/boost.pool/1.83.0/overlay/BUILD.bazel
  modules/boost.pool/1.83.0/overlay/MODULE.bazel
  modules/boost.pool/1.83.0/presubmit.yml
  modules/boost.pool/1.83.0/source.json
  modules/boost.pool/metadata.json
  modules/boost.rational/1.83.0/MODULE.bazel
  modules/boost.rational/1.83.0/overlay/BUILD.bazel
  modules/boost.rational/1.83.0/overlay/MODULE.bazel
  modules/boost.rational/1.83.0/presubmit.yml
  modules/boost.rational/1.83.0/source.json
  modules/boost.rational/metadata.json
  modules/boost.smart_ptr/1.83.0/MODULE.bazel
  modules/boost.smart_ptr/1.83.0/overlay/BUILD.bazel
  modules/boost.smart_ptr/1.83.0/overlay/MODULE.bazel
  modules/boost.smart_ptr/1.83.0/presubmit.yml
  modules/boost.smart_ptr/1.83.0/source.json
  modules/boost.smart_ptr/metadata.json
  modules/boost.variant/1.83.0/MODULE.bazel
  modules/boost.variant/1.83.0/overlay/BUILD.bazel
  modules/boost.variant/1.83.0/overlay/MODULE.bazel
  modules/boost.variant/1.83.0/presubmit.yml
  modules/boost.variant/1.83.0/source.json
  modules/boost.variant/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check
