Repository bazelbuild/bazel-central-registry, pull requests merged in 2025-01, with the labels that each got.

#3512 Soplex v712
  modules/soplex/7.1.2/MODULE.bazel
  modules/soplex/7.1.2/overlay/BUILD.bazel
  modules/soplex/7.1.2/overlay/MODULE.bazel
  modules/soplex/7.1.2/patches/add_config_dot_h.patch
  modules/soplex/7.1.2/patches/add_git_hash_dot_cpp.patch
  modules/soplex/7.1.2/patches/fmt_dot_hpp.patch
  modules/soplex/7.1.2/presubmit.yml
  modules/soplex/7.1.2/source.json
  modules/soplex/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3518 initial version of zstr
  modules/zstr/1.0.7/MODULE.bazel
  modules/zstr/1.0.7/overlay/BUILD.bazel
  modules/zstr/1.0.7/overlay/MODULE.bazel
  modules/zstr/1.0.7/presubmit.yml
  modules/zstr/1.0.7/source.json
  modules/zstr/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3516 Add verible@0.0.3892
  modules/verible/0.0.3892/MODULE.bazel
  modules/verible/0.0.3892/patches/module_dot_bazel.patch
  modules/verible/0.0.3892/presubmit.yml
  modules/verible/0.0.3892/source.json
  modules/verible/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3476 rules_spring 2.6.0
  modules/rules_spring/2.6.0/MODULE.bazel
  modules/rules_spring/2.6.0/presubmit.yml
  modules/rules_spring/2.6.0/source.json
  modules/rules_spring/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3521 Add bant@0.1.11
  modules/bant/0.1.11/MODULE.bazel
  modules/bant/0.1.11/presubmit.yml
  modules/bant/0.1.11/source.json
  modules/bant/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3513 jsoncons@1.0.0
  modules/jsoncons/1.0.0/MODULE.bazel
  modules/jsoncons/1.0.0/overlay/BUILD.bazel
  modules/jsoncons/1.0.0/overlay/MODULE.bazel
  modules/jsoncons/1.0.0/presubmit.yml
  modules/jsoncons/1.0.0/source.json
  modules/jsoncons/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3515 fix soplex deps; add boost dependency; add cc_binary target
  modules/soplex/7.1.2.bcr.1/MODULE.bazel
  modules/soplex/7.1.2.bcr.1/overlay/BUILD.bazel
  modules/soplex/7.1.2.bcr.1/overlay/MODULE.bazel
  modules/soplex/7.1.2.bcr.1/patches/add_config_dot_h.patch
  modules/soplex/7.1.2.bcr.1/patches/add_git_hash_dot_cpp.patch
  modules/soplex/7.1.2.bcr.1/patches/fmt_dot_hpp.patch
  modules/soplex/7.1.2.bcr.1/patches/spxfileio_dot_h.patch
  modules/soplex/7.1.2.bcr.1/presubmit.yml
  modules/soplex/7.1.2.bcr.1/source.json
  modules/soplex/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3517 libwebp@1.5.0
  modules/libwebp/1.5.0/MODULE.bazel
  modules/libwebp/1.5.0/overlay/BUILD.bazel
  modules/libwebp/1.5.0/overlay/MODULE.bazel
  modules/libwebp/1.5.0/presubmit.yml
  modules/libwebp/1.5.0/source.json
  modules/libwebp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3526 boost.asio@1.83.0.bcr.2
  modules/boost.asio/1.83.0.bcr.2/MODULE.bazel
  modules/boost.asio/1.83.0.bcr.2/overlay/BUILD.bazel
  modules/boost.asio/1.83.0.bcr.2/overlay/MODULE.bazel
  modules/boost.asio/1.83.0.bcr.2/overlay/test
  modules/boost.asio/1.83.0.bcr.2/presubmit.yml
  modules/boost.asio/1.83.0.bcr.2/source.json
  modules/boost.asio/metadata.json
Labels: skip-url-stability-check

#3380 Add SwiftLint 0.57.1
  modules/swiftlint/0.57.1/MODULE.bazel
  modules/swiftlint/0.57.1/patches/no-warnings-as-errors.patch
  modules/swiftlint/0.57.1/presubmit.yml
  modules/swiftlint/0.57.1/source.json
  modules/swiftlint/metadata.json
Labels: presubmit-auto-run

#3532 Add ESAXX (enhanced suffix array in C++)
  modules/esaxx/20250106.0/MODULE.bazel
  modules/esaxx/20250106.0/overlay/BUILD.bazel
  modules/esaxx/20250106.0/overlay/MODULE.bazel
  modules/esaxx/20250106.0/presubmit.yml
  modules/esaxx/20250106.0/source.json
  modules/esaxx/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3533 Add divsufsort (lightweight suffix array construction)
  modules/divsufsort/2.0.1/MODULE.bazel
  modules/divsufsort/2.0.1/overlay/BUILD.bazel
  modules/divsufsort/2.0.1/overlay/MODULE.bazel
  modules/divsufsort/2.0.1/presubmit.yml
  modules/divsufsort/2.0.1/source.json
  modules/divsufsort/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3545 feat(ncurses): support ncursesw
  modules/ncurses/6.4.20221231.bcr.4/MODULE.bazel
  modules/ncurses/6.4.20221231.bcr.4/overlay/BUILD.bazel
  modules/ncurses/6.4.20221231.bcr.4/overlay/MODULE.bazel
  modules/ncurses/6.4.20221231.bcr.4/overlay/bazel/BUILD.bazel
  modules/ncurses/6.4.20221231.bcr.4/overlay/bazel/automake_substitution.bzl
  modules/ncurses/6.4.20221231.bcr.4/overlay/bazel/pseudo_configure.bzl
  modules/ncurses/6.4.20221231.bcr.4/patches/change_mode.patch
  modules/ncurses/6.4.20221231.bcr.4/patches/fail_on_error.patch
  modules/ncurses/6.4.20221231.bcr.4/presubmit.yml
  modules/ncurses/6.4.20221231.bcr.4/source.json
  modules/ncurses/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3556 platforms@0.0.11
  modules/platforms/0.0.11/MODULE.bazel
  modules/platforms/0.0.11/presubmit.yml
  modules/platforms/0.0.11/source.json
  modules/platforms/metadata.json
Labels: presubmit-auto-run

#3534 Catch2@3.8.0
  modules/catch2/3.8.0/MODULE.bazel
  modules/catch2/3.8.0/overlay/BUILD.bazel
  modules/catch2/3.8.0/overlay/MODULE.bazel
  modules/catch2/3.8.0/presubmit.yml
  modules/catch2/3.8.0/source.json
  modules/catch2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3568 pugixml@1.15
  modules/pugixml/1.15/MODULE.bazel
  modules/pugixml/1.15/overlay/BUILD.bazel
  modules/pugixml/1.15/overlay/MODULE.bazel
  modules/pugixml/1.15/presubmit.yml
  modules/pugixml/1.15/source.json
  modules/pugixml/metadata.json
Labels: presubmit-auto-run

#3565 Add rules_perl 0.2.5
  modules/rules_perl/0.2.5/MODULE.bazel
  modules/rules_perl/0.2.5/patches/module_dot_bazel.patch
  modules/rules_perl/0.2.5/presubmit.yml
  modules/rules_perl/0.2.5/source.json
  modules/rules_perl/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3570 google_benchmark@1.9.0
  modules/google_benchmark/1.9.0/MODULE.bazel
  modules/google_benchmark/1.9.0/presubmit.yml
  modules/google_benchmark/1.9.0/source.json
  modules/google_benchmark/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3572 Add modbus_headers target to libmodbus.
  modules/libmodbus/3.1.10.bcr.1/MODULE.bazel
  modules/libmodbus/3.1.10.bcr.1/patches/add_build_file.patch
  modules/libmodbus/3.1.10.bcr.1/patches/add_modbus_versionscript_dot_lds.patch
  modules/libmodbus/3.1.10.bcr.1/patches/module_dot_bazel.patch
  modules/libmodbus/3.1.10.bcr.1/presubmit.yml
  modules/libmodbus/3.1.10.bcr.1/source.json
  modules/libmodbus/metadata.json
Labels: presubmit-auto-run

#3566 add rules_docker_compose_test 1.1.0 to bazel-central-registry
  modules/rules_docker_compose_test/1.1.0/MODULE.bazel
  modules/rules_docker_compose_test/1.1.0/presubmit.yml
  modules/rules_docker_compose_test/1.1.0/source.json
  modules/rules_docker_compose_test/metadata.json
Labels: presubmit-auto-run

#3576 google_benchmark@1.9.1
  modules/google_benchmark/1.9.1/MODULE.bazel
  modules/google_benchmark/1.9.1/presubmit.yml
  modules/google_benchmark/1.9.1/source.json
  modules/google_benchmark/metadata.json
Labels: skip-url-stability-check

#3581 fastdds@v3.1.1
  modules/fastdds/3.1.1/MODULE.bazel
  modules/fastdds/3.1.1/patches/add_build_file.patch
  modules/fastdds/3.1.1/patches/add_findfastcdr_cmake.patch
  modules/fastdds/3.1.1/patches/add_findfoonathan_memory_cmake.patch
  modules/fastdds/3.1.1/patches/module_dot_bazel.patch
  modules/fastdds/3.1.1/presubmit.yml
  modules/fastdds/3.1.1/source.json
  modules/fastdds/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3600 spdlog@1.15.0.bcr.4
  modules/spdlog/1.15.0.bcr.4/MODULE.bazel
  modules/spdlog/1.15.0.bcr.4/overlay/BUILD.bazel
  modules/spdlog/1.15.0.bcr.4/overlay/MODULE.bazel
  modules/spdlog/1.15.0.bcr.4/presubmit.yml
  modules/spdlog/1.15.0.bcr.4/source.json
  modules/spdlog/metadata.json
Labels: skip-url-stability-check

#3615 chore: update rules_cc in byte-track-eigen
  modules/byte_track_eigen/2.1.0.bcr.1/MODULE.bazel
  modules/byte_track_eigen/2.1.0.bcr.1/overlay/BUILD.bazel
  modules/byte_track_eigen/2.1.0.bcr.1/overlay/MODULE.bazel
  modules/byte_track_eigen/2.1.0.bcr.1/presubmit.yml
  modules/byte_track_eigen/2.1.0.bcr.1/source.json
  modules/byte_track_eigen/metadata.json
Labels: skip-url-stability-check

#3618 chore: update rules_cc in livox sdk2
  modules/livox_sdk2/1.2.5.bcr.2/MODULE.bazel
  modules/livox_sdk2/1.2.5.bcr.2/overlay/BUILD.bazel
  modules/livox_sdk2/1.2.5.bcr.2/overlay/MODULE.bazel
  modules/livox_sdk2/1.2.5.bcr.2/patches/gcc13_compat.patch
  modules/livox_sdk2/1.2.5.bcr.2/presubmit.yml
  modules/livox_sdk2/1.2.5.bcr.2/source.json
  modules/livox_sdk2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3617 chore: update rules_cc in iceoryx2
  modules/iceoryx2/0.5.0.bcr.1/MODULE.bazel
  modules/iceoryx2/0.5.0.bcr.1/overlay/MODULE.bazel
  modules/iceoryx2/0.5.0.bcr.1/patches/bindgen.patch
  modules/iceoryx2/0.5.0.bcr.1/presubmit.yml
  modules/iceoryx2/0.5.0.bcr.1/source.json
  modules/iceoryx2/metadata.json
Labels: skip-url-stability-check

#3587 Add wsg32
  modules/wsg32/0.0.0-20250117-f73c045/MODULE.bazel
  modules/wsg32/0.0.0-20250117-f73c045/patches/add_build_file.patch
  modules/wsg32/0.0.0-20250117-f73c045/patches/module_dot_bazel.patch
  modules/wsg32/0.0.0-20250117-f73c045/presubmit.yml
  modules/wsg32/0.0.0-20250117-f73c045/source.json
  modules/wsg32/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3608 Add libsodium@1.0.19
  modules/libsodium/1.0.19/MODULE.bazel
  modules/libsodium/1.0.19/overlay/BUILD.bazel
  modules/libsodium/1.0.19/overlay/MODULE.bazel
  modules/libsodium/1.0.19/overlay/bzl/BUILD.bazel
  modules/libsodium/1.0.19/overlay/bzl/defs.bzl
  modules/libsodium/1.0.19/presubmit.yml
  modules/libsodium/1.0.19/source.json
  modules/libsodium/metadata.json
Labels: presubmit-auto-run

#3616 chore: update rules_cc in geographiclib and lanelet2
  modules/geographiclib/2.4.0.bcr.2/MODULE.bazel
  modules/geographiclib/2.4.0.bcr.2/overlay/BUILD.bazel
  modules/geographiclib/2.4.0.bcr.2/overlay/MODULE.bazel
  modules/geographiclib/2.4.0.bcr.2/presubmit.yml
  modules/geographiclib/2.4.0.bcr.2/source.json
  modules/geographiclib/metadata.json
  modules/lanelet2/1.2.2.bcr.1/MODULE.bazel
  modules/lanelet2/1.2.2.bcr.1/overlay/BUILD.bazel
  modules/lanelet2/1.2.2.bcr.1/overlay/MODULE.bazel
  modules/lanelet2/1.2.2.bcr.1/patches/bazel_test_data_paths.patch
  modules/lanelet2/1.2.2.bcr.1/patches/bazel_test_include_paths.patch
  modules/lanelet2/1.2.2.bcr.1/presubmit.yml
  modules/lanelet2/1.2.2.bcr.1/source.json
  modules/lanelet2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3579 boringssl 0.20250114.0
  modules/boringssl/0.20250114.0/MODULE.bazel
  modules/boringssl/0.20250114.0/presubmit.yml
  modules/boringssl/0.20250114.0/source.json
  modules/boringssl/metadata.json
Labels: presubmit-auto-run

#3625 feat: add boost.pfr@1.87.0
  modules/boost.pfr/1.87.0/MODULE.bazel
  modules/boost.pfr/1.87.0/overlay/BUILD.bazel
  modules/boost.pfr/1.87.0/overlay/MODULE.bazel
  modules/boost.pfr/1.87.0/presubmit.yml
  modules/boost.pfr/1.87.0/source.json
  modules/boost.pfr/metadata.json
Labels: skip-url-stability-check

#3629 Update flatbuffers
  modules/flatbuffers/24.3.25.bcr.1/MODULE.bazel
  modules/flatbuffers/24.3.25.bcr.1/overlay/MODULE.bazel
  modules/flatbuffers/24.3.25.bcr.1/overlay/extensions.bzl
  modules/flatbuffers/24.3.25.bcr.1/patches/bzlmod.patch
  modules/flatbuffers/24.3.25.bcr.1/patches/runtime_headers.patch
  modules/flatbuffers/24.3.25.bcr.1/presubmit.yml
  modules/flatbuffers/24.3.25.bcr.1/source.json
  modules/flatbuffers/24.3.7.bcr.1/MODULE.bazel
  modules/flatbuffers/24.3.7.bcr.1/overlay/MODULE.bazel
  modules/flatbuffers/24.3.7.bcr.1/overlay/extensions.bzl
  modules/flatbuffers/24.3.7.bcr.1/patches/runtime_headers.patch
  modules/flatbuffers/24.3.7.bcr.1/presubmit.yml
  modules/flatbuffers/24.3.7.bcr.1/source.json
  modules/flatbuffers/metadata.json
Labels: skip-url-stability-check

#3634 Add plyodine
  modules/plyodine/1.0.0/MODULE.bazel
  modules/plyodine/1.0.0/presubmit.yml
  modules/plyodine/1.0.0/source.json
  modules/plyodine/metadata.json
Labels: presubmit-auto-run

#3612 Update `tree-sitter-c-bazel` to `0.23.4`
  modules/tree-sitter-c-bazel/0.23.4/MODULE.bazel
  modules/tree-sitter-c-bazel/0.23.4/presubmit.yml
  modules/tree-sitter-c-bazel/0.23.4/source.json
  modules/tree-sitter-c-bazel/metadata.json
Labels: presubmit-auto-run

#3645 Release plyodine 1.0.1
  modules/plyodine/1.0.1/MODULE.bazel
  modules/plyodine/1.0.1/presubmit.yml
  modules/plyodine/1.0.1/source.json
  modules/plyodine/metadata.json
Labels: presubmit-auto-run

#3647 Fix boost.asio@1.83.0.bcr.2
  modules/boost.asio/1.83.0.bcr.2/overlay/test
  modules/boost.asio/1.83.0.bcr.2/overlay/test/BUILD.bazel
  modules/boost.asio/1.83.0.bcr.2/overlay/test/MODULE.bazel
  modules/boost.asio/1.83.0.bcr.2/overlay/test/archetypes/BUILD.bazel
Labels: skip-url-stability-check, USE-WITH-CAUTION-skip-modification-check

#3657 chore: publish rules_py 1.2.0
  modules/aspect_rules_py/1.2.0/MODULE.bazel
  modules/aspect_rules_py/1.2.0/patches/module_dot_bazel_version.patch
  modules/aspect_rules_py/1.2.0/patches/rust_dev_dep.patch
  modules/aspect_rules_py/1.2.0/presubmit.yml
  modules/aspect_rules_py/1.2.0/source.json
  modules/aspect_rules_py/metadata.json
Labels: presubmit-auto-run

#3683 Added envoy_api@0.0.0-20250128-4de3c74
  modules/envoy_api/0.0.0-20250128-4de3c74/MODULE.bazel
  modules/envoy_api/0.0.0-20250128-4de3c74/patches/bzlmod_fixes.patch
  modules/envoy_api/0.0.0-20250128-4de3c74/patches/module_dot_bazel.patch
  modules/envoy_api/0.0.0-20250128-4de3c74/presubmit.yml
  modules/envoy_api/0.0.0-20250128-4de3c74/source.json
  modules/envoy_api/metadata.json
Labels: skip-url-stability-check

#3650 Add asio-grpc@2.6.0
  modules/asio-grpc/2.6.0/MODULE.bazel
  modules/asio-grpc/2.6.0/overlay/BUILD.bazel
  modules/asio-grpc/2.6.0/overlay/MODULE.bazel
  modules/asio-grpc/2.6.0/patches/bazel_test_fixes.patch
  modules/asio-grpc/2.6.0/patches/disable_gpr_assert.patch
  modules/asio-grpc/2.6.0/patches/include_asio_error.patch
  modules/asio-grpc/2.6.0/presubmit.yml
  modules/asio-grpc/2.6.0/source.json
  modules/asio-grpc/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3692 Add iperf@3.18.0
  modules/iperf/3.18.0/MODULE.bazel
  modules/iperf/3.18.0/overlay/BUILD.bazel
  modules/iperf/3.18.0/overlay/MODULE.bazel
  modules/iperf/3.18.0/presubmit.yml
  modules/iperf/3.18.0/source.json
  modules/iperf/metadata.json
Labels: presubmit-auto-run

#3684 Change civetweb to be built with the OpenSSL V3.0.x interface
  modules/civetweb/1.16.bcr.1/MODULE.bazel
  modules/civetweb/1.16.bcr.1/patches/add_build_file.patch
  modules/civetweb/1.16.bcr.1/patches/module_dot_bazel.patch
  modules/civetweb/1.16.bcr.1/presubmit.yml
  modules/civetweb/1.16.bcr.1/source.json
  modules/civetweb/metadata.json
  modules/opencensus-cpp/0.0.0-20230502-50eb5de.bcr.1/MODULE.bazel
  modules/opencensus-cpp/0.0.0-20230502-50eb5de.bcr.1/patches/module_dot_bazel.patch
  modules/opencensus-cpp/0.0.0-20230502-50eb5de.bcr.1/presubmit.yml
  modules/opencensus-cpp/0.0.0-20230502-50eb5de.bcr.1/source.json
  modules/opencensus-cpp/metadata.json
  modules/prometheus-cpp/1.3.0.bcr.1/MODULE.bazel
  modules/prometheus-cpp/1.3.0.bcr.1/patches/module_dot_bazel.patch
  modules/prometheus-cpp/1.3.0.bcr.1/presubmit.yml
  modules/prometheus-cpp/1.3.0.bcr.1/source.json
  modules/prometheus-cpp/metadata.json
Labels: skip-url-stability-check

#3698 Add rules_android_ndk v0.1.3
  modules/rules_android_ndk/0.1.3/MODULE.bazel
  modules/rules_android_ndk/0.1.3/patches/module_dot_bazel_version.patch
  modules/rules_android_ndk/0.1.3/presubmit.yml
  modules/rules_android_ndk/0.1.3/source.json
  modules/rules_android_ndk/metadata.json
Labels: presubmit-auto-run

#3689 Add openconfig_gnmi@0.13.0
  modules/openconfig_gnmi/0.13.0/MODULE.bazel
  modules/openconfig_gnmi/0.13.0/presubmit.yml
  modules/openconfig_gnmi/0.13.0/source.json
  modules/openconfig_gnmi/metadata.json
Labels: presubmit-auto-run
