Repository bazelbuild/bazel-central-registry, pull requests merged in 2025-03, with the labels that each got.

#3900 Added `rocksdb`.
  modules/rocksdb/9.10.0/MODULE.bazel
  modules/rocksdb/9.10.0/overlay/BUILD.bazel
  modules/rocksdb/9.10.0/overlay/MODULE.bazel
  modules/rocksdb/9.10.0/overlay/gen_test_targets.bzl
  modules/rocksdb/9.10.0/patches/db_db_io_failure_test.cc.patch
  modules/rocksdb/9.10.0/patches/table_table_test.cc.patch
  modules/rocksdb/9.10.0/patches/tools_ldb_cmd_test.cc.patch
  modules/rocksdb/9.10.0/presubmit.yml
  modules/rocksdb/9.10.0/source.json
  modules/rocksdb/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3912 swift-system 1.4.2
  modules/swift-system/1.4.2/MODULE.bazel
  modules/swift-system/1.4.2/patches/add_build_file.patch
  modules/swift-system/1.4.2/patches/module_dot_bazel.patch
  modules/swift-system/1.4.2/presubmit.yml
  modules/swift-system/1.4.2/source.json
  modules/swift-system/metadata.json
Labels: skip-url-stability-check

#3913 xcodeproj 8.27.3
  modules/xcodeproj/8.27.3/MODULE.bazel
  modules/xcodeproj/8.27.3/patches/add_build_file.patch
  modules/xcodeproj/8.27.3/patches/module_dot_bazel.patch
  modules/xcodeproj/8.27.3/presubmit.yml
  modules/xcodeproj/8.27.3/source.json
  modules/xcodeproj/metadata.json
Labels: skip-url-stability-check

#3914 rules_zig@v0.7.0 (2)
  modules/rules_zig/0.7.0/MODULE.bazel
  modules/rules_zig/0.7.0/patches/module_dot_bazel_version.patch
  modules/rules_zig/0.7.0/patches/rules_cc_version.patch
  modules/rules_zig/0.7.0/presubmit.yml
  modules/rules_zig/0.7.0/source.json
  modules/rules_zig/metadata.json
Labels: presubmit-auto-run

#3920 Add procps-ng
  modules/procps-ng/4.0.5/MODULE.bazel
  modules/procps-ng/4.0.5/overlay/BUILD
  modules/procps-ng/4.0.5/overlay/MODULE.bazel
  modules/procps-ng/4.0.5/presubmit.yml
  modules/procps-ng/4.0.5/source.json
  modules/procps-ng/metadata.json
Labels: presubmit-auto-run

#3896 add jemalloc@5.3.0
  modules/jemalloc/5.3.0-bcr.alpha.1/MODULE.bazel
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/MODULE.bazel
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/examples/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/examples/MODULE.bazel
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/examples/test_api.c
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/examples/test_basic.c
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/include/jemalloc/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/include/jemalloc/internal/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/include/jemalloc/internal/private_namespace.bzl
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/include/jemalloc/internal/public_symbols.bzl
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/settings/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/settings/compiler/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/settings/config.bzl
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/settings/flags/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/settings/platform/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/test/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/test/integration/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/test/unit/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/tools/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/tools/autoconf.bzl
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/tools/cc.bzl
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/tools/transition.bzl
  modules/jemalloc/5.3.0-bcr.alpha.1/overlay/tools/version.bzl
  modules/jemalloc/5.3.0-bcr.alpha.1/patches/skipped-tests-exit-0.patch
  modules/jemalloc/5.3.0-bcr.alpha.1/presubmit.yml
  modules/jemalloc/5.3.0-bcr.alpha.1/source.json
  modules/jemalloc/metadata.json
Labels: presubmit-auto-run

#3936 Add boost.logic@1.87.0 and boost.static_string@1.87.0
  modules/boost.logic/1.87.0/MODULE.bazel
  modules/boost.logic/1.87.0/overlay/BUILD.bazel
  modules/boost.logic/1.87.0/overlay/MODULE.bazel
  modules/boost.logic/1.87.0/presubmit.yml
  modules/boost.logic/1.87.0/source.json
  modules/boost.logic/metadata.json
  modules/boost.static_string/1.87.0/MODULE.bazel
  modules/boost.static_string/1.87.0/overlay/BUILD.bazel
  modules/boost.static_string/1.87.0/overlay/MODULE.bazel
  modules/boost.static_string/1.87.0/presubmit.yml
  modules/boost.static_string/1.87.0/source.json
  modules/boost.static_string/metadata.json
Labels: skip-url-stability-check

#3928 Added postgres 16.2
  modules/postgres/16.2/MODULE.bazel
  modules/postgres/16.2/overlay/BUILD.bazel
  modules/postgres/16.2/overlay/MODULE.bazel
  modules/postgres/16.2/presubmit.yml
  modules/postgres/16.2/source.json
  modules/postgres/metadata.json
Labels: presubmit-auto-run

#3930 Added openvdb 11.0.0
  modules/openvdb/11.0.0/MODULE.bazel
  modules/openvdb/11.0.0/overlay/BUILD.bazel
  modules/openvdb/11.0.0/overlay/MODULE.bazel
  modules/openvdb/11.0.0/presubmit.yml
  modules/openvdb/11.0.0/source.json
  modules/openvdb/metadata.json
Labels: skip-url-stability-check

#3948 libpng@1.6.47
  modules/libpng/1.6.47/MODULE.bazel
  modules/libpng/1.6.47/overlay/BUILD.bazel
  modules/libpng/1.6.47/overlay/MODULE.bazel
  modules/libpng/1.6.47/presubmit.yml
  modules/libpng/1.6.47/source.json
  modules/libpng/metadata.json
Labels: skip-url-stability-check

#3945 Add googleapis 0.0.0-20241220-5e258e33.bcr.1
  modules/googleapis/0.0.0-20241220-5e258e33.bcr.1/MODULE.bazel
  modules/googleapis/0.0.0-20241220-5e258e33.bcr.1/overlay/MODULE.bazel
  modules/googleapis/0.0.0-20241220-5e258e33.bcr.1/overlay/extensions.bzl
  modules/googleapis/0.0.0-20241220-5e258e33.bcr.1/overlay/tests/bcr/.bazelrc
  modules/googleapis/0.0.0-20241220-5e258e33.bcr.1/overlay/tests/bcr/BUILD.bazel
  modules/googleapis/0.0.0-20241220-5e258e33.bcr.1/overlay/tests/bcr/MODULE.bazel
  modules/googleapis/0.0.0-20241220-5e258e33.bcr.1/overlay/tests/bcr/failure_test.bzl
  modules/googleapis/0.0.0-20241220-5e258e33.bcr.1/presubmit.yml
  modules/googleapis/0.0.0-20241220-5e258e33.bcr.1/source.json
  modules/googleapis/metadata.json
Labels: skip-url-stability-check

#3953 llvm-project@17.0.3.bcr.2
  modules/llvm-project/17.0.3.bcr.2/MODULE.bazel
  modules/llvm-project/17.0.3.bcr.2/patches/0001-Add-Bazel-files-to-.gitignore.patch
  modules/llvm-project/17.0.3.bcr.2/patches/0002-Add-LLVM-Bazel-overlay-files.patch
  modules/llvm-project/17.0.3.bcr.2/patches/0003-Add-MODULE.bazel.patch
  modules/llvm-project/17.0.3.bcr.2/patches/0004-Add-BUILD.bazel.patch
  modules/llvm-project/17.0.3.bcr.2/patches/0005-Add-Bazel-LLVM-targets.patch
  modules/llvm-project/17.0.3.bcr.2/patches/0006-Add-LLVM-version-vars.patch
  modules/llvm-project/17.0.3.bcr.2/patches/0007-Guard-against-empty-workspace-root.patch
  modules/llvm-project/17.0.3.bcr.2/patches/0008-Correct-builtin-headers-prefix.patch
  modules/llvm-project/17.0.3.bcr.2/patches/0009-Fix-an-operator-overload-for-GCC-8.3.patch
  modules/llvm-project/17.0.3.bcr.2/patches/0010-Use-TEST_TMPDIR-on-Unix-when-it-is-set.patch
  modules/llvm-project/17.0.3.bcr.2/patches/0011-Use-Windows-assembly-files-for-BLAKE3-on-Windows.patch
  modules/llvm-project/17.0.3.bcr.2/patches/0012-Add-scope-resolution-operators-for-MSVC-2019.patch
  modules/llvm-project/17.0.3.bcr.2/patches/0013-Disable-zlib-zstd-mpfr-and-pfm.patch
  modules/llvm-project/17.0.3.bcr.2/patches/0014-Incompatible-Disable-Empty-Glob.patch
  modules/llvm-project/17.0.3.bcr.2/patches/0015-incompatible_autoload_externally.patch
  modules/llvm-project/17.0.3.bcr.2/presubmit.yml
  modules/llvm-project/17.0.3.bcr.2/source.json
  modules/llvm-project/metadata.json
Labels: presubmit-auto-run

#3956 ar_hoseky_sky_model@1.4a
  modules/ar_hosek_sky_model/1.4.a/MODULE.bazel
  modules/ar_hosek_sky_model/1.4.a/overlay/BUILD.bazel
  modules/ar_hosek_sky_model/1.4.a/overlay/MODULE.bazel
  modules/ar_hosek_sky_model/1.4.a/presubmit.yml
  modules/ar_hosek_sky_model/1.4.a/source.json
  modules/ar_hosek_sky_model/metadata.json
Labels: presubmit-auto-run

#3960 freetype@2.13.3
  modules/freetype/2.13.3/MODULE.bazel
  modules/freetype/2.13.3/patches/add_build_file.patch
  modules/freetype/2.13.3/patches/module_dot_bazel.patch
  modules/freetype/2.13.3/presubmit.yml
  modules/freetype/2.13.3/source.json
  modules/freetype/metadata.json
Labels: presubmit-auto-run

#3954 Fixed how `librdkafka` files can be included in other C/C++ files.
  modules/librdkafka/2.8.0.bcr.1/MODULE.bazel
  modules/librdkafka/2.8.0.bcr.1/overlay/BUILD.bazel
  modules/librdkafka/2.8.0.bcr.1/overlay/MODULE.bazel
  modules/librdkafka/2.8.0.bcr.1/overlay/test/MODULE.bazel
  modules/librdkafka/2.8.0.bcr.1/patches/src-cpp_rdkafkacpp_int.h.patch
  modules/librdkafka/2.8.0.bcr.1/patches/src_rd.h.patch
  modules/librdkafka/2.8.0.bcr.1/patches/src_tinycthread.h.patch
  modules/librdkafka/2.8.0.bcr.1/patches/tests_testcpp.h.patch
  modules/librdkafka/2.8.0.bcr.1/presubmit.yml
  modules/librdkafka/2.8.0.bcr.1/source.json
  modules/librdkafka/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3963 Add ng-log 0.8.0-rc1
  modules/ng-log/0.8.0-rc1/MODULE.bazel
  modules/ng-log/0.8.0-rc1/patches/module_dot_bazel.patch
  modules/ng-log/0.8.0-rc1/presubmit.yml
  modules/ng-log/0.8.0-rc1/source.json
  modules/ng-log/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3958 boost.any@1.87.0
  modules/boost.any/1.87.0/MODULE.bazel
  modules/boost.any/1.87.0/overlay/BUILD.bazel
  modules/boost.any/1.87.0/overlay/MODULE.bazel
  modules/boost.any/1.87.0/presubmit.yml
  modules/boost.any/1.87.0/source.json
  modules/boost.any/metadata.json
Labels: skip-url-stability-check

#3951 Added `modern-cpp-kafka`.
  modules/modern-cpp-kafka/2024.07.03/MODULE.bazel
  modules/modern-cpp-kafka/2024.07.03/overlay/MODULE.bazel
  modules/modern-cpp-kafka/2024.07.03/overlay/test/MODULE.bazel
  modules/modern-cpp-kafka/2024.07.03/patches/BUILD.bazel.patch
  modules/modern-cpp-kafka/2024.07.03/patches/tests_BUILD.bazel.patch
  modules/modern-cpp-kafka/2024.07.03/presubmit.yml
  modules/modern-cpp-kafka/2024.07.03/source.json
  modules/modern-cpp-kafka/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3972 boost.program_options@1.87.0
  modules/boost.program_options/1.87.0/MODULE.bazel
  modules/boost.program_options/1.87.0/overlay/BUILD.bazel
  modules/boost.program_options/1.87.0/overlay/MODULE.bazel
  modules/boost.program_options/1.87.0/overlay/test/BUILD.bazel
  modules/boost.program_options/1.87.0/overlay/test/MODULE.bazel
  modules/boost.program_options/1.87.0/presubmit.yml
  modules/boost.program_options/1.87.0/source.json
  modules/boost.program_options/metadata.json
Labels: skip-url-stability-check

#3973 Add protoc-gen-validate 1.2.1.bcr.1
  modules/protoc-gen-validate/1.2.1.bcr.1/MODULE.bazel
  modules/protoc-gen-validate/1.2.1.bcr.1/overlay/MODULE.bazel
  modules/protoc-gen-validate/1.2.1.bcr.1/presubmit.yml
  modules/protoc-gen-validate/1.2.1.bcr.1/source.json
  modules/protoc-gen-validate/metadata.json
Labels: skip-url-stability-check

#3974 Added `icu`.
  modules/icu/76.1/MODULE.bazel
  modules/icu/76.1/overlay/MODULE.bazel
  modules/icu/76.1/presubmit.yml
  modules/icu/76.1/source.json
  modules/icu/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3983 Upgrade some boost modules to 1.87
  modules/boost.circular_buffer/1.87.0/MODULE.bazel
  modules/boost.circular_buffer/1.87.0/overlay/BUILD.bazel
  modules/boost.circular_buffer/1.87.0/overlay/MODULE.bazel
  modules/boost.circular_buffer/1.87.0/presubmit.yml
  modules/boost.circular_buffer/1.87.0/source.json
  modules/boost.circular_buffer/metadata.json
  modules/boost.format/1.87.0/MODULE.bazel
  modules/boost.format/1.87.0/overlay/BUILD.bazel
  modules/boost.format/1.87.0/overlay/MODULE.bazel
  modules/boost.format/1.87.0/presubmit.yml
  modules/boost.format/1.87.0/source.json
  modules/boost.format/metadata.json
  modules/boost.tti/1.87.0/MODULE.bazel
  modules/boost.tti/1.87.0/overlay/BUILD.bazel
  modules/boost.tti/1.87.0/overlay/MODULE.bazel
  modules/boost.tti/1.87.0/presubmit.yml
  modules/boost.tti/1.87.0/source.json
  modules/boost.tti/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3989 Upgrade some more boost deps to 1.87
  modules/boost.multi_index/1.87.0/MODULE.bazel
  modules/boost.multi_index/1.87.0/overlay/BUILD.bazel
  modules/boost.multi_index/1.87.0/overlay/MODULE.bazel
  modules/boost.multi_index/1.87.0/presubmit.yml
  modules/boost.multi_index/1.87.0/source.json
  modules/boost.multi_index/metadata.json
  modules/boost.parameter/1.87.0/MODULE.bazel
  modules/boost.parameter/1.87.0/overlay/BUILD.bazel
  modules/boost.parameter/1.87.0/overlay/MODULE.bazel
  modules/boost.parameter/1.87.0/presubmit.yml
  modules/boost.parameter/1.87.0/source.json
  modules/boost.parameter/metadata.json
  modules/boost.property_tree/1.87.0/MODULE.bazel
  modules/boost.property_tree/1.87.0/overlay/BUILD.bazel
  modules/boost.property_tree/1.87.0/overlay/MODULE.bazel
  modules/boost.property_tree/1.87.0/presubmit.yml
  modules/boost.property_tree/1.87.0/source.json
  modules/boost.property_tree/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3990 Added `v0.9.7` of `magic_enum`.
  modules/magic_enum/0.9.7/MODULE.bazel
  modules/magic_enum/0.9.7/presubmit.yml
  modules/magic_enum/0.9.7/source.json
  modules/magic_enum/metadata.json
Labels: presubmit-auto-run

#3984 Add boost.uuid@1.87
  modules/boost.uuid/1.87.0/MODULE.bazel
  modules/boost.uuid/1.87.0/overlay/BUILD.bazel
  modules/boost.uuid/1.87.0/overlay/MODULE.bazel
  modules/boost.uuid/1.87.0/presubmit.yml
  modules/boost.uuid/1.87.0/source.json
  modules/boost.uuid/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3993 grpc/grpc@v1.71.0
  modules/grpc/1.71.0/MODULE.bazel
  modules/grpc/1.71.0/patches/adopt_bzlmod.patch
  modules/grpc/1.71.0/presubmit.yml
  modules/grpc/1.71.0/source.json
  modules/grpc/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3977 Added Boost 1.87.0 `foreach`, `sort`, and `url`.
  modules/boost.foreach/1.87.0/MODULE.bazel
  modules/boost.foreach/1.87.0/overlay/BUILD.bazel
  modules/boost.foreach/1.87.0/overlay/MODULE.bazel
  modules/boost.foreach/1.87.0/overlay/gen_test_targets.bzl
  modules/boost.foreach/1.87.0/presubmit.yml
  modules/boost.foreach/1.87.0/source.json
  modules/boost.foreach/metadata.json
  modules/boost.sort/1.87.0/MODULE.bazel
  modules/boost.sort/1.87.0/overlay/BUILD.bazel
  modules/boost.sort/1.87.0/overlay/MODULE.bazel
  modules/boost.sort/1.87.0/overlay/gen_test_targets.bzl
  modules/boost.sort/1.87.0/presubmit.yml
  modules/boost.sort/1.87.0/source.json
  modules/boost.sort/metadata.json
  modules/boost.url/1.87.0/MODULE.bazel
  modules/boost.url/1.87.0/overlay/BUILD.bazel
  modules/boost.url/1.87.0/overlay/MODULE.bazel
  modules/boost.url/1.87.0/presubmit.yml
  modules/boost.url/1.87.0/source.json
  modules/boost.url/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3991 Add boost.asio@1.87.0.bcr.1
  modules/boost.asio/1.87.0.bcr.1/MODULE.bazel
  modules/boost.asio/1.87.0.bcr.1/overlay/BUILD.bazel
  modules/boost.asio/1.87.0.bcr.1/overlay/MODULE.bazel
  modules/boost.asio/1.87.0.bcr.1/overlay/test/BUILD.bazel
  modules/boost.asio/1.87.0.bcr.1/overlay/test/MODULE.bazel
  modules/boost.asio/1.87.0.bcr.1/overlay/test/archetypes/BUILD.bazel
  modules/boost.asio/1.87.0.bcr.1/presubmit.yml
  modules/boost.asio/1.87.0.bcr.1/source.json
  modules/boost.asio/metadata.json
Labels: skip-url-stability-check

#4000 Add boost.dll
  modules/boost.dll/1.87.0/MODULE.bazel
  modules/boost.dll/1.87.0/overlay/BUILD.bazel
  modules/boost.dll/1.87.0/overlay/MODULE.bazel
  modules/boost.dll/1.87.0/presubmit.yml
  modules/boost.dll/1.87.0/source.json
  modules/boost.dll/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3997 bazel_bats@0.35.0
  modules/bazel_bats/0.35.0/MODULE.bazel
  modules/bazel_bats/0.35.0/presubmit.yml
  modules/bazel_bats/0.35.0/source.json
  modules/bazel_bats/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4021 Add `boost.multiprecision@1.87`
  modules/boost.multiprecision/1.87.0/MODULE.bazel
  modules/boost.multiprecision/1.87.0/overlay/BUILD.bazel
  modules/boost.multiprecision/1.87.0/overlay/MODULE.bazel
  modules/boost.multiprecision/1.87.0/presubmit.yml
  modules/boost.multiprecision/1.87.0/source.json
  modules/boost.multiprecision/metadata.json
Labels: skip-url-stability-check

#4019 Add `boost.property_map@1.87.0`
  modules/boost.property_map/1.87.0/MODULE.bazel
  modules/boost.property_map/1.87.0/overlay/BUILD.bazel
  modules/boost.property_map/1.87.0/overlay/MODULE.bazel
  modules/boost.property_map/1.87.0/presubmit.yml
  modules/boost.property_map/1.87.0/source.json
  modules/boost.property_map/metadata.json
Labels: skip-url-stability-check, auto-merged

#4018 Add `boost.bimap@1.87.0`, `boost.lambda@1.87.0`
  modules/boost.bimap/1.87.0/MODULE.bazel
  modules/boost.bimap/1.87.0/overlay/BUILD.bazel
  modules/boost.bimap/1.87.0/overlay/MODULE.bazel
  modules/boost.bimap/1.87.0/presubmit.yml
  modules/boost.bimap/1.87.0/source.json
  modules/boost.bimap/metadata.json
  modules/boost.lambda/1.87.0/MODULE.bazel
  modules/boost.lambda/1.87.0/overlay/BUILD.bazel
  modules/boost.lambda/1.87.0/overlay/MODULE.bazel
  modules/boost.lambda/1.87.0/presubmit.yml
  modules/boost.lambda/1.87.0/source.json
  modules/boost.lambda/metadata.json
Labels: skip-url-stability-check, auto-merged

#4017 Add `boost.signals2@1.87.0`
  modules/boost.signals2/1.87.0/MODULE.bazel
  modules/boost.signals2/1.87.0/overlay/BUILD.bazel
  modules/boost.signals2/1.87.0/overlay/MODULE.bazel
  modules/boost.signals2/1.87.0/presubmit.yml
  modules/boost.signals2/1.87.0/source.json
  modules/boost.signals2/metadata.json
Labels: skip-url-stability-check, auto-merged

#4023 Add `boost.iostreams@1.87.0`
  modules/boost.iostreams/1.87.0/MODULE.bazel
  modules/boost.iostreams/1.87.0/overlay/BUILD.bazel
  modules/boost.iostreams/1.87.0/overlay/MODULE.bazel
  modules/boost.iostreams/1.87.0/presubmit.yml
  modules/boost.iostreams/1.87.0/source.json
  modules/boost.iostreams/metadata.json
Labels: skip-url-stability-check, auto-merged

#4022 Add `boost.multi_array@1.87`
  modules/boost.multi_array/1.87.0/MODULE.bazel
  modules/boost.multi_array/1.87.0/overlay/BUILD.bazel
  modules/boost.multi_array/1.87.0/overlay/MODULE.bazel
  modules/boost.multi_array/1.87.0/presubmit.yml
  modules/boost.multi_array/1.87.0/source.json
  modules/boost.multi_array/metadata.json
Labels: skip-url-stability-check, auto-merged

#4020 Add `boost.graph@1.87.0`, `boost.xpressive@1.87.0`
  modules/boost.graph/1.87.0/MODULE.bazel
  modules/boost.graph/1.87.0/overlay/BUILD.bazel
  modules/boost.graph/1.87.0/overlay/MODULE.bazel
  modules/boost.graph/1.87.0/presubmit.yml
  modules/boost.graph/1.87.0/source.json
  modules/boost.graph/metadata.json
  modules/boost.xpressive/1.87.0/MODULE.bazel
  modules/boost.xpressive/1.87.0/overlay/BUILD.bazel
  modules/boost.xpressive/1.87.0/overlay/MODULE.bazel
  modules/boost.xpressive/1.87.0/presubmit.yml
  modules/boost.xpressive/1.87.0/source.json
  modules/boost.xpressive/metadata.json
Labels: skip-url-stability-check, auto-merged

#3947 add module capnp-cpp v1.1.0
  modules/capnp-cpp/1.1.0/MODULE.bazel
  modules/capnp-cpp/1.1.0/patches/bazelmod-compatible-boringssl.patch
  modules/capnp-cpp/1.1.0/presubmit.yml
  modules/capnp-cpp/1.1.0/source.json
  modules/capnp-cpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4011 Fixed `boost.container` to include its `cpp` sources and added tests.
  modules/boost.container/1.87.0.bcr.1/MODULE.bazel
  modules/boost.container/1.87.0.bcr.1/overlay/BUILD.bazel
  modules/boost.container/1.87.0.bcr.1/overlay/MODULE.bazel
  modules/boost.container/1.87.0.bcr.1/overlay/gen_test_targets.bzl
  modules/boost.container/1.87.0.bcr.1/presubmit.yml
  modules/boost.container/1.87.0.bcr.1/source.json
  modules/boost.container/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4010 Add rules_pkg 1.1.0
  modules/rules_pkg/1.1.0/MODULE.bazel
  modules/rules_pkg/1.1.0/presubmit.yml
  modules/rules_pkg/1.1.0/source.json
  modules/rules_pkg/metadata.json
Labels: presubmit-auto-run

#4035 Add `iceoryx@2.95.4`
  modules/iceoryx/2.95.4/MODULE.bazel
  modules/iceoryx/2.95.4/patches/2371+2437+2439.diff
  modules/iceoryx/2.95.4/patches/2433.diff
  modules/iceoryx/2.95.4/patches/2436.diff
  modules/iceoryx/2.95.4/presubmit.yml
  modules/iceoryx/2.95.4/source.json
  modules/iceoryx/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, auto-merged

#4012 Added `boost.heap` `1.87.0`.
  modules/boost.heap/1.87.0/MODULE.bazel
  modules/boost.heap/1.87.0/overlay/BUILD.bazel
  modules/boost.heap/1.87.0/overlay/MODULE.bazel
  modules/boost.heap/1.87.0/overlay/gen_test_targets.bzl
  modules/boost.heap/1.87.0/presubmit.yml
  modules/boost.heap/1.87.0/source.json
  modules/boost.heap/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, auto-merged

#4050 Add grpc-java 1.70.0
  modules/grpc-java/1.69.1/.MODULE.bazel.swp
  modules/grpc-java/1.69.1/MODULE.bazel
  modules/grpc-java/1.69.1/patches/module_dot_bazel.patch
  modules/grpc-java/1.69.1/presubmit.yml
  modules/grpc-java/1.69.1/source.json
  modules/grpc-java/1.70.0/.MODULE.bazel.swp
  modules/grpc-java/1.70.0/MODULE.bazel
  modules/grpc-java/1.70.0/patches/module_dot_bazel.patch
  modules/grpc-java/1.70.0/presubmit.yml
  modules/grpc-java/1.70.0/source.json
  modules/grpc-java/metadata.json
Labels: skip-url-stability-check

#4014 jsonnet: publish v0.21.0-rc2
  modules/jsonnet/0.21.0-rc2/MODULE.bazel
  modules/jsonnet/0.21.0-rc2/presubmit.yml
  modules/jsonnet/0.21.0-rc2/source.json
  modules/jsonnet/metadata.json
Labels: presubmit-auto-run

#4052 periphery 3.0.3
  modules/periphery/3.0.3/MODULE.bazel
  modules/periphery/3.0.3/presubmit.yml
  modules/periphery/3.0.3/source.json
  modules/periphery/metadata.json
Labels: presubmit-auto-run

#4051 Add grpc-java 1.71.0
  modules/grpc-java/1.71.0/MODULE.bazel
  modules/grpc-java/1.71.0/patches/module_dot_bazel.patch
  modules/grpc-java/1.71.0/presubmit.yml
  modules/grpc-java/1.71.0/source.json
  modules/grpc-java/metadata.json
Labels: skip-url-stability-check

#4062 depend_on_what_you_use@0.8.0
  modules/depend_on_what_you_use/0.8.0/MODULE.bazel
  modules/depend_on_what_you_use/0.8.0/patches/module_dot_bazel.patch
  modules/depend_on_what_you_use/0.8.0/presubmit.yml
  modules/depend_on_what_you_use/0.8.0/source.json
  modules/depend_on_what_you_use/metadata.json
Labels: presubmit-auto-run

#4064 Add csv-parser to BCR
  modules/csv-parser/2.3.0/MODULE.bazel
  modules/csv-parser/2.3.0/overlay/BUILD.bazel
  modules/csv-parser/2.3.0/overlay/MODULE.bazel
  modules/csv-parser/2.3.0/overlay/single_include_test/BUILD.bazel
  modules/csv-parser/2.3.0/presubmit.yml
  modules/csv-parser/2.3.0/source.json
  modules/csv-parser/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4032 Add `pcl@1.15.0`
  modules/pcl/1.15.0/MODULE.bazel
  modules/pcl/1.15.0/overlay/BUILD.bazel
  modules/pcl/1.15.0/overlay/MODULE.bazel
  modules/pcl/1.15.0/overlay/test/BUILD.bazel
  modules/pcl/1.15.0/overlay/test/MODULE.bazel
  modules/pcl/1.15.0/patches/no-vtk.diff
  modules/pcl/1.15.0/patches/windows-fix-template-instantiation.diff
  modules/pcl/1.15.0/presubmit.yml
  modules/pcl/1.15.0/source.json
  modules/pcl/metadata.json
Labels: presubmit-auto-run, auto-merged

#4058 Added `boost.crc` and `boost.timer`.
  modules/boost.crc/1.87.0/MODULE.bazel
  modules/boost.crc/1.87.0/overlay/BUILD.bazel
  modules/boost.crc/1.87.0/overlay/MODULE.bazel
  modules/boost.crc/1.87.0/presubmit.yml
  modules/boost.crc/1.87.0/source.json
  modules/boost.crc/metadata.json
  modules/boost.timer/1.87.0/MODULE.bazel
  modules/boost.timer/1.87.0/overlay/BUILD.bazel
  modules/boost.timer/1.87.0/overlay/MODULE.bazel
  modules/boost.timer/1.87.0/presubmit.yml
  modules/boost.timer/1.87.0/source.json
  modules/boost.timer/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4078 Add latest PCRE2 dev version.
  modules/pcre2/10.46-DEV/MODULE.bazel
  modules/pcre2/10.46-DEV/presubmit.yml
  modules/pcre2/10.46-DEV/source.json
  modules/pcre2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4061 Added `avro-cpp`.
  modules/avro-cpp/1.12.0/MODULE.bazel
  modules/avro-cpp/1.12.0/overlay/BUILD.bazel
  modules/avro-cpp/1.12.0/overlay/MODULE.bazel
  modules/avro-cpp/1.12.0/overlay/gen_test_targets.bzl
  modules/avro-cpp/1.12.0/patches/impl_avrogencpp.cc.patch
  modules/avro-cpp/1.12.0/patches/include_avro_Node.hh.patch
  modules/avro-cpp/1.12.0/patches/include_avro_Types.hh.patch
  modules/avro-cpp/1.12.0/presubmit.yml
  modules/avro-cpp/1.12.0/source.json
  modules/avro-cpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4046 Add rules_libusb@0.1.0-rc2
  modules/rules_libusb/0.1.0-rc2/MODULE.bazel
  modules/rules_libusb/0.1.0-rc2/presubmit.yml
  modules/rules_libusb/0.1.0-rc2/source.json
  modules/rules_libusb/metadata.json
Labels: presubmit-auto-run

#4056 Add ncurses 6.4.20221231.bcr.5
  modules/ncurses/6.4.20221231.bcr.5/MODULE.bazel
  modules/ncurses/6.4.20221231.bcr.5/overlay/BUILD.bazel
  modules/ncurses/6.4.20221231.bcr.5/overlay/MODULE.bazel
  modules/ncurses/6.4.20221231.bcr.5/overlay/bazel/BUILD.bazel
  modules/ncurses/6.4.20221231.bcr.5/overlay/bazel/automake_substitution.bzl
  modules/ncurses/6.4.20221231.bcr.5/overlay/bazel/pseudo_configure.bzl
  modules/ncurses/6.4.20221231.bcr.5/patches/change_mode.patch
  modules/ncurses/6.4.20221231.bcr.5/patches/fail_on_error.patch
  modules/ncurses/6.4.20221231.bcr.5/presubmit.yml
  modules/ncurses/6.4.20221231.bcr.5/source.json
  modules/ncurses/metadata.json
Labels: skip-url-stability-check

#4086 Fixed include paths for `fasttext` and `exprtk`.
  modules/exprtk/0.0.3.bcr.1/MODULE.bazel
  modules/exprtk/0.0.3.bcr.1/overlay/BUILD.bazel
  modules/exprtk/0.0.3.bcr.1/overlay/MODULE.bazel
  modules/exprtk/0.0.3.bcr.1/presubmit.yml
  modules/exprtk/0.0.3.bcr.1/source.json
  modules/exprtk/metadata.json
  modules/fasttext/0.10.0-bcr.20240313-1142dc4.bcr.1/MODULE.bazel
  modules/fasttext/0.10.0-bcr.20240313-1142dc4.bcr.1/overlay/BUILD.bazel
  modules/fasttext/0.10.0-bcr.20240313-1142dc4.bcr.1/overlay/MODULE.bazel
  modules/fasttext/0.10.0-bcr.20240313-1142dc4.bcr.1/presubmit.yml
  modules/fasttext/0.10.0-bcr.20240313-1142dc4.bcr.1/source.json
  modules/fasttext/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4091 Add mac support to libffi.
  modules/libffi/3.4.7.bcr.1/MODULE.bazel
  modules/libffi/3.4.7.bcr.1/overlay/BUILD.bazel
  modules/libffi/3.4.7.bcr.1/overlay/MODULE.bazel
  modules/libffi/3.4.7.bcr.1/presubmit.yml
  modules/libffi/3.4.7.bcr.1/source.json
  modules/libffi/metadata.json
Labels: presubmit-auto-run

#4096 rules_pkl@0.6.0
  modules/rules_pkl/0.6.0/MODULE.bazel
  modules/rules_pkl/0.6.0/presubmit.yml
  modules/rules_pkl/0.6.0/source.json
  modules/rules_pkl/metadata.json
Labels: presubmit-auto-run

#4098 Update protobuf-matchers to 0.1.1
  modules/protobuf-matchers/0.1.1/MODULE.bazel
  modules/protobuf-matchers/0.1.1/presubmit.yml
  modules/protobuf-matchers/0.1.1/source.json
  modules/protobuf-matchers/metadata.json
Labels: presubmit-auto-run

#4082 Add gobject and gio to glib.
  modules/glib/2.82.2.bcr.2/MODULE.bazel
  modules/glib/2.82.2.bcr.2/overlay/BUILD.bazel
  modules/glib/2.82.2.bcr.2/overlay/MODULE.bazel
  modules/glib/2.82.2.bcr.2/overlay/config.h-linux
  modules/glib/2.82.2.bcr.2/overlay/config.h-macos
  modules/glib/2.82.2.bcr.2/overlay/gio/BUILD.bazel
  modules/glib/2.82.2.bcr.2/overlay/gio/gdbus-2.0/codegen/BUILD.bazel
  modules/glib/2.82.2.bcr.2/overlay/gio/xdgmime/BUILD.bazel
  modules/glib/2.82.2.bcr.2/overlay/glib/BUILD.bazel
  modules/glib/2.82.2.bcr.2/overlay/glib/glibconfig.h.in-posix
  modules/glib/2.82.2.bcr.2/overlay/glib/stub_libintl/libintl.h
  modules/glib/2.82.2.bcr.2/overlay/glib/tests/BUILD.bazel
  modules/glib/2.82.2.bcr.2/overlay/gmodule/BUILD.bazel
  modules/glib/2.82.2.bcr.2/overlay/gobject/BUILD.bazel
  modules/glib/2.82.2.bcr.2/overlay/gobject/gobject.bzl
  modules/glib/2.82.2.bcr.2/overlay/subprojects/gvdb/BUILD.bazel
  modules/glib/2.82.2.bcr.2/overlay/tools/BUILD.bazel
  modules/glib/2.82.2.bcr.2/patches/gdatetime_test.patch
  modules/glib/2.82.2.bcr.2/patches/test_portability.patch
  modules/glib/2.82.2.bcr.2/presubmit.yml
  modules/glib/2.82.2.bcr.2/source.json
  modules/glib/metadata.json
Labels: presubmit-auto-run

#4088 Add opencensus-proto 0.4.1.bcr.2
  modules/opencensus-proto/0.4.1.bcr.2/MODULE.bazel
  modules/opencensus-proto/0.4.1.bcr.2/overlay/MODULE.bazel
  modules/opencensus-proto/0.4.1.bcr.2/patches/py-proto-library.patch
  modules/opencensus-proto/0.4.1.bcr.2/presubmit.yml
  modules/opencensus-proto/0.4.1.bcr.2/source.json
  modules/opencensus-proto/metadata.json
Labels: skip-url-stability-check

#3832 Add or-tools modules
  modules/or-tools/9.12/MODULE.bazel
  modules/or-tools/9.12/patches/bazel.patch
  modules/or-tools/9.12/presubmit.yml
  modules/or-tools/9.12/source.json
  modules/or-tools/metadata.json
Labels: presubmit-auto-run

#4112 feat: add libusb
  modules/libusb/1.0.28/MODULE.bazel
  modules/libusb/1.0.28/overlay/BUILD.bazel
  modules/libusb/1.0.28/overlay/MODULE.bazel
  modules/libusb/1.0.28/overlay/config.h-linux
  modules/libusb/1.0.28/overlay/config.h-macos
  modules/libusb/1.0.28/presubmit.yml
  modules/libusb/1.0.28/source.json
  modules/libusb/metadata.json
Labels: presubmit-auto-run

#4106 Added `xxhash` `0.8.3` and `roaring` `4.3.1` and enabled angular includes for `s2geometry`.
  modules/roaring/4.3.1/MODULE.bazel
  modules/roaring/4.3.1/overlay/BUILD.bazel
  modules/roaring/4.3.1/overlay/MODULE.bazel
  modules/roaring/4.3.1/presubmit.yml
  modules/roaring/4.3.1/source.json
  modules/roaring/metadata.json
  modules/s2geometry/0.12.0.bcr.1/MODULE.bazel
  modules/s2geometry/0.12.0.bcr.1/patches/build_dot_bazel.patch
  modules/s2geometry/0.12.0.bcr.1/patches/module_dot_bazel.patch
  modules/s2geometry/0.12.0.bcr.1/presubmit.yml
  modules/s2geometry/0.12.0.bcr.1/source.json
  modules/s2geometry/metadata.json
  modules/xxhash/0.8.3/MODULE.bazel
  modules/xxhash/0.8.3/overlay/BUILD.bazel
  modules/xxhash/0.8.3/overlay/MODULE.bazel
  modules/xxhash/0.8.3/presubmit.yml
  modules/xxhash/0.8.3/source.json
  modules/xxhash/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4118 feat: add boost.icl, boost.stacktrace
  modules/boost.icl/1.83.0/MODULE.bazel
  modules/boost.icl/1.83.0/overlay/BUILD.bazel
  modules/boost.icl/1.83.0/overlay/MODULE.bazel
  modules/boost.icl/1.83.0/presubmit.yml
  modules/boost.icl/1.83.0/source.json
  modules/boost.icl/1.87.0/MODULE.bazel
  modules/boost.icl/1.87.0/overlay/BUILD.bazel
  modules/boost.icl/1.87.0/overlay/MODULE.bazel
  modules/boost.icl/1.87.0/presubmit.yml
  modules/boost.icl/1.87.0/source.json
  modules/boost.icl/metadata.json
  modules/boost.stacktrace/1.83.0/MODULE.bazel
  modules/boost.stacktrace/1.83.0/overlay/BUILD.bazel
  modules/boost.stacktrace/1.83.0/overlay/MODULE.bazel
  modules/boost.stacktrace/1.83.0/presubmit.yml
  modules/boost.stacktrace/1.83.0/source.json
  modules/boost.stacktrace/1.87.0/MODULE.bazel
  modules/boost.stacktrace/1.87.0/overlay/BUILD.bazel
  modules/boost.stacktrace/1.87.0/overlay/MODULE.bazel
  modules/boost.stacktrace/1.87.0/presubmit.yml
  modules/boost.stacktrace/1.87.0/source.json
  modules/boost.stacktrace/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4115 pystring@1.1.4
  modules/pystring/1.1.4/MODULE.bazel
  modules/pystring/1.1.4/overlay/BUILD.bazel
  modules/pystring/1.1.4/overlay/MODULE.bazel
  modules/pystring/1.1.4/presubmit.yml
  modules/pystring/1.1.4/source.json
  modules/pystring/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4110 nasm@2.16.03
  modules/nasm/2.16.03/MODULE.bazel
  modules/nasm/2.16.03/overlay/BUILD.bazel
  modules/nasm/2.16.03/overlay/MODULE.bazel
  modules/nasm/2.16.03/overlay/config_linux.h
  modules/nasm/2.16.03/overlay/config_macos.h
  modules/nasm/2.16.03/presubmit.yml
  modules/nasm/2.16.03/source.json
  modules/nasm/metadata.json
Labels: presubmit-auto-run

#4124 portaudio@19.7.0.bcr.1
  modules/portaudio/19.7.0.bcr.1/MODULE.bazel
  modules/portaudio/19.7.0.bcr.1/overlay/BUILD.bazel
  modules/portaudio/19.7.0.bcr.1/overlay/MODULE.bazel
  modules/portaudio/19.7.0.bcr.1/presubmit.yml
  modules/portaudio/19.7.0.bcr.1/source.json
  modules/portaudio/metadata.json
Labels: presubmit-auto-run

#4138 feat: add boost.beast@1.87.0
  modules/boost.beast/1.87.0/MODULE.bazel
  modules/boost.beast/1.87.0/overlay/BUILD.bazel
  modules/boost.beast/1.87.0/overlay/MODULE.bazel
  modules/boost.beast/1.87.0/presubmit.yml
  modules/boost.beast/1.87.0/source.json
  modules/boost.beast/metadata.json
Labels: skip-url-stability-check

#4155 cudd@3.0.0
  modules/cudd/3.0.0/MODULE.bazel
  modules/cudd/3.0.0/overlay/BUILD.bazel
  modules/cudd/3.0.0/overlay/MODULE.bazel
  modules/cudd/3.0.0/overlay/config.h
  modules/cudd/3.0.0/patches/fixincludes.patch
  modules/cudd/3.0.0/presubmit.yml
  modules/cudd/3.0.0/source.json
  modules/cudd/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4131 Add aravis.
  modules/aravis/0.9.0/MODULE.bazel
  modules/aravis/0.9.0/overlay/BUILD.bazel
  modules/aravis/0.9.0/overlay/MODULE.bazel
  modules/aravis/0.9.0/overlay/src/BUILD.bazel
  modules/aravis/0.9.0/overlay/src/arvenumtypes.c.template
  modules/aravis/0.9.0/overlay/src/arvenumtypes.h.template
  modules/aravis/0.9.0/overlay/tests/BUILD.bazel
  modules/aravis/0.9.0/presubmit.yml
  modules/aravis/0.9.0/source.json
  modules/aravis/metadata.json
Labels: presubmit-auto-run

#4170 snappy@1.2.2
  modules/snappy/1.2.2/MODULE.bazel
  modules/snappy/1.2.2/presubmit.yml
  modules/snappy/1.2.2/source.json
  modules/snappy/metadata.json
Labels: skip-url-stability-check

#4077 PEGTL bzlmod entry
  modules/pegtl/3.2.8/MODULE.bazel
  modules/pegtl/3.2.8/overlay/BUILD.bazel
  modules/pegtl/3.2.8/overlay/src/example/pegtl/BUILD.bazel
  modules/pegtl/3.2.8/patches/module_dot_bazel.patch
  modules/pegtl/3.2.8/presubmit.yml
  modules/pegtl/3.2.8/source.json
  modules/pegtl/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4182 spdlog@1.15.2
  modules/spdlog/1.15.2/MODULE.bazel
  modules/spdlog/1.15.2/overlay/BUILD.bazel
  modules/spdlog/1.15.2/overlay/MODULE.bazel
  modules/spdlog/1.15.2/presubmit.yml
  modules/spdlog/1.15.2/source.json
  modules/spdlog/metadata.json
Labels: skip-url-stability-check

#4174 Fix linking boost.beast -> boost.beast@1.83.0.bcr.1, boost.beast@1.87…
  modules/boost.beast/1.83.0.bcr.1/MODULE.bazel
  modules/boost.beast/1.83.0.bcr.1/overlay/BUILD.bazel
  modules/boost.beast/1.83.0.bcr.1/overlay/MODULE.bazel
  modules/boost.beast/1.83.0.bcr.1/presubmit.yml
  modules/boost.beast/1.83.0.bcr.1/source.json
  modules/boost.beast/1.87.0.bcr.1/MODULE.bazel
  modules/boost.beast/1.87.0.bcr.1/overlay/BUILD.bazel
  modules/boost.beast/1.87.0.bcr.1/overlay/MODULE.bazel
  modules/boost.beast/1.87.0.bcr.1/presubmit.yml
  modules/boost.beast/1.87.0.bcr.1/source.json
  modules/boost.beast/metadata.json
Labels: skip-url-stability-check

#4179 xcodeproj 9.0.0
  modules/xcodeproj/9.0.0/MODULE.bazel
  modules/xcodeproj/9.0.0/patches/add_build_file.patch
  modules/xcodeproj/9.0.0/patches/module_dot_bazel.patch
  modules/xcodeproj/9.0.0/presubmit.yml
  modules/xcodeproj/9.0.0/source.json
  modules/xcodeproj/metadata.json
Labels: skip-url-stability-check

#4157 Enable configurable pcl index size, signedness, and malloc warning
  modules/pcl/1.15.0.bcr.2/MODULE.bazel
  modules/pcl/1.15.0.bcr.2/overlay/BUILD.bazel
  modules/pcl/1.15.0.bcr.2/overlay/MODULE.bazel
  modules/pcl/1.15.0.bcr.2/overlay/test/BUILD.bazel
  modules/pcl/1.15.0.bcr.2/overlay/test/MODULE.bazel
  modules/pcl/1.15.0.bcr.2/patches/no-vtk.diff
  modules/pcl/1.15.0.bcr.2/patches/pcl_config.diff
  modules/pcl/1.15.0.bcr.2/patches/windows-fix-template-instantiation.diff
  modules/pcl/1.15.0.bcr.2/presubmit.yml
  modules/pcl/1.15.0.bcr.2/source.json
  modules/pcl/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4199 Add SwiftSyntax 601.0.0 to BCR
  modules/swift-syntax/601.0.0/MODULE.bazel
  modules/swift-syntax/601.0.0/patches/module_dot_bazel.patch
  modules/swift-syntax/601.0.0/presubmit.yml
  modules/swift-syntax/601.0.0/source.json
  modules/swift-syntax/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4195 Add new tcmalloc commit
  modules/tcmalloc/0.0.0-20250331-43fcf6e/MODULE.bazel
  modules/tcmalloc/0.0.0-20250331-43fcf6e/patches/0001-Add-MODULE.bazel.patch
  modules/tcmalloc/0.0.0-20250331-43fcf6e/presubmit.yml
  modules/tcmalloc/0.0.0-20250331-43fcf6e/source.json
  modules/tcmalloc/metadata.json
Labels: skip-url-stability-check

#4186 Updated `icu` to compile with data.
  modules/icu/76.1.bcr.1/MODULE.bazel
  modules/icu/76.1.bcr.1/README.md
  modules/icu/76.1.bcr.1/overlay/MODULE.bazel
  modules/icu/76.1.bcr.1/overlay/bcr/BUILD.bazel
  modules/icu/76.1.bcr.1/overlay/bcr/break_iterator_test.cc
  modules/icu/76.1.bcr.1/patches/icu4c_source_common_BUILD.bazel.patch
  modules/icu/76.1.bcr.1/patches/icu4c_source_common_putil.cpp.patch
  modules/icu/76.1.bcr.1/presubmit.yml
  modules/icu/76.1.bcr.1/source.json
  modules/icu/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check
