Repository bazelbuild/bazel-central-registry, pull requests merged in 2025-07, with the labels that each got.

#5055 Publish {bazel_skylib,bazel_skylib_gazelle_plugin}@1.8.0
  modules/bazel_skylib/1.8.0/MODULE.bazel
  modules/bazel_skylib/1.8.0/attestations.json
  modules/bazel_skylib/1.8.0/presubmit.yml
  modules/bazel_skylib/1.8.0/source.json
  modules/bazel_skylib/metadata.json
  modules/bazel_skylib_gazelle_plugin/1.8.0/MODULE.bazel
  modules/bazel_skylib_gazelle_plugin/1.8.0/attestations.json
  modules/bazel_skylib_gazelle_plugin/1.8.0/presubmit.yml
  modules/bazel_skylib_gazelle_plugin/1.8.0/source.json
  modules/bazel_skylib_gazelle_plugin/metadata.json
Labels: presubmit-auto-run

#5053 feat: upgrade boost scope_exit and geometry to 1.87.0
  modules/boost.geometry/1.87.0/MODULE.bazel
  modules/boost.geometry/1.87.0/overlay/BUILD.bazel
  modules/boost.geometry/1.87.0/overlay/MODULE.bazel
  modules/boost.geometry/1.87.0/presubmit.yml
  modules/boost.geometry/1.87.0/source.json
  modules/boost.geometry/metadata.json
  modules/boost.scope_exit/1.87.0/MODULE.bazel
  modules/boost.scope_exit/1.87.0/overlay/BUILD.bazel
  modules/boost.scope_exit/1.87.0/overlay/MODULE.bazel
  modules/boost.scope_exit/1.87.0/presubmit.yml
  modules/boost.scope_exit/1.87.0/source.json
  modules/boost.scope_exit/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-compatibility-level-check

#5056 cpp-httplib@0.22.0
  modules/cpp-httplib/0.22.0/MODULE.bazel
  modules/cpp-httplib/0.22.0/overlay/BUILD.bazel
  modules/cpp-httplib/0.22.0/overlay/MODULE.bazel
  modules/cpp-httplib/0.22.0/presubmit.yml
  modules/cpp-httplib/0.22.0/source.json
  modules/cpp-httplib/metadata.json
Labels: skip-url-stability-check

#5059 Add a version of Pinochio@2.6.21 compatible with Eigen 3.4.0
  modules/pinocchio/2.6.21.bcr.2/MODULE.bazel
  modules/pinocchio/2.6.21.bcr.2/patches/boost_tests_dot_bzl.patch
  modules/pinocchio/2.6.21.bcr.2/patches/build_dot_bazel.patch
  modules/pinocchio/2.6.21.bcr.2/patches/generate_file_dot_bzl.patch
  modules/pinocchio/2.6.21.bcr.2/patches/module_dot_bazel.patch
  modules/pinocchio/2.6.21.bcr.2/patches/undefine_ptr_casts_dot_bzl.patch
  modules/pinocchio/2.6.21.bcr.2/presubmit.yml
  modules/pinocchio/2.6.21.bcr.2/source.json
  modules/pinocchio/metadata.json
Labels: auto-merged

#5067 freeimage@3.19.10.bcr.1
  modules/freeimage/3.19.10.bcr.1/MODULE.bazel
  modules/freeimage/3.19.10.bcr.1/patches/add_build_file.patch
  modules/freeimage/3.19.10.bcr.1/patches/module_dot_bazel.patch
  modules/freeimage/3.19.10.bcr.1/patches/tif_unix.patch
  modules/freeimage/3.19.10.bcr.1/presubmit.yml
  modules/freeimage/3.19.10.bcr.1/source.json
  modules/freeimage/metadata.json
Labels: skip-url-stability-check, auto-merged

#5065 Add googleapis 0.0.0-20250604-de157ca3
  modules/googleapis/0.0.0-20250604-de157ca3/MODULE.bazel
  modules/googleapis/0.0.0-20250604-de157ca3/overlay/MODULE.bazel
  modules/googleapis/0.0.0-20250604-de157ca3/overlay/extensions.bzl
  modules/googleapis/0.0.0-20250604-de157ca3/overlay/tests/bcr/.bazelrc
  modules/googleapis/0.0.0-20250604-de157ca3/overlay/tests/bcr/BUILD.bazel
  modules/googleapis/0.0.0-20250604-de157ca3/overlay/tests/bcr/MODULE.bazel
  modules/googleapis/0.0.0-20250604-de157ca3/overlay/tests/bcr/failure_test.bzl
  modules/googleapis/0.0.0-20250604-de157ca3/patches/module_dot_bazel.patch
  modules/googleapis/0.0.0-20250604-de157ca3/patches/remove_upb_c_rules.patch
  modules/googleapis/0.0.0-20250604-de157ca3/presubmit.yml
  modules/googleapis/0.0.0-20250604-de157ca3/source.json
  modules/googleapis/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-incompatible-flags-test

#5069 freeimage@3.19.10.bcr.2
  modules/freeimage/3.19.10.bcr.2/MODULE.bazel
  modules/freeimage/3.19.10.bcr.2/patches/add_build_file.patch
  modules/freeimage/3.19.10.bcr.2/patches/module_dot_bazel.patch
  modules/freeimage/3.19.10.bcr.2/patches/tif_unix.patch
  modules/freeimage/3.19.10.bcr.2/presubmit.yml
  modules/freeimage/3.19.10.bcr.2/source.json
  modules/freeimage/metadata.json
Labels: skip-url-stability-check

#5070 Add rules_jsonnet 0.7.1
  modules/rules_jsonnet/0.7.1/MODULE.bazel
  modules/rules_jsonnet/0.7.1/presubmit.yml
  modules/rules_jsonnet/0.7.1/source.json
  modules/rules_jsonnet/metadata.json
Labels: presubmit-auto-run

#5088 openfst@1.8.4
  modules/openfst/1.8.4/MODULE.bazel
  modules/openfst/1.8.4/patches/openfst-1.8.4.patch
  modules/openfst/1.8.4/presubmit.yml
  modules/openfst/1.8.4/source.json
  modules/openfst/metadata.json
Labels: presubmit-auto-run

#5089 thrax@1.3.9
  modules/thrax/1.3.9/MODULE.bazel
  modules/thrax/1.3.9/patches/thrax-1.3.9.patch
  modules/thrax/1.3.9/presubmit.yml
  modules/thrax/1.3.9/source.json
  modules/thrax/metadata.json
Labels: presubmit-auto-run

#5087 sparrowhawk@2.0.0
  modules/sparrowhawk/2.0.0/MODULE.bazel
  modules/sparrowhawk/2.0.0/presubmit.yml
  modules/sparrowhawk/2.0.0/source.json
  modules/sparrowhawk/metadata.json
Labels: presubmit-auto-run

#5063 Add aom
  modules/aom/3.12.1/MODULE.bazel
  modules/aom/3.12.1/patches/add_build_file.patch
  modules/aom/3.12.1/patches/module_dot_bazel.patch
  modules/aom/3.12.1/presubmit.yml
  modules/aom/3.12.1/source.json
  modules/aom/metadata.json
Labels: presubmit-auto-run

#5101 Update gz-physics
  modules/gz-physics/8.2.0.bcr.1/MODULE.bazel
  modules/gz-physics/8.2.0.bcr.1/patches/fix_build_bazel.patch
  modules/gz-physics/8.2.0.bcr.1/patches/module_dot_bazel.patch
  modules/gz-physics/8.2.0.bcr.1/presubmit.yml
  modules/gz-physics/8.2.0.bcr.1/source.json
  modules/gz-physics/metadata.json
Labels: skip-url-stability-check, auto-merged

#5097 Publish aspect_rules_ts@3.6.3
  modules/aspect_rules_ts/3.6.3/MODULE.bazel
  modules/aspect_rules_ts/3.6.3/attestations.json
  modules/aspect_rules_ts/3.6.3/patches/module_dot_bazel_version.patch
  modules/aspect_rules_ts/3.6.3/presubmit.yml
  modules/aspect_rules_ts/3.6.3/source.json
  modules/aspect_rules_ts/metadata.json
Labels: presubmit-auto-run, skip-incompatible-flags-test

#5106 Add lexy@2025.05.0
  modules/lexy/2025.05.0/MODULE.bazel
  modules/lexy/2025.05.0/overlay/BUILD.bazel
  modules/lexy/2025.05.0/overlay/MODULE.bazel
  modules/lexy/2025.05.0/patches/doctest_quote_includes.patch
  modules/lexy/2025.05.0/presubmit.yml
  modules/lexy/2025.05.0/source.json
  modules/lexy/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#5109 Add cel-cpp 0.12.0
  modules/cel-cpp/0.12.0/MODULE.bazel
  modules/cel-cpp/0.12.0/patches/module_dot_bazel.patch
  modules/cel-cpp/0.12.0/presubmit.yml
  modules/cel-cpp/0.12.0/source.json
  modules/cel-cpp/metadata.json
Labels: skip-url-stability-check, auto-merged, skip-incompatible-flags-test

#5110 Update gz-sensors
  modules/gz-sensors/9.2.0.bcr.1/MODULE.bazel
  modules/gz-sensors/9.2.0.bcr.1/patches/fix_build_bazel.patch
  modules/gz-sensors/9.2.0.bcr.1/patches/module_dot_bazel.patch
  modules/gz-sensors/9.2.0.bcr.1/presubmit.yml
  modules/gz-sensors/9.2.0.bcr.1/source.json
  modules/gz-sensors/metadata.json
Labels: skip-url-stability-check

#5113 Add minitrace cpp library
  modules/minitrace/0.0.0-20241021-242da50/MODULE.bazel
  modules/minitrace/0.0.0-20241021-242da50/overlay/BUILD.bazel
  modules/minitrace/0.0.0-20241021-242da50/overlay/MODULE.bazel
  modules/minitrace/0.0.0-20241021-242da50/presubmit.yml
  modules/minitrace/0.0.0-20241021-242da50/source.json
  modules/minitrace/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#5131 Publish aspect_rules_lint@1.4.5
  modules/aspect_rules_lint/1.4.5/MODULE.bazel
  modules/aspect_rules_lint/1.4.5/attestations.json
  modules/aspect_rules_lint/1.4.5/patches/go_dev_deps.patch
  modules/aspect_rules_lint/1.4.5/patches/module_dot_bazel_version.patch
  modules/aspect_rules_lint/1.4.5/presubmit.yml
  modules/aspect_rules_lint/1.4.5/source.json
  modules/aspect_rules_lint/metadata.json
Labels: auto-merged, skip-incompatible-flags-test

#5137 Add minicoro@0.1.2
  modules/minicoro/0.1.2/MODULE.bazel
  modules/minicoro/0.1.2/overlay/BUILD.bazel
  modules/minicoro/0.1.2/overlay/MODULE.bazel
  modules/minicoro/0.1.2/presubmit.yml
  modules/minicoro/0.1.2/source.json
  modules/minicoro/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#5140 Update gz-sim to 9.3.0
  modules/gz-sim/9.3.0/MODULE.bazel
  modules/gz-sim/9.3.0/patches/module_dot_bazel.patch
  modules/gz-sim/9.3.0/presubmit.yml
  modules/gz-sim/9.3.0/source.json
  modules/gz-sim/metadata.json
Labels: skip-url-stability-check, auto-merged

#5141 Release plyodine v1.1.0
  modules/plyodine/1.1.0/MODULE.bazel
  modules/plyodine/1.1.0/presubmit.yml
  modules/plyodine/1.1.0/source.json
  modules/plyodine/metadata.json
Labels: skip-compatibility-level-check

#5142 Publish tar.bzl@0.3.3
  modules/tar.bzl/0.3.3/MODULE.bazel
  modules/tar.bzl/0.3.3/attestations.json
  modules/tar.bzl/0.3.3/patches/module_dot_bazel_version.patch
  modules/tar.bzl/0.3.3/presubmit.yml
  modules/tar.bzl/0.3.3/source.json
  modules/tar.bzl/metadata.json
Labels: auto-merged, skip-incompatible-flags-test

#5138 Add cpp-sqlite
  modules/cpp-sqlite/0.0.0-20230222-7f931c4/MODULE.bazel
  modules/cpp-sqlite/0.0.0-20230222-7f931c4/overlay/BUILD.bazel
  modules/cpp-sqlite/0.0.0-20230222-7f931c4/overlay/MODULE.bazel
  modules/cpp-sqlite/0.0.0-20230222-7f931c4/presubmit.yml
  modules/cpp-sqlite/0.0.0-20230222-7f931c4/source.json
  modules/cpp-sqlite/0.0.0-20241111-21be8b5/MODULE.bazel
  modules/cpp-sqlite/0.0.0-20241111-21be8b5/overlay/BUILD.bazel
  modules/cpp-sqlite/0.0.0-20241111-21be8b5/overlay/MODULE.bazel
  modules/cpp-sqlite/0.0.0-20241111-21be8b5/presubmit.yml
  modules/cpp-sqlite/0.0.0-20241111-21be8b5/source.json
  modules/cpp-sqlite/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-compatibility-level-check

#5160 Publish aspect_rules_lint@1.5.1
  modules/aspect_rules_lint/1.5.1/MODULE.bazel
  modules/aspect_rules_lint/1.5.1/attestations.json
  modules/aspect_rules_lint/1.5.1/patches/go_dev_deps.patch
  modules/aspect_rules_lint/1.5.1/patches/module_dot_bazel_version.patch
  modules/aspect_rules_lint/1.5.1/presubmit.yml
  modules/aspect_rules_lint/1.5.1/source.json
  modules/aspect_rules_lint/metadata.json
Labels: skip-incompatible-flags-test

#5171 Publish rules_cc@0.1.3
  modules/rules_cc/0.1.3/MODULE.bazel
  modules/rules_cc/0.1.3/patches/module_dot_bazel_version.patch
  modules/rules_cc/0.1.3/presubmit.yml
  modules/rules_cc/0.1.3/source.json
  modules/rules_cc/metadata.json
Labels: presubmit-auto-run

#5178 Publish bazelrc-preset.bzl@1.0.0
  modules/bazelrc-preset.bzl/1.0.0/MODULE.bazel
  modules/bazelrc-preset.bzl/1.0.0/attestations.json
  modules/bazelrc-preset.bzl/1.0.0/patches/module_dot_bazel_version.patch
  modules/bazelrc-preset.bzl/1.0.0/presubmit.yml
  modules/bazelrc-preset.bzl/1.0.0/source.json
  modules/bazelrc-preset.bzl/metadata.json
Labels: auto-merged

#5179 fcl@0.7.0.bcr.1
  modules/fcl/0.7.0.bcr.1/MODULE.bazel
  modules/fcl/0.7.0.bcr.1/patches/add_assert_include.patch
  modules/fcl/0.7.0.bcr.1/patches/add_build_file.patch
  modules/fcl/0.7.0.bcr.1/patches/add_export_header.patch
  modules/fcl/0.7.0.bcr.1/patches/module_dot_bazel.patch
  modules/fcl/0.7.0.bcr.1/presubmit.yml
  modules/fcl/0.7.0.bcr.1/source.json
  modules/fcl/metadata.json
Labels: skip-url-stability-check, auto-merged

#5194 gz-physics@8.2.0.bcr.2
  modules/gz-physics/8.2.0.bcr.2/MODULE.bazel
  modules/gz-physics/8.2.0.bcr.2/patches/fix_build_bazel.patch
  modules/gz-physics/8.2.0.bcr.2/patches/module_dot_bazel.patch
  modules/gz-physics/8.2.0.bcr.2/presubmit.yml
  modules/gz-physics/8.2.0.bcr.2/source.json
  modules/gz-physics/metadata.json
Labels: skip-url-stability-check, auto-merged

#5197 boost.describe@1.88.0.bcr.1
  modules/boost.describe/1.88.0.bcr.1/MODULE.bazel
  modules/boost.describe/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.describe/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.describe/1.88.0.bcr.1/presubmit.yml
  modules/boost.describe/1.88.0.bcr.1/source.json
  modules/boost.describe/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5195 boost.assert@1.88.0.bcr.1
  modules/boost.assert/1.88.0.bcr.1/MODULE.bazel
  modules/boost.assert/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.assert/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.assert/1.88.0.bcr.1/presubmit.yml
  modules/boost.assert/1.88.0.bcr.1/source.json
  modules/boost.assert/metadata.json
Labels: skip-url-stability-check, auto-merged, skip-compatibility-level-check

#5190 boost.lambda2@1.88.0.bcr.1
  modules/boost.lambda2/1.88.0.bcr.1/MODULE.bazel
  modules/boost.lambda2/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.lambda2/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.lambda2/1.88.0.bcr.1/presubmit.yml
  modules/boost.lambda2/1.88.0.bcr.1/source.json
  modules/boost.lambda2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-compatibility-level-check

#5191 boost.callable_traits@1.88.0.bcr.1
  modules/boost.callable_traits/1.88.0.bcr.1/MODULE.bazel
  modules/boost.callable_traits/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.callable_traits/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.callable_traits/1.88.0.bcr.1/presubmit.yml
  modules/boost.callable_traits/1.88.0.bcr.1/source.json
  modules/boost.callable_traits/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-compatibility-level-check

#5200 boost.move@1.88.0.bcr.1
  modules/boost.move/1.88.0.bcr.1/MODULE.bazel
  modules/boost.move/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.move/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.move/1.88.0.bcr.1/presubmit.yml
  modules/boost.move/1.88.0.bcr.1/source.json
  modules/boost.move/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5211 rules_proto_grpc@5.4.0
  modules/rules_proto_grpc/5.4.0/MODULE.bazel
  modules/rules_proto_grpc/5.4.0/presubmit.yml
  modules/rules_proto_grpc/5.4.0/source.json
  modules/rules_proto_grpc/metadata.json
  modules/rules_proto_grpc_buf/5.4.0/MODULE.bazel
  modules/rules_proto_grpc_buf/5.4.0/presubmit.yml
  modules/rules_proto_grpc_buf/5.4.0/source.json
  modules/rules_proto_grpc_buf/metadata.json
  modules/rules_proto_grpc_cpp/5.4.0/MODULE.bazel
  modules/rules_proto_grpc_cpp/5.4.0/presubmit.yml
  modules/rules_proto_grpc_cpp/5.4.0/source.json
  modules/rules_proto_grpc_cpp/metadata.json
  modules/rules_proto_grpc_doc/5.4.0/MODULE.bazel
  modules/rules_proto_grpc_doc/5.4.0/presubmit.yml
  modules/rules_proto_grpc_doc/5.4.0/source.json
  modules/rules_proto_grpc_doc/metadata.json
  modules/rules_proto_grpc_go/5.4.0/MODULE.bazel
  modules/rules_proto_grpc_go/5.4.0/presubmit.yml
  modules/rules_proto_grpc_go/5.4.0/source.json
  modules/rules_proto_grpc_go/metadata.json
  modules/rules_proto_grpc_grpc_gateway/5.4.0/MODULE.bazel
  modules/rules_proto_grpc_grpc_gateway/5.4.0/presubmit.yml
  modules/rules_proto_grpc_grpc_gateway/5.4.0/source.json
  modules/rules_proto_grpc_grpc_gateway/metadata.json
  modules/rules_proto_grpc_java/5.4.0/MODULE.bazel
  modules/rules_proto_grpc_java/5.4.0/presubmit.yml
  modules/rules_proto_grpc_java/5.4.0/source.json
  modules/rules_proto_grpc_java/metadata.json
  modules/rules_proto_grpc_js/5.4.0/MODULE.bazel
  modules/rules_proto_grpc_js/5.4.0/presubmit.yml
  modules/rules_proto_grpc_js/5.4.0/source.json
  modules/rules_proto_grpc_js/metadata.json
  modules/rules_proto_grpc_objc/5.4.0/MODULE.bazel
  modules/rules_proto_grpc_objc/5.4.0/presubmit.yml
  modules/rules_proto_grpc_objc/5.4.0/source.json
  modules/rules_proto_grpc_objc/metadata.json
  modules/rules_proto_grpc_python/5.4.0/MODULE.bazel
  modules/rules_proto_grpc_python/5.4.0/presubmit.yml
  modules/rules_proto_grpc_python/5.4.0/source.json
  modules/rules_proto_grpc_python/metadata.json
  modules/rules_proto_grpc_scala/5.4.0/MODULE.bazel
  modules/rules_proto_grpc_scala/5.4.0/presubmit.yml
  modules/rules_proto_grpc_scala/5.4.0/source.json
  modules/rules_proto_grpc_scala/metadata.json
  modules/rules_proto_grpc_swift/5.4.0/MODULE.bazel
  modules/rules_proto_grpc_swift/5.4.0/presubmit.yml
  modules/rules_proto_grpc_swift/5.4.0/source.json
  modules/rules_proto_grpc_swift/metadata.json
Labels: auto-merged, skip-incompatible-flags-test

#5218 Publish protovalidate-cc@1.0.0-rc.6
  modules/protovalidate-cc/1.0.0-rc.6/MODULE.bazel
  modules/protovalidate-cc/1.0.0-rc.6/attestations.json
  modules/protovalidate-cc/1.0.0-rc.6/presubmit.yml
  modules/protovalidate-cc/1.0.0-rc.6/source.json
  modules/protovalidate-cc/metadata.json
Labels: skip-incompatible-flags-test

#5219 boost.container_hash@1.88.0.bcr.1
  modules/boost.container_hash/1.88.0.bcr.1/MODULE.bazel
  modules/boost.container_hash/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.container_hash/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.container_hash/1.88.0.bcr.1/presubmit.yml
  modules/boost.container_hash/1.88.0.bcr.1/source.json
  modules/boost.container_hash/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-compatibility-level-check

#5225 boost.variant2@1.88.0.bcr.1
  modules/boost.variant2/1.88.0.bcr.1/MODULE.bazel
  modules/boost.variant2/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.variant2/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.variant2/1.88.0.bcr.1/presubmit.yml
  modules/boost.variant2/1.88.0.bcr.1/source.json
  modules/boost.variant2/metadata.json
Labels: skip-url-stability-check, auto-merged, skip-compatibility-level-check

#5237 add babylon@1.4.3 to bcr
  modules/babylon/1.4.3/MODULE.bazel
  modules/babylon/1.4.3/presubmit.yml
  modules/babylon/1.4.3/source.json
  modules/babylon/metadata.json
Labels: auto-merged

#5238 Add `boost.lockfree`
  modules/boost.lockfree/1.87.0/MODULE.bazel
  modules/boost.lockfree/1.87.0/overlay/BUILD.bazel
  modules/boost.lockfree/1.87.0/overlay/MODULE.bazel
  modules/boost.lockfree/1.87.0/presubmit.yml
  modules/boost.lockfree/1.87.0/source.json
  modules/boost.lockfree/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-compatibility-level-check

#5264 boost.ratio@1.88.0.bcr.1
  modules/boost.ratio/1.88.0.bcr.1/MODULE.bazel
  modules/boost.ratio/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.ratio/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.ratio/1.88.0.bcr.1/presubmit.yml
  modules/boost.ratio/1.88.0.bcr.1/source.json
  modules/boost.ratio/metadata.json
Labels: skip-url-stability-check, auto-merged, skip-compatibility-level-check

#5148 Add libxml2@2.14.4
  modules/libxml2/2.14.4/MODULE.bazel
  modules/libxml2/2.14.4/overlay/BUILD.bazel
  modules/libxml2/2.14.4/overlay/MODULE.bazel
  modules/libxml2/2.14.4/overlay/config.h
  modules/libxml2/2.14.4/overlay/include/libxml/xmlversion.h
  modules/libxml2/2.14.4/presubmit.yml
  modules/libxml2/2.14.4/source.json
  modules/libxml2/metadata.json
Labels: presubmit-auto-run

#5253 feat: update libxcb
  modules/libxau/1.0.12.bcr.1/MODULE.bazel
  modules/libxau/1.0.12.bcr.1/overlay/BUILD.bazel
  modules/libxau/1.0.12.bcr.1/overlay/MODULE.bazel
  modules/libxau/1.0.12.bcr.1/presubmit.yml
  modules/libxau/1.0.12.bcr.1/source.json
  modules/libxau/metadata.json
  modules/libxcb/1.17.0.bcr.1/MODULE.bazel
  modules/libxcb/1.17.0.bcr.1/overlay/BUILD.bazel
  modules/libxcb/1.17.0.bcr.1/overlay/MODULE.bazel
  modules/libxcb/1.17.0.bcr.1/overlay/src/config.h.in
  modules/libxcb/1.17.0.bcr.1/presubmit.yml
  modules/libxcb/1.17.0.bcr.1/source.json
  modules/libxcb/metadata.json
  modules/xorgproto/2024.1.bcr.1/MODULE.bazel
  modules/xorgproto/2024.1.bcr.1/overlay/BUILD.bazel
  modules/xorgproto/2024.1.bcr.1/overlay/MODULE.bazel
  modules/xorgproto/2024.1.bcr.1/presubmit.yml
  modules/xorgproto/2024.1.bcr.1/source.json
  modules/xorgproto/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-incompatible-flags-test

#5283 bant: 0.2.0 -> 0.2.1
  modules/bant/0.2.1/MODULE.bazel
  modules/bant/0.2.1/presubmit.yml
  modules/bant/0.2.1/source.json
  modules/bant/metadata.json
Labels: presubmit-auto-run

#5259 Add Boost 1.88.0 Level 3 deps
  modules/boost.array/1.88.0.bcr.1/MODULE.bazel
  modules/boost.array/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.array/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.array/1.88.0.bcr.1/presubmit.yml
  modules/boost.array/1.88.0.bcr.1/source.json
  modules/boost.array/metadata.json
  modules/boost.compat/1.88.0.bcr.1/MODULE.bazel
  modules/boost.compat/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.compat/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.compat/1.88.0.bcr.1/presubmit.yml
  modules/boost.compat/1.88.0.bcr.1/source.json
  modules/boost.compat/metadata.json
  modules/boost.concept_check/1.88.0.bcr.1/MODULE.bazel
  modules/boost.concept_check/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.concept_check/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.concept_check/1.88.0.bcr.1/presubmit.yml
  modules/boost.concept_check/1.88.0.bcr.1/source.json
  modules/boost.concept_check/metadata.json
  modules/boost.core/1.88.0.bcr.1/MODULE.bazel
  modules/boost.core/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.core/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.core/1.88.0.bcr.1/presubmit.yml
  modules/boost.core/1.88.0.bcr.1/source.json
  modules/boost.core/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-compatibility-level-check

#5260 double-conversion@3.3.1
  modules/double-conversion/3.3.1/MODULE.bazel
  modules/double-conversion/3.3.1/overlay/MODULE.bazel
  modules/double-conversion/3.3.1/presubmit.yml
  modules/double-conversion/3.3.1/source.json
  modules/double-conversion/metadata.json
Labels: skip-url-stability-check

#5311 boost@1.88.0.bcr.1 Level 5
  modules/boost.any/1.88.0.bcr.1/MODULE.bazel
  modules/boost.any/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.any/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.any/1.88.0.bcr.1/presubmit.yml
  modules/boost.any/1.88.0.bcr.1/source.json
  modules/boost.any/metadata.json
  modules/boost.atomic/1.88.0.bcr.1/MODULE.bazel
  modules/boost.atomic/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.atomic/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.atomic/1.88.0.bcr.1/presubmit.yml
  modules/boost.atomic/1.88.0.bcr.1/source.json
  modules/boost.atomic/metadata.json
  modules/boost.conversion/1.88.0.bcr.1/MODULE.bazel
  modules/boost.conversion/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.conversion/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.conversion/1.88.0.bcr.1/presubmit.yml
  modules/boost.conversion/1.88.0.bcr.1/source.json
  modules/boost.conversion/metadata.json
  modules/boost.dynamic_bitset/1.88.0.bcr.1/MODULE.bazel
  modules/boost.dynamic_bitset/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.dynamic_bitset/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.dynamic_bitset/1.88.0.bcr.1/presubmit.yml
  modules/boost.dynamic_bitset/1.88.0.bcr.1/source.json
  modules/boost.dynamic_bitset/metadata.json
  modules/boost.optional/1.88.0.bcr.1/MODULE.bazel
  modules/boost.optional/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.optional/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.optional/1.88.0.bcr.1/presubmit.yml
  modules/boost.optional/1.88.0.bcr.1/source.json
  modules/boost.optional/metadata.json
  modules/boost.smart_ptr/1.88.0.bcr.1/MODULE.bazel
  modules/boost.smart_ptr/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.smart_ptr/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.smart_ptr/1.88.0.bcr.1/presubmit.yml
  modules/boost.smart_ptr/1.88.0.bcr.1/source.json
  modules/boost.smart_ptr/metadata.json
  modules/boost.stacktrace/1.88.0.bcr.1/MODULE.bazel
  modules/boost.stacktrace/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.stacktrace/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.stacktrace/1.88.0.bcr.1/presubmit.yml
  modules/boost.stacktrace/1.88.0.bcr.1/source.json
  modules/boost.stacktrace/metadata.json
  modules/boost.unordered/1.88.0.bcr.1/MODULE.bazel
  modules/boost.unordered/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.unordered/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.unordered/1.88.0.bcr.1/presubmit.yml
  modules/boost.unordered/1.88.0.bcr.1/source.json
  modules/boost.unordered/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5198 boost.leaf@1.88.0.bcr.1
  modules/boost.leaf/1.88.0.bcr.1/MODULE.bazel
  modules/boost.leaf/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.leaf/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.leaf/1.88.0.bcr.1/presubmit.yml
  modules/boost.leaf/1.88.0.bcr.1/source.json
  modules/boost.leaf/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-compatibility-level-check

#5321 Add BCR Boost modules maintainer
  modules/boost.assign/metadata.json
  modules/boost.charconv/metadata.json
  modules/boost.compat/metadata.json
  modules/boost.crc/metadata.json
  modules/boost.lockfree/metadata.json
  modules/boost.mysql/metadata.json
  modules/boost.timer/metadata.json
Labels: presubmit-auto-run

#5330 grpc@1.74.0
  modules/grpc/1.74.0/MODULE.bazel
  modules/grpc/1.74.0/patches/adopt_bzlmod.patch
  modules/grpc/1.74.0/presubmit.yml
  modules/grpc/1.74.0/source.json
  modules/grpc/metadata.json
Labels: skip-url-stability-check, skip-incompatible-flags-test

#5285 Publish rules_spring_aot@0.1.0
  modules/rules_spring_aot/0.1.0/MODULE.bazel
  modules/rules_spring_aot/0.1.0/attestations.json
  modules/rules_spring_aot/0.1.0/patches/module_dot_bazel_version.patch
  modules/rules_spring_aot/0.1.0/presubmit.yml
  modules/rules_spring_aot/0.1.0/source.json
  modules/rules_spring_aot/metadata.json
Labels: presubmit-auto-run, skip-incompatible-flags-test

#5335 Add roboticslibrary.rl@0.0.0-20250723-5bbd773.bcr.1 to support fixed size vectors for real-time applications.
  modules/roboticslibrary.rl/0.0.0-20250723-5bbd773.bcr.1/MODULE.bazel
  modules/roboticslibrary.rl/0.0.0-20250723-5bbd773.bcr.1/patches/build_dot_bazel.patch
  modules/roboticslibrary.rl/0.0.0-20250723-5bbd773.bcr.1/patches/clamp_dot_bzl.patch
  modules/roboticslibrary.rl/0.0.0-20250723-5bbd773.bcr.1/patches/fixed_size_vector_dot_bzl.patch
  modules/roboticslibrary.rl/0.0.0-20250723-5bbd773.bcr.1/patches/module_dot_bazel.patch
  modules/roboticslibrary.rl/0.0.0-20250723-5bbd773.bcr.1/presubmit.yml
  modules/roboticslibrary.rl/0.0.0-20250723-5bbd773.bcr.1/source.json
  modules/roboticslibrary.rl/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#5329 feat: add google-cloud-cpp@3.0.0-rc0
  modules/google_cloud_cpp/3.0.0-rc0/MODULE.bazel
  modules/google_cloud_cpp/3.0.0-rc0/overlay/bcr_test/BUILD.bazel
  modules/google_cloud_cpp/3.0.0-rc0/overlay/bcr_test/MODULE.bazel
  modules/google_cloud_cpp/3.0.0-rc0/overlay/bcr_test/main.cc
  modules/google_cloud_cpp/3.0.0-rc0/patches/module_dot_bazel.patch
  modules/google_cloud_cpp/3.0.0-rc0/presubmit.yml
  modules/google_cloud_cpp/3.0.0-rc0/source.json
  modules/google_cloud_cpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#5320 Update CUDD source repository
  modules/cudd/3.0.0.bcr.1/MODULE.bazel
  modules/cudd/3.0.0.bcr.1/overlay/BUILD.bazel
  modules/cudd/3.0.0.bcr.1/overlay/MODULE.bazel
  modules/cudd/3.0.0.bcr.1/overlay/config.h
  modules/cudd/3.0.0.bcr.1/patches/fixincludes.patch
  modules/cudd/3.0.0.bcr.1/presubmit.yml
  modules/cudd/3.0.0.bcr.1/source.json
  modules/cudd/metadata.json
Labels: presubmit-auto-run

#5337 Misc boost@1.88.0.bcr.1 additions
  modules/boost.functional/1.88.0.bcr.1/MODULE.bazel
  modules/boost.functional/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.functional/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.functional/1.88.0.bcr.1/presubmit.yml
  modules/boost.functional/1.88.0.bcr.1/source.json
  modules/boost.functional/metadata.json
  modules/boost.fusion/1.88.0.bcr.1/MODULE.bazel
  modules/boost.fusion/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.fusion/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.fusion/1.88.0.bcr.1/presubmit.yml
  modules/boost.fusion/1.88.0.bcr.1/source.json
  modules/boost.fusion/metadata.json
  modules/boost.iterator/1.88.0.bcr.1/MODULE.bazel
  modules/boost.iterator/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.iterator/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.iterator/1.88.0.bcr.1/presubmit.yml
  modules/boost.iterator/1.88.0.bcr.1/source.json
  modules/boost.iterator/metadata.json
  modules/boost.parameter/1.88.0.bcr.1/MODULE.bazel
  modules/boost.parameter/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.parameter/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.parameter/1.88.0.bcr.1/presubmit.yml
  modules/boost.parameter/1.88.0.bcr.1/source.json
  modules/boost.parameter/metadata.json
  modules/boost.tti/1.88.0.bcr.1/MODULE.bazel
  modules/boost.tti/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.tti/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.tti/1.88.0.bcr.1/presubmit.yml
  modules/boost.tti/1.88.0.bcr.1/source.json
  modules/boost.tti/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5206 Add postgres 14.18
  modules/postgres/14.18/MODULE.bazel
  modules/postgres/14.18/overlay/BUILD.bazel
  modules/postgres/14.18/overlay/MODULE.bazel
  modules/postgres/14.18/presubmit.yml
  modules/postgres/14.18/source.json
  modules/postgres/metadata.json
Labels: skip-compatibility-level-check

#5358 boost.static_string@1.88.0.bcr.1
  modules/boost.static_string/1.88.0.bcr.1/MODULE.bazel
  modules/boost.static_string/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.static_string/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.static_string/1.88.0.bcr.1/presubmit.yml
  modules/boost.static_string/1.88.0.bcr.1/source.json
  modules/boost.static_string/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5364 Update gz-rendering to 9.3.0
  modules/gz-rendering/9.3.0/MODULE.bazel
  modules/gz-rendering/9.3.0/patches/module_dot_bazel.patch
  modules/gz-rendering/9.3.0/presubmit.yml
  modules/gz-rendering/9.3.0/source.json
  modules/gz-rendering/metadata.json
Labels: skip-url-stability-check

#5367 fuzztest@20250728.0
  modules/fuzztest/20250728.0/MODULE.bazel
  modules/fuzztest/20250728.0/patches/bazel.patch
  modules/fuzztest/20250728.0/presubmit.yml
  modules/fuzztest/20250728.0/source.json
  modules/fuzztest/metadata.json
Labels: presubmit-auto-run, skip-incompatible-flags-test

#5375 Add opentelemetry-cpp 1.22.0
  modules/opentelemetry-cpp/1.22.0/MODULE.bazel
  modules/opentelemetry-cpp/1.22.0/overlay/MODULE.bazel
  modules/opentelemetry-cpp/1.22.0/presubmit.yml
  modules/opentelemetry-cpp/1.22.0/source.json
  modules/opentelemetry-cpp/metadata.json
Labels: skip-url-stability-check

#5378 pico-sdk@2.2.0, picotool@2.2.0
  modules/pico-sdk/2.2.0/MODULE.bazel
  modules/pico-sdk/2.2.0/presubmit.yml
  modules/pico-sdk/2.2.0/source.json
  modules/pico-sdk/metadata.json
  modules/picotool/2.2.0/MODULE.bazel
  modules/picotool/2.2.0/presubmit.yml
  modules/picotool/2.2.0/source.json
  modules/picotool/metadata.json
Labels: presubmit-auto-run

#5385 Add openconfig_bootz@0.6.0
  modules/openconfig_bootz/0.6.0/MODULE.bazel
  modules/openconfig_bootz/0.6.0/patches/module_dot_bazel.patch
  modules/openconfig_bootz/0.6.0/presubmit.yml
  modules/openconfig_bootz/0.6.0/source.json
  modules/openconfig_bootz/metadata.json
Labels: skip-url-stability-check, skip-incompatible-flags-test, skip-compatibility-level-check

#5369 tcl_lang@8.6.16, tcl_lang@9.0.1
  modules/tcl_lang/8.6.16/MODULE.bazel
  modules/tcl_lang/8.6.16/overlay/BUILD.bazel
  modules/tcl_lang/8.6.16/overlay/MODULE.bazel
  modules/tcl_lang/8.6.16/overlay/tclConfig_macos.h
  modules/tcl_lang/8.6.16/overlay/tclConfig_unix.h
  modules/tcl_lang/8.6.16/overlay/tclConfig_windows.h
  modules/tcl_lang/8.6.16/presubmit.yml
  modules/tcl_lang/8.6.16/source.json
  modules/tcl_lang/9.0.2/MODULE.bazel
  modules/tcl_lang/9.0.2/overlay/BUILD.bazel
  modules/tcl_lang/9.0.2/overlay/MODULE.bazel
  modules/tcl_lang/9.0.2/overlay/tclConfig_macos.h
  modules/tcl_lang/9.0.2/overlay/tclConfig_unix.h
  modules/tcl_lang/9.0.2/overlay/tclConfig_windows.h
  modules/tcl_lang/9.0.2/presubmit.yml
  modules/tcl_lang/9.0.2/source.json
  modules/tcl_lang/README.md
  modules/tcl_lang/metadata.json
Labels: presubmit-auto-run, skip-incompatible-flags-test

#5402 feat: add google_cloud_cpp@3.0.0-rc1
  modules/google_cloud_cpp/3.0.0-rc1/MODULE.bazel
  modules/google_cloud_cpp/3.0.0-rc1/patches/copyright.patch
  modules/google_cloud_cpp/3.0.0-rc1/presubmit.yml
  modules/google_cloud_cpp/3.0.0-rc1/source.json
  modules/google_cloud_cpp/metadata.json
Labels: skip-url-stability-check
