Repository bazelbuild/bazel-central-registry, pull requests merged in 2025-02, with the labels that each got.

#3708 depend_on_what_you_use@0.7.0
  modules/depend_on_what_you_use/0.7.0/MODULE.bazel
  modules/depend_on_what_you_use/0.7.0/patches/module_dot_bazel.patch
  modules/depend_on_what_you_use/0.7.0/presubmit.yml
  modules/depend_on_what_you_use/0.7.0/source.json
  modules/depend_on_what_you_use/metadata.json
Labels: presubmit-auto-run

#3709 spdlog@1.15.1
  modules/spdlog/1.15.1/MODULE.bazel
  modules/spdlog/1.15.1/overlay/BUILD.bazel
  modules/spdlog/1.15.1/overlay/MODULE.bazel
  modules/spdlog/1.15.1/presubmit.yml
  modules/spdlog/1.15.1/source.json
  modules/spdlog/metadata.json
Labels: skip-url-stability-check

#3714 add qr-code-generator to BCR
  modules/qr-code-generator/1.8.0/MODULE.bazel
  modules/qr-code-generator/1.8.0/patches/build_dot_bazel.patch
  modules/qr-code-generator/1.8.0/patches/module_dot_bazel.patch
  modules/qr-code-generator/1.8.0/presubmit.yml
  modules/qr-code-generator/1.8.0/source.json
  modules/qr-code-generator/metadata.json
Labels: skip-url-stability-check

#3713 add rapidcheck to BCR
  modules/rapidcheck/2023.12.14/BUILD.bazel
  modules/rapidcheck/2023.12.14/MODULE.bazel
  modules/rapidcheck/2023.12.14/patches/add_build_file.patch
  modules/rapidcheck/2023.12.14/patches/module_dot_bazel.patch
  modules/rapidcheck/2023.12.14/presubmit.yml
  modules/rapidcheck/2023.12.14/source.json
  modules/rapidcheck/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3704 bzip2: use mirror archive
  modules/bzip2/1.0.8.bcr.2/MODULE.bazel
  modules/bzip2/1.0.8.bcr.2/patches/add_build_file.patch
  modules/bzip2/1.0.8.bcr.2/patches/module_dot_bazel.patch
  modules/bzip2/1.0.8.bcr.2/presubmit.yml
  modules/bzip2/1.0.8.bcr.2/source.json
  modules/bzip2/metadata.json
Labels: skip-url-stability-check

#3671 Added grpc@1.70.1
  modules/grpc/1.70.1/MODULE.bazel
  modules/grpc/1.70.1/patches/adopt_bzlmod.patch
  modules/grpc/1.70.1/presubmit.yml
  modules/grpc/1.70.1/source.json
  modules/grpc/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3716 Add c-ares 1.19.1
  modules/c-ares/1.19.1/MODULE.bazel
  modules/c-ares/1.19.1/overlay/BUILD.bazel
  modules/c-ares/1.19.1/overlay/MODULE.bazel
  modules/c-ares/1.19.1/overlay/configs/ares_build.h
  modules/c-ares/1.19.1/overlay/configs/config_android/ares_config.h
  modules/c-ares/1.19.1/overlay/configs/config_darwin/ares_config.h
  modules/c-ares/1.19.1/overlay/configs/config_freebsd/ares_config.h
  modules/c-ares/1.19.1/overlay/configs/config_linux/ares_config.h
  modules/c-ares/1.19.1/overlay/configs/config_openbsd/ares_config.h
  modules/c-ares/1.19.1/overlay/configs/config_windows/ares_config.h
  modules/c-ares/1.19.1/presubmit.yml
  modules/c-ares/1.19.1/source.json
  modules/c-ares/metadata.json
Labels: presubmit-auto-run

#3730 Add `0.4.0` release of `rules_pkl`
  modules/rules_pkl/0.4.0/MODULE.bazel
  modules/rules_pkl/0.4.0/presubmit.yml
  modules/rules_pkl/0.4.0/source.json
  modules/rules_pkl/metadata.json
Labels: presubmit-auto-run

#3691 cppitertools 2.1 -> 2.2
  modules/cppitertools/2.2/MODULE.bazel
  modules/cppitertools/2.2/patches/module-add-version.patch
  modules/cppitertools/2.2/presubmit.yml
  modules/cppitertools/2.2/source.json
  modules/cppitertools/metadata.json
Labels: skip-url-stability-check

#3706 Add rules_ytt@0.3.0
  modules/rules_ytt/0.3.0/MODULE.bazel
  modules/rules_ytt/0.3.0/patches/module_dot_bazel.patch
  modules/rules_ytt/0.3.0/presubmit.yml
  modules/rules_ytt/0.3.0/source.json
  modules/rules_ytt/metadata.json
Labels: presubmit-auto-run

#3735 cel-spec@0.19.2
  modules/cel-spec/0.19.2/MODULE.bazel
  modules/cel-spec/0.19.2/patches/module_dot_bazel_version.patch
  modules/cel-spec/0.19.2/presubmit.yml
  modules/cel-spec/0.19.2/source.json
  modules/cel-spec/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3742 fix: update foxglove schema protobuf
  modules/foxglove_schemas_protobuf/0.2.2.bcr.1/MODULE.bazel
  modules/foxglove_schemas_protobuf/0.2.2.bcr.1/overlay/BUILD.bazel
  modules/foxglove_schemas_protobuf/0.2.2.bcr.1/overlay/MODULE.bazel
  modules/foxglove_schemas_protobuf/0.2.2.bcr.1/presubmit.yml
  modules/foxglove_schemas_protobuf/0.2.2.bcr.1/source.json
  modules/foxglove_schemas_protobuf/metadata.json
Labels: skip-url-stability-check

#3749 Add googletest@1.16.0
  modules/googletest/1.16.0/MODULE.bazel
  modules/googletest/1.16.0/presubmit.yml
  modules/googletest/1.16.0/source.json
  modules/googletest/metadata.json
Labels: presubmit-auto-run

#3753 pcre2@10.45
  modules/pcre2/10.45/MODULE.bazel
  modules/pcre2/10.45/presubmit.yml
  modules/pcre2/10.45/source.json
  modules/pcre2/metadata.json
Labels: presubmit-auto-run

#3754 libpng@1.6.46
  modules/libpng/1.6.46/MODULE.bazel
  modules/libpng/1.6.46/overlay/BUILD.bazel
  modules/libpng/1.6.46/overlay/MODULE.bazel
  modules/libpng/1.6.46/presubmit.yml
  modules/libpng/1.6.46/source.json
  modules/libpng/metadata.json
Labels: skip-url-stability-check

#3755 bazeldnf@v0.7.0-alpha1
  modules/bazeldnf/metadata.json
  modules/bazeldnf/v0.7.0-alpha2/MODULE.bazel
  modules/bazeldnf/v0.7.0-alpha2/presubmit.yml
  modules/bazeldnf/v0.7.0-alpha2/source.json
Labels: presubmit-auto-run

#3761 antlr4-cpp-runtime@4.13.x
  modules/antlr4-cpp-runtime/4.13.0/MODULE.bazel
  modules/antlr4-cpp-runtime/4.13.0/patches/add_build_file.patch
  modules/antlr4-cpp-runtime/4.13.0/patches/module_dot_bazel.patch
  modules/antlr4-cpp-runtime/4.13.0/presubmit.yml
  modules/antlr4-cpp-runtime/4.13.0/source.json
  modules/antlr4-cpp-runtime/4.13.1/MODULE.bazel
  modules/antlr4-cpp-runtime/4.13.1/patches/add_build_file.patch
  modules/antlr4-cpp-runtime/4.13.1/patches/module_dot_bazel.patch
  modules/antlr4-cpp-runtime/4.13.1/presubmit.yml
  modules/antlr4-cpp-runtime/4.13.1/source.json
  modules/antlr4-cpp-runtime/4.13.2/MODULE.bazel
  modules/antlr4-cpp-runtime/4.13.2/patches/add_build_file.patch
  modules/antlr4-cpp-runtime/4.13.2/patches/module_dot_bazel.patch
  modules/antlr4-cpp-runtime/4.13.2/presubmit.yml
  modules/antlr4-cpp-runtime/4.13.2/source.json
  modules/antlr4-cpp-runtime/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3766 feat: add boost.beast@1.83.0
  modules/boost.beast/1.83.0/MODULE.bazel
  modules/boost.beast/1.83.0/overlay/BUILD.bazel
  modules/boost.beast/1.83.0/overlay/MODULE.bazel
  modules/boost.beast/1.83.0/presubmit.yml
  modules/boost.beast/1.83.0/source.json
  modules/boost.beast/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3752 Added `boost.heap` and `boost.url` to the BCR.
  modules/boost.heap/1.83.0/MODULE.bazel
  modules/boost.heap/1.83.0/overlay/BUILD.bazel
  modules/boost.heap/1.83.0/overlay/MODULE.bazel
  modules/boost.heap/1.83.0/presubmit.yml
  modules/boost.heap/1.83.0/source.json
  modules/boost.heap/metadata.json
  modules/boost.url/1.83.0/MODULE.bazel
  modules/boost.url/1.83.0/overlay/BUILD.bazel
  modules/boost.url/1.83.0/overlay/MODULE.bazel
  modules/boost.url/1.83.0/presubmit.yml
  modules/boost.url/1.83.0/source.json
  modules/boost.url/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3768 Add flatbuffers v25.2.10
  modules/flatbuffers/25.2.10/MODULE.bazel
  modules/flatbuffers/25.2.10/presubmit.yml
  modules/flatbuffers/25.2.10/source.json
  modules/flatbuffers/metadata.json
Labels: skip-url-stability-check

#3750 Add libevent@2.1.12-stable.bcr.0
  modules/libevent/2.1.12-stable.bcr.0/MODULE.bazel
  modules/libevent/2.1.12-stable.bcr.0/overlay/BUILD.bazel
  modules/libevent/2.1.12-stable.bcr.0/overlay/MODULE.bazel
  modules/libevent/2.1.12-stable.bcr.0/overlay/WIN32-Code/BUILD.bazel
  modules/libevent/2.1.12-stable.bcr.0/overlay/compat/BUILD.bazel
  modules/libevent/2.1.12-stable.bcr.0/overlay/evconfig-private.h
  modules/libevent/2.1.12-stable.bcr.0/overlay/evconfig-private_apple.h
  modules/libevent/2.1.12-stable.bcr.0/overlay/evconfig-private_linux.h
  modules/libevent/2.1.12-stable.bcr.0/overlay/event2-config_apple.h
  modules/libevent/2.1.12-stable.bcr.0/overlay/event2-config_common.h
  modules/libevent/2.1.12-stable.bcr.0/overlay/event2-config_linux.h
  modules/libevent/2.1.12-stable.bcr.0/overlay/event2-config_msvc.h
  modules/libevent/2.1.12-stable.bcr.0/overlay/include/event2/event-config.h
  modules/libevent/2.1.12-stable.bcr.0/overlay/sample/BUILD.bazel
  modules/libevent/2.1.12-stable.bcr.0/overlay/test/BUILD.bazel
  modules/libevent/2.1.12-stable.bcr.0/overlay/test/test-config.c
  modules/libevent/2.1.12-stable.bcr.0/presubmit.yml
  modules/libevent/2.1.12-stable.bcr.0/source.json
  modules/libevent/README.md
  modules/libevent/metadata.json
Labels: presubmit-auto-run

#3738 Add distributed_point_functions@0.0.0
  modules/distributed_point_functions/0.0.0/MODULE.bazel
  modules/distributed_point_functions/0.0.0/patches/MODULE.bazel.patch
  modules/distributed_point_functions/0.0.0/presubmit.yml
  modules/distributed_point_functions/0.0.0/source.json
  modules/distributed_point_functions/metadata.json
Labels: presubmit-auto-run

#3751 [s2geometry] Added the latest `s2geometry` commit as a version in BCR.
  modules/s2geometry/0.12.0-bcr.20250201-7c96080/MODULE.bazel
  modules/s2geometry/0.12.0-bcr.20250201-7c96080/patches/module_dot_bazel.patch
  modules/s2geometry/0.12.0-bcr.20250201-7c96080/presubmit.yml
  modules/s2geometry/0.12.0-bcr.20250201-7c96080/source.json
  modules/s2geometry/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3791 Stability `ape`, `{toolchain,download}_utils` and `rules_{gzip,bzip2,xz,zstd,tar}`
  modules/ape/1.0.1/MODULE.bazel
  modules/ape/1.0.1/presubmit.yml
  modules/ape/1.0.1/source.json
  modules/ape/metadata.json
  modules/download_utils/1.0.1/MODULE.bazel
  modules/download_utils/1.0.1/presubmit.yml
  modules/download_utils/1.0.1/source.json
  modules/download_utils/metadata.json
  modules/rules_bzip2/1.0.0/MODULE.bazel
  modules/rules_bzip2/1.0.0/presubmit.yml
  modules/rules_bzip2/1.0.0/source.json
  modules/rules_bzip2/metadata.json
  modules/rules_diff/1.0.0/MODULE.bazel
  modules/rules_diff/1.0.0/presubmit.yml
  modules/rules_diff/1.0.0/source.json
  modules/rules_diff/metadata.json
  modules/rules_gzip/1.0.0/MODULE.bazel
  modules/rules_gzip/1.0.0/presubmit.yml
  modules/rules_gzip/1.0.0/source.json
  modules/rules_gzip/metadata.json
  modules/rules_tar/1.0.0/MODULE.bazel
  modules/rules_tar/1.0.0/presubmit.yml
  modules/rules_tar/1.0.0/source.json
  modules/rules_tar/metadata.json
  modules/rules_xz/1.0.0/MODULE.bazel
  modules/rules_xz/1.0.0/presubmit.yml
  modules/rules_xz/1.0.0/source.json
  modules/rules_xz/metadata.json
  modules/rules_zstd/1.0.0/MODULE.bazel
  modules/rules_zstd/1.0.0/presubmit.yml
  modules/rules_zstd/1.0.0/source.json
  modules/rules_zstd/metadata.json
  modules/toolchain_utils/1.0.2/MODULE.bazel
  modules/toolchain_utils/1.0.2/presubmit.yml
  modules/toolchain_utils/1.0.2/source.json
  modules/toolchain_utils/metadata.json
Labels: presubmit-auto-run

#3801 Add nanobind_bazel v2.5.0
  modules/nanobind_bazel/2.5.0/MODULE.bazel
  modules/nanobind_bazel/2.5.0/presubmit.yml
  modules/nanobind_bazel/2.5.0/source.json
  modules/nanobind_bazel/metadata.json
Labels: presubmit-auto-run

#3796 Add wangle@2025.02.10.00
  modules/wangle/2025.02.10.00/MODULE.bazel
  modules/wangle/2025.02.10.00/overlay/BUILD.bazel
  modules/wangle/2025.02.10.00/overlay/MODULE.bazel
  modules/wangle/2025.02.10.00/presubmit.yml
  modules/wangle/2025.02.10.00/source.json
  modules/wangle/metadata.json
Labels: presubmit-auto-run

#3783 Added protoc-gen-validate@1.2.1
  modules/protoc-gen-validate/1.2.1/MODULE.bazel
  modules/protoc-gen-validate/1.2.1/patches/module_dot_bazel.patch
  modules/protoc-gen-validate/1.2.1/presubmit.yml
  modules/protoc-gen-validate/1.2.1/source.json
  modules/protoc-gen-validate/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3806 Added support for building `curl` with `openssl`.
  modules/curl/8.8.0.bcr.3/MODULE.bazel
  modules/curl/8.8.0.bcr.3/overlay/BUILD.bazel
  modules/curl/8.8.0.bcr.3/overlay/MODULE.bazel
  modules/curl/8.8.0.bcr.3/presubmit.yml
  modules/curl/8.8.0.bcr.3/source.json
  modules/curl/metadata.json
Labels: presubmit-auto-run

#3824 Add zstd-jni 1.5.6-9
  modules/zstd-jni/1.5.6-9/MODULE.bazel
  modules/zstd-jni/1.5.6-9/patches/Native.java.patch
  modules/zstd-jni/1.5.6-9/patches/add_build_file.patch
  modules/zstd-jni/1.5.6-9/patches/module_dot_bazel.patch
  modules/zstd-jni/1.5.6-9/presubmit.yml
  modules/zstd-jni/1.5.6-9/source.json
  modules/zstd-jni/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3826 feat: add `rules_coreutils@1.0.1`
  modules/rules_coreutils/1.0.1/MODULE.bazel
  modules/rules_coreutils/1.0.1/presubmit.yml
  modules/rules_coreutils/1.0.1/source.json
  modules/rules_coreutils/metadata.json
Labels: presubmit-auto-run

#3817 Added `exprtk`.
  modules/exprtk/0.0.3/MODULE.bazel
  modules/exprtk/0.0.3/overlay/BUILD.bazel
  modules/exprtk/0.0.3/overlay/MODULE.bazel
  modules/exprtk/0.0.3/presubmit.yml
  modules/exprtk/0.0.3/source.json
  modules/exprtk/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3804 Add fuzztest@20250214.0 to the registry
  modules/fuzztest/20250214.0/MODULE.bazel
  modules/fuzztest/20250214.0/presubmit.yml
  modules/fuzztest/20250214.0/source.json
  modules/fuzztest/metadata.json
Labels: presubmit-auto-run

#3830 Added `fasttext`.
  modules/fasttext/0.10.0-bcr.20240313-1142dc4/MODULE.bazel
  modules/fasttext/0.10.0-bcr.20240313-1142dc4/overlay/BUILD.bazel
  modules/fasttext/0.10.0-bcr.20240313-1142dc4/overlay/MODULE.bazel
  modules/fasttext/0.10.0-bcr.20240313-1142dc4/presubmit.yml
  modules/fasttext/0.10.0-bcr.20240313-1142dc4/source.json
  modules/fasttext/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3795 Add imgui 1.91.8 for Linux, MacOS, Windows
  modules/imgui/1.91.8/MODULE.bazel
  modules/imgui/1.91.8/overlay/BUILD.bazel
  modules/imgui/1.91.8/overlay/backends/BUILD.bazel
  modules/imgui/1.91.8/overlay/examples/example_glfw_opengl3/BUILD.bazel
  modules/imgui/1.91.8/overlay/examples/example_win32_directx10/BUILD.bazel
  modules/imgui/1.91.8/overlay/examples/example_win32_directx11/BUILD.bazel
  modules/imgui/1.91.8/overlay/examples/example_win32_directx12/BUILD.bazel
  modules/imgui/1.91.8/overlay/examples/example_win32_directx9/BUILD.bazel
  modules/imgui/1.91.8/overlay/examples/example_win32_opengl3/BUILD.bazel
  modules/imgui/1.91.8/patches/add_module_dot_bazel.patch
  modules/imgui/1.91.8/presubmit.yml
  modules/imgui/1.91.8/source.json
  modules/imgui/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3472 Split googleapis into per-language modules
  modules/googleapis/0.0.0-20241220-5e258e33/MODULE.bazel
  modules/googleapis/0.0.0-20241220-5e258e33/overlay/MODULE.bazel
  modules/googleapis/0.0.0-20241220-5e258e33/overlay/extensions.bzl
  modules/googleapis/0.0.0-20241220-5e258e33/overlay/tests/bcr/.bazelrc
  modules/googleapis/0.0.0-20241220-5e258e33/overlay/tests/bcr/BUILD.bazel
  modules/googleapis/0.0.0-20241220-5e258e33/overlay/tests/bcr/MODULE.bazel
  modules/googleapis/0.0.0-20241220-5e258e33/overlay/tests/bcr/failure_test.bzl
  modules/googleapis/0.0.0-20241220-5e258e33/presubmit.yml
  modules/googleapis/0.0.0-20241220-5e258e33/source.json
  modules/googleapis/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-source-repo-check

#3731 Add new module xacro
  modules/xacro/2.0.12/MODULE.bazel
  modules/xacro/2.0.12/patches/module_dot_bazel.patch
  modules/xacro/2.0.12/presubmit.yml
  modules/xacro/2.0.12/source.json
  modules/xacro/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3839 openjph@0.21.0
  modules/openjph/0.21.0/MODULE.bazel
  modules/openjph/0.21.0/overlay/BUILD.bazel
  modules/openjph/0.21.0/overlay/MODULE.bazel
  modules/openjph/0.21.0/presubmit.yml
  modules/openjph/0.21.0/source.json
  modules/openjph/metadata.json
Labels: skip-url-stability-check

#3808 Added `azure-core-cpp`.
  modules/azure-core-cpp/1.14.1/MODULE.bazel
  modules/azure-core-cpp/1.14.1/overlay/BUILD.bazel
  modules/azure-core-cpp/1.14.1/overlay/MODULE.bazel
  modules/azure-core-cpp/1.14.1/overlay/test/MODULE.bazel
  modules/azure-core-cpp/1.14.1/presubmit.yml
  modules/azure-core-cpp/1.14.1/source.json
  modules/azure-core-cpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3728 prometheus-cpp: create prometheus-cpp v1.3.0.bcr.2
  modules/prometheus-cpp/1.3.0.bcr.2/MODULE.bazel
  modules/prometheus-cpp/1.3.0.bcr.2/patches/module_dot_bazel.patch
  modules/prometheus-cpp/1.3.0.bcr.2/presubmit.yml
  modules/prometheus-cpp/1.3.0.bcr.2/source.json
  modules/prometheus-cpp/metadata.json
Labels: skip-url-stability-check

#3833 Add implot@0.16 module to BCR
  modules/implot/0.16/MODULE.bazel
  modules/implot/0.16/overlay/.github/BUILD.bazel
  modules/implot/0.16/overlay/BUILD.bazel
  modules/implot/0.16/patches/add_module_dot_bazel.patch
  modules/implot/0.16/presubmit.yml
  modules/implot/0.16/source.json
  modules/implot/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3852 Updated `azure-core-cpp` `1.14.1` to only add OpenSSL as a dep if not on Windows.
  modules/azure-core-cpp/1.14.1.bcr.1/MODULE.bazel
  modules/azure-core-cpp/1.14.1.bcr.1/overlay/BUILD.bazel
  modules/azure-core-cpp/1.14.1.bcr.1/overlay/MODULE.bazel
  modules/azure-core-cpp/1.14.1.bcr.1/overlay/test/MODULE.bazel
  modules/azure-core-cpp/1.14.1.bcr.1/presubmit.yml
  modules/azure-core-cpp/1.14.1.bcr.1/source.json
  modules/azure-core-cpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3865 sourcekitten@0.37.0
  modules/sourcekitten/0.37.0/MODULE.bazel
  modules/sourcekitten/0.37.0/presubmit.yml
  modules/sourcekitten/0.37.0/source.json
  modules/sourcekitten/metadata.json
Labels: skip-url-stability-check

#3849 Added `azure-identity-cpp` and `azure-core-test-cpp`.
  modules/azure-core-test-cpp/1.14.1/MODULE.bazel
  modules/azure-core-test-cpp/1.14.1/overlay/BUILD.bazel
  modules/azure-core-test-cpp/1.14.1/overlay/MODULE.bazel
  modules/azure-core-test-cpp/1.14.1/overlay/test/MODULE.bazel
  modules/azure-core-test-cpp/1.14.1/presubmit.yml
  modules/azure-core-test-cpp/1.14.1/source.json
  modules/azure-core-test-cpp/metadata.json
  modules/azure-identity-cpp/1.10.1/MODULE.bazel
  modules/azure-identity-cpp/1.10.1/overlay/BUILD.bazel
  modules/azure-identity-cpp/1.10.1/overlay/MODULE.bazel
  modules/azure-identity-cpp/1.10.1/overlay/test/MODULE.bazel
  modules/azure-identity-cpp/1.10.1/presubmit.yml
  modules/azure-identity-cpp/1.10.1/source.json
  modules/azure-identity-cpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3853 Add implot3d 0.2
  modules/implot3d/0.2/MODULE.bazel
  modules/implot3d/0.2/overlay/BUILD.bazel
  modules/implot3d/0.2/overlay/example/BUILD.bazel
  modules/implot3d/0.2/overlay/example/glad/glad.c
  modules/implot3d/0.2/overlay/example/glad/glad.h
  modules/implot3d/0.2/overlay/example/glad/khrplatform.h
  modules/implot3d/0.2/patches/add_module_dot_bazel.patch
  modules/implot3d/0.2/presubmit.yml
  modules/implot3d/0.2/source.json
  modules/implot3d/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3841 openjph@0.21.1
  modules/openjph/0.21.1/MODULE.bazel
  modules/openjph/0.21.1/overlay/BUILD.bazel
  modules/openjph/0.21.1/overlay/MODULE.bazel
  modules/openjph/0.21.1/presubmit.yml
  modules/openjph/0.21.1/source.json
  modules/openjph/metadata.json
Labels: skip-url-stability-check

#3866 Add chicory@1.1.0
  modules/chicory/1.1.0/MODULE.bazel
  modules/chicory/1.1.0/overlay/MODULE.bazel
  modules/chicory/1.1.0/overlay/host-module/annotations/BUILD.bazel
  modules/chicory/1.1.0/overlay/host-module/processor/BUILD.bazel
  modules/chicory/1.1.0/overlay/log/BUILD.bazel
  modules/chicory/1.1.0/overlay/runtime/BUILD.bazel
  modules/chicory/1.1.0/overlay/wasi/BUILD.bazel
  modules/chicory/1.1.0/overlay/wasm/BUILD.bazel
  modules/chicory/1.1.0/patches/rm-errorprone-annotations.patch
  modules/chicory/1.1.0/presubmit.yml
  modules/chicory/1.1.0/source.json
  modules/chicory/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3868 Add helly25_mbo@0.4.0-rc.1
  modules/helly25_mbo/0.4.0-rc.1/MODULE.bazel
  modules/helly25_mbo/0.4.0-rc.1/patches/bazelmod.patch
  modules/helly25_mbo/0.4.0-rc.1/patches/bcr.bazelmod-version.patch
  modules/helly25_mbo/0.4.0-rc.1/presubmit.yml
  modules/helly25_mbo/0.4.0-rc.1/source.json
  modules/helly25_mbo/metadata.json
Labels: presubmit-auto-run

#3873 Added `azure-storage-common-cpp` and `azure-storage-blob-cpp`.
  modules/azure-storage-blobs-cpp/12.13.0/MODULE.bazel
  modules/azure-storage-blobs-cpp/12.13.0/overlay/BUILD.bazel
  modules/azure-storage-blobs-cpp/12.13.0/overlay/MODULE.bazel
  modules/azure-storage-blobs-cpp/12.13.0/overlay/test/MODULE.bazel
  modules/azure-storage-blobs-cpp/12.13.0/presubmit.yml
  modules/azure-storage-blobs-cpp/12.13.0/source.json
  modules/azure-storage-blobs-cpp/metadata.json
  modules/azure-storage-common-cpp/12.9.0/MODULE.bazel
  modules/azure-storage-common-cpp/12.9.0/overlay/BUILD.bazel
  modules/azure-storage-common-cpp/12.9.0/overlay/MODULE.bazel
  modules/azure-storage-common-cpp/12.9.0/overlay/test/MODULE.bazel
  modules/azure-storage-common-cpp/12.9.0/presubmit.yml
  modules/azure-storage-common-cpp/12.9.0/source.json
  modules/azure-storage-common-cpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3872 Added `libunwind`.
  modules/libunwind/1.8.1/MODULE.bazel
  modules/libunwind/1.8.1/overlay/BUILD.bazel
  modules/libunwind/1.8.1/overlay/MODULE.bazel
  modules/libunwind/1.8.1/presubmit.yml
  modules/libunwind/1.8.1/source.json
  modules/libunwind/metadata.json
Labels: presubmit-auto-run

#3861 Refactor FreeRTOS BUILD.bazel to allow third party ports to be supplied.
  modules/freertos/11.1.0.bcr.2/MODULE.bazel
  modules/freertos/11.1.0.bcr.2/patches/bazel.patch
  modules/freertos/11.1.0.bcr.2/presubmit.yml
  modules/freertos/11.1.0.bcr.2/source.json
  modules/freertos/metadata.json
Labels: presubmit-auto-run

#3887 Added `v0.12.0` of `s2geometry`.
  modules/s2geometry/0.12.0/MODULE.bazel
  modules/s2geometry/0.12.0/patches/module_dot_bazel.patch
  modules/s2geometry/0.12.0/presubmit.yml
  modules/s2geometry/0.12.0/source.json
  modules/s2geometry/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3895 Add `libarmgpuinfo@1.2.0`
  modules/libarmgpuinfo/1.2.0/MODULE.bazel
  modules/libarmgpuinfo/1.2.0/patches/0001-chore-ignore-Bazel-build-symlinks.patch
  modules/libarmgpuinfo/1.2.0/patches/0002-build-add-bzlmod-files.patch
  modules/libarmgpuinfo/1.2.0/patches/0003-build-add-source-Bazel-build.patch
  modules/libarmgpuinfo/1.2.0/patches/0004-build-add-top-level-Bazel-aliases.patch
  modules/libarmgpuinfo/1.2.0/patches/0005-test-add-Bazel-build-tests.patch
  modules/libarmgpuinfo/1.2.0/patches/0006-build-update-module-version.patch
  modules/libarmgpuinfo/1.2.0/presubmit.yml
  modules/libarmgpuinfo/1.2.0/source.json
  modules/libarmgpuinfo/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3897 cel-spec@0.21.2
  modules/cel-spec/0.21.2/MODULE.bazel
  modules/cel-spec/0.21.2/patches/module_dot_bazel.patch
  modules/cel-spec/0.21.2/presubmit.yml
  modules/cel-spec/0.21.2/source.json
  modules/cel-spec/metadata.json
Labels: skip-url-stability-check

#3899 Soplex
  modules/soplex/7.1.3/MODULE.bazel
  modules/soplex/7.1.3/overlay/BUILD.bazel
  modules/soplex/7.1.3/overlay/MODULE.bazel
  modules/soplex/7.1.3/patches/add_config_dot_h.patch
  modules/soplex/7.1.3/patches/add_git_hash_dot_cpp.patch
  modules/soplex/7.1.3/patches/fmt_dot_hpp.patch
  modules/soplex/7.1.3/patches/spxfileio_dot_h.patch
  modules/soplex/7.1.3/presubmit.yml
  modules/soplex/7.1.3/source.json
  modules/soplex/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#3901 bump scip to 9.2.1
  modules/scip/9.2.1/MODULE.bazel
  modules/scip/9.2.1/overlay/BUILD.bazel
  modules/scip/9.2.1/overlay/MODULE.bazel
  modules/scip/9.2.1/patches/add_buildflags_h.patch
  modules/scip/9.2.1/patches/add_config_h.patch
  modules/scip/9.2.1/patches/add_githash_c.patch
  modules/scip/9.2.1/patches/add_scip_export_h.patch
  modules/scip/9.2.1/patches/compute_symmetry_bliss.cpp.patch
  modules/scip/9.2.1/presubmit.yml
  modules/scip/9.2.1/source.json
  modules/scip/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check
