Repository bazelbuild/bazel-central-registry, pull requests merged in 2025-06, with the labels that each got.

#4738 Fix assimp build with C++20
  modules/assimp/5.4.3.bcr.4/MODULE.bazel
  modules/assimp/5.4.3.bcr.4/overlay/BUILD.bazel
  modules/assimp/5.4.3.bcr.4/overlay/MODULE.bazel
  modules/assimp/5.4.3.bcr.4/presubmit.yml
  modules/assimp/5.4.3.bcr.4/source.json
  modules/assimp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4741 bump: cpplint 2.0.2
  modules/cpplint/2.0.2/MODULE.bazel
  modules/cpplint/2.0.2/patches/add_build_file.patch
  modules/cpplint/2.0.2/patches/module_dot_bazel.patch
  modules/cpplint/2.0.2/presubmit.yml
  modules/cpplint/2.0.2/source.json
  modules/cpplint/metadata.json
Labels: skip-url-stability-check

#4743 Publish rules_angular@0.1.0
  modules/rules_angular/0.1.0/MODULE.bazel
  modules/rules_angular/0.1.0/attestations.json
  modules/rules_angular/0.1.0/patches/module_dot_bazel_version.patch
  modules/rules_angular/0.1.0/presubmit.yml
  modules/rules_angular/0.1.0/source.json
  modules/rules_angular/metadata.json
Labels: presubmit-auto-run

#4749 Fix stb_image symbols ODR issue for assimp
  modules/assimp/5.4.3.bcr.5/MODULE.bazel
  modules/assimp/5.4.3.bcr.5/overlay/BUILD.bazel
  modules/assimp/5.4.3.bcr.5/overlay/MODULE.bazel
  modules/assimp/5.4.3.bcr.5/presubmit.yml
  modules/assimp/5.4.3.bcr.5/source.json
  modules/assimp/metadata.json
Labels: skip-url-stability-check

#4737 Add rules_cc_resources.0.2.0
  modules/rules_cc_resources/0.2.0/MODULE.bazel
  modules/rules_cc_resources/0.2.0/presubmit.yml
  modules/rules_cc_resources/0.2.0/source.json
  modules/rules_cc_resources/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-incompatible-flags-test

#4739 Add gz-common module
  modules/gz-common/6.1.0/MODULE.bazel
  modules/gz-common/6.1.0/patches/module_dot_bazel.patch
  modules/gz-common/6.1.0/presubmit.yml
  modules/gz-common/6.1.0/source.json
  modules/gz-common/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4763 Publish toolchains_llvm_bootstrapped@0.2.1
  modules/toolchains_llvm_bootstrapped/0.2.1/MODULE.bazel
  modules/toolchains_llvm_bootstrapped/0.2.1/attestations.json
  modules/toolchains_llvm_bootstrapped/0.2.1/presubmit.yml
  modules/toolchains_llvm_bootstrapped/0.2.1/source.json
  modules/toolchains_llvm_bootstrapped/metadata.json
Labels: presubmit-auto-run

#4747 Add patch to soplex for MacOS builds in `dbg` mode.
  modules/soplex/7.1.4.bcr.1/MODULE.bazel
  modules/soplex/7.1.4.bcr.1/overlay/BUILD.bazel
  modules/soplex/7.1.4.bcr.1/overlay/MODULE.bazel
  modules/soplex/7.1.4.bcr.1/patches/add_config_dot_h.patch
  modules/soplex/7.1.4.bcr.1/patches/add_git_hash_dot_cpp.patch
  modules/soplex/7.1.4.bcr.1/patches/fmt_dot_hpp.patch
  modules/soplex/7.1.4.bcr.1/patches/macos_debug.patch
  modules/soplex/7.1.4.bcr.1/patches/spxfileio_dot_h.patch
  modules/soplex/7.1.4.bcr.1/presubmit.yml
  modules/soplex/7.1.4.bcr.1/source.json
  modules/soplex/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4762 Add Verilator v5.036
  modules/verilator/5.036/MODULE.bazel
  modules/verilator/5.036/overlay/.bazelignore
  modules/verilator/5.036/overlay/BUILD.bazel
  modules/verilator/5.036/overlay/MODULE.bazel
  modules/verilator/5.036/overlay/private/BUILD.bazel
  modules/verilator/5.036/overlay/private/verilator_astgen.py
  modules/verilator/5.036/overlay/private/verilator_bisonpre.py
  modules/verilator/5.036/overlay/private/verilator_build_template.py
  modules/verilator/5.036/overlay/private/verilator_flexfix.py
  modules/verilator/5.036/overlay/private/verilator_utils.bzl
  modules/verilator/5.036/overlay/private/verilator_version.py
  modules/verilator/5.036/presubmit.yml
  modules/verilator/5.036/source.json
  modules/verilator/metadata.json
Labels: skip-url-stability-check

#4776 Add openconfig_gnoi@0.6.2
  modules/openconfig_gnoi/0.6.2/MODULE.bazel
  modules/openconfig_gnoi/0.6.2/patches/module_dot_bazel.patch
  modules/openconfig_gnoi/0.6.2/presubmit.yml
  modules/openconfig_gnoi/0.6.2/source.json
  modules/openconfig_gnoi/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-incompatible-flags-test

#4777 Add gz-fuel-tools
  modules/gz-fuel-tools/10.1.0/MODULE.bazel
  modules/gz-fuel-tools/10.1.0/patches/module_dot_bazel.patch
  modules/gz-fuel-tools/10.1.0/presubmit.yml
  modules/gz-fuel-tools/10.1.0/source.json
  modules/gz-fuel-tools/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4785 Bump sdformat
  modules/sdformat/15.3.0.bcr.2/MODULE.bazel
  modules/sdformat/15.3.0.bcr.2/patches/fix_build.patch
  modules/sdformat/15.3.0.bcr.2/patches/module_dot_bazel.patch
  modules/sdformat/15.3.0.bcr.2/presubmit.yml
  modules/sdformat/15.3.0.bcr.2/source.json
  modules/sdformat/metadata.json
Labels: skip-url-stability-check

#4796 Add opentelemetry-proto 1.7.0
  modules/opentelemetry-proto/1.7.0/MODULE.bazel
  modules/opentelemetry-proto/1.7.0/patches/module_dot_bazel.patch
  modules/opentelemetry-proto/1.7.0/presubmit.yml
  modules/opentelemetry-proto/1.7.0/source.json
  modules/opentelemetry-proto/metadata.json
Labels: skip-url-stability-check, skip-incompatible-flags-test

#4804 Publish Riegeli version 0.0.0-20250706-c4d1f27.
  modules/riegeli/0.0.0-20250706-c4d1f27/MODULE.bazel
  modules/riegeli/0.0.0-20250706-c4d1f27/patches/module_dot_bazel.patch
  modules/riegeli/0.0.0-20250706-c4d1f27/presubmit.yml
  modules/riegeli/0.0.0-20250706-c4d1f27/source.json
  modules/riegeli/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4807 Add rules_vulkan module
  modules/rules_vulkan/0.1.1/MODULE.bazel
  modules/rules_vulkan/0.1.1/presubmit.yml
  modules/rules_vulkan/0.1.1/source.json
  modules/rules_vulkan/metadata.json
Labels: presubmit-auto-run

#4795 Publish gazelle_cc@0.1.0
  modules/gazelle_cc/0.1.0/MODULE.bazel
  modules/gazelle_cc/0.1.0/attestations.json
  modules/gazelle_cc/0.1.0/patches/module_dot_bazel_version.patch
  modules/gazelle_cc/0.1.0/presubmit.yml
  modules/gazelle_cc/0.1.0/source.json
  modules/gazelle_cc/metadata.json
Labels: presubmit-auto-run

#4819 Yank rules_swift 3.0.0
  modules/rules_swift/metadata.json
Labels: presubmit-auto-run

#4828 Publish aspect_rules_aws@0.5.2
  modules/aspect_rules_aws/0.5.2/MODULE.bazel
  modules/aspect_rules_aws/0.5.2/attestations.json
  modules/aspect_rules_aws/0.5.2/patches/module_dot_bazel_version.patch
  modules/aspect_rules_aws/0.5.2/presubmit.yml
  modules/aspect_rules_aws/0.5.2/source.json
  modules/aspect_rules_aws/metadata.json
Labels: presubmit-auto-run

#4820 Update SWXMLHash for rules_swift 3 compatibility
  modules/swxmlhash/7.0.2.2/MODULE.bazel
  modules/swxmlhash/7.0.2.2/patches/add_build_file.patch
  modules/swxmlhash/7.0.2.2/patches/module_dot_bazel.patch
  modules/swxmlhash/7.0.2.2/presubmit.yml
  modules/swxmlhash/7.0.2.2/source.json
  modules/swxmlhash/8.1.0.1/MODULE.bazel
  modules/swxmlhash/8.1.0.1/patches/add_build_file.patch
  modules/swxmlhash/8.1.0.1/patches/module_dot_bazel.patch
  modules/swxmlhash/8.1.0.1/presubmit.yml
  modules/swxmlhash/8.1.0.1/source.json
  modules/swxmlhash/metadata.json
Labels: skip-url-stability-check

#4830 Add boost.polygon 1.87.0
  modules/boost.polygon/1.87.0/MODULE.bazel
  modules/boost.polygon/1.87.0/overlay/BUILD.bazel
  modules/boost.polygon/1.87.0/overlay/MODULE.bazel
  modules/boost.polygon/1.87.0/overlay/test/BUILD.bazel
  modules/boost.polygon/1.87.0/presubmit.yml
  modules/boost.polygon/1.87.0/source.json
  modules/boost.polygon/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-compatibility-level-check

#4841 Publish protovalidate-cc@0.7.0
  modules/protovalidate-cc/0.7.0/MODULE.bazel
  modules/protovalidate-cc/0.7.0/presubmit.yml
  modules/protovalidate-cc/0.7.0/source.json
  modules/protovalidate-cc/metadata.json
Labels: presubmit-auto-run, skip-incompatible-flags-test

#4823 Add ode module
  modules/ode/0.16.6/MODULE.bazel
  modules/ode/0.16.6/patches/add_build_file.patch
  modules/ode/0.16.6/patches/module_dot_bazel.patch
  modules/ode/0.16.6/presubmit.yml
  modules/ode/0.16.6/source.json
  modules/ode/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4736 Add com_github_mvukov_rules_ros2
  modules/com_github_mvukov_rules_ros2/0.0.0-20250612-f0d04fe/MODULE.bazel
  modules/com_github_mvukov_rules_ros2/0.0.0-20250612-f0d04fe/patches/module_dot_bazel_version.patch
  modules/com_github_mvukov_rules_ros2/0.0.0-20250612-f0d04fe/presubmit.yml
  modules/com_github_mvukov_rules_ros2/0.0.0-20250612-f0d04fe/source.json
  modules/com_github_mvukov_rules_ros2/metadata.json
Labels: skip-url-stability-check

#4865 fix(civetweb): fix undefined reference to 'mg_websocket_write'
  modules/civetweb/1.16.bcr.2/MODULE.bazel
  modules/civetweb/1.16.bcr.2/patches/add_build_file.patch
  modules/civetweb/1.16.bcr.2/patches/module_dot_bazel.patch
  modules/civetweb/1.16.bcr.2/presubmit.yml
  modules/civetweb/1.16.bcr.2/source.json
  modules/civetweb/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4872 Publish protovalidate-cc@0.8.0
  modules/protovalidate-cc/0.8.0/MODULE.bazel
  modules/protovalidate-cc/0.8.0/presubmit.yml
  modules/protovalidate-cc/0.8.0/source.json
  modules/protovalidate-cc/metadata.json
Labels: skip-incompatible-flags-test

#4879 Patch swift-syntax 601.0.1 for rules_swift 3 support
  modules/swift-syntax/601.0.1.1/MODULE.bazel
  modules/swift-syntax/601.0.1.1/patches/build_dot_bazel.patch
  modules/swift-syntax/601.0.1.1/patches/module_dot_bazel.patch
  modules/swift-syntax/601.0.1.1/presubmit.yml
  modules/swift-syntax/601.0.1.1/source.json
  modules/swift-syntax/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4880 Patch aexml 4.7.0 for rules_swift 3 support
  modules/aexml/4.7.0.1/MODULE.bazel
  modules/aexml/4.7.0.1/patches/add_build_file.patch
  modules/aexml/4.7.0.1/patches/module_dot_bazel.patch
  modules/aexml/4.7.0.1/presubmit.yml
  modules/aexml/4.7.0.1/source.json
  modules/aexml/metadata.json
Labels: skip-url-stability-check

#4883 Update zip for bazel_gomock 0.1.0
  modules/bazel_gomock/0.1.0.bcr.1/MODULE.bazel
  modules/bazel_gomock/0.1.0.bcr.1/presubmit.yml
  modules/bazel_gomock/0.1.0.bcr.1/source.json
  modules/bazel_gomock/metadata.json
Labels: presubmit-auto-run

#4895 [azure-core-cpp] Fix broken transport by defining the appropriate macros
  modules/azure-core-cpp/1.14.1.bcr.2/MODULE.bazel
  modules/azure-core-cpp/1.14.1.bcr.2/overlay/BUILD.bazel
  modules/azure-core-cpp/1.14.1.bcr.2/overlay/MODULE.bazel
  modules/azure-core-cpp/1.14.1.bcr.2/overlay/test/MODULE.bazel
  modules/azure-core-cpp/1.14.1.bcr.2/presubmit.yml
  modules/azure-core-cpp/1.14.1.bcr.2/source.json
  modules/azure-core-cpp/metadata.json
Labels: skip-url-stability-check, skip-incompatible-flags-test

#4870 Adding libedlib to bcr
  modules/libedlib/1.2.7/MODULE.bazel
  modules/libedlib/1.2.7/overlay/BUILD.bazel
  modules/libedlib/1.2.7/overlay/MODULE.bazel
  modules/libedlib/1.2.7/presubmit.yml
  modules/libedlib/1.2.7/source.json
  modules/libedlib/metadata.json
Labels: skip-url-stability-check

#4874 Publish boost.assign 1.87.0
  modules/boost.assign/1.87.0/MODULE.bazel
  modules/boost.assign/1.87.0/overlay/BUILD.bazel
  modules/boost.assign/1.87.0/overlay/MODULE.bazel
  modules/boost.assign/1.87.0/presubmit.yml
  modules/boost.assign/1.87.0/source.json
  modules/boost.assign/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4905 Add pathkit 1.0.1.1 for rules_swift 3.x support
  modules/pathkit/1.0.1.1/MODULE.bazel
  modules/pathkit/1.0.1.1/patches/add_build_file.patch
  modules/pathkit/1.0.1.1/patches/module_dot_bazel.patch
  modules/pathkit/1.0.1.1/presubmit.yml
  modules/pathkit/1.0.1.1/source.json
  modules/pathkit/metadata.json
Labels: skip-url-stability-check

#4906 Add xcodeproj 9.4.2 with rules_swift 3.x support
  modules/xcodeproj/9.4.2/MODULE.bazel
  modules/xcodeproj/9.4.2/patches/add_build_file.patch
  modules/xcodeproj/9.4.2/patches/module_dot_bazel.patch
  modules/xcodeproj/9.4.2/presubmit.yml
  modules/xcodeproj/9.4.2/source.json
  modules/xcodeproj/metadata.json
Labels: skip-url-stability-check

#4910 Add swift_argument_parser 1.5.1 with rules_swift 3 compatibility
  modules/swift_argument_parser/1.5.1/MODULE.bazel
  modules/swift_argument_parser/1.5.1/patches/add_build_file.patch
  modules/swift_argument_parser/1.5.1/patches/module_dot_bazel.patch
  modules/swift_argument_parser/1.5.1/presubmit.yml
  modules/swift_argument_parser/1.5.1/source.json
  modules/swift_argument_parser/metadata.json
Labels: skip-url-stability-check, auto-merged

#4900 Add tl-optional library@1.1.0
  modules/tl-optional/1.1.0/MODULE.bazel
  modules/tl-optional/1.1.0/overlay/BUILD.bazel
  modules/tl-optional/1.1.0/overlay/MODULE.bazel
  modules/tl-optional/1.1.0/presubmit.yml
  modules/tl-optional/1.1.0/source.json
  modules/tl-optional/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4898 Add tl-expected library@1.1.0
  modules/tl-expected/1.1.0/MODULE.bazel
  modules/tl-expected/1.1.0/overlay/BUILD.bazel
  modules/tl-expected/1.1.0/overlay/MODULE.bazel
  modules/tl-expected/1.1.0/presubmit.yml
  modules/tl-expected/1.1.0/source.json
  modules/tl-expected/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4836 Add libgpiod 1.6.3
  modules/libgpiod/1.6.3/MODULE.bazel
  modules/libgpiod/1.6.3/overlay/BUILD.bazel
  modules/libgpiod/1.6.3/overlay/MODULE.bazel
  modules/libgpiod/1.6.3/overlay/lib/misc.c
  modules/libgpiod/1.6.3/presubmit.yml
  modules/libgpiod/1.6.3/source.json
  modules/libgpiod/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4918 Fix Eigen integrity issue by pulling Eigen forward.
  modules/opencv/4.11.0.bcr.2/MODULE.bazel
  modules/opencv/4.11.0.bcr.2/overlay/BUILD.bazel
  modules/opencv/4.11.0.bcr.2/overlay/MODULE.bazel
  modules/opencv/4.11.0.bcr.2/overlay/opencv.bzl
  modules/opencv/4.11.0.bcr.2/presubmit.yml
  modules/opencv/4.11.0.bcr.2/source.json
  modules/opencv/metadata.json
Labels: skip-url-stability-check

#4901 add graphite2@1.3.14 to bcr
  modules/graphite2/1.3.14/MODULE.bazel
  modules/graphite2/1.3.14/overlay/BUILD.bazel
  modules/graphite2/1.3.14/overlay/MODULE.bazel
  modules/graphite2/1.3.14/presubmit.yml
  modules/graphite2/1.3.14/source.json
  modules/graphite2/metadata.json
Labels: presubmit-auto-run

#4546 Add wolfd_bazel_compile_commands
  modules/wolfd_bazel_compile_commands/0.5.2/MODULE.bazel
  modules/wolfd_bazel_compile_commands/0.5.2/presubmit.yml
  modules/wolfd_bazel_compile_commands/0.5.2/source.json
  modules/wolfd_bazel_compile_commands/metadata.json
Labels: presubmit-auto-run

#4597 Update: boost.mysql 1.88.0
  modules/boost.mysql/1.88.0/MODULE.bazel
  modules/boost.mysql/1.88.0/overlay/BUILD.bazel
  modules/boost.mysql/1.88.0/overlay/MODULE.bazel
  modules/boost.mysql/1.88.0/overlay/example/BUILD.bazel
  modules/boost.mysql/1.88.0/overlay/example/MODULE.bazel
  modules/boost.mysql/1.88.0/presubmit.yml
  modules/boost.mysql/1.88.0/source.json
  modules/boost.mysql/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4937 Add urdfdom_headers@1.0.5
  modules/urdfdom_headers/1.0.5/MODULE.bazel
  modules/urdfdom_headers/1.0.5/overlay/BUILD.bazel
  modules/urdfdom_headers/1.0.5/overlay/MODULE.bazel
  modules/urdfdom_headers/1.0.5/presubmit.yml
  modules/urdfdom_headers/1.0.5/source.json
  modules/urdfdom_headers/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4933 add console_bridge@1.0.1
  modules/console_bridge/1.0.1/MODULE.bazel
  modules/console_bridge/1.0.1/overlay/BUILD.bazel
  modules/console_bridge/1.0.1/overlay/MODULE.bazel
  modules/console_bridge/1.0.1/presubmit.yml
  modules/console_bridge/1.0.1/source.json
  modules/console_bridge/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4934 Introduce libzip bcr.1 with a build fix for RPM-based systems
  modules/libzip/1.10.1.bcr.1/MODULE.bazel
  modules/libzip/1.10.1.bcr.1/patches/add-build-file.patch
  modules/libzip/1.10.1.bcr.1/patches/module_dot_bazel.patch
  modules/libzip/1.10.1.bcr.1/presubmit.yml
  modules/libzip/1.10.1.bcr.1/source.json
  modules/libzip/1.11.4.bcr.1/MODULE.bazel
  modules/libzip/1.11.4.bcr.1/patches/add-build-file.patch
  modules/libzip/1.11.4.bcr.1/patches/module_dot_bazel.patch
  modules/libzip/1.11.4.bcr.1/presubmit.yml
  modules/libzip/1.11.4.bcr.1/source.json
  modules/libzip/metadata.json
Labels: presubmit-auto-run

#4944 Add gz-sim (core)
  modules/gz-sim/9.2.0/MODULE.bazel
  modules/gz-sim/9.2.0/patches/module_dot_bazel.patch
  modules/gz-sim/9.2.0/presubmit.yml
  modules/gz-sim/9.2.0/source.json
  modules/gz-sim/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4972 libpng@1.6.49
  modules/libpng/1.6.49/MODULE.bazel
  modules/libpng/1.6.49/overlay/BUILD.bazel
  modules/libpng/1.6.49/overlay/MODULE.bazel
  modules/libpng/1.6.49/presubmit.yml
  modules/libpng/1.6.49/source.json
  modules/libpng/metadata.json
Labels: skip-url-stability-check, auto-merged

#4962 asio@1.34.2
  modules/asio/1.34.2/MODULE.bazel
  modules/asio/1.34.2/overlay/BUILD.bazel
  modules/asio/1.34.2/overlay/MODULE.bazel
  modules/asio/1.34.2/presubmit.yml
  modules/asio/1.34.2/source.json
  modules/asio/metadata.json
Labels: skip-url-stability-check

#4983 spdlog@1.15.3
  modules/spdlog/1.15.3/MODULE.bazel
  modules/spdlog/1.15.3/overlay/BUILD.bazel
  modules/spdlog/1.15.3/overlay/MODULE.bazel
  modules/spdlog/1.15.3/presubmit.yml
  modules/spdlog/1.15.3/source.json
  modules/spdlog/metadata.json
Labels: skip-url-stability-check

#4968 civetweb: add enable_no_files config
  modules/civetweb/1.16.bcr.3/MODULE.bazel
  modules/civetweb/1.16.bcr.3/patches/add_build_file.patch
  modules/civetweb/1.16.bcr.3/patches/module_dot_bazel.patch
  modules/civetweb/1.16.bcr.3/presubmit.yml
  modules/civetweb/1.16.bcr.3/source.json
  modules/civetweb/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4990 doctest@2.4.12
  modules/doctest/2.4.12/MODULE.bazel
  modules/doctest/2.4.12/patches/add_module_dot_bazel.patch
  modules/doctest/2.4.12/presubmit.yml
  modules/doctest/2.4.12/source.json
  modules/doctest/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#5017 Pull bazel fixes for gz-msgs into 11.1.0.bcr.2
  modules/gz-msgs/11.1.0.bcr.2/MODULE.bazel
  modules/gz-msgs/11.1.0.bcr.2/patches/fix_clang_build.patch
  modules/gz-msgs/11.1.0.bcr.2/patches/fix_generator_lite_generator_cc.patch
  modules/gz-msgs/11.1.0.bcr.2/patches/fix_tool_loads.patch
  modules/gz-msgs/11.1.0.bcr.2/patches/module_dot_bazel.patch
  modules/gz-msgs/11.1.0.bcr.2/presubmit.yml
  modules/gz-msgs/11.1.0.bcr.2/source.json
  modules/gz-msgs/metadata.json
Labels: skip-url-stability-check

#5021 openexr@3.3.4
  modules/openexr/3.3.4/MODULE.bazel
  modules/openexr/3.3.4/overlay/BUILD.bazel
  modules/openexr/3.3.4/overlay/MODULE.bazel
  modules/openexr/3.3.4/presubmit.yml
  modules/openexr/3.3.4/source.json
  modules/openexr/metadata.json
Labels: auto-merged

#5016 roaring@4.3.5
  modules/roaring/4.3.5/MODULE.bazel
  modules/roaring/4.3.5/overlay/BUILD.bazel
  modules/roaring/4.3.5/overlay/MODULE.bazel
  modules/roaring/4.3.5/presubmit.yml
  modules/roaring/4.3.5/source.json
  modules/roaring/metadata.json
Labels: skip-url-stability-check, auto-merged

#5035 Fix linking on Windows
  modules/assimp/5.4.3.bcr.6/MODULE.bazel
  modules/assimp/5.4.3.bcr.6/overlay/BUILD.bazel
  modules/assimp/5.4.3.bcr.6/overlay/MODULE.bazel
  modules/assimp/5.4.3.bcr.6/presubmit.yml
  modules/assimp/5.4.3.bcr.6/source.json
  modules/assimp/metadata.json
Labels: skip-url-stability-check, auto-merged

#5006 Add gz-sensors
  modules/gz-sensors/9.2.0/MODULE.bazel
  modules/gz-sensors/9.2.0/patches/module_dot_bazel.patch
  modules/gz-sensors/9.2.0/presubmit.yml
  modules/gz-sensors/9.2.0/source.json
  modules/gz-sensors/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check
