Repository bazelbuild/bazel-central-registry, pull requests merged in 2025-05, with the labels that each got.

#4486 Publish toolchains_protoc@0.4.1
  modules/toolchains_protoc/0.4.1/MODULE.bazel
  modules/toolchains_protoc/0.4.1/attestations.json
  modules/toolchains_protoc/0.4.1/patches/module_dot_bazel_version.patch
  modules/toolchains_protoc/0.4.1/presubmit.yml
  modules/toolchains_protoc/0.4.1/source.json
  modules/toolchains_protoc/metadata.json
Labels: skip-incompatible-flags-test

#4495 rules_nasm@0.3.1
  modules/rules_nasm/0.3.1/MODULE.bazel
  modules/rules_nasm/0.3.1/presubmit.yml
  modules/rules_nasm/0.3.1/source.json
  modules/rules_nasm/metadata.json
Labels: presubmit-auto-run

#4525 Add rules_mojo 0.1.0
  modules/rules_mojo/0.1.0/MODULE.bazel
  modules/rules_mojo/0.1.0/overlay/MODULE.bazel
  modules/rules_mojo/0.1.0/presubmit.yml
  modules/rules_mojo/0.1.0/source.json
  modules/rules_mojo/metadata.json
Labels: presubmit-auto-run

#4498 jemalloc: Update to handle additional build flags
  modules/jemalloc/5.3.0-bcr.alpha.4/MODULE.bazel
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/MODULE.bazel
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/examples/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/examples/MODULE.bazel
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/examples/test_api.c
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/examples/test_basic.c
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/include/jemalloc/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/include/jemalloc/internal/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/include/jemalloc/internal/private_namespace.bzl
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/include/jemalloc/internal/public_symbols.bzl
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/settings/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/settings/compiler/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/settings/config.bzl
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/settings/flags/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/settings/platform/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/test/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/test/integration/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/test/unit/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/tools/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/tools/autoconf.bzl
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/tools/cc.bzl
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/tools/test.bzl
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/tools/transition.bzl
  modules/jemalloc/5.3.0-bcr.alpha.4/overlay/tools/version.bzl
  modules/jemalloc/5.3.0-bcr.alpha.4/patches/skipped-tests-exit-0.patch
  modules/jemalloc/5.3.0-bcr.alpha.4/presubmit.yml
  modules/jemalloc/5.3.0-bcr.alpha.4/scripts/jemalloc_to_bcr.sh
  modules/jemalloc/5.3.0-bcr.alpha.4/source.json
  modules/jemalloc/metadata.json
Labels: presubmit-auto-run

#4533 Add rules_mojo 0.2.0
  modules/rules_mojo/0.2.0/MODULE.bazel
  modules/rules_mojo/0.2.0/overlay/MODULE.bazel
  modules/rules_mojo/0.2.0/presubmit.yml
  modules/rules_mojo/0.2.0/source.json
  modules/rules_mojo/metadata.json
Labels: presubmit-auto-run

#4512 [fasttext] Add Python targets
  modules/fasttext/0.10.0-bcr.20240313-1142dc4.bcr.2/MODULE.bazel
  modules/fasttext/0.10.0-bcr.20240313-1142dc4.bcr.2/overlay/BUILD.bazel
  modules/fasttext/0.10.0-bcr.20240313-1142dc4.bcr.2/overlay/MODULE.bazel
  modules/fasttext/0.10.0-bcr.20240313-1142dc4.bcr.2/presubmit.yml
  modules/fasttext/0.10.0-bcr.20240313-1142dc4.bcr.2/source.json
  modules/fasttext/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4537 Publish ftxui@6.1.9
  modules/ftxui/6.1.9/MODULE.bazel
  modules/ftxui/6.1.9/presubmit.yml
  modules/ftxui/6.1.9/source.json
  modules/ftxui/metadata.json
Labels: presubmit-auto-run

#4538 Updated integrity for gz-math
  modules/gz-math/8.1.0/source.json
  modules/gz-math/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, USE-WITH-CAUTION-skip-modification-check

#4540 Add `0.8.0` release of `rules_pkl`
  modules/rules_pkl/0.8.0/MODULE.bazel
  modules/rules_pkl/0.8.0/presubmit.yml
  modules/rules_pkl/0.8.0/source.json
  modules/rules_pkl/metadata.json
Labels: skip-incompatible-flags-test

#4542 Jsonnet 0.21.0
  modules/jsonnet/0.21.0/MODULE.bazel
  modules/jsonnet/0.21.0/presubmit.yml
  modules/jsonnet/0.21.0/source.json
  modules/jsonnet/metadata.json
Labels: presubmit-auto-run

#4532 Add tink-cc@2.4.0 to BCR
  modules/tink_cc/2.4.0/MODULE.bazel
  modules/tink_cc/2.4.0/presubmit.yml
  modules/tink_cc/2.4.0/source.json
  modules/tink_cc/metadata.json
Labels: presubmit-auto-run

#4551 jsonnet_go 0.21.0
  modules/jsonnet_go/0.21.0/MODULE.bazel
  modules/jsonnet_go/0.21.0/presubmit.yml
  modules/jsonnet_go/0.21.0/source.json
  modules/jsonnet_go/metadata.json
Labels: presubmit-auto-run

#4545 Add openconfig_gnsi@1.9.0
  modules/openconfig_gnsi/1.9.0/MODULE.bazel
  modules/openconfig_gnsi/1.9.0/patches/module_dot_bazel.patch
  modules/openconfig_gnsi/1.9.0/presubmit.yml
  modules/openconfig_gnsi/1.9.0/source.json
  modules/openconfig_gnsi/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-incompatible-flags-test

#4554 Publish aspect_rules_py@1.4.0
  modules/aspect_rules_py/1.4.0/MODULE.bazel
  modules/aspect_rules_py/1.4.0/attestations.json
  modules/aspect_rules_py/1.4.0/patches/module_dot_bazel_version.patch
  modules/aspect_rules_py/1.4.0/patches/rust_dev_dep.patch
  modules/aspect_rules_py/1.4.0/presubmit.yml
  modules/aspect_rules_py/1.4.0/source.json
  modules/aspect_rules_py/metadata.json
Labels: auto-merged

#4552 Publish rules_scala@7.0.0
  modules/rules_scala/7.0.0/MODULE.bazel
  modules/rules_scala/7.0.0/attestations.json
  modules/rules_scala/7.0.0/presubmit.yml
  modules/rules_scala/7.0.0/source.json
  modules/rules_scala/metadata.json
Labels: presubmit-auto-run, skip-incompatible-flags-test

#4556 Add cppzmq version 4.10.0.bcr.1 to fix build on Ubuntu Noble
  modules/cppzmq/4.10.0.bcr.1/MODULE.bazel
  modules/cppzmq/4.10.0.bcr.1/patches/add_build_file.patch
  modules/cppzmq/4.10.0.bcr.1/patches/module_dot_bazel.patch
  modules/cppzmq/4.10.0.bcr.1/presubmit.yml
  modules/cppzmq/4.10.0.bcr.1/source.json
  modules/cppzmq/metadata.json
Labels: skip-url-stability-check

#4566 Publish aspect_rules_lint@1.4.0
  modules/aspect_rules_lint/1.4.0/MODULE.bazel
  modules/aspect_rules_lint/1.4.0/attestations.json
  modules/aspect_rules_lint/1.4.0/patches/go_dev_deps.patch
  modules/aspect_rules_lint/1.4.0/patches/module_dot_bazel_version.patch
  modules/aspect_rules_lint/1.4.0/presubmit.yml
  modules/aspect_rules_lint/1.4.0/source.json
  modules/aspect_rules_lint/metadata.json
Labels: skip-incompatible-flags-test

#4565 Add gz-math module version 8.1.1
  modules/gz-math/8.1.1/MODULE.bazel
  modules/gz-math/8.1.1/patches/fix_clang_build.patch
  modules/gz-math/8.1.1/patches/module_dot_bazel.patch
  modules/gz-math/8.1.1/presubmit.yml
  modules/gz-math/8.1.1/source.json
  modules/gz-math/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4272 Added ujson4c
  modules/ujson4c/0.0.0-20140408072550-e14f3fd5207f/MODULE.bazel
  modules/ujson4c/0.0.0-20140408072550-e14f3fd5207f/patches/diff.patch
  modules/ujson4c/0.0.0-20140408072550-e14f3fd5207f/presubmit.yml
  modules/ujson4c/0.0.0-20140408072550-e14f3fd5207f/source.json
  modules/ujson4c/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4567 Update XPlane SDK
  modules/xplane_sdk/4.1.1/MODULE.bazel
  modules/xplane_sdk/4.1.1/patches/diff.patch
  modules/xplane_sdk/4.1.1/presubmit.yml
  modules/xplane_sdk/4.1.1/source.json
  modules/xplane_sdk/metadata.json
Labels: presubmit-auto-run

#4534 cel-cpp@0.11.0
  modules/cel-cpp/0.11.0/MODULE.bazel
  modules/cel-cpp/0.11.0/patches/module_dot_bazel.patch
  modules/cel-cpp/0.11.0/presubmit.yml
  modules/cel-cpp/0.11.0/source.json
  modules/cel-cpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-incompatible-flags-test

#4520 Add: boostorg/mysql
  modules/boost.charconv/1.87.0/MODULE.bazel
  modules/boost.charconv/1.87.0/overlay/BUILD.bazel
  modules/boost.charconv/1.87.0/overlay/MODULE.bazel
  modules/boost.charconv/1.87.0/overlay/test/BUILD.bazel
  modules/boost.charconv/1.87.0/overlay/test/MODULE.bazel
  modules/boost.charconv/1.87.0/patches/patch.diff
  modules/boost.charconv/1.87.0/presubmit.yml
  modules/boost.charconv/1.87.0/source.json
  modules/boost.charconv/metadata.json
  modules/boost.compat/1.87.0/MODULE.bazel
  modules/boost.compat/1.87.0/overlay/BUILD.bazel
  modules/boost.compat/1.87.0/overlay/MODULE.bazel
  modules/boost.compat/1.87.0/presubmit.yml
  modules/boost.compat/1.87.0/source.json
  modules/boost.compat/metadata.json
  modules/boost.mysql/1.87.0/MODULE.bazel
  modules/boost.mysql/1.87.0/overlay/BUILD.bazel
  modules/boost.mysql/1.87.0/overlay/MODULE.bazel
  modules/boost.mysql/1.87.0/overlay/example/BUILD.bazel
  modules/boost.mysql/1.87.0/overlay/example/MODULE.bazel
  modules/boost.mysql/1.87.0/presubmit.yml
  modules/boost.mysql/1.87.0/source.json
  modules/boost.mysql/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4474 gutil-20250502
  modules/gutil/20250502.0/MODULE.bazel
  modules/gutil/20250502.0/presubmit.yml
  modules/gutil/20250502.0/source.json
  modules/gutil/metadata.json
Labels: skip-incompatible-flags-test

#4575 Publish aspect_rules_lint@1.4.2
  modules/aspect_rules_lint/1.4.2/MODULE.bazel
  modules/aspect_rules_lint/1.4.2/attestations.json
  modules/aspect_rules_lint/1.4.2/patches/go_dev_deps.patch
  modules/aspect_rules_lint/1.4.2/patches/module_dot_bazel_version.patch
  modules/aspect_rules_lint/1.4.2/presubmit.yml
  modules/aspect_rules_lint/1.4.2/source.json
  modules/aspect_rules_lint/metadata.json
Labels: skip-incompatible-flags-test

#4586 Add abseil-cpp@20250512.0
  modules/abseil-cpp/20250512.0/MODULE.bazel
  modules/abseil-cpp/20250512.0/presubmit.yml
  modules/abseil-cpp/20250512.0/source.json
  modules/abseil-cpp/metadata.json
Labels: presubmit-auto-run

#4593 boringssl 0.20250514.0
  modules/boringssl/0.20250514.0/MODULE.bazel
  modules/boringssl/0.20250514.0/presubmit.yml
  modules/boringssl/0.20250514.0/source.json
  modules/boringssl/metadata.json
Labels: auto-merged

#4578 Add openconfig_bootz@0.5.0
  modules/openconfig_bootz/0.5.0/MODULE.bazel
  modules/openconfig_bootz/0.5.0/patches/module_dot_bazel.patch
  modules/openconfig_bootz/0.5.0/presubmit.yml
  modules/openconfig_bootz/0.5.0/source.json
  modules/openconfig_bootz/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-incompatible-flags-test

#4588 Add gz-plugin
  modules/gz-plugin/3.1.0/MODULE.bazel
  modules/gz-plugin/3.1.0/patches/module_dot_bazel.patch
  modules/gz-plugin/3.1.0/presubmit.yml
  modules/gz-plugin/3.1.0/source.json
  modules/gz-plugin/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4596 Update: boost.compat 1.88.0
  modules/boost.compat/1.88.0/MODULE.bazel
  modules/boost.compat/1.88.0/overlay/BUILD.bazel
  modules/boost.compat/1.88.0/overlay/MODULE.bazel
  modules/boost.compat/1.88.0/presubmit.yml
  modules/boost.compat/1.88.0/source.json
  modules/boost.compat/metadata.json
Labels: skip-url-stability-check, auto-merged

#4595 Update: boost.charconv 1.88.0
  modules/boost.charconv/1.88.0/MODULE.bazel
  modules/boost.charconv/1.88.0/overlay/BUILD.bazel
  modules/boost.charconv/1.88.0/overlay/MODULE.bazel
  modules/boost.charconv/1.88.0/overlay/test/BUILD.bazel
  modules/boost.charconv/1.88.0/overlay/test/MODULE.bazel
  modules/boost.charconv/1.88.0/patches/patch.diff
  modules/boost.charconv/1.88.0/presubmit.yml
  modules/boost.charconv/1.88.0/source.json
  modules/boost.charconv/metadata.json
Labels: skip-url-stability-check, auto-merged

#4585 Add gz-transport module
  modules/gz-transport/14.1.0/MODULE.bazel
  modules/gz-transport/14.1.0/patches/module_dot_bazel.patch
  modules/gz-transport/14.1.0/presubmit.yml
  modules/gz-transport/14.1.0/source.json
  modules/gz-transport/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4562 Add clipper2 1.5.3
  modules/clipper2/1.5.3/MODULE.bazel
  modules/clipper2/1.5.3/overlay/BUILD.bazel
  modules/clipper2/1.5.3/patches/add_module_dot_bazel.patch
  modules/clipper2/1.5.3/presubmit.yml
  modules/clipper2/1.5.3/source.json
  modules/clipper2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4604 Add freeimage module
  modules/freeimage/3.19.10/MODULE.bazel
  modules/freeimage/3.19.10/patches/add_build_file.patch
  modules/freeimage/3.19.10/patches/module_dot_bazel.patch
  modules/freeimage/3.19.10/presubmit.yml
  modules/freeimage/3.19.10/source.json
  modules/freeimage/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4613 cjson@1.7.19-0.20240923110858-12c4bf1986c2.bcr.1
  modules/cjson/1.7.19-0.20240923110858-12c4bf1986c2.bcr.1/MODULE.bazel
  modules/cjson/1.7.19-0.20240923110858-12c4bf1986c2.bcr.1/patches/diff.patch
  modules/cjson/1.7.19-0.20240923110858-12c4bf1986c2.bcr.1/presubmit.yml
  modules/cjson/1.7.19-0.20240923110858-12c4bf1986c2.bcr.1/source.json
  modules/cjson/metadata.json
Labels: skip-url-stability-check, auto-merged

#4615 Add libgit2@1.9.0
  modules/libgit2/1.9.0/MODULE.bazel
  modules/libgit2/1.9.0/overlay/BUILD.bazel
  modules/libgit2/1.9.0/overlay/MODULE.bazel
  modules/libgit2/1.9.0/overlay/deps/llhttp/BUILD.bazel
  modules/libgit2/1.9.0/overlay/deps/pcre/BUILD.bazel
  modules/libgit2/1.9.0/overlay/deps/xdiff/BUILD.bazel
  modules/libgit2/1.9.0/overlay/include/BUILD.bazel
  modules/libgit2/1.9.0/overlay/src/libgit2/BUILD.bazel
  modules/libgit2/1.9.0/overlay/src/util/BUILD.bazel
  modules/libgit2/1.9.0/presubmit.yml
  modules/libgit2/1.9.0/source.json
  modules/libgit2/metadata.json
Labels: skip-url-stability-check

#4612 flip@1.6
  modules/flip/1.6/MODULE.bazel
  modules/flip/1.6/overlay/BUILD.bazel
  modules/flip/1.6/overlay/MODULE.bazel
  modules/flip/1.6/presubmit.yml
  modules/flip/1.6/source.json
  modules/flip/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4611 Add sdformat v15.3.0
  modules/sdformat/15.3.0/MODULE.bazel
  modules/sdformat/15.3.0/patches/fix_clang_build.patch
  modules/sdformat/15.3.0/patches/module_dot_bazel.patch
  modules/sdformat/15.3.0/presubmit.yml
  modules/sdformat/15.3.0/source.json
  modules/sdformat/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4608 rules_proto_grpc@5.1.0
  modules/rules_proto_grpc/5.1.0/MODULE.bazel
  modules/rules_proto_grpc/5.1.0/presubmit.yml
  modules/rules_proto_grpc/5.1.0/source.json
  modules/rules_proto_grpc/metadata.json
  modules/rules_proto_grpc_buf/5.1.0/MODULE.bazel
  modules/rules_proto_grpc_buf/5.1.0/presubmit.yml
  modules/rules_proto_grpc_buf/5.1.0/source.json
  modules/rules_proto_grpc_buf/metadata.json
  modules/rules_proto_grpc_cpp/5.1.0/MODULE.bazel
  modules/rules_proto_grpc_cpp/5.1.0/presubmit.yml
  modules/rules_proto_grpc_cpp/5.1.0/source.json
  modules/rules_proto_grpc_cpp/metadata.json
  modules/rules_proto_grpc_doc/5.1.0/MODULE.bazel
  modules/rules_proto_grpc_doc/5.1.0/presubmit.yml
  modules/rules_proto_grpc_doc/5.1.0/source.json
  modules/rules_proto_grpc_doc/metadata.json
  modules/rules_proto_grpc_go/5.1.0/MODULE.bazel
  modules/rules_proto_grpc_go/5.1.0/presubmit.yml
  modules/rules_proto_grpc_go/5.1.0/source.json
  modules/rules_proto_grpc_go/metadata.json
  modules/rules_proto_grpc_grpc_gateway/5.1.0/MODULE.bazel
  modules/rules_proto_grpc_grpc_gateway/5.1.0/presubmit.yml
  modules/rules_proto_grpc_grpc_gateway/5.1.0/source.json
  modules/rules_proto_grpc_grpc_gateway/metadata.json
  modules/rules_proto_grpc_java/5.1.0/MODULE.bazel
  modules/rules_proto_grpc_java/5.1.0/presubmit.yml
  modules/rules_proto_grpc_java/5.1.0/source.json
  modules/rules_proto_grpc_java/metadata.json
  modules/rules_proto_grpc_objc/5.1.0/MODULE.bazel
  modules/rules_proto_grpc_objc/5.1.0/presubmit.yml
  modules/rules_proto_grpc_objc/5.1.0/source.json
  modules/rules_proto_grpc_objc/metadata.json
  modules/rules_proto_grpc_python/5.1.0/MODULE.bazel
  modules/rules_proto_grpc_python/5.1.0/presubmit.yml
  modules/rules_proto_grpc_python/5.1.0/source.json
  modules/rules_proto_grpc_python/metadata.json
Labels: skip-incompatible-flags-test

#4621 Add argparse-3.2.0
  modules/argparse/3.2.0/MODULE.bazel
  modules/argparse/3.2.0/patches/module_dot_bazel.patch
  modules/argparse/3.2.0/presubmit.yml
  modules/argparse/3.2.0/source.json
  modules/argparse/metadata.json
Labels: skip-url-stability-check

#4620 Update: boost.context
  modules/boost.context/1.87.0.bcr.2/MODULE.bazel
  modules/boost.context/1.87.0.bcr.2/overlay/BUILD.bazel
  modules/boost.context/1.87.0.bcr.2/overlay/MODULE.bazel
  modules/boost.context/1.87.0.bcr.2/presubmit.yml
  modules/boost.context/1.87.0.bcr.2/source.json
  modules/boost.context/metadata.json
Labels: skip-url-stability-check

#4630 Fix libzmq build with --copt=-Werror and clang
  modules/libzmq/4.3.5.bcr.3/MODULE.bazel
  modules/libzmq/4.3.5.bcr.3/patches/add_build_file.patch
  modules/libzmq/4.3.5.bcr.3/patches/module_dot_bazel.patch
  modules/libzmq/4.3.5.bcr.3/presubmit.yml
  modules/libzmq/4.3.5.bcr.3/source.json
  modules/libzmq/metadata.json
Labels: presubmit-auto-run

#4631 Add remotery
  modules/remotery/1.0.0/MODULE.bazel
  modules/remotery/1.0.0/patches/add_build_file.patch
  modules/remotery/1.0.0/patches/module_dot_bazel.patch
  modules/remotery/1.0.0/presubmit.yml
  modules/remotery/1.0.0/source.json
  modules/remotery/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4636 Update gz-transport to 14.1.0.bcr.1
  modules/gz-transport/14.1.0.bcr.1/MODULE.bazel
  modules/gz-transport/14.1.0.bcr.1/patches/module_dot_bazel.patch
  modules/gz-transport/14.1.0.bcr.1/presubmit.yml
  modules/gz-transport/14.1.0.bcr.1/source.json
  modules/gz-transport/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4643 Add rules_buf@0.4.0
  modules/rules_buf/0.4.0/MODULE.bazel
  modules/rules_buf/0.4.0/presubmit.yml
  modules/rules_buf/0.4.0/source.json
  modules/rules_buf/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-incompatible-flags-test

#4637 Add glpk@5.0.bcr.4
  modules/glpk/5.0.bcr.4/MODULE.bazel
  modules/glpk/5.0.bcr.4/overlay/BUILD.bazel
  modules/glpk/5.0.bcr.4/overlay/MODULE.bazel
  modules/glpk/5.0.bcr.4/overlay/src/minisat/minisat.h
  modules/glpk/5.0.bcr.4/presubmit.yml
  modules/glpk/5.0.bcr.4/source.json
  modules/glpk/metadata.json
Labels: presubmit-auto-run

#4650 chore: update deps of byte track eigen
  modules/byte_track_eigen/2.1.0.bcr.2/MODULE.bazel
  modules/byte_track_eigen/2.1.0.bcr.2/overlay/BUILD.bazel
  modules/byte_track_eigen/2.1.0.bcr.2/overlay/MODULE.bazel
  modules/byte_track_eigen/2.1.0.bcr.2/presubmit.yml
  modules/byte_track_eigen/2.1.0.bcr.2/source.json
  modules/byte_track_eigen/metadata.json
Labels: skip-url-stability-check

#4664 Add Happly to BCR
  modules/happly/0.0.20240207/MODULE.bazel
  modules/happly/0.0.20240207/overlay/BUILD.bazel
  modules/happly/0.0.20240207/overlay/MODULE.bazel
  modules/happly/0.0.20240207/presubmit.yml
  modules/happly/0.0.20240207/source.json
  modules/happly/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4644 cjson@1.7.19-0.20240923110858-12c4bf1986c2.bcr.2
  modules/cjson/1.7.19-0.20240923110858-12c4bf1986c2.bcr.2/MODULE.bazel
  modules/cjson/1.7.19-0.20240923110858-12c4bf1986c2.bcr.2/patches/diff.patch
  modules/cjson/1.7.19-0.20240923110858-12c4bf1986c2.bcr.2/presubmit.yml
  modules/cjson/1.7.19-0.20240923110858-12c4bf1986c2.bcr.2/source.json
  modules/cjson/metadata.json
Labels: skip-url-stability-check

#4658 [assimp] Add windows support
  modules/assimp/5.4.3.bcr.1/MODULE.bazel
  modules/assimp/5.4.3.bcr.1/overlay/BUILD.bazel
  modules/assimp/5.4.3.bcr.1/overlay/MODULE.bazel
  modules/assimp/5.4.3.bcr.1/presubmit.yml
  modules/assimp/5.4.3.bcr.1/source.json
  modules/assimp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4663 Add nanopb 0.3.9.10
  modules/nanopb/0.3.9.10/MODULE.bazel
  modules/nanopb/0.3.9.10/overlay/MODULE.bazel
  modules/nanopb/0.3.9.10/presubmit.yml
  modules/nanopb/0.3.9.10/source.json
  modules/nanopb/metadata.json
Labels: presubmit-auto-run

#4681 Bump libzip to 1.11.4
  modules/libzip/1.11.4/MODULE.bazel
  modules/libzip/1.11.4/patches/add-build-file.patch
  modules/libzip/1.11.4/patches/module_dot_bazel.patch
  modules/libzip/1.11.4/presubmit.yml
  modules/libzip/1.11.4/source.json
  modules/libzip/metadata.json
Labels: presubmit-auto-run

#4697 Add wabt@1.0.37
  modules/wabt/1.0.37/MODULE.bazel
  modules/wabt/1.0.37/overlay/BUILD.bazel
  modules/wabt/1.0.37/overlay/MODULE.bazel
  modules/wabt/1.0.37/overlay/build/BUILD.bazel
  modules/wabt/1.0.37/overlay/build/wabt_build.bzl
  modules/wabt/1.0.37/overlay/include/wabt/BUILD.bazel
  modules/wabt/1.0.37/overlay/src/BUILD.bazel
  modules/wabt/1.0.37/overlay/src/tools/BUILD.bazel
  modules/wabt/1.0.37/overlay/third_party/picosha2/BUILD.bazel
  modules/wabt/1.0.37/overlay/third_party/wasm-c-api/BUILD.bazel
  modules/wabt/1.0.37/presubmit.yml
  modules/wabt/1.0.37/source.json
  modules/wabt/metadata.json
Labels: presubmit-auto-run

#4702 Publish toolchains_llvm_bootstrapped@0.1.9
  modules/toolchains_llvm_bootstrapped/0.1.9/MODULE.bazel
  modules/toolchains_llvm_bootstrapped/0.1.9/attestations.json
  modules/toolchains_llvm_bootstrapped/0.1.9/presubmit.yml
  modules/toolchains_llvm_bootstrapped/0.1.9/source.json
  modules/toolchains_llvm_bootstrapped/metadata.json
Labels: presubmit-auto-run

#4689 Add sangki@google.com to metadata.json
  modules/protobuf/metadata.json
Labels: presubmit-auto-run

#4719 Add liburing 2.10
  modules/liburing/2.10/MODULE.bazel
  modules/liburing/2.10/overlay/BUILD.bazel
  modules/liburing/2.10/overlay/MODULE.bazel
  modules/liburing/2.10/presubmit.yml
  modules/liburing/2.10/source.json
  modules/liburing/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4726 Fix visibility for gz-msgs `gz_msgs_gen` target and bumps gz-msgs to 11.1.0.bcr.1
  modules/gz-msgs/11.1.0.bcr.1/MODULE.bazel
  modules/gz-msgs/11.1.0.bcr.1/patches/fix_clang_build.patch
  modules/gz-msgs/11.1.0.bcr.1/patches/fix_tool_loads.patch
  modules/gz-msgs/11.1.0.bcr.1/patches/module_dot_bazel.patch
  modules/gz-msgs/11.1.0.bcr.1/presubmit.yml
  modules/gz-msgs/11.1.0.bcr.1/source.json
  modules/gz-msgs/metadata.json
Labels: skip-url-stability-check
