Repository bazelbuild/bazel-central-registry, pull requests merged in 2025-08, with the labels that each got.

#5421 boost.random@1.88.0.bcr.1
  modules/boost.random/1.88.0.bcr.1/MODULE.bazel
  modules/boost.random/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.random/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.random/1.88.0.bcr.1/presubmit.yml
  modules/boost.random/1.88.0.bcr.1/source.json
  modules/boost.random/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5429 boost.property_map@1.88.0.bcr.1
  modules/boost.property_map/1.88.0.bcr.1/MODULE.bazel
  modules/boost.property_map/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.property_map/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.property_map/1.88.0.bcr.1/presubmit.yml
  modules/boost.property_map/1.88.0.bcr.1/source.json
  modules/boost.property_map/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5428 boost.lambda@1.88.0.bcr.1
  modules/boost.lambda/1.88.0.bcr.1/MODULE.bazel
  modules/boost.lambda/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.lambda/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.lambda/1.88.0.bcr.1/presubmit.yml
  modules/boost.lambda/1.88.0.bcr.1/source.json
  modules/boost.lambda/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5427 boost.coroutine@1.88.0.bcr.1
  modules/boost.coroutine/1.88.0.bcr.1/MODULE.bazel
  modules/boost.coroutine/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.coroutine/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.coroutine/1.88.0.bcr.1/presubmit.yml
  modules/boost.coroutine/1.88.0.bcr.1/source.json
  modules/boost.coroutine/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5345 boost.timer@1.88.0.bcr.1
  modules/boost.crc/metadata.json
  modules/boost.timer/1.88.0.bcr.1/MODULE.bazel
  modules/boost.timer/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.timer/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.timer/1.88.0.bcr.1/overlay/test/BUILD.bazel
  modules/boost.timer/1.88.0.bcr.1/overlay/test/MODULE.bazel
  modules/boost.timer/1.88.0.bcr.1/presubmit.yml
  modules/boost.timer/1.88.0.bcr.1/source.json
  modules/boost.timer/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-compatibility-level-check

#5414 Add c-ares@1.34.5
  modules/c-ares/1.34.5/MODULE.bazel
  modules/c-ares/1.34.5/overlay/BUILD.bazel
  modules/c-ares/1.34.5/overlay/MODULE.bazel
  modules/c-ares/1.34.5/overlay/configs/ares_build.h
  modules/c-ares/1.34.5/overlay/configs/config_android/ares_config.h
  modules/c-ares/1.34.5/overlay/configs/config_darwin/ares_config.h
  modules/c-ares/1.34.5/overlay/configs/config_freebsd/ares_config.h
  modules/c-ares/1.34.5/overlay/configs/config_linux/ares_config.h
  modules/c-ares/1.34.5/overlay/configs/config_openbsd/ares_config.h
  modules/c-ares/1.34.5/overlay/configs/config_windows/ares_config.h
  modules/c-ares/1.34.5/presubmit.yml
  modules/c-ares/1.34.5/source.json
  modules/c-ares/metadata.json
Labels: presubmit-auto-run

#5403 Publish rules_nodejs@6.5.0
  modules/rules_nodejs/6.5.0/MODULE.bazel
  modules/rules_nodejs/6.5.0/attestations.json
  modules/rules_nodejs/6.5.0/patches/module_dot_bazel_version.patch
  modules/rules_nodejs/6.5.0/presubmit.yml
  modules/rules_nodejs/6.5.0/source.json
  modules/rules_nodejs/metadata.json
Labels: presubmit-auto-run

#5390 libxslt@1.1.43.bcr.1
  modules/libxslt/1.1.43.bcr.1/MODULE.bazel
  modules/libxslt/1.1.43.bcr.1/overlay/BUILD.bazel
  modules/libxslt/1.1.43.bcr.1/overlay/MODULE.bazel
  modules/libxslt/1.1.43.bcr.1/overlay/config.h
  modules/libxslt/1.1.43.bcr.1/overlay/libexslt/BUILD.bazel
  modules/libxslt/1.1.43.bcr.1/overlay/libxslt/BUILD.bazel
  modules/libxslt/1.1.43.bcr.1/patches/run_tests.patch
  modules/libxslt/1.1.43.bcr.1/presubmit.yml
  modules/libxslt/1.1.43.bcr.1/source.json
  modules/libxslt/metadata.json
Labels: presubmit-auto-run

#5436 boost.boost.polygon@1.88.0.bcr.1
  modules/boost.polygon/1.88.0.bcr.1/MODULE.bazel
  modules/boost.polygon/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.polygon/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.polygon/1.88.0.bcr.1/overlay/test/BUILD.bazel
  modules/boost.polygon/1.88.0.bcr.1/overlay/test/MODULE.bazel
  modules/boost.polygon/1.88.0.bcr.1/presubmit.yml
  modules/boost.polygon/1.88.0.bcr.1/source.json
  modules/boost.polygon/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-compatibility-level-check

#5423 boost.json@1.88.0.bcr.1
  modules/boost.json/1.88.0.bcr.1/MODULE.bazel
  modules/boost.json/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.json/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.json/1.88.0.bcr.1/overlay/boost.json.cpp
  modules/boost.json/1.88.0.bcr.1/presubmit.yml
  modules/boost.json/1.88.0.bcr.1/source.json
  modules/boost.json/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-compatibility-level-check

#5450 Add fuzztest@20250805.0 to registry
  modules/fuzztest/20250805.0/MODULE.bazel
  modules/fuzztest/20250805.0/presubmit.yml
  modules/fuzztest/20250805.0/source.json
  modules/fuzztest/metadata.json
Labels: skip-incompatible-flags-test

#5425 boost.algorithm@1.88.0.bcr.1
  modules/boost.algorithm/1.88.0.bcr.1/MODULE.bazel
  modules/boost.algorithm/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.algorithm/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.algorithm/1.88.0.bcr.1/presubmit.yml
  modules/boost.algorithm/1.88.0.bcr.1/source.json
  modules/boost.algorithm/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5492 boost.bimap@1.88.0.bcr.1
  modules/boost.bimap/1.88.0.bcr.1/MODULE.bazel
  modules/boost.bimap/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.bimap/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.bimap/1.88.0.bcr.1/presubmit.yml
  modules/boost.bimap/1.88.0.bcr.1/source.json
  modules/boost.bimap/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5495 boost.units@1.88.0.bcr.1
  modules/boost.units/1.88.0.bcr.1/MODULE.bazel
  modules/boost.units/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.units/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.units/1.88.0.bcr.1/presubmit.yml
  modules/boost.units/1.88.0.bcr.1/source.json
  modules/boost.units/metadata.json
Labels: skip-url-stability-check, auto-merged, skip-compatibility-level-check

#5494 Boost.iostreams@1.88.0.bcr.1
  modules/boost.iostreams/1.88.0.bcr.1/MODULE.bazel
  modules/boost.iostreams/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.iostreams/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.iostreams/1.88.0.bcr.1/presubmit.yml
  modules/boost.iostreams/1.88.0.bcr.1/source.json
  modules/boost.iostreams/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5498 imath@3.2.0
  modules/imath/3.2.0/MODULE.bazel
  modules/imath/3.2.0/overlay/BUILD.bazel
  modules/imath/3.2.0/overlay/MODULE.bazel
  modules/imath/3.2.0/presubmit.yml
  modules/imath/3.2.0/source.json
  modules/imath/metadata.json
Labels: presubmit-auto-run

#5508 boost.proto@1.88.0.bcr.1
  modules/boost.proto/1.88.0.bcr.1/MODULE.bazel
  modules/boost.proto/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.proto/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.proto/1.88.0.bcr.1/presubmit.yml
  modules/boost.proto/1.88.0.bcr.1/source.json
  modules/boost.proto/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5496 boost.ptr_container@1.88.0.bcr.1
  modules/boost.ptr_container/1.88.0.bcr.1/MODULE.bazel
  modules/boost.ptr_container/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.ptr_container/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.ptr_container/1.88.0.bcr.1/presubmit.yml
  modules/boost.ptr_container/1.88.0.bcr.1/source.json
  modules/boost.ptr_container/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5380 Publish aspect_tools_telemetry@0.2.4
  modules/aspect_tools_telemetry/0.2.4/MODULE.bazel
  modules/aspect_tools_telemetry/0.2.4/attestations.json
  modules/aspect_tools_telemetry/0.2.4/patches/module_dot_bazel_version.patch
  modules/aspect_tools_telemetry/0.2.4/presubmit.yml
  modules/aspect_tools_telemetry/0.2.4/source.json
  modules/aspect_tools_telemetry/metadata.json
Labels: presubmit-auto-run

#5487 Add seastar@25.08.0
  modules/seastar/25.08.0-20250807194611-1520326e6032/MODULE.bazel
  modules/seastar/25.08.0-20250807194611-1520326e6032/overlay/BUILD.bazel
  modules/seastar/25.08.0-20250807194611-1520326e6032/overlay/MODULE.bazel
  modules/seastar/25.08.0-20250807194611-1520326e6032/presubmit.yml
  modules/seastar/25.08.0-20250807194611-1520326e6032/source.json
  modules/seastar/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#5536 Add googleapis 0.0.0-20250730-f6801ce4
  modules/googleapis/0.0.0-20250730-f6801ce4/MODULE.bazel
  modules/googleapis/0.0.0-20250730-f6801ce4/overlay/MODULE.bazel
  modules/googleapis/0.0.0-20250730-f6801ce4/overlay/extensions.bzl
  modules/googleapis/0.0.0-20250730-f6801ce4/overlay/tests/bcr/.bazelrc
  modules/googleapis/0.0.0-20250730-f6801ce4/overlay/tests/bcr/BUILD.bazel
  modules/googleapis/0.0.0-20250730-f6801ce4/overlay/tests/bcr/MODULE.bazel
  modules/googleapis/0.0.0-20250730-f6801ce4/overlay/tests/bcr/failure_test.bzl
  modules/googleapis/0.0.0-20250730-f6801ce4/patches/module_dot_bazel.patch
  modules/googleapis/0.0.0-20250730-f6801ce4/patches/remove_upb_c_rules.patch
  modules/googleapis/0.0.0-20250730-f6801ce4/presubmit.yml
  modules/googleapis/0.0.0-20250730-f6801ce4/source.json
  modules/googleapis/metadata.json
Labels: skip-url-stability-check, skip-incompatible-flags-test

#5537 Publish re2@2025-08-12
  modules/re2/2025-08-12/MODULE.bazel
  modules/re2/2025-08-12/presubmit.yml
  modules/re2/2025-08-12/source.json
  modules/re2/metadata.json
Labels: presubmit-auto-run

#5535 Add lz4@1.9.4.bcr.2.
  modules/lz4/1.9.4.bcr.2/MODULE.bazel
  modules/lz4/1.9.4.bcr.2/patches/add_build_file.patch
  modules/lz4/1.9.4.bcr.2/patches/add_programs_build_file.patch
  modules/lz4/1.9.4.bcr.2/patches/module_dot_bazel.patch
  modules/lz4/1.9.4.bcr.2/presubmit.yml
  modules/lz4/1.9.4.bcr.2/source.json
  modules/lz4/metadata.json
Labels: presubmit-auto-run

#5546 nanopb@0.4.9.1.bcr.1
  modules/nanopb/0.4.9.1.bcr.1/MODULE.bazel
  modules/nanopb/0.4.9.1.bcr.1/patches/bazel.patch
  modules/nanopb/0.4.9.1.bcr.1/presubmit.yml
  modules/nanopb/0.4.9.1.bcr.1/source.json
  modules/nanopb/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#5550 Publish aspect_rules_py@1.6.2
  modules/aspect_rules_py/1.6.2/MODULE.bazel
  modules/aspect_rules_py/1.6.2/attestations.json
  modules/aspect_rules_py/1.6.2/patches/module_dot_bazel_version.patch
  modules/aspect_rules_py/1.6.2/patches/rust_dev_dep.patch
  modules/aspect_rules_py/1.6.2/presubmit.yml
  modules/aspect_rules_py/1.6.2/source.json
  modules/aspect_rules_py/metadata.json
Labels: skip-incompatible-flags-test

#5554 Publish rules_img@0.1.5
  modules/rules_img/0.1.5/MODULE.bazel
  modules/rules_img/0.1.5/attestations.json
  modules/rules_img/0.1.5/presubmit.yml
  modules/rules_img/0.1.5/source.json
  modules/rules_img/metadata.json
Labels: skip-incompatible-flags-test

#5555 Publish aspect_rules_lint@1.5.3
  modules/aspect_rules_lint/1.5.3/MODULE.bazel
  modules/aspect_rules_lint/1.5.3/attestations.json
  modules/aspect_rules_lint/1.5.3/patches/go_dev_deps.patch
  modules/aspect_rules_lint/1.5.3/patches/module_dot_bazel_version.patch
  modules/aspect_rules_lint/1.5.3/presubmit.yml
  modules/aspect_rules_lint/1.5.3/source.json
  modules/aspect_rules_lint/metadata.json
Labels: skip-incompatible-flags-test

#5560 openjph@0.21.5
  modules/openjph/0.21.5/MODULE.bazel
  modules/openjph/0.21.5/overlay/BUILD.bazel
  modules/openjph/0.21.5/overlay/MODULE.bazel
  modules/openjph/0.21.5/presubmit.yml
  modules/openjph/0.21.5/source.json
  modules/openjph/metadata.json
Labels: skip-url-stability-check

#4959 Publish aspect_rules_terser@2.0.1
  modules/aspect_rules_terser/2.0.1/MODULE.bazel
  modules/aspect_rules_terser/2.0.1/attestations.json
  modules/aspect_rules_terser/2.0.1/patches/module_dot_bazel_version.patch
  modules/aspect_rules_terser/2.0.1/presubmit.yml
  modules/aspect_rules_terser/2.0.1/source.json
  modules/aspect_rules_terser/metadata.json
Labels: presubmit-auto-run

#5568 Publish aspect_rules_py@1.6.3
  modules/aspect_rules_py/1.6.3/MODULE.bazel
  modules/aspect_rules_py/1.6.3/attestations.json
  modules/aspect_rules_py/1.6.3/patches/module_dot_bazel_version.patch
  modules/aspect_rules_py/1.6.3/patches/rust_dev_dep.patch
  modules/aspect_rules_py/1.6.3/presubmit.yml
  modules/aspect_rules_py/1.6.3/source.json
  modules/aspect_rules_py/metadata.json
Labels: skip-incompatible-flags-test

#5579 Add poco
  modules/poco/1.14.2-20250528/MODULE.bazel
  modules/poco/1.14.2-20250528/overlay/BUILD
  modules/poco/1.14.2-20250528/overlay/MODULE.bazel
  modules/poco/1.14.2-20250528/presubmit.yml
  modules/poco/1.14.2-20250528/source.json
  modules/poco/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#5520 Add missing headers in libpq in module postgres
  modules/postgres/14.18.bcr.2/MODULE.bazel
  modules/postgres/14.18.bcr.2/overlay/BUILD.bazel
  modules/postgres/14.18.bcr.2/overlay/MODULE.bazel
  modules/postgres/14.18.bcr.2/presubmit.yml
  modules/postgres/14.18.bcr.2/source.json
  modules/postgres/metadata.json
Labels: presubmit-auto-run

#5594 Publish aspect_tools_telemetry@0.2.7
  modules/aspect_tools_telemetry/0.2.7/MODULE.bazel
  modules/aspect_tools_telemetry/0.2.7/attestations.json
  modules/aspect_tools_telemetry/0.2.7/patches/module_dot_bazel_version.patch
  modules/aspect_tools_telemetry/0.2.7/presubmit.yml
  modules/aspect_tools_telemetry/0.2.7/source.json
  modules/aspect_tools_telemetry/metadata.json
Labels: presubmit-auto-run

#5603 fix poco on BCR
  modules/poco/1.14.2-20250528.bcr.1/MODULE.bazel
  modules/poco/1.14.2-20250528.bcr.1/overlay/BUILD
  modules/poco/1.14.2-20250528.bcr.1/overlay/MODULE.bazel
  modules/poco/1.14.2-20250528.bcr.1/presubmit.yml
  modules/poco/1.14.2-20250528.bcr.1/source.json
  modules/poco/metadata.json
Labels: skip-url-stability-check

#5595 Publish awk.bzl@0.2.2
  modules/awk.bzl/0.2.2/MODULE.bazel
  modules/awk.bzl/0.2.2/attestations.json
  modules/awk.bzl/0.2.2/patches/module_dot_bazel_version.patch
  modules/awk.bzl/0.2.2/presubmit.yml
  modules/awk.bzl/0.2.2/source.json
  modules/awk.bzl/metadata.json
Labels: skip-incompatible-flags-test

#5608 Add redis@7.2.4
  modules/redis/7.2.4/MODULE.bazel
  modules/redis/7.2.4/overlay/BUILD.bazel
  modules/redis/7.2.4/overlay/MODULE.bazel
  modules/redis/7.2.4/presubmit.yml
  modules/redis/7.2.4/source.json
  modules/redis/metadata.json
Labels: presubmit-auto-run

#5609 Add postgres 14.18.bcr.3
  modules/postgres/14.18.bcr.3/MODULE.bazel
  modules/postgres/14.18.bcr.3/overlay/BUILD.bazel
  modules/postgres/14.18.bcr.3/overlay/MODULE.bazel
  modules/postgres/14.18.bcr.3/presubmit.yml
  modules/postgres/14.18.bcr.3/source.json
  modules/postgres/metadata.json
Labels: presubmit-auto-run

#5628 Publish riegeli@0.0.0-20250822-9f2744d
  modules/riegeli/0.0.0-20250822-9f2744d/MODULE.bazel
  modules/riegeli/0.0.0-20250822-9f2744d/patches/module_dot_bazel.patch
  modules/riegeli/0.0.0-20250822-9f2744d/presubmit.yml
  modules/riegeli/0.0.0-20250822-9f2744d/source.json
  modules/riegeli/metadata.json
Labels: skip-url-stability-check

#5641 Add userspace library for EtherLab EtherCAT Master
  modules/etherlab-ethercat/1.6.7/MODULE.bazel
  modules/etherlab-ethercat/1.6.7/overlay/BUILD.bazel
  modules/etherlab-ethercat/1.6.7/overlay/LICENSE
  modules/etherlab-ethercat/1.6.7/overlay/MODULE.bazel
  modules/etherlab-ethercat/1.6.7/overlay/config.h
  modules/etherlab-ethercat/1.6.7/presubmit.yml
  modules/etherlab-ethercat/1.6.7/source.json
  modules/etherlab-ethercat/metadata.json
Labels: presubmit-auto-run

#5651 Add rules_mojo 0.6.0
  modules/rules_mojo/0.6.0/MODULE.bazel
  modules/rules_mojo/0.6.0/overlay/MODULE.bazel
  modules/rules_mojo/0.6.0/presubmit.yml
  modules/rules_mojo/0.6.0/source.json
  modules/rules_mojo/metadata.json
Labels: presubmit-auto-run

#5614 feat: add `pre-commit-hooks@1.3.1`
  modules/pre-commit-hooks/1.3.1/MODULE.bazel
  modules/pre-commit-hooks/1.3.1/presubmit.yml
  modules/pre-commit-hooks/1.3.1/source.json
  modules/pre-commit-hooks/metadata.json
Labels: presubmit-auto-run

#5661 Add dumb-init and xxd
  modules/dumb-init/1.2.5/MODULE.bazel
  modules/dumb-init/1.2.5/overlay/BUILD.bazel
  modules/dumb-init/1.2.5/overlay/MODULE.bazel
  modules/dumb-init/1.2.5/presubmit.yml
  modules/dumb-init/1.2.5/source.json
  modules/dumb-init/metadata.json
  modules/xxd/9.1.0917/MODULE.bazel
  modules/xxd/9.1.0917/overlay/BUILD.bazel
  modules/xxd/9.1.0917/overlay/MODULE.bazel
  modules/xxd/9.1.0917/presubmit.yml
  modules/xxd/9.1.0917/source.json
  modules/xxd/metadata.json
Labels: skip-url-stability-check

#5668 ofiuco@0.5.3
  modules/ofiuco/0.5.3/MODULE.bazel
  modules/ofiuco/0.5.3/patches/module_dot_bazel_version.patch
  modules/ofiuco/0.5.3/presubmit.yml
  modules/ofiuco/0.5.3/source.json
  modules/ofiuco/metadata.json
Labels: skip-incompatible-flags-test

#5639 [New-Module] Publish grpc_kotlin v1.5.0-rc.1 to BCR.
  modules/grpc_kotlin/1.5.0-rc.1/MODULE.bazel
  modules/grpc_kotlin/1.5.0-rc.1/patches/version.patch
  modules/grpc_kotlin/1.5.0-rc.1/presubmit.yml
  modules/grpc_kotlin/1.5.0-rc.1/source.json
  modules/grpc_kotlin/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-incompatible-flags-test

#5676 osqp-eigen@0.10.3
  modules/osqp-eigen/0.10.3/MODULE.bazel
  modules/osqp-eigen/0.10.3/presubmit.yml
  modules/osqp-eigen/0.10.3/source.json
  modules/osqp-eigen/metadata.json
Labels: skip-url-stability-check

#5577 catch2@3.9.0
  modules/catch2/3.9.0/MODULE.bazel
  modules/catch2/3.9.0/overlay/MODULE.bazel
  modules/catch2/3.9.0/presubmit.yml
  modules/catch2/3.9.0/source.json
  modules/catch2/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#5565 boost.{program_options,test,thread,filesystem}@1.88.0.bcr.1
  modules/boost.filesystem/1.88.0.bcr.1/MODULE.bazel
  modules/boost.filesystem/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.filesystem/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.filesystem/1.88.0.bcr.1/overlay/test/BUILD.bazel
  modules/boost.filesystem/1.88.0.bcr.1/overlay/test/MODULE.bazel
  modules/boost.filesystem/1.88.0.bcr.1/presubmit.yml
  modules/boost.filesystem/1.88.0.bcr.1/source.json
  modules/boost.filesystem/metadata.json
  modules/boost.program_options/1.88.0.bcr.1/MODULE.bazel
  modules/boost.program_options/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.program_options/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.program_options/1.88.0.bcr.1/overlay/test/BUILD.bazel
  modules/boost.program_options/1.88.0.bcr.1/overlay/test/MODULE.bazel
  modules/boost.program_options/1.88.0.bcr.1/presubmit.yml
  modules/boost.program_options/1.88.0.bcr.1/source.json
  modules/boost.program_options/metadata.json
  modules/boost.test/1.88.0.bcr.1/MODULE.bazel
  modules/boost.test/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.test/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.test/1.88.0.bcr.1/overlay/test/BUILD.bazel
  modules/boost.test/1.88.0.bcr.1/overlay/test/MODULE.bazel
  modules/boost.test/1.88.0.bcr.1/overlay/test/baseline-outputs/BUILD.bazel
  modules/boost.test/1.88.0.bcr.1/overlay/test/execution_monitor-ts/BUILD.bazel
  modules/boost.test/1.88.0.bcr.1/overlay/test/framework-ts/BUILD.bazel
  modules/boost.test/1.88.0.bcr.1/overlay/test/multithreading-ts/BUILD.bazel
  modules/boost.test/1.88.0.bcr.1/overlay/test/smoke-ts/BUILD.bazel
  modules/boost.test/1.88.0.bcr.1/presubmit.yml
  modules/boost.test/1.88.0.bcr.1/source.json
  modules/boost.test/metadata.json
  modules/boost.thread/1.88.0.bcr.1/MODULE.bazel
  modules/boost.thread/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.thread/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.thread/1.88.0.bcr.1/overlay/test/BUILD.bazel
  modules/boost.thread/1.88.0.bcr.1/overlay/test/MODULE.bazel
  modules/boost.thread/1.88.0.bcr.1/patches/fix_assert.patch
  modules/boost.thread/1.88.0.bcr.1/presubmit.yml
  modules/boost.thread/1.88.0.bcr.1/source.json
  modules/boost.thread/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-incompatible-flags-test, skip-compatibility-level-check

#5696 boost.charconv@1.88.0.bcr.1
  modules/boost.charconv/1.88.0.bcr.1/MODULE.bazel
  modules/boost.charconv/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.charconv/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.charconv/1.88.0.bcr.1/overlay/test/BUILD.bazel
  modules/boost.charconv/1.88.0.bcr.1/overlay/test/MODULE.bazel
  modules/boost.charconv/1.88.0.bcr.1/patches/patch.diff
  modules/boost.charconv/1.88.0.bcr.1/presubmit.yml
  modules/boost.charconv/1.88.0.bcr.1/source.json
  modules/boost.charconv/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5698 boost.url@1.88.0.bcr.1
  modules/boost.url/1.88.0.bcr.1/MODULE.bazel
  modules/boost.url/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.url/1.88.0.bcr.1/overlay/MODULE.bazel
  modules/boost.url/1.88.0.bcr.1/presubmit.yml
  modules/boost.url/1.88.0.bcr.1/source.json
  modules/boost.url/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5699 Fix boost.beast@1.88.0.bcr.1
  modules/boost.beast/1.88.0.bcr.1/MODULE.bazel
  modules/boost.beast/1.88.0.bcr.1/overlay/BUILD.bazel
  modules/boost.beast/1.88.0.bcr.1/source.json
Labels: skip-url-stability-check, USE-WITH-CAUTION-skip-modification-check, skip-compatibility-level-check

#5706 boost.variant2@1.89.0
  modules/boost.variant2/1.89.0/MODULE.bazel
  modules/boost.variant2/1.89.0/overlay/BUILD.bazel
  modules/boost.variant2/1.89.0/overlay/MODULE.bazel
  modules/boost.variant2/1.89.0/presubmit.yml
  modules/boost.variant2/1.89.0/source.json
  modules/boost.variant2/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5705 boost.type_traits@1.89.0
  modules/boost.type_traits/1.89.0/MODULE.bazel
  modules/boost.type_traits/1.89.0/overlay/BUILD.bazel
  modules/boost.type_traits/1.89.0/overlay/MODULE.bazel
  modules/boost.type_traits/1.89.0/presubmit.yml
  modules/boost.type_traits/1.89.0/source.json
  modules/boost.type_traits/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5707 boost.throw_exception@1.89.0
  modules/boost.throw_exception/1.89.0/MODULE.bazel
  modules/boost.throw_exception/1.89.0/overlay/BUILD.bazel
  modules/boost.throw_exception/1.89.0/overlay/MODULE.bazel
  modules/boost.throw_exception/1.89.0/presubmit.yml
  modules/boost.throw_exception/1.89.0/source.json
  modules/boost.throw_exception/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5708 boost.array@1.89.0
  modules/boost.array/1.89.0/MODULE.bazel
  modules/boost.array/1.89.0/overlay/BUILD.bazel
  modules/boost.array/1.89.0/overlay/MODULE.bazel
  modules/boost.array/1.89.0/presubmit.yml
  modules/boost.array/1.89.0/source.json
  modules/boost.array/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5711 boost.winapi@1.89.0
  modules/boost.winapi/1.89.0/MODULE.bazel
  modules/boost.winapi/1.89.0/overlay/BUILD.bazel
  modules/boost.winapi/1.89.0/overlay/MODULE.bazel
  modules/boost.winapi/1.89.0/presubmit.yml
  modules/boost.winapi/1.89.0/source.json
  modules/boost.winapi/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5710 boost.core@1.89.0
  modules/boost.core/1.89.0/MODULE.bazel
  modules/boost.core/1.89.0/overlay/BUILD.bazel
  modules/boost.core/1.89.0/overlay/MODULE.bazel
  modules/boost.core/1.89.0/presubmit.yml
  modules/boost.core/1.89.0/source.json
  modules/boost.core/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5713 boost.align@1.89.0
  modules/boost.align/1.89.0/MODULE.bazel
  modules/boost.align/1.89.0/overlay/BUILD.bazel
  modules/boost.align/1.89.0/overlay/MODULE.bazel
  modules/boost.align/1.89.0/presubmit.yml
  modules/boost.align/1.89.0/source.json
  modules/boost.align/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check

#5712 boost.uuid@1.89.0
  modules/boost.uuid/1.89.0/MODULE.bazel
  modules/boost.uuid/1.89.0/overlay/BUILD.bazel
  modules/boost.uuid/1.89.0/overlay/MODULE.bazel
  modules/boost.uuid/1.89.0/presubmit.yml
  modules/boost.uuid/1.89.0/source.json
  modules/boost.uuid/metadata.json
Labels: skip-url-stability-check, skip-compatibility-level-check
