Repository bazelbuild/bazel-central-registry, pull requests merged in 2025-04, with the labels that each got.

#4202 Added saru
  modules/saru/0.0.0-20130617092049-c11c375fefd7/MODULE.bazel
  modules/saru/0.0.0-20130617092049-c11c375fefd7/patches/diff.patch
  modules/saru/0.0.0-20130617092049-c11c375fefd7/presubmit.yml
  modules/saru/0.0.0-20130617092049-c11c375fefd7/source.json
  modules/saru/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4205 Add pybind11_protobuf 0.0.0-20250210-f02a2b7
  modules/pybind11_protobuf/0.0.0-20250210-f02a2b7/MODULE.bazel
  modules/pybind11_protobuf/0.0.0-20250210-f02a2b7/patches/module-dot-bazel-dev-dependency.patch
  modules/pybind11_protobuf/0.0.0-20250210-f02a2b7/patches/module-dot-bazel-pypi-hub-name.patch
  modules/pybind11_protobuf/0.0.0-20250210-f02a2b7/patches/module-dot-bazel-version.patch
  modules/pybind11_protobuf/0.0.0-20250210-f02a2b7/presubmit.yml
  modules/pybind11_protobuf/0.0.0-20250210-f02a2b7/source.json
  modules/pybind11_protobuf/metadata.json
Labels: skip-url-stability-check

#4194 Add libcap 2.27
  modules/libcap/2.27/MODULE.bazel
  modules/libcap/2.27/overlay/BUILD.bazel
  modules/libcap/2.27/overlay/MODULE.bazel
  modules/libcap/2.27/presubmit.yml
  modules/libcap/2.27/source.json
  modules/libcap/metadata.json
Labels: presubmit-auto-run

#4212 prodrive_technologies_bazel_latex@1.2.2-20250401-c552d5b
  modules/prodrive_technologies_bazel_latex/1.2.2-20250401-c552d5b/MODULE.bazel
  modules/prodrive_technologies_bazel_latex/1.2.2-20250401-c552d5b/overlay/MODULE.bazel
  modules/prodrive_technologies_bazel_latex/1.2.2-20250401-c552d5b/presubmit.yml
  modules/prodrive_technologies_bazel_latex/1.2.2-20250401-c552d5b/source.json
  modules/prodrive_technologies_bazel_latex/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4193 add libxml2-go module
  modules/libxml2-go/0.0.0-20250331-c934e3f/MODULE.bazel
  modules/libxml2-go/0.0.0-20250331-c934e3f/overlay/BUILD.bazel
  modules/libxml2-go/0.0.0-20250331-c934e3f/overlay/MODULE.bazel
  modules/libxml2-go/0.0.0-20250331-c934e3f/overlay/clib/BUILD.bazel
  modules/libxml2-go/0.0.0-20250331-c934e3f/overlay/dom/BUILD.bazel
  modules/libxml2-go/0.0.0-20250331-c934e3f/overlay/internal/cmd/genwrapnode/BUILD.bazel
  modules/libxml2-go/0.0.0-20250331-c934e3f/overlay/internal/debug/BUILD.bazel
  modules/libxml2-go/0.0.0-20250331-c934e3f/overlay/internal/option/BUILD.bazel
  modules/libxml2-go/0.0.0-20250331-c934e3f/overlay/parser/BUILD.bazel
  modules/libxml2-go/0.0.0-20250331-c934e3f/overlay/types/BUILD.bazel
  modules/libxml2-go/0.0.0-20250331-c934e3f/overlay/xpath/BUILD.bazel
  modules/libxml2-go/0.0.0-20250331-c934e3f/overlay/xsd/BUILD.bazel
  modules/libxml2-go/0.0.0-20250331-c934e3f/presubmit.yml
  modules/libxml2-go/0.0.0-20250331-c934e3f/source.json
  modules/libxml2-go/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4201 Added json11
  modules/json11/1.0.1-0.20200325232727-2df9473fb360/MODULE.bazel
  modules/json11/1.0.1-0.20200325232727-2df9473fb360/patches/diff.patch
  modules/json11/1.0.1-0.20200325232727-2df9473fb360/presubmit.yml
  modules/json11/1.0.1-0.20200325232727-2df9473fb360/source.json
  modules/json11/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4203 Added fastjson
  modules/fastjson/0.0.0-20120701063936-485f994a61a6/MODULE.bazel
  modules/fastjson/0.0.0-20120701063936-485f994a61a6/patches/diff.patch
  modules/fastjson/0.0.0-20120701063936-485f994a61a6/presubmit.yml
  modules/fastjson/0.0.0-20120701063936-485f994a61a6/source.json
  modules/fastjson/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4216 Added unittest-cpp
  modules/unittest-cpp/2.0.1-0.20201113052638-10e50ad70c69/MODULE.bazel
  modules/unittest-cpp/2.0.1-0.20201113052638-10e50ad70c69/patches/diff.patch
  modules/unittest-cpp/2.0.1-0.20201113052638-10e50ad70c69/presubmit.yml
  modules/unittest-cpp/2.0.1-0.20201113052638-10e50ad70c69/source.json
  modules/unittest-cpp/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4217 Added sajson
  modules/sajson/0.0.0-20210905003841-ec644013e34f/MODULE.bazel
  modules/sajson/0.0.0-20210905003841-ec644013e34f/patches/diff.patch
  modules/sajson/0.0.0-20210905003841-ec644013e34f/presubmit.yml
  modules/sajson/0.0.0-20210905003841-ec644013e34f/source.json
  modules/sajson/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4221 Added jsmn
  modules/jsmn/1.1.1-0.20211014115138-25647e692c79/MODULE.bazel
  modules/jsmn/1.1.1-0.20211014115138-25647e692c79/patches/diff.patch
  modules/jsmn/1.1.1-0.20211014115138-25647e692c79/presubmit.yml
  modules/jsmn/1.1.1-0.20211014115138-25647e692c79/source.json
  modules/jsmn/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4218 Added cjson
  modules/cjson/1.7.19-0.20240923110858-12c4bf1986c2/MODULE.bazel
  modules/cjson/1.7.19-0.20240923110858-12c4bf1986c2/patches/diff.patch
  modules/cjson/1.7.19-0.20240923110858-12c4bf1986c2/presubmit.yml
  modules/cjson/1.7.19-0.20240923110858-12c4bf1986c2/source.json
  modules/cjson/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4222 Add cel-spec@0.23.0
  modules/cel-spec/0.23.0/MODULE.bazel
  modules/cel-spec/0.23.0/patches/module_dot_bazel.patch
  modules/cel-spec/0.23.0/presubmit.yml
  modules/cel-spec/0.23.0/source.json
  modules/cel-spec/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4146 Publish aspect_rules_lint@1.3.1
  modules/aspect_rules_lint/1.3.1/MODULE.bazel
  modules/aspect_rules_lint/1.3.1/attestations.json_
  modules/aspect_rules_lint/1.3.1/patches/module_dot_bazel_version.patch
  modules/aspect_rules_lint/1.3.1/presubmit.yml
  modules/aspect_rules_lint/1.3.1/source.json
  modules/aspect_rules_lint/metadata.json
Labels: presubmit-auto-run

#4233 rules_libusb: Simplify URLs
  modules/rules_libusb/0.1.0-rc1/source.json
  modules/rules_libusb/0.1.0-rc2/source.json
  modules/rules_libusb/metadata.json
Labels: presubmit-auto-run, USE-WITH-CAUTION-skip-modification-check

#4250 ncurses@6.4.20221231.bcr.6
  modules/ncurses/6.4.20221231.bcr.6/MODULE.bazel
  modules/ncurses/6.4.20221231.bcr.6/overlay/BUILD.bazel
  modules/ncurses/6.4.20221231.bcr.6/overlay/MODULE.bazel
  modules/ncurses/6.4.20221231.bcr.6/overlay/bazel/BUILD.bazel
  modules/ncurses/6.4.20221231.bcr.6/overlay/bazel/automake_substitution.bzl
  modules/ncurses/6.4.20221231.bcr.6/overlay/bazel/pseudo_configure.bzl
  modules/ncurses/6.4.20221231.bcr.6/patches/change_mode.patch
  modules/ncurses/6.4.20221231.bcr.6/patches/fail_on_error.patch
  modules/ncurses/6.4.20221231.bcr.6/presubmit.yml
  modules/ncurses/6.4.20221231.bcr.6/source.json
  modules/ncurses/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4255 rules_venv@0.3.0, rules_req_compile@1.0.0rc37
  modules/rules_req_compile/1.0.0rc37/MODULE.bazel
  modules/rules_req_compile/1.0.0rc37/presubmit.yml
  modules/rules_req_compile/1.0.0rc37/source.json
  modules/rules_req_compile/metadata.json
  modules/rules_venv/0.3.0/MODULE.bazel
  modules/rules_venv/0.3.0/presubmit.yml
  modules/rules_venv/0.3.0/source.json
  modules/rules_venv/metadata.json
Labels: presubmit-auto-run

#4258 [s2geometry] Added a flag to build with `openssl` instead of `boringssl`.
  modules/s2geometry/0.12.0.bcr.2/MODULE.bazel
  modules/s2geometry/0.12.0.bcr.2/patches/BUILD.bazel.patch
  modules/s2geometry/0.12.0.bcr.2/patches/MODULE.bazel.patch
  modules/s2geometry/0.12.0.bcr.2/patches/s2_util_math_exactfloat_BUILD.patch
  modules/s2geometry/0.12.0.bcr.2/presubmit.yml
  modules/s2geometry/0.12.0.bcr.2/source.json
  modules/s2geometry/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4260 boost.process: add version 1.87.0
  modules/boost.process/1.87.0/MODULE.bazel
  modules/boost.process/1.87.0/overlay/BUILD.bazel
  modules/boost.process/1.87.0/overlay/MODULE.bazel
  modules/boost.process/1.87.0/presubmit.yml
  modules/boost.process/1.87.0/source.json
  modules/boost.process/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4281 gutil-20250409
  modules/gutil/20250409.0/MODULE.bazel
  modules/gutil/20250409.0/presubmit.yml
  modules/gutil/20250409.0/source.json
  modules/gutil/metadata.json
Labels: presubmit-auto-run

#4261 boost.json: add version 1.87.0
  modules/boost.json/1.87.0/MODULE.bazel
  modules/boost.json/1.87.0/overlay/BUILD.bazel
  modules/boost.json/1.87.0/overlay/MODULE.bazel
  modules/boost.json/1.87.0/overlay/boost.json.cpp
  modules/boost.json/1.87.0/presubmit.yml
  modules/boost.json/1.87.0/source.json
  modules/boost.json/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4275 Add SwiftSyntax 601.0.1 to BCR
  modules/swift-syntax/601.0.1/MODULE.bazel
  modules/swift-syntax/601.0.1/patches/build_dot_bazel.patch
  modules/swift-syntax/601.0.1/patches/module_dot_bazel.patch
  modules/swift-syntax/601.0.1/presubmit.yml
  modules/swift-syntax/601.0.1/source.json
  modules/swift-syntax/metadata.json
Labels: skip-url-stability-check

#4284 Add portable_cc_toolchain
  modules/portable_cc_toolchain/2025.04.10/MODULE.bazel
  modules/portable_cc_toolchain/2025.04.10/patches/module_dot_bazel_version.patch
  modules/portable_cc_toolchain/2025.04.10/presubmit.yml
  modules/portable_cc_toolchain/2025.04.10/source.json
  modules/portable_cc_toolchain/metadata.json
Labels: presubmit-auto-run

#4145 feat: osqp@1.0
  modules/osqp/1.0.0/MODULE.bazel
  modules/osqp/1.0.0/overlay/BUILD.bazel
  modules/osqp/1.0.0/overlay/MODULE.bazel
  modules/osqp/1.0.0/overlay/tests/BUILD.bazel
  modules/osqp/1.0.0/overlay/tests/MODULE.bazel
  modules/osqp/1.0.0/overlay/tests/requirements.in
  modules/osqp/1.0.0/overlay/tests/requirements_lock.txt
  modules/osqp/1.0.0/patches/test.patch
  modules/osqp/1.0.0/presubmit.yml
  modules/osqp/1.0.0/source.json
  modules/osqp/metadata.json
  modules/qdldl/0.1.8/MODULE.bazel
  modules/qdldl/0.1.8/overlay/BUILD.bazel
  modules/qdldl/0.1.8/overlay/MODULE.bazel
  modules/qdldl/0.1.8/overlay/tests/BUILD.bazel
  modules/qdldl/0.1.8/overlay/tests/MODULE.bazel
  modules/qdldl/0.1.8/presubmit.yml
  modules/qdldl/0.1.8/source.json
  modules/qdldl/metadata.json
  modules/suitesparse/7.10.1/MODULE.bazel
  modules/suitesparse/7.10.1/overlay/BUILD.bazel
  modules/suitesparse/7.10.1/overlay/MODULE.bazel
  modules/suitesparse/7.10.1/presubmit.yml
  modules/suitesparse/7.10.1/source.json
  modules/suitesparse/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4295 cli11@2.5.0
  modules/cli11/2.5.0/MODULE.bazel
  modules/cli11/2.5.0/patches/module_dot_bazel.patch
  modules/cli11/2.5.0/presubmit.yml
  modules/cli11/2.5.0/source.json
  modules/cli11/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4293 Add toybox 0.8.12 to BCR
  modules/toybox/0.8.12/MODULE.bazel
  modules/toybox/0.8.12/overlay/BUILD
  modules/toybox/0.8.12/overlay/MODULE.bazel
  modules/toybox/0.8.12/overlay/generated/config.h
  modules/toybox/0.8.12/overlay/generated/flags.h
  modules/toybox/0.8.12/overlay/generated/globals.h
  modules/toybox/0.8.12/overlay/generated/help.h
  modules/toybox/0.8.12/overlay/generated/newtoys.h
  modules/toybox/0.8.12/overlay/generated/tags.h
  modules/toybox/0.8.12/overlay/generated/zhelp.h
  modules/toybox/0.8.12/presubmit.yml
  modules/toybox/0.8.12/source.json
  modules/toybox/metadata.json
Labels: skip-url-stability-check

#4304 feat: add osqp-eigen
  modules/osqp-eigen/0.10.0/MODULE.bazel
  modules/osqp-eigen/0.10.0/overlay/BUILD.bazel
  modules/osqp-eigen/0.10.0/overlay/MODULE.bazel
  modules/osqp-eigen/0.10.0/overlay/tests/BUILD.bazel
  modules/osqp-eigen/0.10.0/overlay/tests/MODULE.bazel
  modules/osqp-eigen/0.10.0/presubmit.yml
  modules/osqp-eigen/0.10.0/source.json
  modules/osqp-eigen/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4306 Publish aspect_rules_lint@1.3.4
  modules/aspect_rules_lint/1.3.4/MODULE.bazel
  modules/aspect_rules_lint/1.3.4/attestations.json
  modules/aspect_rules_lint/1.3.4/patches/module_dot_bazel_version.patch
  modules/aspect_rules_lint/1.3.4/presubmit.yml
  modules/aspect_rules_lint/1.3.4/source.json
  modules/aspect_rules_lint/metadata.json
Labels: skip-incompatible-flags-test

#4310 gzgz_rules_sass@1.0.2
  modules/gzgz_rules_sass/1.0.2/MODULE.bazel
  modules/gzgz_rules_sass/1.0.2/presubmit.yml
  modules/gzgz_rules_sass/1.0.2/source.json
  modules/gzgz_rules_sass/metadata.json
Labels: presubmit-auto-run

#4296 onetbb@2022.1.0
  modules/onetbb/2022.1.0/MODULE.bazel
  modules/onetbb/2022.1.0/patches/module_dot_bazel.patch
  modules/onetbb/2022.1.0/presubmit.yml
  modules/onetbb/2022.1.0/source.json
  modules/onetbb/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4308 [libexpat] Added `libexpat`.
  modules/libexpat/2.7.1/MODULE.bazel
  modules/libexpat/2.7.1/overlay/BUILD.bazel
  modules/libexpat/2.7.1/overlay/MODULE.bazel
  modules/libexpat/2.7.1/presubmit.yml
  modules/libexpat/2.7.1/source.json
  modules/libexpat/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4322 librdkafka@2.3.0
  modules/librdkafka/2.3.0/MODULE.bazel
  modules/librdkafka/2.3.0/overlay/BUILD.bazel
  modules/librdkafka/2.3.0/overlay/MODULE.bazel
  modules/librdkafka/2.3.0/overlay/test/MODULE.bazel
  modules/librdkafka/2.3.0/patches/src-cpp_rdkafkacpp_int.h.patch
  modules/librdkafka/2.3.0/patches/src_rd.h.patch
  modules/librdkafka/2.3.0/patches/src_tinycthread.h.patch
  modules/librdkafka/2.3.0/patches/tests_0113-cooperative_rebalance.cpp.patch
  modules/librdkafka/2.3.0/patches/tests_testcpp.h.patch
  modules/librdkafka/2.3.0/presubmit.yml
  modules/librdkafka/2.3.0/source.json
  modules/librdkafka/metadata.json
Labels: skip-url-stability-check

#4326 gawk@5.3.2
  modules/gawk/5.3.2/MODULE.bazel
  modules/gawk/5.3.2/overlay/BUILD.bazel
  modules/gawk/5.3.2/overlay/MODULE.bazel
  modules/gawk/5.3.2/overlay/posix/config_darwin.h
  modules/gawk/5.3.2/overlay/posix/config_linux.h
  modules/gawk/5.3.2/overlay/test/BUILD.bazel
  modules/gawk/5.3.2/presubmit.yml
  modules/gawk/5.3.2/source.json
  modules/gawk/metadata.json
Labels: presubmit-auto-run

#4328 librdkafka@2.3.0.bcr1, librdkafka@2.8.0.bcr.2
  modules/librdkafka/2.3.0.bcr.1/MODULE.bazel
  modules/librdkafka/2.3.0.bcr.1/overlay/BUILD.bazel
  modules/librdkafka/2.3.0.bcr.1/overlay/MODULE.bazel
  modules/librdkafka/2.3.0.bcr.1/overlay/test/MODULE.bazel
  modules/librdkafka/2.3.0.bcr.1/patches/src-cpp_rdkafkacpp_int.h.patch
  modules/librdkafka/2.3.0.bcr.1/patches/src_rd.h.patch
  modules/librdkafka/2.3.0.bcr.1/patches/src_tinycthread.h.patch
  modules/librdkafka/2.3.0.bcr.1/patches/tests_0113-cooperative_rebalance.cpp.patch
  modules/librdkafka/2.3.0.bcr.1/patches/tests_testcpp.h.patch
  modules/librdkafka/2.3.0.bcr.1/presubmit.yml
  modules/librdkafka/2.3.0.bcr.1/source.json
  modules/librdkafka/2.8.0.bcr.2/MODULE.bazel
  modules/librdkafka/2.8.0.bcr.2/overlay/BUILD.bazel
  modules/librdkafka/2.8.0.bcr.2/overlay/MODULE.bazel
  modules/librdkafka/2.8.0.bcr.2/overlay/test/MODULE.bazel
  modules/librdkafka/2.8.0.bcr.2/patches/src-cpp_rdkafkacpp_int.h.patch
  modules/librdkafka/2.8.0.bcr.2/patches/src_rd.h.patch
  modules/librdkafka/2.8.0.bcr.2/patches/src_tinycthread.h.patch
  modules/librdkafka/2.8.0.bcr.2/patches/tests_testcpp.h.patch
  modules/librdkafka/2.8.0.bcr.2/presubmit.yml
  modules/librdkafka/2.8.0.bcr.2/source.json
  modules/librdkafka/metadata.json
Labels: skip-url-stability-check

#4311 Catch2@3.8.1
  modules/catch2/3.8.1/MODULE.bazel
  modules/catch2/3.8.1/overlay/MODULE.bazel
  modules/catch2/3.8.1/presubmit.yml
  modules/catch2/3.8.1/source.json
  modules/catch2/metadata.json
Labels: skip-url-stability-check

#4334 [boost.test] Split the library targets into a header-only version and a sources version.
  modules/boost.test/1.87.0.bcr.1/MODULE.bazel
  modules/boost.test/1.87.0.bcr.1/overlay/BUILD.bazel
  modules/boost.test/1.87.0.bcr.1/overlay/MODULE.bazel
  modules/boost.test/1.87.0.bcr.1/overlay/test/baseline-outputs/BUILD.bazel
  modules/boost.test/1.87.0.bcr.1/overlay/test/execution_monitor-ts/BUILD.bazel
  modules/boost.test/1.87.0.bcr.1/overlay/test/framework-ts/BUILD.bazel
  modules/boost.test/1.87.0.bcr.1/overlay/test/multithreading-ts/BUILD.bazel
  modules/boost.test/1.87.0.bcr.1/overlay/test/smoke-ts/BUILD.bazel
  modules/boost.test/1.87.0.bcr.1/presubmit.yml
  modules/boost.test/1.87.0.bcr.1/source.json
  modules/boost.test/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4344 feat: update suitesparse 7.10.1 and yank previous one
  modules/suitesparse/7.10.1.bcr.1/MODULE.bazel
  modules/suitesparse/7.10.1.bcr.1/overlay/BUILD.bazel
  modules/suitesparse/7.10.1.bcr.1/overlay/MODULE.bazel
  modules/suitesparse/7.10.1.bcr.1/presubmit.yml
  modules/suitesparse/7.10.1.bcr.1/source.json
  modules/suitesparse/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-compatibility-level-check

#4256 Add libmagic@5.46
  modules/libmagic/5.46/MODULE.bazel
  modules/libmagic/5.46/overlay/BUILD.bazel
  modules/libmagic/5.46/overlay/MODULE.bazel
  modules/libmagic/5.46/presubmit.yml
  modules/libmagic/5.46/source.json
  modules/libmagic/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4350 Add release 0.1.0 of rules_abs
  modules/rules_abs/0.1.0/MODULE.bazel
  modules/rules_abs/0.1.0/presubmit.yml
  modules/rules_abs/0.1.0/source.json
  modules/rules_abs/metadata.json
Labels: presubmit-auto-run

#4312 [exempi] Added `exempi`.
  modules/exempi/2.6.6/MODULE.bazel
  modules/exempi/2.6.6/README.md
  modules/exempi/2.6.6/overlay/BUILD.bazel
  modules/exempi/2.6.6/overlay/MODULE.bazel
  modules/exempi/2.6.6/overlay/XMPCore/source/BUILD.bazel
  modules/exempi/2.6.6/overlay/XMPFiles/source/BUILD.bazel
  modules/exempi/2.6.6/overlay/XMPFiles/source/FileHandlers/BUILD.bazel
  modules/exempi/2.6.6/overlay/XMPFiles/source/FormatSupport/BUILD.bazel
  modules/exempi/2.6.6/overlay/XMPFiles/source/NativeMetadataSupport/BUILD.bazel
  modules/exempi/2.6.6/overlay/XMPFiles/source/PluginHandler/BUILD.bazel
  modules/exempi/2.6.6/overlay/XMPFilesPlugins/PluginTemplate/source/BUILD.bazel
  modules/exempi/2.6.6/overlay/XMPFilesPlugins/api/source/BUILD.bazel
  modules/exempi/2.6.6/overlay/build/BUILD.bazel
  modules/exempi/2.6.6/overlay/exempi/BUILD.bazel
  modules/exempi/2.6.6/overlay/exempi/gen_test_targets.bzl
  modules/exempi/2.6.6/overlay/public/include/BUILD.bazel
  modules/exempi/2.6.6/overlay/public/include/client-glue/BUILD.bazel
  modules/exempi/2.6.6/overlay/samples/testfiles/BUILD.bazel
  modules/exempi/2.6.6/overlay/source/BUILD.bazel
  modules/exempi/2.6.6/overlay/third-party/expat/BUILD.bazel
  modules/exempi/2.6.6/overlay/third-party/zlib/BUILD.bazel
  modules/exempi/2.6.6/overlay/third-party/zuid/interfaces/BUILD.bazel
  modules/exempi/2.6.6/patches/exempi_main.cpp.patch
  modules/exempi/2.6.6/patches/exempi_tests_test-adobesdk.cpp.patch
  modules/exempi/2.6.6/patches/exempi_xmp++.hpp.patch
  modules/exempi/2.6.6/presubmit.yml
  modules/exempi/2.6.6/source.json
  modules/exempi/metadata.json
Labels: presubmit-auto-run

#4360 [jemalloc] Added support for building with `prof`.
  modules/jemalloc/5.3.0-bcr.alpha.3/MODULE.bazel
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/MODULE.bazel
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/examples/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/examples/MODULE.bazel
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/examples/test_api.c
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/examples/test_basic.c
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/include/jemalloc/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/include/jemalloc/internal/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/include/jemalloc/internal/private_namespace.bzl
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/include/jemalloc/internal/public_symbols.bzl
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/settings/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/settings/compiler/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/settings/config.bzl
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/settings/flags/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/settings/platform/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/test/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/test/integration/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/test/unit/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/tools/BUILD.bazel
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/tools/autoconf.bzl
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/tools/cc.bzl
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/tools/transition.bzl
  modules/jemalloc/5.3.0-bcr.alpha.3/overlay/tools/version.bzl
  modules/jemalloc/5.3.0-bcr.alpha.3/patches/skipped-tests-exit-0.patch
  modules/jemalloc/5.3.0-bcr.alpha.3/presubmit.yml
  modules/jemalloc/5.3.0-bcr.alpha.3/source.json
  modules/jemalloc/metadata.json
Labels: presubmit-auto-run

#4365 readline@8.2
  modules/readline/8.2/MODULE.bazel
  modules/readline/8.2/overlay/BUILD.bazel
  modules/readline/8.2/overlay/MODULE.bazel
  modules/readline/8.2/presubmit.yml
  modules/readline/8.2/source.json
  modules/readline/metadata.json
Labels: presubmit-auto-run

#4359 nasm@2.16.03.bcr.1
  modules/nasm/2.14.02.bcr.1/MODULE.bazel
  modules/nasm/2.14.02.bcr.1/patches/add_build_file.patch
  modules/nasm/2.14.02.bcr.1/patches/add_config_h.patch
  modules/nasm/2.14.02.bcr.1/patches/add_module_dot_bazel.patch
  modules/nasm/2.14.02.bcr.1/presubmit.yml
  modules/nasm/2.14.02.bcr.1/source.json
  modules/nasm/2.16.03.bcr.1/MODULE.bazel
  modules/nasm/2.16.03.bcr.1/overlay/BUILD.bazel
  modules/nasm/2.16.03.bcr.1/overlay/MODULE.bazel
  modules/nasm/2.16.03.bcr.1/overlay/config_linux.h
  modules/nasm/2.16.03.bcr.1/overlay/config_macos.h
  modules/nasm/2.16.03.bcr.1/presubmit.yml
  modules/nasm/2.16.03.bcr.1/source.json
  modules/nasm/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4371 Add nanobind_bazel v2.7.0
  modules/nanobind_bazel/2.7.0/MODULE.bazel
  modules/nanobind_bazel/2.7.0/presubmit.yml
  modules/nanobind_bazel/2.7.0/source.json
  modules/nanobind_bazel/metadata.json
Labels: skip-incompatible-flags-test

#4374 rules_perl@0.3.0
  modules/rules_perl/0.3.0/MODULE.bazel
  modules/rules_perl/0.3.0/patches/module_dot_bazel.patch
  modules/rules_perl/0.3.0/presubmit.yml
  modules/rules_perl/0.3.0/source.json
  modules/rules_perl/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4377 Publish rules_oci@2.2.6
  modules/rules_oci/2.2.6/MODULE.bazel
  modules/rules_oci/2.2.6/attestations.json
  modules/rules_oci/2.2.6/patches/module_dot_bazel_version.patch
  modules/rules_oci/2.2.6/presubmit.yml
  modules/rules_oci/2.2.6/source.json
  modules/rules_oci/metadata.json
Labels: presubmit-auto-run

#4364 eigen@3.4.0.bcr.3
  modules/eigen/3.4.0.bcr.3/MODULE.bazel
  modules/eigen/3.4.0.bcr.3/overlay/BUILD.bazel
  modules/eigen/3.4.0.bcr.3/overlay/MODULE.bazel
  modules/eigen/3.4.0.bcr.3/presubmit.yml
  modules/eigen/3.4.0.bcr.3/source.json
  modules/eigen/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4368 abc@0.0.0-20250408-yosyshq
  modules/abc/0.0.0-20250408-yosyshq/MODULE.bazel
  modules/abc/0.0.0-20250408-yosyshq/overlay/BUILD.bazel
  modules/abc/0.0.0-20250408-yosyshq/overlay/MODULE.bazel
  modules/abc/0.0.0-20250408-yosyshq/presubmit.yml
  modules/abc/0.0.0-20250408-yosyshq/source.json
  modules/abc/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4387 eigen@3.4.0.bcr.1.1
  modules/eigen/3.4.0.bcr.1.1/MODULE.bazel
  modules/eigen/3.4.0.bcr.1.1/patches/add_build_file.patch
  modules/eigen/3.4.0.bcr.1.1/patches/module_dot_bazel.patch
  modules/eigen/3.4.0.bcr.1.1/presubmit.yml
  modules/eigen/3.4.0.bcr.1.1/source.json
  modules/eigen/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4366 Fix for the linker dependency the link library stdc++ in FindThirdpartyBoost.cmake
  modules/fastdds/3.1.1.bcr.1/MODULE.bazel
  modules/fastdds/3.1.1.bcr.1/patches/add_build_file.patch
  modules/fastdds/3.1.1.bcr.1/patches/add_findfastcdr_cmake.patch
  modules/fastdds/3.1.1.bcr.1/patches/add_findfoonathan_memory_cmake.patch
  modules/fastdds/3.1.1.bcr.1/patches/fix_findthirdpartyboost_cmake.patch
  modules/fastdds/3.1.1.bcr.1/patches/module_dot_bazel.patch
  modules/fastdds/3.1.1.bcr.1/presubmit.yml
  modules/fastdds/3.1.1.bcr.1/source.json
  modules/fastdds/metadata.json
Labels: skip-url-stability-check, skip-incompatible-flags-test

#4401 Add grpc-gateway
  modules/grpc_ecosystem_grpc_gateway/2.26.3/MODULE.bazel
  modules/grpc_ecosystem_grpc_gateway/2.26.3/patches/module_dot_bazel.patch
  modules/grpc_ecosystem_grpc_gateway/2.26.3/presubmit.yml
  modules/grpc_ecosystem_grpc_gateway/2.26.3/source.json
  modules/grpc_ecosystem_grpc_gateway/metadata.json
Labels: skip-url-stability-check

#4409 Add grpc-gateway 2.26.1
  modules/grpc_ecosystem_grpc_gateway/2.26.1/MODULE.bazel
  modules/grpc_ecosystem_grpc_gateway/2.26.1/patches/module_dot_bazel.patch
  modules/grpc_ecosystem_grpc_gateway/2.26.1/presubmit.yml
  modules/grpc_ecosystem_grpc_gateway/2.26.1/source.json
  modules/grpc_ecosystem_grpc_gateway/metadata.json
Labels: skip-url-stability-check, skip-incompatible-flags-test

#4416 Publish toolchains_protoc@0.4.0
  modules/toolchains_protoc/0.4.0/MODULE.bazel
  modules/toolchains_protoc/0.4.0/attestations.json
  modules/toolchains_protoc/0.4.0/patches/module_dot_bazel_version.patch
  modules/toolchains_protoc/0.4.0/presubmit.yml
  modules/toolchains_protoc/0.4.0/source.json
  modules/toolchains_protoc/metadata.json
Labels: skip-incompatible-flags-test

#4431 ncurses: avoid dependency on rules_perl
  modules/ncurses/6.4.20221231.bcr.7/MODULE.bazel
  modules/ncurses/6.4.20221231.bcr.7/overlay/BUILD.bazel
  modules/ncurses/6.4.20221231.bcr.7/overlay/MODULE.bazel
  modules/ncurses/6.4.20221231.bcr.7/overlay/bazel/BUILD.bazel
  modules/ncurses/6.4.20221231.bcr.7/overlay/bazel/automake_substitution.bzl
  modules/ncurses/6.4.20221231.bcr.7/overlay/bazel/pseudo_configure.bzl
  modules/ncurses/6.4.20221231.bcr.7/patches/change_mode.patch
  modules/ncurses/6.4.20221231.bcr.7/patches/fail_on_error.patch
  modules/ncurses/6.4.20221231.bcr.7/presubmit.yml
  modules/ncurses/6.4.20221231.bcr.7/source.json
  modules/ncurses/metadata.json
Labels: skip-url-stability-check

#4440 boost.context@1.87.0.bcr.1
  modules/boost.context/1.87.0.bcr.1/MODULE.bazel
  modules/boost.context/1.87.0.bcr.1/overlay/BUILD.bazel
  modules/boost.context/1.87.0.bcr.1/overlay/MODULE.bazel
  modules/boost.context/1.87.0.bcr.1/presubmit.yml
  modules/boost.context/1.87.0.bcr.1/source.json
  modules/boost.context/metadata.json
Labels: skip-url-stability-check

#4439 boost.container@1.87.0.bcr.2
  modules/boost.container/1.87.0.bcr.2/MODULE.bazel
  modules/boost.container/1.87.0.bcr.2/overlay/BUILD.bazel
  modules/boost.container/1.87.0.bcr.2/overlay/MODULE.bazel
  modules/boost.container/1.87.0.bcr.2/overlay/gen_test_targets.bzl
  modules/boost.container/1.87.0.bcr.2/presubmit.yml
  modules/boost.container/1.87.0.bcr.2/source.json
  modules/boost.container/metadata.json
Labels: skip-url-stability-check

#4449 [rocksdb] Add version 9.11.2
  modules/rocksdb/9.11.2/MODULE.bazel
  modules/rocksdb/9.11.2/README.md
  modules/rocksdb/9.11.2/overlay/BUILD.bazel
  modules/rocksdb/9.11.2/overlay/MODULE.bazel
  modules/rocksdb/9.11.2/overlay/gen_test_targets.bzl
  modules/rocksdb/9.11.2/patches/db_db_io_failure_test.cc.patch
  modules/rocksdb/9.11.2/patches/db_external_sst_file_basic_test.cc.patch
  modules/rocksdb/9.11.2/patches/file_prefetch_test.cc.patch
  modules/rocksdb/9.11.2/patches/table_table_test.cc.patch
  modules/rocksdb/9.11.2/patches/tools_ldb_cmd_test.cc.patch
  modules/rocksdb/9.11.2/presubmit.yml
  modules/rocksdb/9.11.2/source.json
  modules/rocksdb/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4437 sed@4.9
  modules/sed/4.9/MODULE.bazel
  modules/sed/4.9/overlay/BUILD.bazel
  modules/sed/4.9/overlay/MODULE.bazel
  modules/sed/4.9/overlay/config_linux.bzl
  modules/sed/4.9/overlay/config_linux.h
  modules/sed/4.9/overlay/config_macos.bzl
  modules/sed/4.9/overlay/config_macos.h
  modules/sed/4.9/overlay/inline.bat
  modules/sed/4.9/overlay/inline.sh
  modules/sed/4.9/presubmit.yml
  modules/sed/4.9/source.json
  modules/sed/README.md
  modules/sed/metadata.json
Labels: presubmit-auto-run

#4450 bump soplex to 7.1.4
  modules/soplex/7.1.4/MODULE.bazel
  modules/soplex/7.1.4/overlay/BUILD.bazel
  modules/soplex/7.1.4/overlay/MODULE.bazel
  modules/soplex/7.1.4/patches/add_config_dot_h.patch
  modules/soplex/7.1.4/patches/add_git_hash_dot_cpp.patch
  modules/soplex/7.1.4/patches/fmt_dot_hpp.patch
  modules/soplex/7.1.4/patches/spxfileio_dot_h.patch
  modules/soplex/7.1.4/presubmit.yml
  modules/soplex/7.1.4/source.json
  modules/soplex/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4438 libarchive@3.7.9
  modules/libarchive/3.7.9/MODULE.bazel
  modules/libarchive/3.7.9/overlay/.bazelrc
  modules/libarchive/3.7.9/overlay/BUILD.bazel
  modules/libarchive/3.7.9/overlay/MODULE.bazel
  modules/libarchive/3.7.9/overlay/bazel/BUILD.bazel
  modules/libarchive/3.7.9/overlay/bazel/config.bzl
  modules/libarchive/3.7.9/overlay/bazel/libarchive_test.bzl
  modules/libarchive/3.7.9/overlay/cat/BUILD.bazel
  modules/libarchive/3.7.9/overlay/cpio/BUILD.bazel
  modules/libarchive/3.7.9/overlay/libarchive/BUILD.bazel
  modules/libarchive/3.7.9/overlay/libarchive/test/BUILD.bazel
  modules/libarchive/3.7.9/overlay/libarchive_bazel_generic_config.h
  modules/libarchive/3.7.9/overlay/libarchive_bazel_windows_config.h
  modules/libarchive/3.7.9/overlay/libarchive_fe/BUILD.bazel
  modules/libarchive/3.7.9/overlay/tar/BUILD.bazel
  modules/libarchive/3.7.9/overlay/test_utils/BUILD.bazel
  modules/libarchive/3.7.9/overlay/unzip/BUILD.bazel
  modules/libarchive/3.7.9/patches/archive_hmac_private.h.patch
  modules/libarchive/3.7.9/patches/patch_bsdtar.patch
  modules/libarchive/3.7.9/patches/test_common.h.patch
  modules/libarchive/3.7.9/presubmit.yml
  modules/libarchive/3.7.9/source.json
  modules/libarchive/metadata.json
Labels: presubmit-auto-run

#4413 feat: add libx11
  modules/libx11/1.8.12/MODULE.bazel
  modules/libx11/1.8.12/overlay/BUILD.bazel
  modules/libx11/1.8.12/overlay/MODULE.bazel
  modules/libx11/1.8.12/overlay/src/config.h.in
  modules/libx11/1.8.12/presubmit.yml
  modules/libx11/1.8.12/source.json
  modules/libx11/metadata.json
  modules/libxau/1.0.12/MODULE.bazel
  modules/libxau/1.0.12/overlay/BUILD.bazel
  modules/libxau/1.0.12/overlay/MODULE.bazel
  modules/libxau/1.0.12/presubmit.yml
  modules/libxau/1.0.12/source.json
  modules/libxau/metadata.json
  modules/libxcb/1.17.0/MODULE.bazel
  modules/libxcb/1.17.0/overlay/BUILD.bazel
  modules/libxcb/1.17.0/overlay/MODULE.bazel
  modules/libxcb/1.17.0/overlay/src/config.h.in
  modules/libxcb/1.17.0/presubmit.yml
  modules/libxcb/1.17.0/source.json
  modules/libxcb/metadata.json
  modules/libxtrans/1.5.2/MODULE.bazel
  modules/libxtrans/1.5.2/overlay/BUILD.bazel
  modules/libxtrans/1.5.2/overlay/MODULE.bazel
  modules/libxtrans/1.5.2/presubmit.yml
  modules/libxtrans/1.5.2/source.json
  modules/libxtrans/metadata.json
  modules/xcb-proto/1.17.0/MODULE.bazel
  modules/xcb-proto/1.17.0/overlay/BUILD.bazel
  modules/xcb-proto/1.17.0/overlay/MODULE.bazel
  modules/xcb-proto/1.17.0/presubmit.yml
  modules/xcb-proto/1.17.0/source.json
  modules/xcb-proto/metadata.json
  modules/xorgproto/2024.1/MODULE.bazel
  modules/xorgproto/2024.1/overlay/BUILD.bazel
  modules/xorgproto/2024.1/overlay/MODULE.bazel
  modules/xorgproto/2024.1/presubmit.yml
  modules/xorgproto/2024.1/source.json
  modules/xorgproto/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4443 Add opencv 4.11
  modules/opencv/4.11.0/MODULE.bazel
  modules/opencv/4.11.0/overlay/BUILD.bazel
  modules/opencv/4.11.0/overlay/MODULE.bazel
  modules/opencv/4.11.0/overlay/opencv.bzl
  modules/opencv/4.11.0/presubmit.yml
  modules/opencv/4.11.0/source.json
  modules/opencv/README.md
  modules/opencv/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4370 blake3@1.5.4.bcr.1
  modules/blake3/1.5.4.bcr.1/MODULE.bazel
  modules/blake3/1.5.4.bcr.1/overlay/BUILD.bazel
  modules/blake3/1.5.4.bcr.1/overlay/MODULE.bazel
  modules/blake3/1.5.4.bcr.1/overlay/c/BUILD.bazel
  modules/blake3/1.5.4.bcr.1/presubmit.yml
  modules/blake3/1.5.4.bcr.1/source.json
  modules/blake3/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check, skip-incompatible-flags-test

#4452 sed@4.9.bcr.1
  modules/sed/4.9.bcr.1/MODULE.bazel
  modules/sed/4.9.bcr.1/overlay/BUILD.bazel
  modules/sed/4.9.bcr.1/overlay/MODULE.bazel
  modules/sed/4.9.bcr.1/overlay/config_linux.bzl
  modules/sed/4.9.bcr.1/overlay/config_linux.h
  modules/sed/4.9.bcr.1/overlay/config_macos.bzl
  modules/sed/4.9.bcr.1/overlay/config_macos.h
  modules/sed/4.9.bcr.1/overlay/inline.bat
  modules/sed/4.9.bcr.1/overlay/inline.sh
  modules/sed/4.9.bcr.1/presubmit.yml
  modules/sed/4.9.bcr.1/source.json
  modules/sed/metadata.json
Labels: presubmit-auto-run

#4460 Scip 922
  modules/scip/9.2.2/MODULE.bazel
  modules/scip/9.2.2/overlay/BUILD.bazel
  modules/scip/9.2.2/overlay/MODULE.bazel
  modules/scip/9.2.2/patches/add_buildflags_h.patch
  modules/scip/9.2.2/patches/add_config_h.patch
  modules/scip/9.2.2/patches/add_githash_c.patch
  modules/scip/9.2.2/patches/add_scip_export_h.patch
  modules/scip/9.2.2/patches/compute_symmetry_bliss.cpp.patch
  modules/scip/9.2.2/presubmit.yml
  modules/scip/9.2.2/source.json
  modules/scip/metadata.json
Labels: skip-url-stability-check

#4461 effcee@0.0.0-20250222
  modules/effcee/0.0.0-20250222/MODULE.bazel
  modules/effcee/0.0.0-20250222/patches/pr_82.patch
  modules/effcee/0.0.0-20250222/presubmit.yml
  modules/effcee/0.0.0-20250222/source.json
  modules/effcee/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4463 rules_perl@0.4.0
  modules/rules_perl/0.4.0/MODULE.bazel
  modules/rules_perl/0.4.0/patches/module_dot_bazel.patch
  modules/rules_perl/0.4.0/presubmit.yml
  modules/rules_perl/0.4.0/source.json
  modules/rules_perl/metadata.json
Labels: skip-url-stability-check

#4428 rules_pkl@0.7.0
  modules/rules_pkl/0.7.0/MODULE.bazel
  modules/rules_pkl/0.7.0/presubmit.yml
  modules/rules_pkl/0.7.0/source.json
  modules/rules_pkl/metadata.json
Labels: skip-incompatible-flags-test

#4464 readline@8.2.bcr.2
  modules/readline/8.2.bcr.2/MODULE.bazel
  modules/readline/8.2.bcr.2/overlay/BUILD.bazel
  modules/readline/8.2.bcr.2/overlay/MODULE.bazel
  modules/readline/8.2.bcr.2/presubmit.yml
  modules/readline/8.2.bcr.2/source.json
  modules/readline/metadata.json
Labels: presubmit-auto-run

#4468 abc@0.0.0-20250408-yosyshq.bcr.1
  modules/abc/0.0.0-20250408-yosyshq.bcr.1/MODULE.bazel
  modules/abc/0.0.0-20250408-yosyshq.bcr.1/overlay/BUILD.bazel
  modules/abc/0.0.0-20250408-yosyshq.bcr.1/overlay/MODULE.bazel
  modules/abc/0.0.0-20250408-yosyshq.bcr.1/presubmit.yml
  modules/abc/0.0.0-20250408-yosyshq.bcr.1/source.json
  modules/abc/metadata.json
Labels: skip-url-stability-check

#4476 Add opentelemetry-proto 1.6.0
  modules/opentelemetry-proto/1.6.0/MODULE.bazel
  modules/opentelemetry-proto/1.6.0/patches/module_dot_bazel.patch
  modules/opentelemetry-proto/1.6.0/presubmit.yml
  modules/opentelemetry-proto/1.6.0/source.json
  modules/opentelemetry-proto/metadata.json
Labels: skip-url-stability-check, skip-incompatible-flags-test

#4475 spirv_headers@1.4.313-aa6cef1
  modules/spirv_headers/1.4.313/MODULE.bazel
  modules/spirv_headers/1.4.313/patches/version.patch
  modules/spirv_headers/1.4.313/presubmit.yml
  modules/spirv_headers/1.4.313/source.json
  modules/spirv_headers/README.md
  modules/spirv_headers/metadata.json
Labels: presubmit-auto-run, skip-url-stability-check

#4457 nlohmann_json@3.12.0
  modules/nlohmann_json/3.12.0/MODULE.bazel
  modules/nlohmann_json/3.12.0/patches/add_singleheader_target.patch
  modules/nlohmann_json/3.12.0/patches/module_dot_bazel.patch
  modules/nlohmann_json/3.12.0/presubmit.yml
  modules/nlohmann_json/3.12.0/source.json
  modules/nlohmann_json/metadata.json
Labels: presubmit-auto-run
